<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<div id="wrapper" [ngClass]="{'active': showSidebar==false}">
  <div class="fakeLoader"></div>

  <div id="page-wrapper">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Kyc Details</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
          <li class="breadcrumb-item active">Kyc Details</li>
        </ol>
      </div>
    </div>
    <div class="container-fluid">
      <!-- /row -->
      <div class="row">


        <div class="col-md-10 col-md-offset-1 mrg-top-10 mrg-bot-10">


          <div class="card">

            <div class="card-header">
              <h4>KYC Details </h4>

            </div>

            <div class="card-body">
              <div class="row">

                <div class="col-md-12 padd-bot-15 padd-top-15">


                  <div class="col-sm-6">
                    <label>Aadhaar Card <span class="text-danger">*</span></label>
                    <input type="email" class="form-control">
                  </div>

                  <div class="col-sm-6 m-clear">
                    <label>&nbsp;</label>
                    <input type="file" accept="application/pdf, image/*" name="aadharcard_doc"
                      class="allowed_jpg_jpeg_pdf form-control" id="aadharcard_doc" style="">

                  </div>

                  <div class="col-sm-6 m-clear">
                    <label>Pancard</label>
                    <input type="text" class="form-control">
                  </div>

                  <div class="col-sm-6 m-clear">
                    <label>&nbsp;</label>
                    <input type="file" accept="application/pdf, image/*" name="aadharcard_doc"
                      class="allowed_jpg_jpeg_pdf form-control" id="aadharcard_doc" style="">
                  </div>





                </div>




              </div>
            </div>
          </div>



          <div class="card">

            <div class="card-header">
              <h4>Bank Details </h4>

            </div>

            <div class="card-body">
              <div class="row">

                <div class="col-md-12 padd-bot-15 padd-top-15">


                  <div class="col-sm-6">
                    <label>Bank Account Number <span class="text-danger">*</span></label>
                    <input autocomplete="off" type="password" maxlength="17" id="e_bankaccountno" name="bankaccountno"
                      placeholder="Bank Account Number" class="form-control acceptOnlyNumber">
                  </div>
                  
                  <div class="col-sm-6 m-clear">
                    <label>Confirm Bank Account Number</label>
                    <input autocomplete="off" type="text" maxlength="17" id="e_confirmbankaccountno"
                      placeholder="Confirm Bank Account Number" class="form-control acceptOnlyNumber">
                  </div>
                  <div class="col-sm-6 m-clear">
                    <label>Bank Name <span class="text-danger">*</span></label>
                    <input autocomplete="off" type="text" id="e_bankname" name="bankname" placeholder="Bank Name"
                      class="form-control">
                  </div>
                  <div class="col-sm-6 m-clear">
                    <label>Bank Branch<span style="font-size: 10px; color: red;"> (Max 100 characters
                        allowed)</span></label>
                    <input autocomplete="off" type="text" id="e_bankbranch" name="bankbranch" placeholder="Bank Branch"
                      class="form-control">
                  </div>
                  <div class="col-sm-6 m-clear">
                    <label>IFSC Code <span class="text-danger">*</span></label>
                    <input autocomplete="off" type="text" id="e_ifsccode" placeholder="IFSC Code" name="ifsccode"
                      class="form-control">
                  </div>
                  <div class="col-sm-6 m-clear">
                    <label>Attach Document <span class="text-danger">*</span></label>
                    <input type="file" id="e_bankdoc" name="bankdoc" class="form-control" style="display: unset;">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-12 padd-top-15 text-center">
            <a href="setup-salary-ss.html" class="btn btn-primary">Update</a>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
  </div>
  <!-- /#page-wrapper -->
  <div id="sidebar-wrapper">
    <a id="right-close-sidebar-toggle" href="#" class="theme-bg btn close-toogle toggle">
      Setting Pannel <i class="ti-close"></i></a>
    <div class="right-sidebar" id="side-scroll">
      <div class="user-box">
        <div class="profile-img">
          <img src="assets/img/user-3.jpg" alt="user">
          <!-- this is blinking heartbit-->
          <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
        </div>
        <div class="profile-text">
          <h4>Daniel Dax</h4>
          <a href="#" class="user-setting"><i class="ti-settings"></i></a>
          <a href="#" class="user-mail"><i class="ti-email"></i></a>
          <a href="#" class="user-call"><i class="ti-headphone"></i></a>
          <a href="#" class="user-logout"><i class="ti-power-off"></i></a>
        </div>
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#options" data-toggle="tab">
                <i class="ti-palette"></i> </a>
            </li>
            <li>
              <a href="#comments" data-toggle="tab">
                <i class="ti-bell"></i> </a>
            </li>
            <li>
              <a href="#freinds" data-toggle="tab">
                <i class="ti-comment-alt"></i> </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="options">
              <div class="accept-request">
                <div class="friend-overview">
                  <div class="friend-overview-img">
                    <img src="assets/img/user-1.jpg" class="img-responsive img-circle" alt="">
                    <span class="fr-user-status online"></span>
                  </div>
                  <div class="fr-request-detail">
                    <h4>Adam Dax <span class="task-time pull-right">Just Now</span></h4>
                    <p>Accept Your Friend Request</p>
                  </div>
                </div>
                <div class="friend-overview">
                  <div class="friend-overview-img">
                    <img src="assets/img/user-2.jpg" class="img-responsive img-circle" alt="">
                    <span class="fr-user-status offline"></span>
                  </div>
                  <div class="fr-request-detail">
                    <h4>Rita Ray <span class="task-time pull-right">2 Min Ago</span></h4>
                    <p>Accept Your Friend Request</p>
                  </div>
                </div>
                <div class="friend-overview">
                  <div class="friend-overview-img">
                    <img src="assets/img/user-3.jpg" class="img-responsive img-circle" alt="">
                    <span class="fr-user-status busy"></span>
                  </div>
                  <div class="fr-request-detail">
                    <h4>Daniel Mark <span class="task-time pull-right">7 Min Ago</span></h4>
                    <p>Accept Your Friend Request</p>
                  </div>
                </div>
                <div class="friend-overview">
                  <div class="friend-overview-img">
                    <img src="assets/img/user-4.jpg" class="img-responsive img-circle" alt="">
                    <span class="fr-user-status offline"></span>
                  </div>
                  <div class="fr-request-detail">
                    <h4>Shruti Singh <span class="task-time pull-right">10 Min Ago</span></h4>
                    <p>Accept Your Friend Request</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="comments">
              <div class="task">
                <div class="task-overview">
                  <div class="alpha-box alpha-a">
                    <span>A</span>
                  </div>
                  <div class="task-detail">
                    <p>Hello, I am Maryam.</p>
                    <span class="task-time">2 Min Ago</span>
                  </div>
                </div>
                <div class="task-overview">
                  <div class="alpha-box alpha-d">
                    <span>D</span>
                  </div>
                  <div class="task-detail">
                    <p>Hello, I am Maryam.</p>
                    <span class="task-time">2 Min Ago</span>
                  </div>
                </div>
                <div class="task-overview">
                  <div class="alpha-box alpha-s">
                    <span>S</span>
                  </div>
                  <div class="task-detail">
                    <p>Hello, I am Maryam.</p>
                    <span class="task-time">2 Min Ago</span>
                  </div>
                </div>
                <div class="task-overview">
                  <div class="alpha-box alpha-h">
                    <span>H</span>
                  </div>
                  <div class="task-detail">
                    <p>Hello, I am Maryam.</p>
                    <span class="task-time">2 Min Ago</span>
                  </div>
                </div>
                <div class="task-overview">
                  <div class="alpha-box alpha-g">
                    <span>G</span>
                  </div>
                  <div class="task-detail">
                    <p>Hello, I am Maryam.</p>
                    <span class="task-time">2 Min Ago</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="freinds">
              <div class="accept-request">
                <div class="friend-overview">
                  <div class="friend-overview-img">
                    <img src="assets/img/user-1.jpg" class="img-responsive img-circle" alt="">
                    <span class="fr-user-status online"></span>
                  </div>
                  <div class="fr-request-detail">
                    <h4>Adam Dax <span class="task-time pull-right">Just Now</span></h4>
                    <p>Accept Your Friend Request</p>
                  </div>
                </div>
                <div class="friend-overview">
                  <div class="friend-overview-img">
                    <img src="assets/img/user-2.jpg" class="img-responsive img-circle" alt="">
                    <span class="fr-user-status offline"></span>
                  </div>
                  <div class="fr-request-detail">
                    <h4>Rita Ray <span class="task-time pull-right">2 Min Ago</span></h4>
                    <p>Accept Your Friend Request</p>
                  </div>
                </div>
                <div class="friend-overview">
                  <div class="friend-overview-img">
                    <img src="assets/img/user-3.jpg" class="img-responsive img-circle" alt="">
                    <span class="fr-user-status busy"></span>
                  </div>
                  <div class="fr-request-detail">
                    <h4>Daniel Mark <span class="task-time pull-right">7 Min Ago</span></h4>
                    <p>Accept Your Friend Request</p>
                  </div>
                </div>
                <div class="friend-overview">
                  <div class="friend-overview-img">
                    <img src="assets/img/user-4.jpg" class="img-responsive img-circle" alt="">
                    <span class="fr-user-status offline"></span>
                  </div>
                  <div class="fr-request-detail">
                    <h4>Shruti Singh <span class="task-time pull-right">10 Min Ago</span></h4>
                    <p>Accept Your Friend Request</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer"> © 2023 TankhaPay. Akal Information Systems Ltd. All Rights Reserved. </footer>
</div>


<!-- Send Message -->
<div id="SendMessage" class="modal fade add-address-form-box">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header theme-bg">
          <h4 class="modal-title">Your Address</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control">
          </div>


          <div class="form-group">
            <label>Mobile Number</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>Flat, House No, Building, Company, Apartment</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Area, Street, Sector, Village</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>Landmark</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Pincode</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Town/City</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>State</label>
            <select class="form-control" id="inputState">
              <option value="SelectState">Select State</option>
              <option value="Andra Pradesh">Andra Pradesh</option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Assam">Assam</option>
              <option value="Bihar">Bihar</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Goa">Goa</option>
              <option value="Gujarat">Gujarat</option>
              <option value="Haryana">Haryana</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Jammu and Kashmir">Jammu and Kashmir</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Madya Pradesh">Madya Pradesh</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Manipur">Manipur</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Orissa">Orissa</option>
              <option value="Punjab">Punjab</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Telangana">Telangana</option>
              <option value="Tripura">Tripura</option>
              <option value="Uttaranchal">Uttaranchal</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="West Bengal">West Bengal</option>
              <option disabled="" style="background-color:#aaa; color:#fff">UNION Territories</option>
              <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
              <option value="Chandigarh">Chandigarh</option>
              <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
              <option value="Daman and Diu">Daman and Diu</option>
              <option value="Delhi">Delhi</option>
              <option value="Lakshadeep">Lakshadeep</option>
              <option value="Pondicherry">Pondicherry</option>
            </select>
          </div>


        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Add Address">

        </div>
      </form>
    </div>
  </div>
</div>
<!-- /#wrapper -->