
.light-skyblue {
    background: lightblue;
}

.white {
    background: white;
}

.export-button {
    background-color: rgb(114, 238, 116);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  .dropdown.float-right-box ul#menu3 {
    left: -52px;
}
.top-right-outer-box {
    display: flex;
    justify-content: flex-start;

}
.form-check {
    padding-top: 10px;
}
.form-check .form-check-input {
    height: 20px;
    width: 20px;
    vertical-align: text-bottom;
    margin: 3px 5px 0 0;
}

.save-button .btn.btn-primary:hover {
    background: #87ceeb !important;
}

.save-button .btn.btn-primary {
    background: #d1ebfc;
    color: #000;
    border: 1px solid #87ceeb;
    padding: 10px 14px;
}

html body .btn-primary:hover, html body .btn-primary:focus {
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus {
    color: #fff;
    background-color: #1194f7 !important;
    border-color: #1194f7 !important;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #67757c !important;
    text-decoration: none;
}

.Show-Fields-top-outer-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
}

.dropdown.btn-group.Show-Fields-outer-box .btn-primary {
    padding: 10px 15px;
}

.showhide {
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-menu {
    border-color: #e8eef1;
    padding: 0;
    box-shadow: none;
    margin: 0px 0 0;
}

.Show-Fields-top-outer-box .dropdown.float-right-box .btn-primary:hover {
    color: #fff;
    background-color: #1194f7;
    border-color: #1194f7;
}
.Show-Fields-top-outer-box .dropdown.float-right-box .btn-primary {
    border-radius: 0;
}

.save-button .btn.btn-primary.Reset-btn-box:hover {
    background: #dbdbdb;
    border: 1px solid #c4c6c7;
}

.save-button .btn.btn-primary.Reset-btn-box {
    background: #e3e3e3;
    border: 1px solid #c4c6c7;
}
.save-button .btn.btn-primary:hover {
    background: #87ceeb;
}
.save-button .btn.btn-primary {
    background: #d1ebfc;
    color: #000;
    border: 1px solid #87ceeb;
    padding: 10px 14px;
}
html body .btn-primary:hover, html body .btn-primary:focus {
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus {
    color: #fff;
    background-color: #1194f7;
    border-color: #1194f7;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #67757c;
    text-decoration: none;
}

html body .btn-primary {
    background: #1194f7;
}

.table-responsive.reports-new-table-outer-box thead {
    color: #ffffff !important;
    background: #6fbbdb!important;
    vertical-align: top;
}

  .table-bordered {
    border: 1px solid #e8edef !important;
}

.dropdown-menu>li:last-child a {
    border-bottom: none;
}
.dropdown-menu>li>a {
    display: block;
    padding: 14px 12px 14px 12px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #67757c;
    white-space: nowrap;
    border-bottom: 1px solid #f1f6f9;
}
/* .table td.fit,
.table th.fit {
    white-space: nowrap !important;
    width: 1% !important;
} */
a.view-salary-slip {
    cursor: pointer;
    text-decoration: none;
}
span.paid-color-btn {
    color: #00b050;
}
a.view-salary-slip.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.table-responsive.reports-table-outer-box.reports-new-table-outer-box.reports-main-outerbox-table ul.dropdown-menu {
    left: auto;
    right: 0;
}
.table-responsive.reports-table-outer-box.reports-new-table-outer-box.reports-main-outerbox-table ul.dropdown-menu li a {
    padding: 8px 12px;
    font-size: 12px;
    cursor: pointer;
}
