<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>
  <div id="wrapper" [ngClass]="{'active':showSidebar==false}">
    <div class="fakeLoader"></div>
    <div id="page-wrapper">
      <div class="row page-titles">
        <div class="col-md-8 align-self-center">

          <h4 class="text-themecolor"><a routerLink="/attendance/bulk-attendance"></a>&nbsp;&nbsp;Generate Payment
            Advice<span style="font-size: 1.5rem;color: #01b6ed;"> [ {{get_month_year_name()}} ]</span>
          </h4>
        </div>
        <div class="col-md-4 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" title="Attendance"><a [routerLink]="['/attendance']">Attendance</a></li>
            <li class="breadcrumb-item active">Generate Payment Advice</li>
          </ol>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <div class="card filter-outer-main-box" style="z-index: 999;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-3">
                    <span *ngIf="get_selected_count() > 0" style="text-align: center; color: blue;font-weight: bold;
                        display: inline-block;margin-top: 10px;"> Selected :
                      {{get_selected_count()}} </span>
                  </div>
                  <div class="col-md-6"></div>
                  <div class="col-md-3 col-sm-3 text-right">
                    <div class="form-group">
                      <a (click)="openSidebar()" class="btn excel-btn-box results filter-onlick-btn"
                        style="padding-top: 9px;">
                        <span class="filter_count-box"></span> More Filters<i class="fa fa-filter"></i></a>
                      <!-- <a id="ResetBtnBox" title="Reset" class=" btn btn-user btn-round  btn-primary btn-primary-Add-Roles-btn">Reset </a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12">
            <div class="card filter-outer-main-box">
              <div class="card-header">
                <div class="row">
                  <div class="col-lg-12">


                    <div class="row">
                      <div class="col-md-3">
                        <!-- <span style="font-weight: bold;">Search</span> -->
                        <input type="text" class="form-control" placeholder="Search Employee(s)" (keyup)="search()"
                          maxlength="100" [(ngModel)]="searchKey">
                      </div>

                      <div class="col-md-2">
                        <!-- <span style="font-weight: bold;">Att Purpose</span> -->
                        <select class="form-control" (change)="change_status()" [(ngModel)]="attendancePurpose"
                          [ngModelOptions]="{standalone: true}">
                          <option value="Attendance">Attendance</option>
                          <option value="Salary">Salary</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <!-- <span style="font-weight: bold;">Att Purpose</span> -->
                        <select class="form-control" (change)="filter_by_status()" [(ngModel)]="statusFilter"
                          [ngModelOptions]="{standalone: true}">
                          <option value="">All</option>
                          <option value="Advice Locked">Advice Locked</option>
                          <option value="Advice Generated">Advice Generated</option>
                          <option value="Payout Generated">Payout Generated</option>
                          <option value="Not Generated">Not Generated</option>
                        </select>
                      </div>

                      <div class="col-md-2">
                        <a (click)="openRemarksPopup()" class="btn btn-primary manage-btn"
                          style="padding-top: 9px;border-color: lightblue;" title="Generate Payment Advice">
                          Generate Payment Advice</a>
                      </div>

                      <div class="col-md-2" style="text-align: left;display: none;">
                        <span style="font-weight: bold;">Month</span>
                        <select class="form-control" (change)="changeMonth($event)">
                          <option *ngFor="let ma of monthsArray" [selected]="month==ma.id" [value]="ma.id">
                            {{ma.month}}</option>
                        </select>
                      </div>
                      <div class="col-md-2" style="display: none;;">
                        <span style="font-weight: bold;">Year</span>
                        <select class="form-control" (change)="changeYear($event)">

                          <option *ngFor="let ya of yearsArray" [selected]="year==ya" [value]="ya">{{ya}}
                          </option>
                        </select>
                      </div>

                      <div class="col-md-2 col-sm-2" style="display: none;">
                        <span style="font-weight: bold;">Status</span>
                        <select class="form-control" [(ngModel)]="att_status_filter"
                          [ngModelOptions]="{standalone: true}" (change)="search()">
                          <option value="">All</option>
                          <option value="Unmarked">Yet to Mark</option>
                          <option value="Pending">Marked</option>
                          <option value="Approved">Verified</option>
                        </select>
                      </div>
                      <div class="col-md-2"></div>
                      <div class="col-md-2 text-right">
                        <span style="text-align: center; color: blue;font-weight: bold;
                        display: inline-block;margin-top: 10px;"> Total :
                          {{filtered_employee_att_table_data.length}} </span>&nbsp;
                        <!-- <a *ngIf="filtered_employee_att_table_data.length > 0" title="Download Attendance in Excel"
                          class="btn btn-round btn-success excel-btn-box" style="padding-top: 9px;"
                          (click)="getEmployerMonthAttendance_for_excel()">&nbsp;<i class="fa fa-file-excel-o"
                            aria-hidden="true"></i></a> -->
                        <!-- <i *ngIf="filtered_employee_att_table_data.length > 0" aria-hidden="true"
                          class="fa fa-file-excel-o fa-lg" title="Download Attendance in Excel"
                          style="cursor: pointer;" (click)="getEmployerMonthAttendance_for_excel()"></i> -->


                      </div>
                      <!-- <div class="col-md-2 col-sm-2">
                        <span style="font-weight: bold;">Status</span>
                        <select class="form-control" (change)="filter_emp($event.target.value)">
                          <option value="1">All</option>
                          <option value="2">Yet to Mark</option>
                          <option value="3">Marked</option>
                          <option value="4">Verified</option>
                        </select>
                      </div> -->


                    </div>
                    <!-- <p style="color: red;font-size: 1.1rem;"> <b>Note</b>* Only <b>Full Time [ Monthly ]</b> Employee(s)
                      shows/
                      can upload bulk attendance using excel.
                      . For work report / daily employee attendance will marked from <b>Tankhapay Mobile App</b>. </p> -->
                  </div>
                </div>
                <div class="row">

                  <div class="col-lg-12">


                    <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">
                      <table class="table user-list table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>
                              <input type="checkbox" [(ngModel)]="masterSelected" (change)="selectAllEmployees()" />
                            </th>
                            <th>Employee(s).</th>
                            <th>Organization Unit</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Paid Days</th>
                            <th>Leave Taken</th>
                            <th>Total Paid Days</th>
                            <th>Status</th>
                            <!-- <th>Action</th> -->

                            <!-- <th title="Total Leaves." style="font-size:12px;">LL (T)</th>
                            <th title="Total Presents." style="font-size:12px;">PP (T)</th>
                            <th title="Total Absents" style="font-size:12px;">AA (T)</th>
                            <th title="Total Verified" style="font-size:12px;">Verified(T)</th>
                            <th title="Total Verified" style="font-size:12px;">Man Days</th>
                            <th title="Status" style="font-size:12px;">Status</th>
                            <th title="Voucher Details" style="font-size:12px;">Voucher Details</th>
                            <th title="Leave Details" style="font-size:12px;">Leave Balance</th> -->
                          </tr>
                        </thead>
                        <tbody>

                          <ng-container *ngFor="let emp_data of filtered_employee_att_table_data; let i=index;">
                            <!-- [ngStyle]="{'background':(emp_data.approval_status=='Approved' ? '#ddffdd' : emp_data.approval_status=='Pending' ? '#0090d31f':'')}" -->
                            <tr [ngStyle]="{'background': get_bg_row_color(emp_data), 'color': get_row_color(emp_data)}">
                              <td>
                                <!-- *ngIf="!( (emp_data.advicestatus=='Generated' && emp_data.advicelockstatus=='Locked') || emp_data.payoutstatus == 'Generated')" -->
                                <input type="checkbox" [(ngModel)]="emp_data.isChecked"
                                  *ngIf="get_checkbox_status(emp_data)" (change)="checkIfAllSelected()" />
                              </td>
                              <td>
                                <div class="job-details">
                                  <h5 class="job-name"><span class="job_name_tag"
                                      style="font-size:12px;"><b>{{emp_data.emp_name}}</b> <br>({{
                                      emp_data.orgempcode ? emp_data.orgempcode :
                                      emp_data.tpcode }})

                                      <!-- {{emp_data.dateofjoining}}
                                      <ng-container *ngIf="emp_data.dateofrelieveing">-
                                        {{emp_data.dateofrelieveing}}</ng-container> -->
                                    </span>
                                  </h5>
                                </div>
                                <!-- <strong>{{emp_data.emp_name}} |</strong> ({{
                                  emp_data.orgempcode ? emp_data.orgempcode :
                                  emp_data.tpcode }}) {{emp_data.dateofjoining}} <ng-container
                                  *ngIf="emp_data.dateofrelieveing">- {{emp_data.dateofrelieveing}}</ng-container> -->
                              </td>
                              <td>
                                <b title="Orgnination Unit" style="font-size:12px;"> {{emp_data.unitparametername}}</b>
                              </td>
                              <td>
                                <b title="Department" style="font-size:12px;">{{emp_data.posting_department}}
                                </b>
                              </td>
                              <td>
                                <b title="Designation" style="font-size:12px;"> {{emp_data.post_offered}}</b>
                              </td>
                              <td>{{emp_data.paiddays}}</td>
                              <td>{{emp_data.leavetaken}}</td>
                              <td>{{emp_data.leavetaken+ emp_data.paiddays}}</td>
                              <td>
                                <!-- {{get_advice_status(emp_data) ? 'Not Generated' : 'Generated'}} -->
                                {{get_advice_status(emp_data)}}
                                </td>
                              <!-- <td>
                                <a class="cur-ptr" (click)="generate_payment_advice(emp_data)" title="Approve">
                                  <i class="fa fa-lg fa-check-square-o"></i>
                                </a>
                              </td> -->

                            </tr>
                          </ng-container>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-wrapper -->


  </div>
</section>
<app-footer></app-footer>

<!-----Sidebar Filter---->
<div id="sidebar" class="sidebar bg-dark text-white sidebar-menu_filter-box">
  <h3 class="filter-menu-header-text-box">Filter</h3>
  <!-- <button type="button" class="btn btn-user1 btn-round" (click)="resetFilter()">Clear</button>-->
  <a class="clear-box-btn" title="Clear Filter" (click)="resetFilter()">Clear</a>
  <button class="close-btn btn btn-danger1" (click)="closeSidebar()"><i class="fa fa-close"></i></button>
  <div class="sidebar-content-box">

    <div class="col-md-12 col-sm-12">
      <input type="text" [(ngModel)]="search_key_copy" placeholder="Search with employee(s)"
        class="form-control wide-width" style="width: 100%;" maxlength="200">
    </div>

    <div class="col-md-12 ">

      <div id="filterComponent">
        <div class="panel-group">

          <div class="panel panel-default">
            <div class="panel-heading panel_heading_gray  card-header" role="tab" id="headingOne2"
              data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="false"
              aria-controls="collapseOne">
              <h4>Attendance Filter <i class="fa fa-angle-down"></i></h4>
            </div>
            <div id="collapseOne2" class="panel-collapse collapse card-body in" role="tabpane2">
              <div class="row">
                <div class="col-sm-12">


                  <div class="form-group">
                    <span>Month-Year</span>
                    <!-- (change)="changeMonth($event)"  (change)="changeYear($event)"-->
                    <p style="display: inline-flex;">
                      <select class="form-control" [(ngModel)]="month_copy" style="width: 15rem;">
                        <!-- <option value="">Select</option> -->
                        <option *ngFor="let ma of monthsArray" [selected]="month==ma.id" [value]="ma.id">{{ma.month}}
                        </option>
                      </select>
                      <select class="form-control" [(ngModel)]="year_copy">
                        <!-- <option value="">Select</option> -->
                        <option *ngFor="let ya of yearsArray" [selected]="year==ya" [value]="ya">{{ya}}</option>

                      </select>
                    </p>

                  </div>


                  <div class="form-group">
                    <label class="control-label col-sm-12">Status</label>
                    <div class="col-sm-12 padd-0">
                      <select class="form-control" [(ngModel)]="att_status_filter_copy">
                        <option value="">All</option>
                        <option value="Unmarked">Yet to Mark</option>
                        <option value="Pending">Marked</option>
                        <option value="Approved">Verified</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-12">Att Status</label>
                    <div class="col-sm-12 padd-0">
                      <select class="form-control" [(ngModel)]="status_filter_copy"
                        [ngModelOptions]="{standalone: true}">
                        <option value="all">All</option>
                        <option value="present">Present</option>
                        <option value="absent">Absent</option>
                        <option value="leave">Leave</option>
                      </select>
                    </div>
                  </div>

                  <!---->
                  <div class="form-group" *ngIf="decoded_token.isEmployer=='1'">
                    <label class="control-label col-sm-12">Organization Unit</label>
                    <div class="col-sm-12 padd-0 userOrgUnit">

                      <ng-multiselect-dropdown [placeholder]="'Select Organization Units'" [settings]="dropdownSettings"
                        [data]="orgList" [(ngModel)]="orgName_copy" [ngModelOptions]="{standalone: true}">
                      </ng-multiselect-dropdown>
                      <!-- (onFilterChange)="getOrgUnitData()" -->

                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-12">Department</label>
                    <div class="col-sm-12 padd-0 userOrgUnit">

                      <ng-multiselect-dropdown [placeholder]="'Select Department'" [settings]="deptDropdownSettings"
                        [data]="deptList" [(ngModel)]="deptName_copy" [ngModelOptions]="{standalone: true}">
                      </ng-multiselect-dropdown>

                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-12">Designation</label>
                    <div class="col-sm-12 padd-0 userOrgUnit">

                      <ng-multiselect-dropdown [placeholder]="'Select Designation'" [settings]="desgDropdownSettings"
                        [data]="desgList" [(ngModel)]="desgName_copy" [ngModelOptions]="{standalone: true}">
                      </ng-multiselect-dropdown>
                    </div>
                  </div>





                </div>

              </div>
            </div>
          </div>



        </div>
      </div>

      <div class="text-center mrg-bot-25">
        <button type="button" class="btn btn-user1 btn-round btn-primary" (click)="change_sidebar_filter()"
          id="btnSetFilter">
          &nbsp;Apply</button>

      </div>
    </div>
  </div>
</div>
<!-----Sidebar Filter---->



<!------Remarks Popup------>
  <div [@grooveState]="showRemarksPopup?'active':'inactive'" id="showRemarksId" class="modal" style="z-index:1000;">
    <div [@dongleState]="showRemarksPopup?'active':'inactive'" class="modal-dialog"
      style="margin:auto auto auto auto;">
      <div class="modal-content" style="height:100%;margin-top:50px;width:75rem;margin-left:-5rem; overflow:auto;">

        <div class="modal-header theme-bg">
          <h4 class="modal-title">Remarks</h4>
          <button type="button" class="close" aria-hidden="true" (click)="closeRemarksPopup()">&times;</button>
        </div>
        <div class="modal-body" style="overflow: auto;height: 32rem;">
          <div class="commet-outer-div">
            <textarea class="form-control" rows="5" placeholder="Enter Remarks"
              [(ngModel)]="remarks"  maxlength="500"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-primary" (click)="create_bulk_advice()" value="Create">
          <input type="button" class="btn btn-default" (click)="closeRemarksPopup()" value="Close">
        </div>
      </div>
    </div>
  </div>
  <!------Remarks Popup------>
