<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<section>
  <div id="wrapper" [ngClass]="{'active': showSidebar==false}">
    <div class="fakeLoader"></div>

    <div id="page-wrapper">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Group Employer</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" title="Home">
              <a [routerLink]="['/dashboard']" title="Home">Home</a>
            </li>
            <li class="breadcrumb-item active">Group Employer</li>
          </ol>
        </div>
      </div>

      <div class="container-fluid">
        <div class="card-header" style="border-radius: 5px;padding: 10px;margin-bottom: 10px;">
          <h4>Select a company to manage</h4>
        </div>
        <!-- Cards row -->
        <div class="row">
          <div class="col-md-6 mrg-top-10 mrg-bot-10" *ngFor="let employer of employerProfiles, let i=index;">
            
          <a (click)="routeToBusinessLogin(employer)" style="text-decoration: none;">  
            <div class="card" [attr.title]="employer?.tp_account_id != tp_account_id ? 'Click to switch account' : null"
             style="border-radius: 10px;cursor: pointer;">

              <div class="card-header" style="display:flex;justify-content:space-between;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                <h4>Account Info {{i+1}}</h4>
                <!-- <h4 [ngStyle]="{ 'color': employer.status === 'active' ? 'green' : 'red' }"> -->
                <h4 style="color: green;">
                  <span *ngIf="employer?.tp_account_id == tp_account_id" style="font-size: 15px;">
                   <strong>Active</strong>
                  </span>
                </h4>
              </div>

              <div class="card-body padd-bot-10 padd-top-0">
                <div class="row">
                  <div class="col-md-12 padd-top-15 d-flex">
                    <div class="col-sm-3" *ngIf="employer?.profile_photo_path != ''">
                      <div class="form-group mrg-bot-0">
                        <div class="contact-img mrg-bot-0 mrg-top-0">
                          <img [alt]="employer.company_name" class="img-responsive" [src]="employer.profile_photo_path">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3" *ngIf="employer?.profile_photo_path == ''">
                      <div class="form-group mrg-bot-0">
                        <div class="contact-img mrg-bot-0 mrg-top-0">
                          <div class="profile-img-box" style="margin-right: 10px;">
                            <span>{{ getInitials(employer.company_name || employer.employer_name)}}</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-9">
                      <h4><b>{{employer?.company_name || employer?.employer_name}}</b></h4>
                      <p *ngIf="employer.user_type !== 'Individual'">
                        <b>GSTIN:</b> {{employer.gstin_no}}
                      </p>
                      <!-- <p *ngIf="employer.user_type === 'Individual'"> -->
                      <p>
                        <b>Mobile Number:</b> {{employer?.employer_mobile}}
                      </p>
                      <p><b>Company Address:</b> {{employer?.company_town_city}}, {{employer?.company_state}}</p>
                    </div>
                  </div>
                </div>
                <alert></alert>
              </div>
            </div>
          </a>

          </div>
        </div>
        <!-- /row -->
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
