<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>

  <div id="wrapper" [class.active]="!showSidebar">
    <div class="fakeLoader"></div>
    <!-- Navigation -->

    <!-- Sidebar Navigation -->

    <div id="page-wrapper">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">&nbsp;&nbsp;Attendance Timesheet</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" title="Home"><a [routerLink]="['/dashboard']">Home</a></li>

            <li class="breadcrumb-item active">Attendance Timesheet</li>
          </ol>
        </div>
      </div>
      <div class="container-fluid">


        <!-- /row -->
        <div class="row">
          <div class="col-md-12 col-md-offset-0 mrg-top-0 mrg-bot-1">
            <!-- General Information -->
            <div class="card">

              <div class="card-header">
                <div class="row align-items-start">
                  <div class="col-md-2">
                    <input type="hidden" id="recdate" (click)="filterFromToDateLeads()">

                    <label style="color:#000; font-weight: 500;">From Date</label>
                    <input id="FromDate" class="form-control" type="text" style="cursor: pointer;"
                      placeholder="dd-mm-yyyy" autocomplete="off" readonly>
                  </div>

                  <div class="col-md-2">
                    <label style="color:#000; font-weight: 500;">To Date</label>
                    <input id="ToDate" class="form-control" type="text" style="cursor: pointer;"
                      placeholder="dd-mm-yyyy" autocomplete="off" readonly>
                  </div>

                  <div class="col-md-2">
                    <label style="color:#000; font-weight: 500;">Link Status (TP)</label>
                    <select class="form-control" [(ngModel)]="filter_LinkStatus_val" (change)="filter_LinkStatus()">
                      <option value="">All</option>
                      <option value="Y">Linked</option>
                      <option value="N">Not Linked</option>
                    </select>
                  </div>

                  <div class="col-md-2">
                    <label style="color:#000; font-weight: 500;">Timesheet Status</label>
                    <select class="form-control" [(ngModel)]="filter_TimesheetStatus_val"
                      (change)="filter_TimesheetStatus()">
                      <option value="">All</option>
                      <option value="Approved">Approved</option>
                      <option value="Pending">Waiting for Approval</option>
                    </select>
                  </div>


                  <div class="col-md-4">
                    <div class="col-md-6">
                      <label style="color:#000; font-weight: 500;">Att Status</label>
                      <select class="form-control" [(ngModel)]="filter_att_status_val" (change)="filter_att_status()">
                        <option value="">All</option>
                        <option value="Y">Processed</option>
                        <option value="N">Not Processed</option>
                      </select>
                    </div>

                    <div class="col-md-6">

                      <div class="form-check">
                        <input class="form-check-input" type="radio" id="option1" name="option"
                          [(ngModel)]="selectedOption" value="upload">
                        <label class="form-check-label" for="option1">Upload CSV</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" id="option2" name="option"
                          [(ngModel)]="selectedOption" value="view" (change)="check_is_data_imported()">
                        <label class="form-check-label" for="option2">View Data</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="card-body" *ngIf="selectedOption == 'upload'">
                <div class="row">
                  <div class="col-md-12 padd-bot-10 padd-top-10">
                    <h3>Upload Dipole CSV File</h3>
                    <ul>
                      <li style="font-weight: 500;">
                        Download the latest <a (click)="downloadFile()" title="Click to download sample file">Download
                          Sample File</a>.
                      </li>

                    </ul>
                    <!-- <h3 class="mrg-top-15">Template Instructions:</h3>
                    <ul>
                      <li>1. Ensure correct Employee IDs and Names.</li>
                      <li>2. Fill in all mandatory fields.</li>                   
                    </ul> -->


                    <div class="col-sm-10 mrg-bot-15 mrg-top-15">
                      <input id="dipole_csv" name="dipole_csv" type="file" accept=".csv, .xlsx"
                        (change)="onFileSelect($event)" class="form-control">
                    </div>
                    <div class="col-sm-2 mrg-bot-15 mrg-top-15">
                      <button type="button" class="btn btn-secondary" (click)="clearFile()">Clear</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Data Table -->
            <div class="card" *ngIf="selectedOption == 'upload' && csvData.length > 0">
              <span style="text-align: left; color: blue; font-weight: bold; margin: 5px;">Total Records: {{
                csvData.length }}</span>
              <div class="card-body" style="overflow:auto;">
                <table class="table table-bordered" *ngIf="csvData.length">
                  <thead>
                    <tr>
                      <th *ngFor="let header of headers">{{ header }}</th>
                      <th *ngIf="is_timesheet_data_imported_flag">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of csvData">
                      <td *ngFor="let header of headers">{{ row[header] }}</td>
                      <td *ngIf="is_timesheet_data_imported_flag">{{row?.status}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="card" *ngIf="selectedOption == 'view'">
              <div class="row" style="margin-top: 10px; margin-right: 0px;">

                <div class="col-md-4">
                  <input type="text" placeholder="Search Employee | Name" maxlength="50" class="form-control wide-width"
                    style="width: 100%;margin-left: 1rem;" [(ngModel)]="invKey" (keyup)="search()" />
                  <!-- [value]="invKey" (keyup)="search($event)" -->
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-2">
                  <select class="form-control" [(ngModel)]="page_size" (change)="get_timesheet_data()">
                    <option value="">Select</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                  </select>
                </div>
                <div class="col-md-2" style="margin-top:5px;">
                  <span style="text-align: left; color: blue; font-weight: bold; float: right;">Total Records: {{
                    time_sheet_data.total_records }}
                  </span>
                </div>

              </div>



              <div class="card-body" style="overflow:auto;">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>
                        <input type="checkbox" (click)="check_emp_all($event)" name="checkempAll"
                          [checked]="find_emp_code_all()">
                      </th>
                      <th>Entry Date</th>
                      <th>Org Emp Code</th>
                      <th>User Name</th>
                      <th>Project Name</th>
                      <th>Task Name</th>
                      <th>Hours</th>
                      <th>Time Off Type</th>
                      <th>Timesheet Status</th>
                      <th>Employee Name(Tpay)</th>
                      <th>Attendance Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="time_sheet_data?.data?.length > 0">

                      <tr [ngClass]="{
                        'table-success': entry?.is_att_process_yn === 'Y',
                        'table-warning': entry?.is_att_process_yn === 'N'
                      }"
                        *ngFor="let entry of time_sheet_data.data  | paginate: { itemsPerPage: page_size, currentPage: page_index, totalItems: time_sheet_data?.total_records }; let i = index">
                        <td>
                          <!-- <input type="checkbox" (click)="check_emp($event, entry.record_id)" name="checkemp"
                            class="checkemp" [attr.data-emp-code]="entry.record_id"
                            [checked]="find_emp_code(entry.record_id)"> -->

                          <ng-container
                            *ngIf="entry?.timesheet_approval_status === 'Approved' && entry?.is_att_process_yn === 'N' && entry?.emp_name != null">
                            <input type="checkbox" (change)="check_emp($event, entry.record_id)" name="checkemp"
                              class="checkemp" [attr.data-emp-code]="entry.record_id"
                              [checked]="find_emp_code(entry.record_id)">
                          </ng-container>
                        </td>
                        <td>{{ entry?.entry_date }}</td>
                        <td>{{ entry?.org_emp_code }}</td>
                        <td>{{ entry?.user_name }}</td>
                        <td>{{ entry?.project_name }}</td>
                        <td>{{ entry?.task_name }}</td>
                        <td>{{ entry?.working_hrs }}</td>
                        <td>{{ entry?.time_off_type }}</td>
                        <td>{{ entry?.timesheet_approval_status }}</td>
                        <td>{{ entry?.emp_name }}</td>
                        <td>
                          <span *ngIf="entry?.is_att_process_yn === 'Y'" class="badge bg-success badge-wrap"
                            title="Attendance has been processed">
                            Processed on {{ entry?.att_process_date }}
                          </span>
                          <span *ngIf="entry?.is_att_process_yn !== 'Y'" class="badge bg-warning badge-wrap text-dark"
                            title="Attendance is still pending Please Approve and Process">
                            Pending
                          </span>
                        </td>
                        <td>
                          <ng-container *ngIf="entry?.timesheet_approval_status !== 'Approved'; else approvedBlock">
                            <a (click)="openUpdateStatusModal(entry)" title="Click to Approve">
                              <i class="fa fa-lg fa-check-square-o"></i>
                            </a>
                          </ng-container>
                          <ng-template #approvedBlock>
                            <span class="text-success">
                              <i class="fa fa-check-circle"></i>
                            </span>
                          </ng-template>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>

              </div>
            </div>


            <ng-container *ngIf="selectedOption == 'view'">
              <div class="flexbox padd-10"
                *ngIf="time_sheet_data && time_sheet_data?.data?.length > 0 && time_sheet_data?.total_records > page_size">
                <pagination-controls (pageChange)="get_page($event)"
                  style="font-size: 2rem; padding: 6px; font-weight: bold" class="float-right"></pagination-controls>
              </div>



              <div *ngIf="selected_emp_arr?.length > 0" class="col-md-12 text-center padd-top-20">
                <button class="btn btn-primary btn-lg" (click)="process_timesheet_attendance()">Process
                  Timesheet</button>
              </div>
            </ng-container>


            <div *ngIf="selectedOption == 'upload' && csvData.length > 0" class="col-md-12 text-center padd-top-20">
              <button class="btn btn-primary btn-lg" (click)="import_timesheet_data()">Save Bulk Upload</button>
            </div>

          </div>
        </div>

      </div>
      <!-- /row -->
    </div>
  </div>
  <!-- /#page-wrapper -->



</section>
<app-footer></app-footer>



<!----Update Approval Status---->>
<div [@grooveState]="showUpdateStatusModal?'active':'inactive'" id="remarks_modal" class="modal">
  <div [@dongleState]="showUpdateStatusModal?'active':'inactive'" class="modal-dialog"
    style="margin:auto auto auto auto;">
    <div class="modal-content" style="height:100%;margin-top:100px;">
      <div class="modal-header theme-bg">
        <h4 class="modal-title">Update Status</h4>
        <button type="button" class="close" (click)="closeUpdateStatusModal()" data-dismiss="modal"
          aria-hidden="true">&times;</button>
      </div>

      <form>
        <div class="modal-body">
          <div class="row">

            <div class="col-md-12">
              <label>Are you sure you want to Approve this record?</label>
            </div>

          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button class="btn btn-info" (click)="update_timesheet_approval_status()">Update</button>

        <button class="btn btn-cancel" (click)="closeUpdateStatusModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>