<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>
    <div id="wrapper" [ngClass]="{'active':showSidebar}">
        <div class="fakeLoader"></div>
        <div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor" style="margin-left: 10px;">Face-checkIn</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Face-checkIn</li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid element" id="element">
                <div class="row">
                    
                    
                    <div class="col-md-8 col-sm-12 col-xs-12  mrg-top-25 mrg-bot-25">
                        <!-- <div style="text-align: center;">
                            <button class="btn btn-warning button-mg" (click)="goFullscreen()">Full Screen</button>
                        </div> -->
                        <div #fullscreenDiv class="camera-container">
                            <span class="Face-checkIn-outer-box" style="z-index: 99999999;"
                                *ngIf="showMessage && isFullscreenMsg">{{showMessage}}</span>
                            <button class="face-checkIn-toggle" style="z-index: 99999999;" (click)="toggleFullscreen()">
                                <span *ngIf="!isFullscreen">&#x26F6;</span>
                                <span *ngIf="isFullscreen">&#x2715;</span>
                            </button>
                            <video style="width: 100%;height:400px;" class="mirrored" #webcamElement autoplay muted playsinline></video>
                            <canvas  style="width: 100%;height:400px;" class="mirrored" #overlayCanvas></canvas>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12  col-xs-12 mrg-top-25 mrg-bot-25 main-face-rec-instruction">
                        <div class="face-rec-instruction">
                            <h4 style="margin-left: 25px;">Instructions</h4>
                            <ol>
                                <li>Ensure you are the only person in the frame.</li>
                                <li>Position your face in the center of the frame.</li>
                                <li>Keep a maximum distance of 50 cm between your face and the camera.</li>
                                <li>Make sure you remain stable in the frame.</li>
                                <li>Do not move out of the frame until the timer is complete.</li>
                                <li>Make sure you are standing in a well-lit area.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>