.widget.standard-widget .widget-detail .badge {
  margin-left: 5px;
}

.leave-templates-box .widget {
  border: 0;
  margin-bottom: 0;
}

span.badge.badge-action.default-btn {
  float: right;
  padding: 0;
  margin: 0;
}

.badge.badge-action.default-btn a {
  margin: 0;
  border: 1px solid #349f08;
  color: #349f08 !important;
  font-weight: 600;
  padding: 4px 10px;
  text-transform: capitalize;
}

.template-btn .btn.btn-user {
  background: #ff9800;
}

.badge.badge-action.default-btn.set-default-btn a {
  /* border: 1px solid #cdcdcd;
  color: #cdcdcd !important; */
  border: 1px solid #1e5bc9;
  color: #261c1c !important;
}

.card.leave-templates-box.add-template-outer-box {
  border: 2px dashed #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card.leave-templates-box.add-template-outer-box .card-body a.add-template-more {
  padding: 0;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  min-height: 214px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card.leave-templates-box.add-template-outer-box .card-body a.add-template-more:hover {
  text-decoration: none;
}

.card.leave-templates-box.add-template-outer-box:hover {
  border: 2px dashed #19c16c;
}

.card-body {
  height: 28.5rem;
}

.modal-body label {
  font-weight: 700;
  margin-right: 5px;
}

.leave-edit-btn {
  background: #38abf2 !important;
  color: #ffffff !important;
  font-weight: 600 !important;
}

.badge.badge-action.template-btn {
  display: flex;
  justify-content: flex-end;
}
.flex.justify-between.align-center {
  display: flex;
  justify-content: space-between;
}
.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.bulk-row {
  display: flex;
  margin-right: 0px;
  margin-bottom: 8px;
  justify-content: right;
  margin-top: -10px;
}
