a:focus, a:hover {
    color: #23527c;
    text-decoration: none!important;
}

.freelance-box-thumb img {
    transition: transform .2s;
}
.freelance-container:focus img, .freelance-container:hover img {
    transform: scale(.9);
}
#mydiwali .modal-content img {
    max-width: 100%;
    margin: 0;
}
#mydiwali button.close {
    position: absolute;
    color: #ffffff;
    z-index: 999999;
    right: 23px;
    font-size: 40px;
    opacity: 1;
}
.modal-backdrop { position: fixed;}

@media (min-width: 768px) {
    #mydiwali .modal-dialog {
        width: 500px;
        margin: 30px auto;
    }
}
.modal img {
    max-width: 200px;
    margin: 10px auto;
    display: table;
}