.Show-Fields-top-outer-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.Show-Fields-top-outer-box .dropdown.float-right-box .btn-primary:hover {
  color: #fff;
  background-color: #1194f7;
  border-color: #1194f7;
}
.Show-Fields-top-outer-box .dropdown.float-right-box .btn-primary {
  border-radius: 0;
}
.dropdown.float-right-box ul#menu3 {
  left: -52px;
}


.Show-Fields-top-outer-box-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 23px;
}
