
a.job_name_tag {
    font-weight: 500;
    color: #0047ab;
}
		
.page-titles h3.text-themecolor {
    margin-top: 0;
}

h3.text-themecolor {
    margin-bottom: 0;
    font-weight: 500;
    color: #1a6bb7;
}		

.page-titles h3.text-themecolor {
    margin-top: 0;
}
[type="radio"] {
    display: inline !important
}
h3.text-themecolor {
    margin-bottom: 0;
    font-weight: 500;
    color: #1a6bb7;
}

.job-img {
    border-radius: 2px;
    float: left;
    margin-right: 10px;
    width: 30px;
}

.red-text {
    color: red;
}

.large-select {
    width: 80px; /* Adjust the width as needed */
  }

.job-img img {
    display: block;
    height: 30px !important;
    max-width: 30px;
    border-radius: 50%;
    border: 1px solid #c5c5c5;
}

.btn.manage-btn {
    margin: 0 2px;
    padding: 1px 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.visitor-avatar {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.visitor-avatar img {
    width: 100%; 
    height: auto;
    cursor: pointer; 
      vertical-align: middle;
  height: 70px;
  width: 90px;
}

.circular-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.table-responsive.Reimbursements-outer-box .table tr td {
    padding: 0.5rem 1rem !important;
    font-size: 12px;
}
.table-responsive.Reimbursements-outer-box tr th {
    background: #fafcfd;
    font-weight: 600;
}
/* .no-image {
    width: 40px;
    height: 40px;
    background: url('../../../../assets/img/user-1.jpg') no-repeat center center;
    background-size: cover;
} */

.Show-Fields-top-outer-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
  }
  
  .dropdown.btn-group.Show-Fields-outer-box .btn-primary {
    padding: 10px 15px;
  }
  
  .dropdown-menu {
    border-color: #e8eef1;
    padding: 0;
    box-shadow: none;
    margin: 0px 0 0;
  }
  
  .Show-Fields-top-outer-box .dropdown.float-right-box .btn-primary:hover {
    color: #fff;
    background-color: #1194f7;
    border-color: #1194f7;
  }
  .Show-Fields-top-outer-box .dropdown.float-right-box .btn-primary {
    border-radius: 0;
  }

.no-image{

}
