<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>

  <div id="wrapper" [ngClass]="{'active': showSidebar == false}">
    <div class="fakeLoader"></div>
    <!-- Navigation -->

    <!-- Sidebar Navigation -->

    <div id="page-wrapper">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">&nbsp;&nbsp;Bulk Opening Leave Balance</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" title="Attendance"><a
              [routerLink]="['/leave-mgmt/leave-settings']">Leave Settings</a></li>

            <li class="breadcrumb-item active">Bulk Opening Leave Balance</li>
          </ol>
        </div>
      </div>
      <div class="container-fluid">
        <!-- /row -->
        <div class="row" *ngIf="bulkLeaveBalanceFormat == 'manual'">

          <div class="col-md-12 col-sm-12">
            <div class="card">

              <div class="card-header">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <b>Search</b> <br>
                    <input type="text" class="form-control" placeholder="Search Employee(s)" (keyup)="search()"
                      maxlength="200" [(ngModel)]="searchKey" />
                  </div>


                  <div class="col-md-4 col-sm-4">
                    <div class="row">
                      <div class="col-md-7">
                        <span style="margin: 10px;font-weight: bold;">Month</span>
                        <select class="form-control" (change)="changeMonth()" [(ngModel)]="month">
                          <!-- <option value="">Select</option> -->
                          <option *ngFor="let ma of monthsArray" [selected]="month==ma.id" [value]="ma.id">{{ma.month}}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-5">
                        <span style="margin: 10px;font-weight: bold;">Year</span>
                        <select class="form-control" (change)="changeYear()" [(ngModel)]="year">
                          <!-- <option value="">Select</option> -->
                          <option *ngFor="let ya of yearsArray" [selected]="year==ya" [value]="ya">{{ya}}</option>
                        </select>
                      </div>
                      <!-- <div class="col-md-2">
                        <b>&nbsp;</b> <br>
                        <select class="form-control" (change)="changeProductType($event)" title="Product Type">
                          <option *ngFor="let ya of product_type_array" [selected]="product_type==ya.product_type_id"
                            [value]="ya.product_type_id">{{ya.product_type}}</option>
                        </select>

                      </div> -->

                    </div>
                  </div>

                  <div class="col-md-2 col-sm-2">
                    <span style="font-weight: bold;">Status</span>
                    <select class="form-control" [(ngModel)]="status_filter" (change)="change_status()">
                      <option value="Pending">Pending</option>
                      <option value="Approved">Approved</option>

                    </select>
                    <!-- <div class="total-cls">
                      Total : <span> {{filteredEmployees.length}}</span>
                    </div> -->
                  </div>

                  <div class="col-md-4 col-sm-4">
                    <div class="row">
                      <div class="col-md-6">
                        <span style="font-weight: bold;">Templates</span>
                        <select class="form-control" (change)="changeTemplate()" [(ngModel)]="selected_template">
                          <option value="">Select</option>
                          <option *ngFor="let ltm of leaveTemplateMaster" value="{{ltm.templateid}}">
                            {{ltm.templatedesc}}
                          </option>
                        </select>
                      </div>

                      <div class="col-md-6">
                        <span style="font-weight: bold;">Action</span>
                        <select class="form-control" [(ngModel)]="bulkLeaveBalanceFormat">
                          <option value="excel">Bulk Upload</option>
                          <option value="manual">Manual</option>
                        </select>
                      </div>

                      <!-- <div class="col-md-6" style="margin-top:2.5rem;">
                        <button *ngIf="status_filter == 'Pending'" class="btn btn-primary"
                          (click)="generateBulkOpeningBalance()">Generate Leave</button>
                        <button *ngIf="status_filter == 'Approved'" class="btn btn-primary"
                          (click)="updateBulkLeaveBalance()">Update Leave</button>
                      </div> -->

                    </div>
                  </div>



                  <!-- <div class="col-md-3 col-sm-3">
                    <br>
                    <button class="btn btn-primary" (click)="openChangeTempPopup()">Bulk Open Balance</button>
                  </div> -->

                </div>

                <div class="row">
                  <div class="col-md-5">
                    <div class="col-md-6">
                      <label>Total : {{filteredEmployees.length}}</label>
                    </div>
                    <div class="col-md-6" *ngIf="selected_emp_cnt()">
                      <label style="color:#1a6bb7">Selected : {{selected_emp_cnt()}}</label>
                    </div>
                  </div>
                </div>

              </div>

              <div class="card-body" style="font-size: 12px;">
                
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="check-box-align"><input type="checkbox" (click)="check_emp_all($event)"
                          name="checkempAll" [checked]="find_emp_id_all()">
                      </th>
                      <th>Name</th>
                      <!-- <th>Mobile</th> -->
                      <th>DOJ / DOL</th>
                      <!-- <th>Assigned Template</th> -->
                      <th *ngIf="status_filter=='Approved'" >Opening Balance for  ({{filteredEmployees[0]?.intial_leave_bal_txt[0]?.leaves_calender}} | Period [{{filteredEmployees[0]?.intial_leave_bal_txt[0]?.periodfrom}} - {{filteredEmployees[0]?.intial_leave_bal_txt[0]?.periodto}}] ) </th>
                      <!-- <th>Effective From</th>
                      <th>Template Details</th> -->

                    </tr>
                  </thead>

                  <tbody>
                    <ng-container *ngFor="let emp_data of filteredEmployees;let i=index">
                      <tr>
                        <td>
                          <input type="checkbox" name="checkemp" class="checkemp"
                            (change)="checkEmp($event, emp_data?.emp_id)" [attr.data-emp-code]="emp_data?.emp_id"
                            [checked]="find_emp_id(emp_data.emp_id)">
                        </td>
                        <td title="Name | CJ Code | ORG Employee Code">{{emp_data?.emp_name}} | {{emp_data?.cjcode}} |
                          {{emp_data?.orgempcode}}</td>
                        <!-- <td>{{emp_data?.mobile}}</td> -->
                        <td>{{emp_data?.dateofjoining}} <span *ngIf="emp_data?.dateofrelieveing"> /
                            {{emp_data?.dateofrelieveing}}</span></td>
                        <!-- <td>{{emp_data?.leave_template_name}}</td> -->
                         
                        <td *ngIf="status_filter == 'Approved'">
                          <div class="leave-balance-container">
                            <div *ngFor="let item of emp_data?.intial_leave_bal_txt; let idx = index"
                              class="input-group leave-balance-item" [ngClass]="{'new-row': idx % 2 === 0}">
                              <span class="input-group-text">{{ item.typecode }}</span>
                              <input min="-999" max="999" type="number" class="form-control" [(ngModel)]="item.opening_bal" step="0.01"
                                (change)="updateOpeningBalance(emp_data?.emp_id, item.typecode, item.opening_bal)"
                                (blur)="validateOpeningBal(item)" />
                            </div>
                          </div>
                        </td>

                        <!-- <td>{{emp_data?.leave_effective_from}}</td>
                        <td>
                          <ng-container *ngFor="let item of emp_data?.leave_details">
                            <span><b>{{item.typecode}}</b>:{{item.days}}</span>&nbsp;

                          </ng-container>
                        </td> -->

                      </tr>
                    </ng-container>

                    <tr *ngIf="filteredEmployees.length == 0" style="text-align: center;">
                      <td colspan="100%">No Data Found</td>
                    </tr>
                  </tbody>
                </table>


                <div class="col-md-12 col-12 padd-top-20 text-center" *ngIf="filteredEmployees.length != 0">
                  <button *ngIf="status_filter == 'Pending'" class="btn btn-primary btn-lg"
                    (click)="generateBulkOpeningBalance()">Generate Leave Balance</button>
                  <button *ngIf="status_filter == 'Approved'" class="btn btn-primary btn-lg"
                    (click)="updateBulkLeaveBalance()">Update Leave Balance</button>
                </div>


              </div>

            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-md-12 col-md-offset-0 mrg-top-0 mrg-bot-1" *ngIf="bulkLeaveBalanceFormat === 'excel'">

            <!-- General Information -->
            <div class="card">

              <div class="card-header">
                <div class="row">
                  <!-- <div class="col-md-2 col-sm-2" style="display:none;">
                    <b>Search</b> <br>
                    <input type="text" class="form-control" placeholder="Search Employee(s)" (keyup)="search()"
                      maxlength="200" [(ngModel)]="searchKey" />
                  </div> -->


                  <div class="col-md-4 col-sm-4">
                    <div class="row">
                      <div class="col-md-7">
                        <span style="margin: 10px;font-weight: bold;">Month</span>
                        <select class="form-control" (change)="changeMonth()" [(ngModel)]="month">
                          <option *ngFor="let ma of monthsArray" [selected]="month==ma.id" [value]="ma.id">{{ma.month}}
                          </option>
                        </select>
                      </div>

                      <div class="col-md-5">
                        <span style="margin: 10px;font-weight: bold;">Year</span>
                        <select class="form-control" (change)="changeYear()" [(ngModel)]="year">
                          <option *ngFor="let ya of yearsArray" [selected]="year==ya" [value]="ya">{{ya}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-2 col-sm-2">
                    <span style="font-weight: bold;">Status</span>
                    <select class="form-control" [(ngModel)]="status_filter" (change)="change_status()">
                      <option value="Pending">Pending</option>
                      <option value="Approved">Approved</option>

                    </select>
                    <!-- <div class="total-cls">
                      Total : <span> {{filteredEmployees.length}}</span>
                    </div> -->
                  </div>

                  <div class="col-md-4 col-sm-4">
                    <div class="row">
                      <div class="col-md-6">
                        <span style="font-weight: bold;">Template</span>
                        <select class="form-control" (change)="changeTemplate()" [(ngModel)]="selected_template">
                          <option value="">Select</option>
                          <option *ngFor="let ltm of leaveTemplateMaster" value="{{ltm.templateid}}">
                            {{ltm.templatedesc}}
                          </option>
                        </select>
                      </div>

                      <div class="col-md-6">
                        <span style="font-weight: bold;">Action</span>
                        <select class="form-control" [(ngModel)]="bulkLeaveBalanceFormat">
                          <option value="excel">Bulk Upload</option>
                          <option value="manual">Manual</option>
                        </select>
                      </div>

                      <!-- <div class="col-md-6" style="margin-top:2.5rem;">
                        <button *ngIf="status_filter == 'Pending'" class="btn btn-primary"
                          (click)="generateBulkOpeningBalance()">Generate Leave</button>
                        <button *ngIf="status_filter == 'Approved'" class="btn btn-primary"
                          (click)="updateBulkLeaveBalance()">Update Leave</button>
                      </div> -->

                    </div>
                  </div>


                </div>

                <div class="row">
                  <!-- <div class="col-md-5" style="display:none;">
                    <div class="col-md-6">
                      <label>Total : {{filteredEmployees.length}}</label>
                    </div>
                    <div class="col-md-6" *ngIf="selected_emp_cnt()">
                      <label style="color:#1a6bb7">Selected : {{selected_emp_cnt()}}</label>
                    </div>
                  </div> -->
                </div>

              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 padd-bot-10 padd-top-10">
                    <h3>Upload Bulk Leave Balance</h3>
                    <ul>
                      <li style="color: #ff0c0c;font-weight: 500;"
                        title="Click on template to download excel with list of employee">1. Please download the
                        latest <a (click)="getBulkLeaveExcel()"
                          style="font-weight: bold; cursor: pointer;">template</a>, with
                        the list of employee(s)</li>
                      <li>2. Edit this file in Excel, and add the leave balance.
                      </li>
                      <li>3. Do not change any employee details already present in the template. This includes
                        <b style="font-size: 1.2rem; color: #ff0c0c; font-weight: 500;"> the following columns -
                          Employee, EmpCode, OrgEmpCode, Mobile, Status, DOB, DOJ, DOR
                        </b>
                      </li>
                      <li>4. Update & Save employee leave balance and upload this file below.
                      </li>

                    </ul>

                    <h3 class="mrg-top-15">Template file instructions -</h3>

                    <ul>
                      <li>1. There is a list of employees with employee codes.
                        Please fill in the data accordingly.</li>
                      <li>2. Please do not add/remove columns.</li>
                      <li>3. Please enter the Leave Balance</li>
                      <li>4. If there is no data for a particular cell, leave it
                        empty. Don't enter "-", "NA" etc.</li>
                      <!-- <li>5. Please do not use all capital letters in remarks
                        field </li> -->
                      <!-- <li>6. <span class="text-info" style="font-weight: bold;"> Note .</span><span
                          style="color: rgba(136, 12, 253, 0.959); font-weight: 500;"> For bulk upload, Excel
                          files with maximum 50 records allowed at a time. If records are > 50, then split the
                          file and upload. </span>
                      </li> -->
                    </ul>
                    <div class="col-sm-10 mrg-bot-15 mrg-top-15"
                      title="For bulk upload, Excel files with maximum 50 records allowed at a time. If records are > 50, then split the file and upload.">
                      <input type="file"
                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                        name="attendnace_excel" class="allowed_jpg_jpeg_pdf form-control" id="attendnace_excel"
                        (change)="onFileChange($event)">
                    </div>
                    <div class="col-sm-2 mrg-bot-15 mrg-top-15">
                      <button type="button" class="btn btn-secondary" (click)="clear_file()"
                        style="border-color: black;">Clear</button>
                    </div>
                    <div class="col-md-12 col-12 padd-top-2 text-left">
                      <!-- <span class="text-info" style="font-weight: bold;"> attendance marking codes .<span
                          style="color: #ff0c0c; font-weight: 500;"> [ PP -
                          Full Day Present, WFH - Work From Home, HD-(Half Day Present with Leave OR Absent) ,
                          LL-CO (CompOff), OD - OnDuty, TR - OnTour, LWP - Leave Without Pay, ASL - A Study
                          Leave
                          AA - Absent, HO -
                          Holiday, WO - Weekly-Off, CLS- Clear/Remove Att, LL-(Leave Code), HL-(Leave Code) for
                          Half Day Leave ] </span>
                      </span>-->
                    </div>

                  </div>
                </div>
              </div>


            </div>

            <div class="card" *ngIf="excelToTableData.length>0">
              <span style="text-align: left; color: blue;font-weight: bold;"> Total Records :
                {{excelToTableData.length}}</span>
              <div class="card-body" style="overflow:auto;">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th><strong>Emp ID</strong></th>
                      <th><strong>Name</strong></th>
                      <th><strong>OrgEmpCode</strong></th>
                      <th><strong>Mobile</strong></th>
                      <th><strong>Department</strong></th>
                      <th><strong>Designation</strong></th>
                      <th colspan="100%"><strong>Leave Opening Balance </strong></th>
                    </tr>
                  </thead>

                  <tbody>
                    <ng-container *ngFor="let et of excelToTableData">
                      <tr [ngStyle]="{'color': et.rowColor == false ? 'red' : 'green'}">
                        <td>{{et.EmpID}}</td>
                        <td>{{et.Employee}}</td>
                        <td>{{et.OrgEmpCode}}</td>
                        <td>{{et.Mobile}}</td>
                        <td>{{et.Department}}</td>
                        <td>{{et.Designation}}</td>
                        <ng-container *ngFor="let ead of et.LeaveDetails">
                          <td>{{ead.typecode}}
                            <ng-container *ngIf="ead.opening_bal">
                              - {{ead?.opening_bal}}
                            </ng-container>
                          </td>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>

            </div>
            <!-- <span class="text-info" style="color: lightcoral;font-size: 1.3rem;">
              You only have permission to view records. Any changes or modifications are not allowed
            </span> -->

            <!-- {{excelToTableData.length}} {{show_bulk_upload_btn}} {{check_access_right_cdn()}} -->
            <div *ngIf="(excelToTableData.length>0 && show_bulk_upload_btn)"
              class="col-md-12 col-12 padd-top-20 text-center">
              <button class="btn btn-primary  btn-lg" (click)="patchOpeningBalance()"><i class="fa fa-upload fa-lg">
                </i> Confirm Open Balance</button>
            </div>

          </div>

        </div>


      </div>
      <!-- /row -->
    </div>
  </div>
  <!-- /#page-wrapper -->



</section>
<app-footer></app-footer>



<!-----------Open Leave Balance------------->
<!-- <div [@grooveState]="showOpenBalancePopup?'active':'inactive'" id="openBalance" class="modal" style="z-index:1000;">
  <div [@dongleState]="showOpenBalancePopup?'active':'inactive'" class="modal-dialog"
    style="margin:auto auto auto auto;">
    <div class="modal-content" style="height:100%;margin-top:50px;width:75rem;margin-left:-5rem;">
      <form *ngIf="showOpenBalancePopup">
        <div class="modal-header theme-bg">
          <h4 class="modal-title">Opening Balance</h4>
          <button type="button" class="close" aria-hidden="true" (click)="closeOpenBalancePopup()">&times;</button>
        </div>
        <div class="modal-body" style="overflow: auto;height: 44rem;">

          <ng-container>
            <div class="row">
              <div class="col-md-4">
                <label>Leaves Calender</label>
                <input type="text" class="form-control disable-background"
                  value="{{openLeaveBalanceForm.value.intial_leave_bal_txt[0].leaves_calender}}">
              </div>

              <div class="col-md-4">
                <label>Period From</label>
                <input type="text" class="form-control disable-background"
                  value="{{openLeaveBalanceForm.value.intial_leave_bal_txt[0].periodfrom}}">
              </div>

              <div class="col-md-4">
                <label>Period To</label>
                <input type="text" class="form-control disable-background"
                  value="{{openLeaveBalanceForm.value.intial_leave_bal_txt[0].periodto}}">
              </div>
            </div>

            <br>

            <ng-container *ngFor="let olb of openLeaveBalanceForm.value.intial_leave_bal_txt;let i=index;">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Leave Type</label>
                      <input type="text" class="form-control disable-background"
                        value="{{olb.typename}}- ({{olb.typecode}})">
                    </div>

                    <div class="col-md-6">
                      <label>Opening Balance</label>
                      <input type="text" class="form-control" value="{{olb.opening_bal}}" maxlength="5"
                        (keyup)="changeOpenBal($event, i)">
                    </div>


                  </div>


                </div>
              </div>
            </ng-container>
          </ng-container>

        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" (click)="closeOpenBalancePopup()" value="Cancel">
          <input type="submit" class="btn btn-success" (click)="updateOpenBalance()" value="Update">
        </div>
      </form>
    </div>
  </div>
</div> -->
<!-----------Open Leave Balance------------->
