<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>
  <div id="wrapper" [ngClass]="{'active': showSidebar == false}">
    <div class="fakeLoader"></div>


    <div id="page-wrapper">

      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Attendance Reprocessing</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
            <li class="breadcrumb-item active">Attendance Reprocessing</li>
          </ol>
        </div>
      </div>


      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="card">
              <div class="card-header">
                <div class="row">

                  <div class="col-md-12 col-sm-12">

                    <div class="row">

                      <div class="col-md-3" style="margin-left: 8px;">
                        <span style="font-weight: bold;">Search</span>
                        <input type="text" class="form-control" value="" placeholder="Search Employee(s)"
                          (keyup)="search()" maxlength="100" [(ngModel)]="search_key">
                      </div>

                      <div class="col-md-2 col-sm-2">
                        <b>From Date</b>
                        <br>
                        <input type="hidden" id="recdate" (click)="changeFromToDate()">
                        <input class="form-control" type="text" id="from_date" [(ngModel)]="from_date"
                          name="from_date" placeholder="dd/mm/yyyy" maxlength="10" autocomplete="off" #td readonly>
                      </div>

                      <div class="col-md-2 col-sm-2">
                        <b>To Date</b>
                        <br>
                        <input class="form-control" type="text" id="to_date" [(ngModel)]="to_date"
                          name="to_date" placeholder="dd/mm/yyyy" maxlength="10" autocomplete="off" #td readonly>
                      </div>

                      <div class="col-md-2 col-sm-2" style="margin-top: 25px;">
                        <a href="#reprocessAttendance" 
                        *ngIf="1"
                        data-toggle="modal" 
                        data-placement="top"
                        title="Click to reprocess attendance" 
                        class="btn btn-success"
                        [class.disabled]="selectedEmployees.length === 0"
                        [attr.aria-disabled]="selectedEmployees.length === 0"
                        style="padding-top: 9px; border-radius: 5px;">
                        Reprocess Attendance
                      </a> &nbsp;
                      </div>

                      <div class="col-md-2 col-sm-2" style="margin-top: 12px;margin-left: 60px;">
                        <b>&nbsp;</b>
                        <br>
                        <strong>Total: {{attendanceDetails_data.length}}</strong>
                      </div>

                    </div>
                    <p style="color: #5db8f5; font-size: 14px; line-height: 1.6;">
                      <b>Note:</b> Displays a list of employees based on the selected 'From' date (month and year), including those who have recorded check-ins or marked attendance on that date.  
                      To reprocess the attendance, please select the 'From' and 'To' dates, choose an employee, and click the 'Reprocess Attendance' button.
                    </p>
                  </div>

                </div>
              </div>

              <div class="card-body padd-bot-0 padd-top-0">
               
                <div class="row">
                  <div class="col-md-12 padd-top-0">
                    
                    <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">
                      <table class="table user-list" style="font-size: small;">
                        <thead style="background: skyblue;">
                          <tr>
                            <th *ngIf="1">
                              <input class="form-check-input" type="checkbox" id="selectAll" [(ngModel)]="selectAll"
                              (change)="toggleSelectAll()" *ngIf="showSelectionCheckboxes">
                            </th>
                            <th>Employee Code</th>
                            <th>Employee</th>                          
                            <th>OU Name</th>
                            <th>Department</th>
                            <th>Designation</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container
                            *ngFor="let emp of attendanceDetails_data | paginate: { itemsPerPage: limit, currentPage: p, totalItems: attendanceDetails_data.length }; let i = index">
                            <tr>
                              <td *ngIf="1"> 
                                <input type="checkbox" [(ngModel)]="emp.selected" (change)="onEmployeeCheckboxChange()"
                                *ngIf="showSelectionCheckboxes && emp.emp_name != 'Grand Total'">
                             </td>
                             <td style="width:22%"><span title="TPCode or OrgEmpCode"
                              *ngIf="(!emp.orgempcode?emp.tpcode:emp.orgempcode)">
                              {{!emp.orgempcode?emp.tpcode:emp.orgempcode}} </span>   </td>
                              <td style="width:22%">  {{emp.emp_name}}   </td>                            
                              <td style="width:22%" class="ou-hide-text-box">{{emp.assignedous}}</td>
                              <td style="width:20%">{{emp.posting_department?.split('#')[0]}}</td>
                              <td>{{emp.emp_designation}}</td>
                            </tr>
                          </ng-container>

                        </tbody>
                        <tfoot>

                          <tr *ngIf="this.attendanceDetails_data.length==0">
                            <td colspan="100%" style="text-align: center;">No Data Found</td>
                          </tr>

                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flexbox padd-10 pagination-outer-box" *ngIf="attendanceDetails_cnt > limit">
                <pagination-controls (pageChange)="get_page($event)" maxSize="9" directionLinks="true" autohide="true"
                  responsive="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                  screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"
                  style="font-size: 1rem;padding: 6px;font-weight: bold" class="float-right"></pagination-controls>
              </div>

            </div>
          </div>
        </div>
      </div>


    </div>

  </div>

</section>

<app-footer></app-footer>

<!---- Reprocess Attendance  ----->
<div id="reprocessAttendance" class="modal fade add-address-form-box main" data-backdrop="static">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header theme-bg">
          <h4 class="modal-title">Reprocess Attendance</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="cancelForm()">×</button>
        </div>
        <div class="modal-body">
      <div>
        <h5>Are you sure you want to reprocess attendance for all the selected employees ?</h5>
      </div>
          
        </div>

        <div class="modal-footer">
          <ng-container>
            <input type="button" class="btn btn-success" value="Reprocess"
              (click)="reprocess_punches()">
          </ng-container>
          <input type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelForm()"
            value="Cancel">

        </div>
    </div>
  </div>
</div>