<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<div id="wrapper" [ngClass]="{'active': showSidebar}">
  <div class="fakeLoader"></div>
  <!-- Navigation -->
  <div id="page-wrapper">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor" style="margin-left: 20px;">Comp-Off Applications</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" title="Home"><a [routerLink]="['/dashboard']">Home</a>
          </li>
          <li class="breadcrumb-item active">Comp-Off</li>
        </ol>
      </div>
    </div>
    <div class="container-fluid element" id="element">
      <!-- /row -->
      <div class="row">



        <div class="col-md-12">
          <div class="card-header caded-innder-head-box">

            <div class="col-sm-2 text-right">
              <label style="font-size:14px;padding-top:14px; text-align:right;">Status</label>
            </div>
            <div class="col-sm-2">
              <select class="wide form-control" (change)="changeStatusFilter($event.target.value)">
                <option value="All">All</option>
                <option value="Pending">Pending</option>
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
              </select>
            </div>
            <div class="col-sm-2 text-right">
              <label style="font-size:14px;padding-top:14px; text-align:right;">Filter</label>
            </div>
            <div class="col-sm-3 ">

              <select class="wide form-control" (change)="changeDateFilter($event.target.value)">

                <option value="1">Today</option>
                <option value="2">Yesterday</option>
                <option value="3">This week (Sun - Today)</option>
                <option value="4">Last 7 days</option>
                <option value="5">Last 30 days</option>
                <option value="6">Last 90 days</option>
                <option value="7">Last 12 months</option>

              </select>
            </div>

            <!-- <div class="col-sm-3" *ngIf="decoded_token.isEmployer=='0'">
              <label style="font-size:12px;padding-top:14px; text-align:right;">Approval Mode : </label>
              {{onduty_appli_list_data[0]?.template_mode}}
            </div> -->

          </div>
        </div>


        <!--<div class="col-md-3 ">
          <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

            <div class="net-pay-section">
               <div class="title-inn_box">
                <span class="font-mm"><i class="fa fa-calendar"></i> </span> <span class="font-semibold font-mm">Employees on leave</span>

               </div>
               <div class="row net-pay-data-without-bt">
                <div class="col-md-12">
                 <div class="text-uppercase font-ms payrun-label">Total Number : <strong>22</strong></div>


                </div>

               </div>

            </div>

          </div>

        </div>-->

        <div class="col-md-4 ">
          <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

            <div class="net-pay-section">
              <div class="title-inn_box">
                <span class="font-mm"><i class="fa fa-calendar-check-o" style="color: green;"></i>
                </span> <span class="font-semibold font-mm">&nbsp; Approved </span>

              </div>
              <div class="row net-pay-data-without-bt">
                <div class="col-md-12">
                  <div class="text-uppercase font-ms payrun-label">Total : <strong>{{tot_approved}}</strong></div>


                </div>

                <!-- <div class="col-md-6">

                 <div class="text-uppercase font-ms payrun-label">Booked : <strong>1</strong></div>
                </div>-->
              </div>

            </div>

          </div>

        </div>



        <div class="col-md-4 ">
          <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

            <div class="net-pay-section">
              <div class="title-inn_box">
                <span class="font-mm"><i class="fa fa-calendar-o"></i> </span> <span
                  class="font-semibold font-mm">&nbsp; Pending </span>

              </div>
              <div class="row net-pay-data-without-bt">
                <div class="col-md-12">
                  <div class="text-uppercase font-ms payrun-label">Total : <strong>{{tot_pending}}</strong></div>


                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="col-md-4 ">
          <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

            <div class="net-pay-section">
              <div class="title-inn_box">
                <span class="font-mm"><i class="fa fa-times fa-lg" style="color:red"></i> </span>
                <span class="font-semibold font-mm">&nbsp; Rejected </span>

              </div>
              <div class="row net-pay-data-without-bt">
                <div class="col-md-6">
                  <div class="text-uppercase font-ms payrun-label">Total : <strong>{{tot_rejected}}</strong></div>


                </div>

              </div>

            </div>

          </div>

        </div>






        <div class="col-md-12 mrg-top-0 mrg-bot-25">


          <div class="card">

            <div class="card-body padd-bot-0 padd-top-0">



              <div class="row">

                <div class="col-md-12 padd-top-0">


                  <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">


                    <table class="table user-list">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Employee</th>
                          <!-- <th *ngIf="decoded_token.isEmployer=='0'">Approval Level</th> -->
                          <th>Working Hours</th>
                          <th *ngIf="decoded_token.isEmployer=='0'">Approval Level</th>
                          <!-- <th>Attachment</th> -->
                           <th>Applied Date</th>
                          <th>Date of Request</th>
                          <th>Comp-Off Leave</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>

                      <tbody>

                        <ng-container *ngFor="let la of onduty_appli_list_data; let i=index;">
                          <tr>
                            <td>{{i+1}}</td>
                            <td>
                              <h5 class="job-name">

                                <!-- (click)="openonDutyDetailsPopup(i)" title="Click to view details" -->
                                <a class="job_name_tag collapsed cur-ptr">
                                  <div class="job-img">

                                    <img src="{{la?.employee_photo}}" class="attachment-thumbnail" alt="user-images"
                                      *ngIf="(la.employee_photo!= '' && la.employee_photo != null)">
                                    <div class="img-responsive img-circle txt"
                                      *ngIf="(la.employee_photo == '' || la.employee_photo == null)" alt="user">
                                      {{la.emp_name.charAt(0)}}{{la.emp_name.charAt(la.emp_name.indexOf('') + 1)}}
                                    </div>

                                  </div>
                                  {{la.emp_name}}

                                  <span *ngIf="la.orgempcode; else elseBlock">
                                    [{{la.orgempcode}}]
                                  </span>
                                  <ng-template #elseBlock>
                                    [{{la.cjcode}}]
                                  </ng-template>
                                </a>
                              </h5>
                            </td>
                            <!-- <td *ngIf="decoded_token.isEmployer=='0'">
                              <span *ngIf="la.workflow_template_id"
                                title="Workflow Template | User Approval Level | Template Mode">
                                {{ la.template_name}} | {{la.user_approval_level}} | {{la.template_mode}}
                              </span>
                              <span *ngIf="!la.workflow_template_id">
                                N/A
                              </span>
                            </td> -->
                            <td>{{la.working_hours}} </td>
                            <td *ngIf="decoded_token.isEmployer=='0'">{{la.user_approval_level}} [{{la.template_mode}}]
                            <!-- <td>
                              <a *ngIf="la.attachemnt_url" (click)="openDocumentPopup(la.attachemnt_url)" title="Click to view document"><i class="fa fa-file cur-ptr"></i></a>
                            </td> -->
                            <td>
                              {{la.comp_off_applied_date}}
                            </td>
                            <td>
                              {{(la.createdon)}}
                            </td> <td > {{ la?.comp_off_days }}</td>
                   
                            <td>
                              <span
                                [ngClass]="{'pend-btn-ved1': la.approval_status=='Pending', 'appro-btn-ved': la.approval_status=='Approved', 'appro-btn-ved1': la.approval_status=='Rejected'}"
                                class="appro-btn-ved">{{la.approval_status}}
                                <ng-container *ngIf="la.approval_status=='Pending' && la.is_workflow_applied=='Y'"> <br>
                                  at level - {{la.wf_approval_cur_level}} </ng-container>
                              </span>
                            </td>
                            <td>
                              <!-- <ng-container *ngIf="la.approval_status=='Pending' && decoded_token.isEmployer=='1'">
                                <a class="cur-ptr" (click)="openApprovePopup(i)" title="Approve">
                                  <i class="fa fa-2x fa-check-square-o" ></i>
                                </a>&nbsp;
                                <a class="cur-ptr" style="color:red;" (click)="openRejectPopup(i)" title="Reject">
                                  <i class="fa fa-2x fa-times" ></i>
                                </a>
                              </ng-container>

                              <ng-container
                                *ngIf="la.approval_status=='Pending' && decoded_token.isEmployer=='0' && check_level_cdn(la)">
                                <a class="cur-ptr" (click)="openApprovePopup(i)" title="Approve">
                                  <i class="fa fa-2x fa-check-square-o"></i>
                                </a>&nbsp;
                                <a class="cur-ptr" style="color:red;" (click)="openRejectPopup(i)" title="Reject">
                                  <i class="fa fa-2x fa-times"></i>
                                </a>
                              </ng-container>
                              &nbsp;
                              <a (click)="openonDutyDetailsPopup(i)" title="Click to view details"
                              class="cur-ptr">
                              <i class="fa fa-comment-o fa-2x"></i>
                              </a> -->


                              <ng-container *ngIf="la?.attachemnt_url"> <a href="{{la?.attachemnt_url}}" target="_blank"
                                title="Click to view file">
                                <i class="fa fa-lg fa-file"></i></a> &nbsp;
                            </ng-container>

                            <ng-container *ngIf="la.approval_status=='Pending' && decoded_token.isEmployer=='1'">
                              <a (click)="openRejectCompOffRequestModal(la)" title="Click to reject"
                                style="color:red;">
                                <i class="fa fa-lg fa-times"></i></a>
                              &nbsp;
                              <a (click)="openApproveCompOffRequestModal(la)" title="Click to approve">
                                <i class="fa fa-lg fa-check-square-o"></i></a>
                            </ng-container>


                            <ng-container *ngIf="decoded_token.isEmployer=='0' && check_level_cdn(la)">
                              <ng-container *ngIf="la?.approval_status == 'Pending'; else elseBlock1">
                                <!-- <a (click)="openUpdateCompOffRequestModal(la)" title="Click to update">
                                  <i class="fa fa-lg fa-edit"></i></a>
                                &nbsp; -->
                                <a (click)="openRejectCompOffRequestModal(la)" title="Click to reject"
                                  style="color:red;">
                                  <i class="fa fa-lg fa-times"></i></a>
                                &nbsp;
                                <a (click)="openApproveCompOffRequestModal(la)" title="Click to approve">
                                  <i class="fa fa-lg fa-check-square-o"></i></a>
                              </ng-container>
                              <ng-template #elseBlock1>
                                <a title="Click to view" (click)="viewCompOffRequest(la)">
                                  <i class="fa fa-eye"></i>
                                </a>
                              </ng-template>
                            </ng-container>

                            <a *ngIf="la.action_comment_txt" title="Click to View Comment" (click)="openCommentsPopup(la?.action_comment_txt)">
                              <!-- {{la.template_mode}} -->
                              <i class="fa fa fa-comment fa-lg" title="View Comment"></i>
                            </a>

                          </td>
                          </tr>

                        </ng-container>

                        <tr *ngIf="onduty_appli_list_data.length==0">
                          <td class="no-data" colspan="8">No Data Found</td>
                        </tr>


                      </tbody>

                    </table>

                  </div>


                </div>

              </div>
            </div>
          </div>


        </div>






      </div>



    </div>
  </div>
  <!-- /#page-wrapper -->
  <app-footer></app-footer>


  <!-----Approve or Reject------->
  <!-- <div [@grooveState]="showApproveRejectPopup?'active':'inactive'" id="approve_reject_modal" class="modal" style="z-index:1000;">
    <div [@dongleState]="showApproveRejectPopup?'active':'inactive'" class="modal-dialog"
      style="margin:auto auto auto auto;">
      <div class="modal-content" style="height:100%;margin-top:50px;width:75rem;margin-left:-5rem;">
        <form *ngIf="showApproveRejectPopup" [formGroup]="approveRejectForm">
          <div class="modal-header theme-bg">
            <h4 class="modal-title">{{approve_reject_title}}</h4>
            <button type="button" class="close" aria-hidden="true" (click)="closeApproveRejectPopup()">&times;</button>
          </div>
          <div class="modal-body" style="overflow: auto;height: 32rem;">

            <div class="row" style="font-size: 13px;  padding-inline: 1rem;">

              <div class="col-md-4">

                <strong> Description </strong>
              </div>
              <div class="col-md-8" style="padding: 1rem;">
                {{ar.leave_description.value}}
                <br>
              </div>
              <div class="col-md-4">
                <strong> Period [From date -Todate] </strong>
              </div>
              <div class="col-md-8" style="height: 25px;">

                {{(ar.fromdate.value)}} to {{(ar.todate.value)}} | {{ar.leave_days .value}}
                <br>
              </div>

              <div class="col-md-4">
                <strong> Application Status </strong>
              </div>
              <div class="col-md-8" style="height: 25px;">
                {{ar.approval_status.value}}
              </div>

              <div class="col-md-4">
                <strong> Attachment (if any) </strong>
              </div>

              <div *ngIf="ar.attachemnt_url.value" class="col-md-8">

                <span><a target="_blank" [href]="ar.attachemnt_url.value"><i style="color:blue;" class="fa fa-pdf"></i>
                  </a></span>
              </div>
            </div>


            <div class="col-md-12">
              <br>
              <strong>Remark :</strong> <br>
              <textarea formControlName="remark" class="form-control" rows="3" placeholder="Enter Remark..." ></textarea>
            </div>


          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" (click)="closeApproveRejectPopup()" value="Cancel">
            <input *ngIf="mark_approval_status" type="submit" (click)="approved_leave_appl_by_applid()"
              class="btn btn-success" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div> -->


  <!--------OnDuty Details-------->
  <div [@grooveState]="onDutyDetailsPopup?'active':'inactive'" id="approve_reject_modal" class="modal"
    style="z-index:1000;">
    <div [@dongleState]="onDutyDetailsPopup?'active':'inactive'" class="modal-dialog"
      style="margin:auto auto auto auto;">
      <div class="modal-content" style="height: 100%;margin-top: 25px;width: 90rem;margin-left: -15rem;">
        <form *ngIf="onDutyDetailsPopup">
          <div class="modal-header theme-bg">
            <h4 class="modal-title">{{selected_title}} <span *ngIf="decoded_token.isEmployer=='0'"> [<strong>User
                  Approval Level :</strong> {{onduty_appli_list_data[selected_index].user_approval_level}}] </span></h4>
            <button type="button" class="close" (click)="closeonDutyDetailsPopup()">&times;</button>
          </div>
          <div class="modal-body" style="overflow: auto;height: 40rem;">

            <div class="row">


              <div class="col-md-12 ">
                <div class="manage-list-row manage-pay-select clearfix list_view_de-box onduty-outer-box">

                  <div class="net-pay-section">
                    <div class="title-inn_box">
                      <span class="font-mm"><i class="fa fa-user"></i> </span> <span class="font-semibold font-mm">
                        {{onduty_appli_list_data[selected_index].emp_name}} <span
                          *ngIf="onduty_appli_list_data[selected_index].orgempcode; else elseBlock">
                          [{{onduty_appli_list_data[selected_index].orgempcode}}]
                        </span>
                        <ng-template #elseBlock>
                          [{{onduty_appli_list_data[selected_index].cjcode}}]
                        </ng-template></span>

                    </div>
                    <div class="row net-pay-data-without-bt">
                      <div class="col-md-8">
                        <div class="text-uppercase font-ms payrun-label"><strong>Period :</strong>
                          {{(onduty_appli_list_data[selected_index].fromdate)}} to
                          {{(onduty_appli_list_data[selected_index].todate)}}</div>


                      </div>
                      <div class="col-md-4">

                        <div class="text-uppercase font-ms payrun-label"><strong>Type :</strong> On Duty
                        </div>
                      </div>
                      <div class="col-md-8">

                        <div class="text-uppercase font-ms payrun-label"><strong>Description :</strong>
                          {{onduty_appli_list_data[selected_index].od_description}}</div>
                      </div>

                    </div>

                  </div>

                </div>

              </div>


              <div class="col-md-12 mrg-top-0 mrg-bot-25">

                <div class="card">


                  <div class="card-body padd-bot-0 padd-top-0">


                    <div class="row">

                      <div class="col-md-12 padd-top-0">


                        <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">


                          <table class="table user-list">
                            <thead>
                              <tr>
                                <th>Attendance Day</th>
                                <th>Duration</th>
                                <th>Session</th>
                                <th>OD Start Time</th>
                                <th>OD End Time</th>
                                <!-- <th>Approval Status</th> -->

                              </tr>
                            </thead>

                            <tbody>
                              <ng-container *ngFor="let oal of onduty_appli_list_data[selected_index].appl_detail;">
                                <tr>
                                  <td width="17%"><strong>{{oal.od_applied_date}}</strong></td>

                                  <td width="23%">
                                    <div class="Dtyps ZPBC10"><span class="DB">{{oal.od_day_type}}</span>
                                    </div>
                                  </td>

                                  <td>{{oal.od_day_half_type}} </td>

                                  <td>{{oal.od_starttime}}</td>
                                  <td>{{oal.od_endtime}}</td>
                                </tr>
                              </ng-container>


                            </tbody>

                          </table>

                        </div>

                      </div>
                      <div class="col-md-12 mrg-top-0">
                        <div class="card">
                          <div class="card-body padd-bot-0 padd-top-0">
                            <strong>Comments :</strong>
                            <div class="commet-outer-div">
                              <span [innerHTML]="action_comment_txt"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 mrg-top-0" *ngIf="show_remarks_modal">
                        <div class="card">
                          <div class="card-body padd-bot-0 padd-top-0">
                            <strong>Remarks :</strong>
                            <textarea class="form-control" style="height:10rem;" [(ngModel)]="remarks_modal"
                              [ngModelOptions]="{standalone: true}">
                              </textarea>
                          </div>
                        </div>
                      </div>



                    </div>
                  </div>
                </div>

              </div>

            </div>




          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" (click)="closeonDutyDetailsPopup()" value="Close">
            <input *ngIf="selected_title=='Approve'" type="submit" (click)="approved_od_appl_by_applid('Approved')"
              class="btn btn-success" value="Approve">
            <input *ngIf="selected_title=='Reject'" type="submit" (click)="approved_od_appl_by_applid('Rejected')"
              class="btn btn-danger" value="Reject">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!---end---->






  <!-- Add Comp-off Request Modal -->
  <div id="addCompOffModal" class="modal fade add-address-form-box in">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <form [formGroup]="addCompOffForm">
          <div class="modal-header theme-bg">
            <h4 class="modal-title">{{comp_off_title}} Comp-Off Request</h4>
            <button type="button" class="close" (click)="hideAddCompOffRequestModal()">×</button>
          </div>

          <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">

            <div [ngClass]="{ 'view-only': isViewCompOff }">

              <div class="form-group">
                <label class="control-label col-sm-4">Date Worked <span style="color: red;">*</span></label>
                <div class="col-sm-8" [ngClass]="{ 'view-only': comp_off_title != 'Add' }">
                  <input type="text" id="date_worked" class="form-control" placeholder="dd-mm-yyyy" autocomplete="off" readonly>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-4">Reason <span style="color: red;">*</span></label>
                <div class="col-sm-8">
                  <textarea class="form-control" formControlName="reason" rows="4"
                    style="height:8rem !important;"></textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-4">Working Hours <span style="color: red;">*</span></label>
                <!-- <div class="col-sm-4">
                <input type="text" class="form-control" formControlName="working_hours" pattern="^[0-9]+:[0-5][0-9]$"
                  placeholder="HH:MM (e.g., 48:00)">
              </div> -->

                <div class="col-sm-8">
                  <div class="input-group">
                    <input type="radio" id="timeOption1" name="timeOption" value="specificTime"
                      formControlName="timeOption" (change)="onTimeOptionChange()">
                    <label for="timeOption1">Specify Start/End Time</label>
                    <input type="radio" id="timeOption2" name="timeOption" value="workingHours"
                      formControlName="timeOption" (change)="onTimeOptionChange()">
                    <label for="timeOption2">Enter Working Hours</label>
                  </div>
                </div>
              </div>

              <div *ngIf="addCompOffForm.get('timeOption')?.value === 'specificTime'">
                <div class="form-group">
                  <label class="control-label col-sm-4"></label>
                  <div class="col-sm-4">
                    <label>Start Time:</label>
                    <div class="input-group bootstrap-timepicker timepicker zp_Cust-timpckr">
                      <input id="startTime" type="text" class="form-control" placeholder="00:00"
                        formControlName="start_time" readonly>
                      <span class="input-group-addon" (click)="togglePopover(popoverStart);" #popoverStart="bs-popover"
                        [popover]="popoverContentStart" triggers="manual" [outsideClick]="true">
                        <i class="fa fa-clock-o"></i>
                      </span>
                    </div>
                    <ng-container
                      *ngIf="addCompOffForm.get('start_time').errors && addCompOffForm.get('start_time').touched"
                      class="text-danger">
                      <p class="text-danger">Start time is required</p>
                    </ng-container>
                    <ng-template #popoverContentStart>
                      <timepicker [(ngModel)]="startTime" (ngModelChange)="onStartTimeChange($event)" [showMeridian]="false"
                        [ngModelOptions]="{standalone: true}"></timepicker>
                    </ng-template>
                  </div>

                  <div class="col-sm-4">
                    <label>End Time:</label>
                    <div class="input-group bootstrap-timepicker timepicker zp_Cust-timpckr">
                      <input id="endTime" type="text" class="form-control" placeholder="00:00" formControlName="end_time"
                        readonly>
                      <span class="input-group-addon" (click)="togglePopover(popoverEnd);" #popoverEnd="bs-popover"
                        [popover]="popoverContentEnd" triggers="manual" [outsideClick]="true">
                        <i class="fa fa-clock-o"></i>
                      </span>
                    </div>
                  </div>

                  <ng-container *ngIf="addCompOffForm.get('end_time').errors && addCompOffForm.get('end_time').touched"
                    class="text-danger">
                    <p class="text-danger">End time is required</p>
                  </ng-container>

                  <ng-template #popoverContentEnd>
                    <timepicker [(ngModel)]="endTime" (ngModelChange)="onEndTimeChange($event)" [showMeridian]="false"
                      [ngModelOptions]="{standalone: true}"></timepicker>
                  </ng-template>

                </div>
              </div>

              <div *ngIf="addCompOffForm.get('timeOption')?.value === 'workingHours'">
                <div class="form-group">
                  <label class="control-label col-sm-4"></label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="working_hours" pattern="^[0-9]+:[0-5][0-9]$"
                      placeholder="HH:MM (e.g., 23:59)">
                  </div>
                </div>
              </div>

             

              <div class="form-group">
                <label class="control-label col-sm-4">Supporting Document</label>
                <!-- <div class="col-sm-4">
                  <input type="file" class="form-control" (change)="readFile($event)">
                </div> -->
                <div class="col-sm-2" style="margin-top:5px;" *ngIf="addCompOffForm.value.attachment_url">
                  <a href="{{addCompOffForm.value.attachment_url}}" target="_blank" title="Click to view file">
                    <i class="fa fa-lg fa-file"></i></a>
                </div>
              </div>
              <div class="col-md-12 mrg-top-0" *ngIf="action_comment_txt" style="display:none;">
                <div class="card">
                  <div class="card-body padd-bot-0 padd-top-0">
                    <strong>Comments :</strong>
                    <div class="commet-outer-div">
                      <span [innerHTML]="action_comment_txt"></span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Approved Comp-Off Leave Days</label>
              <div class="col-sm-4">
                <input class="form-control" formControlName="comp_off_days">
              </div>
              <div class="col-sm-4">
                </div>
            </div>

            <div class="form-group" *ngIf="comp_off_title == 'Reject' || comp_off_title == 'Approve'">
              <label class="control-label col-sm-4">Remarks</label>
              <div class="col-sm-8">
                <textarea class="form-control" formControlName="remarks" rows="4"
                  style="height:8rem !important;"></textarea>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button *ngIf="comp_off_title != 'View'" type="button" class="btn btn-primary"
              (click)="uploadCompOffDocument()">{{comp_off_title}}</button>
            <button type="button" class="btn btn-secondary" (click)="hideAddCompOffRequestModal()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!----end---->

  <!------Comments Popup------>
  <div [@grooveState]="showCommentsPopup?'active':'inactive'" id="showCommentId" class="modal" style="z-index:1000;">
    <div [@dongleState]="showCommentsPopup?'active':'inactive'" class="modal-dialog"
      style="margin:auto auto auto auto;">
      <div class="modal-content" style="height:100%;margin-top:50px;width:75rem;margin-left:-5rem; overflow:auto;">

        <div class="modal-header theme-bg">
          <h4 class="modal-title">Comments</h4>
          <button type="button" class="close" aria-hidden="true" (click)="closeCommentsPopup()">&times;</button>
        </div>
        <div class="modal-body" style="overflow: auto;height: 32rem;">
          <div class="commet-outer-div">
            <ul>
              <ng-container *ngFor="let line of commentsData">
                <li [innerHtml]="line"></li>
                <br>
              </ng-container>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" (click)="closeCommentsPopup()" value="Close">
        </div>
      </div>
    </div>
  </div>
  <!------Comments Popup------>

