.sub-title-inn-box.View-Roles-outer-box {
  color: #1a6bb7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employees-details-outer-box .accordion .panel-heading {
  background: #8eccf5;
  padding: 13px!important;
  width: 100%;
  display: block;
  color: #fff;
  cursor: pointer;
}

.Appointment-outer-box.Salary-Details-outer-box table tr th, .Appointment-outer-box.Salary-Details-outer-box table tr td {
  border-bottom: 1px solid #f1f1f1!important;
}

.Appointment-outer-box.Salary-Details-outer-box tr:nth-of-type(odd) {
  background-color: #ffffff!important;
}

.Appointment-outer-box.Salary-Details-outer-box tr:nth-of-type(odd) {
  background-color: #ffffff!important;
}

.Appointment-outer-box.Salary-Details-outer-box thead tr th {
  background: #b7dee8!important;
  font-size: 14px;
  text-align: center;
}

.table-wrapper table.table tr th, table.table tr td {
  border-color: #e8edef;
  padding: 12px 15px;
  vertical-align: middle;
}

.Salary-Details-outer-box table tr th, .Salary-Details-outer-box table tr td {
  background: #ffffff00;
  border: 1px solid #ffffff!important;
  color: #000;
  font-size: 12px;
}

.Appointment-outer-box.Salary-Details-outer-box .role-table td.permission {
  min-width: 70px;
  text-align: center;
}

.submodule{
  float: right;
    /* margin-right: 34px; */
    background-color: #0075ff;
    color: #fff;
    border: none;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

.submodule:hover{
  background-color: #248aff;
}

.sub-module-checkbox{
  width: 20px;
  height: 20px;
}

.submodule-outerbox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.module-head{
  position: relative;
  bottom: 4px;
}