<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>

  <div id="wrapper" [ngClass]="{'active': showSidebar}">
    <div class="fakeLoader"></div>
    <!-- Navigation -->

    <!-- Sidebar Navigation -->

    <div id="page-wrapper">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">&nbsp;&nbsp;Holiday Bulk Assign</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" title="Leave Templates"><a
                [routerLink]="['/business-settings/holiday-settings']">holiday-settings</a></li>

            <li class="breadcrumb-item active">Bulk Assign Holiday State / OU</li>
          </ol>
        </div>
      </div>
      <div class="container-fluid">
        <!-- /row -->
        <div class="row">

          <div class="col-md-12 col-sm-12">
            <div class="card">

              <div class="card-header">
                <div class="row">
                  <div class="col-md-3 col-sm-3">
                    <b>Search</b> <br>
                    <input type="text" class="form-control wide-width" placeholder="Search Employee(s)" [(ngModel)]="keyword"
                      (keyup)="search($event.target.value)" maxlength="200" />
                  </div>
                  <div class="col-md-5 col-sm-5">
                    <div class="row">
                      <div class="col-md-4">
                        <span style="margin: 10px;font-weight: bold;">Status</span>
                        <select class="form-control" [(ngModel)]="status_filter" (change)="changeStatus()">
                          <option value="">All</option>
                          <option value="pending">Pending</option>
                          <option value="mapped">Mapped</option>
                        </select>
                      </div>
                      <div class="col-md-4" style="    font-weight: bold;
                      margin-top: 1rem">
                        <span style="font-weight: bold;">&nbsp;</span>
                        <br>
                        Total Rows : <span> {{filteredEmployees.length}}</span>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-3 col-sm-3">
                    <br>
                    <button class="btn btn-success" (click)="openChangeTempPopup()">Bulk Assign Holiday State/OU</button>
                  </div>

                </div>

              </div>

              <div class="card-body" style="font-size: 12px;">
                <span style="    color: #06b7ed;"># Note: Select the employee list and click the "Bulk Assign Holiday State" button to map the holiday state.</span>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th><input type="checkbox" id="empAll" (change)="checkEmpAll($event)"></th>
                      <th>Name | Mobile</th>
                      <th>DOJ - DOL</th>
                      <th>Holiday State</th>


                    </tr>
                  </thead>

                  <tbody>
                    <ng-container *ngFor="let emp_data of filteredEmployees;let i=index">
                      <tr>
                        <!-- *ngIf="emp_data.dateofrelieveing ==''" -->
                        <td><input type="checkbox" name="emp" (change)="checkEmp(emp_data.emp_code)"
                            ></td>
                        <td title="Name | Mobile | Org Employee Code ">{{emp_data.emp_name}} |
                          {{emp_data.mobile}} | {{emp_data?.tpcode}} </td>
                        <td>{{emp_data.dateofjoining}} <span *ngIf="emp_data.dateofrelieveing">-
                            {{emp_data.dateofrelieveing}}</span></td>
                       <td>{{emp_data.holiday_state_name}}</td>
                        <!-- <td> <ng-container *ngFor="let item of emp_data.prev_bal">

                            <b>{{ item.typecode }}</b> : {{ item.prev_bal }} &nbsp;
                          </ng-container>
                        </td> -->

                      </tr>
                    </ng-container>

                    <tr *ngIf="filteredEmployees.length == 0" style="text-align: center;">
                      <td colspan="4">No Data Found</td>
                    </tr>
                  </tbody>
                </table>


              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
  </div>
  <!-- /#page-wrapper -->



</section>
<app-footer></app-footer>



<!-----------Change State Popup-------->
<div [@grooveState]="showSelectStatePopup?'active':'inactive'" id="selectStatePopupID" class="modal" style="z-index:1000;">
  <div [@dongleState]="showSelectStatePopup?'active':'inactive'" class="modal-dialog"
    style="margin:auto auto auto auto;">
    <div class="modal-content" style="height:30rem;margin-top:50px;width:75rem;margin-left:-5rem;">
      <form [formGroup]="bulkHolidayForm">
        <div class="modal-header theme-bg">
          <h4 class="modal-title">Select State</h4>
          <button type="button" class="close" aria-hidden="true" (click)="closeSelectStatePopup()">&times;</button>
        </div>
        <div class="modal-body" style="height:20rem;">

          <ng-container>
            <div class="row">
              <div class="col-md-12">
                <label>State Name / Organization Unit <span class="text-danger">*</span></label>
                <select class="form-control" (change)="changeSelectState($event)">
                  <option value="" [selected]="bulkHolidayForm.value.state_name == ''">--- Select ---</option>
                  <option *ngFor="let smd of state_master_data">
                    {{smd.state}}
                  </option>
                </select>
              </div>

              <div class="col-md-12">
                <label>Remarks</label>
                <textarea formControlName="remark" class="form-control" rows="3" placeholder="Enter Remark...">
                </textarea>
              </div>

              <!-- <div class="col-sm-6">
                <label>Effective Date <span class="text-danger">*</span></label>
                <input type="hidden" id="recdate" (click)="change_effectivedt()">
                <input type="text" formControlName="effective_dt" id="effective_dt" name="effective_dt"
                  autocomplete="off" class="form-control" #ed>
              </div> -->

            </div>


          </ng-container>

        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" (click)="closeSelectStatePopup()" value="Cancel">
          <input type="submit" class="btn btn-success" (click)="map_employee_with_ho_state()" value="Update">
        </div>
      </form>
    </div>
  </div>
</div>
<!-----------Change State Popup-------->
