.employees-details-outer-box .card-header h4 {
    color: #464646;
}

.cu-Salary-outer-box input.form-control {
    margin-bottom: 0;
}
.no-padd {
padding: 0 !important;
}
.Custom-Salary-inn-box input.form-control {
margin-bottom: 0;
height: 35px;
font-size: 12px;
}	 

.Custom-Salary-inn-box .input-group {
margin-bottom: 0;
}
.Custom-Salary-inn-box .table-cbox tr th, .Custom-Salary-inn-box table.table tr td {
padding: 5px 8px;
}

.switch {
position: relative;
display: inline-block;
width: 50px;
height: 24px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 15px;
width: 15px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

a.icnpkr {
border: 1px solid #dde6ef;
padding: 5px 10px;
background: #fbfdff;
font-size: 15px;
cursor: pointer;
}
a.icnpkr:hover {
border: 1px solid #afceed;
background: #d5e9fb;
}
.divi-unit-box {
margin-left: 20px;
}
.Division_Unit-outer-box {
border: 1px dashed #ffc5c5;
float: left;
margin-bottom: 20px;
background: #fbfbfb;
width: 100%;
}
.form-control {  height: 35px!important;}
.employees-details-outer-box label {
font-weight: 400;
color: #000;
}
#outer-Division_Unit-box, #outer-Division_Unit-box, #outer-Designation-Details-box, #Salary-structure-outer-box { display: none; }
#Salary-Details-inn-box{display:none;}

.company-head{
    display:flex;
    justify-content : space-between;
    align-items: center;
}

.update-btn{
    font-size: 11px !important;
    background-color: #a9d4ff !important;
    color: #000;
    font-weight: 500;
    margin-top: 30px
}
.update-btn:hover{
    background-color: #c6e2ff !important;
}

/* .Custom-Salary-inn-box table tr th {
    background: #ceedff00 !important;
} */

.Custom-Salary-inn-box table tr th, .Custom-Salary-inn-box table tr td {
    /* background: #ffffff00 !important; */
    border: 1px solid #c7c7c7 !important;
    color: #000;
    font-size: 12px;
}

.Custom-Salary-inn-box .table-cbox tr th, .Custom-Salary-inn-box table.table tr td {
    padding: 5px 8px;
}

.Custom-Salary-inn-box .input-group {
    margin-bottom: 0;
}

.Custom-Salary-inn-box input.form-control {
    margin-bottom: 0;
    height: 35px;
    font-size: 12px;
}

.checkbox-box input:checked[type="checkbox"] {
    background: #03a9f4;
}

.checkbox-box input[type="checkbox"] {
    position: relative;
    width: 44px;
    height: 17px;
    background: #c6c6c6;
    -webkit-appearance: none;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.2);
    transition: 0.7s;
}

.checkbox-box input:checked[type="checkbox"]:before {
    left: 28px;
}

.checkbox-box input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .5s;
}

.padd-right{
    padding-right: 13px !important;
}

.employees-details-outer-box table tr th {
    font-weight: 600;
    background: #ceedff;
}

.card-header{
    background-color: #a9d4ff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider.round {
    border-radius: 34px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}