<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>


<div id="wrapper" [ngClass]="{'active': showSidebar==false}">
  <div class="fakeLoader"></div>
  <!-- Navigation -->

  <div id="page-wrapper">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">User Management </h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a >Home</a></li>
          <li class="breadcrumb-item active">Users </li>
        </ol>
      </div>
    </div>
    <div class="container-fluid">
      <!-- /row -->
      <div class="row">


      <div class="col-md-12 mrg-top-0 mrg-bot-25">


      <div class="card">


          <div class="card-header" style="display: flex;justify-content: space-between;align-items: center;">
            <h4 class="sub-title-inn-box">Users </h4>

            <div>
              <a class=" btn btn-user btn-round theme-bg" style="color: #ffffff" data-placement="top" (click)="deleteCache()">Clear Cache </a>
              &nbsp;
              <a class=" btn btn-user btn-round btn-success" data-placement="top" (click)="showAddUserModal()">Add User  </a>

            </div>
          </div>

          <div class="card-body padd-bot-10 padd-top-0">

            <div class="row">

            <div class="col-md-12 padd-top-0">


            <div class="bulk-attendance-outer-box Reimbursements-outer-box">

              <table class="table table-responsive" id="otherDeductionTable" style="margin-top: 10px;">
                 <thead>
                  <tr>
                   <th id="ember1089" class="sortable ember-view" style="width: 25%;">
                    User Details
                   </th>
                   <th id="ember1090" class="sortable header-role ember-view">
                    Role
                    <!---->
                   </th>
                   <th id="ember1090" class="sortable header-role ember-view">
                    ORG/OU
                   </th>
                   <th id="ember1090" class="sortable header-role ember-view">
                    Employee Count
                   </th>

                   <th id="ember1091" class="sortable ember-view">
                    Status
                   </th>
                   <th class="header-actions">Action</th>
                  </tr>
                 </thead>
                 <tbody>
                  <tr id="ember1092" class="ember-view" *ngFor="let user of allUsers;let i=index;"
                  [ngStyle]="{'color': user.account_status =='0'? 'red':'','display':token.userid==user.user_email ?'none':''}">
                   <td style="padding-left: 0;">
                    <div class="media">

                       <div class="media-right" style="max-width: max-content;">
                        <div class="media-heading font-sm text-overflow">
                         <span id="ember1093" class="ember-view">{{user.user_fullname.toUpperCase()}}</span>
                        </div>
                        <div class="font-small text-overflow">
                         <b>E:</b> {{user.user_email}}
                         <!-- <img src="assets/img/un-verified-icon.png" *ngIf="user.account_status =='0'"
                         class="img-responsive" alt="Logo"> -->
                        </div>
                        <div class="font-small text-overflow" *ngIf="user.user_mobile!=null">
                         <b>M:</b> {{user.user_mobile}}
                         <!-- <img src="assets/img/un-verified-icon.png" class="img-responsive" alt="Logo"> -->
                        </div>

                       </div>
                    </div>
                   </td>

                   <td>{{user.role_name}}</td>
                   <td ><a [routerLink]="['/business-settings/organization-unit']">{{user.org_unit_name}}</a></td>
                   <td style="text-align: center;"><a (click)="getOuWiseEmp(user)" style="font-weight: 600;cursor: pointer;">{{user.emp_map}}</a></td>
                   <td><span class="text-uppercase font-small "
                    [ngClass]="{'text-active': user.account_status=='1' && user.is_passwordchange=='Y'}"
                    [ngStyle]="{'color':user.is_passwordchange=='N'?'#e1e109;':''}">{{user.is_passwordchange=="Y"?'Verified':'Pending'}}</span></td>
                   <td class="user-item">
                    <div class="job-buttons">
                      <a (click)="editUserModal(user)" data-toggle="modal" class="btn btn-shortlist manage-btn" data-placement="top" title="Edit User"><i class="ti-pencil-alt"></i></a>
                      <a (click)="showAddDashboardSettingModal(user)" data-toggle="modal" class="btn btn-shortlist manage-btn" data-placement="top" title="Dashboard Settings"><i class="fa fa-lg fa-cog"></i></a>
                    </div>
                   </td>
                  </tr>
                  <tr *ngIf="allUsers.length==0">

                    <td colspan="5" style="font-weight: 5f00;text-align: center;"><alert></alert></td>
                  </tr>
                 </tbody>
              </table>

            </div>



            </div>




            </div>
          </div>
        </div>

      </div>


      </div>
      <!-- /row -->
    </div>
  </div>

  <app-footer class="footer"> © 2023 TankhaPay. Akal Information Systems Ltd. All Rights Reserved. </app-footer>
</div>


<div [@grooveState]="isAddUpdateUser || isUpdate?'active':'inactive'" class="modal">
    <div [@dongleState]="isAddUpdateUser || isUpdate?'active':'inactive'"  class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="addUserForm" (ngSubmit)="addUpdateUser()">
          <div class="modal-header theme-bg">
            <h4 class="modal-title">{{headtext}}</h4>
            <button type="button" class="close"
            (click)="closeAddUser()">&times;</button>
          </div>
          <div class="modal-body" style="overflow: auto;
          max-height: 71vh;">
          <div style="position: sticky; top: 10px;" *ngIf="allUsers.length!=0">
            <alert></alert>
          </div>
            <div class="col-md-12 no-padd" style="margin-bottom: 10px;" *ngIf="!isUpdate">
              <input type="text" class="form-control search-bar" placeholder="Search employees"
              (keyup)="getEmployeeList($event.target.value)" (focus)="show_suggestion_list_ca=true"
              (focusout)="onFocusout()" id="searchEmp">
              <div [ngStyle]="{display:show_suggestion_list_ca?'block':'none'}"
                  id="myInputautocomplete-list" class="autocomplete-items">
                  <div *ngFor="let keyword of empList" (click)="patchSearchKeyword(keyword)">
                      <span [innerHTML]="keyword.emp_name1"></span>
                      <!-- <span *ngIf="keyword.emp_name">({{keyword.emp_name}})</span> -->
                      <!-- <span *ngIf="keyword.mobile">({{keyword.mobile}})</span>
                      <span *ngIf="keyword.mobile">{{keyword.state}}</span> -->
                  </div>
              </div>

            </div>
            <div class="form-group">
              <label>Full Name<span class="text-danger">*</span></label>
              <!-- (keyup)="getEmployeeList($event.target.value)" -->
              <input type="text" formControlName="name" class="form-control" placeholder="Enter Full Name"
              [ngClass]="{'is-invalid': isSubmitted && (af.name.errors || (af.name.errors && af.name.errors.pattern))}"
               >
            </div>

            <div class="form-group">
              <label>Mobile Number<span class="text-danger">*</span></label>
              <input type="text" formControlName="mobile"  class="form-control" placeholder="Enter Mobile Number"
              onkeyup="if (/[^0-9.]/g.test(this.value)) this.value = this.value.replace(/[^0-9.]/g, '')" maxlength="10"
              autocomplete="off"
              [ngClass]="{'is-invalid': isSubmitted && (af.mobile.errors || (af.mobile.errors && af.mobile.errors.pattern))}"
              >
            </div>

            <div class="form-group">
              <label>Email Id<span class="text-danger">*</span></label>
              <input type="text" formControlName="email"  class="form-control" placeholder="Enter Email Id"
              [ngClass]="{'is-invalid': isSubmitted && af.email.errors || (af.email.errors && af.email.errors.pattern)}">
            </div>


            <div class="form-group">
              <label>Role<span class="text-danger">*</span></label>

              <select formControlName="role" class="form-control IsBillable_NonBillable"
              [ngClass]="{'is-invalid': isSubmitted && af.role.errors}">
                <option value="">-- Select Role --</option>
                <option value="{{role.role_id}}" *ngFor="let role of allRoles">{{role.role_name}}</option>
              </select>
            </div>
            <div class="form-group userOrgUnit">
              <span style="display: flex;justify-content: space-between;">
                <label>ORG/OU<span class="text-danger">*</span></label>
                <span>
                <a style="margin-right: 15px;cursor: pointer;" (click)="get_geo_fencing_list();"><i class="fa fa-refresh"></i></a>
                 <a class="btn btn-success" style="padding: 4px 9px;" target="_blank"
                 [routerLink]="['/business-settings/organization-unit']">Add OU</a>
                </span>
              </span>
              <ng-multiselect-dropdown
                [placeholder]="'Select users'"
                [settings]="geoDropdownSettings"
                [data]="geo_fencing_list_data"
                formControlName="orgUnit"
                [(ngModel)]="selectedval"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onUnselectAll($event)"
                (onDeSelect)="onItemUnselect($event)">
              </ng-multiselect-dropdown>
            </div>
            <!--  -->
            <div class="form-group" *ngIf="isPassWordChng">
              <label>Status<span class="text-danger">*</span></label>
              <select formControlName="status" class="form-control IsBillable_NonBillable"
              [ngClass]="{'is-invalid': isSubmitted && af.status.errors}">
                <option value="1">Active</option>
                <option value="0">Inactive</option>

              </select>
            </div>



          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-default" data-dismiss="modal" value="Save">

          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal" [@grooveState]="isShowEmp?'active':'inactive'" aria-labelledby="myModalLabel">
    <div [@dongleState]="isShowEmp?'active':'inactive'" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header theme-bg">
            <h4 class="modal-title">Employee List</h4>
            <button type="button" class="close" (click)="isShowEmp=false;OUWiseEmpList=[];pageIndex=1;"
              >&times;</button>
          </div>
          <div class="modal-body" style="max-height: 320px;">
            <div class="table" style="max-height: 237px;
            overflow: auto;
            margin-bottom: 0;">
              <table class="table table-responsive" id="otherDeductionTable">
                <thead style="position:sticky;top:-15px;">
                  <tr>
                   <th id="ember1089" class="sortable ember-view" style="width: 10%;">
                    #
                   </th>
                   <th id="ember1089" class="sortable ember-view">
                    Employee Name
                   </th>
                   <th id="ember1089" class="sortable ember-view">
                    TP Code
                   </th>
                   </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let emp of OUWiseEmpList | paginate: { itemsPerPage: 10, currentPage: pageIndex,totalItems: totalEmp };let i=index;" class="emp-item">
                      <td>{{(pageIndex-1)*10+i+1}}</td>
                      <td>{{emp.emp_name}}</td>
                      <td>{{emp.cjcode}}</td>
                    </tr>
                    <tr *ngIf="OUWiseEmpList.length==0">
                      <td colspan="3" style="text-align: center;">No Data Found</td>
                    </tr>
                  </tbody>
              </table>
            </div>
              <div class="flexbox padd-10" *ngIf="OUWiseEmpList.length > 0">
                <pagination-controls (pageChange)="get_page($event)"
                    style="font-size: 2rem; padding: 6px; font-weight: bold"
                    class="float-right"></pagination-controls>
            </div>
          </div>
      </div>
    </div>
  </div>

<!-- /#wrapper -->

<div [@grooveState]="isAddUpdateDashboardSetting || isUpdateSetting ? 'active':'inactive'" class="modal">
    <div [@dongleState]="isAddUpdateDashboardSetting || isUpdateSetting ? 'active':'inactive'"  class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="addDashboardSettingForm" (ngSubmit)="addUpdateDashboardSetting()">
          <div class="modal-header theme-bg">
            <h4 class="modal-title">{{settingHeadtext}}</h4>
            <button type="button" class="close"
            (click)="closeAddDashboardSettingModal()">&times;</button>
          </div>
          <div class="modal-body" style="overflow: auto;
          max-height: 71vh;">
          <div style="position: sticky; top: 10px;" *ngIf="allUsers.length != 0">
            <alert></alert>
          </div>
      
          <div class="card">

          <div class="col-md-12 check-pad-box">                      
            <div class="col-sm-12">
              <h3 class="clsRESTRICTIONS" style="font-size: 16px;">Customize Dashboard Widgets and Notification Icon </h3>
            </div>
          </div>

          <div class="card-body" style="margin-left: 15px;">
          <div class="col-md-12 m-clear mrg-bot-15 check-pad-box">
            <div class="col-md-8 col-sm-8">
              <input type="checkbox" formControlName="employee_list" name="emp_section" id="emp_section">
              <label for="emp_section"> Show Employee Overview</label>
            </div>
          </div>
          <div class="col-md-12 m-clear mrg-bot-15 check-pad-box">
            <div class="col-md-8 col-sm-8">
              <input type="checkbox" formControlName="attendance" name="att_section" id="att_section">
              <label for="att_section"> Show Attendance Summary</label>
            </div>
          </div>
          <div class="col-md-12 m-clear mrg-bot-15 check-pad-box">
            <div class="col-md-8 col-sm-8">
              <input type="checkbox" formControlName="birthday" name="birthday_section" id="birthday_section">
              <label for="birthday_section">Show Birthdays</label>
            </div>
          </div>
          <div class="col-md-12 m-clear mrg-bot-15 check-pad-box">
            <div class="col-md-8 col-sm-8">
              <input type="checkbox" formControlName="leaves" name="leaves_section" id="leaves_section">
              <label for="leaves_section"> Show Leave Information</label>
            </div>
          </div>
          <div class="col-md-12 m-clear mrg-bot-15 check-pad-box">
            <div class="col-md-8 col-sm-8">
              <input type="checkbox" formControlName="holidays" name="holidays_section" id="holidays_section">
              <label for="holidays_section">Enable Upcoming Holidays Widget</label>
            </div>
          </div>
          <div class="col-md-12 m-clear mrg-bot-15 check-pad-box">
            <div class="col-md-8 col-sm-8">
              <input type="checkbox" formControlName="chart" name="charts_section" id="charts_section">
              <label for="charts_section">Show Employee Distribution Charts</label>
            </div>
          </div>
          <div class="col-md-12 m-clear mrg-bot-15 check-pad-box">
            <div class="col-md-8 col-sm-8">
              <input type="checkbox" formControlName="notifications" name="notify_section" id="notify_section">
              <label for="notify_section">Show Notifications</label>
            </div>
          </div>
          </div>
          </div>

          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-default" data-dismiss="modal" value="Save">

          </div>
        </form>
      </div>
    </div>
  </div>
