
<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<section>
  <div id="wrapper" [ngClass]="{'active': showSidebar==false}">
      <div class="fakeLoader"></div>
      <div id="page-wrapper">
      <div class="row page-titles">
        <div class="col-md-5 general">
            <h3 class="text-themecolor" style="margin-left: 10px;">Break Details</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Break Details</li>
            </ol>
        </div>
    </div>


    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 mrg-top-0 mrg-bot-25">
            <div class="card">
                <div class="card-header"> <h4 class="sub-title-inn-box View-Roles-list-outer-box shiftTitleMain">Break Details
                
                <a href="#SendMessage" data-toggle="modal" data-placement="top" title="Add" class="btn btn-primary" (click)="checkPopupType('addBreak')">Add Break </a>
                
                </h4> </div>	
                <div class="card-body padd-bot-0 padd-top-0">
                    <div class="row">
                    <div class="col-md-12 padd-top-0">
                    <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">
        
                    
                        <table class="table user-list">
                           <thead>
                              <tr>
                                 <th id="ember394" class="sortable header-user-role ember-view">
                                    Name
                                    <!---->
                                 </th>
                                 <th id="ember395" class="sortable header-user-role ember-view">
                                    Allowed Duration
                                    <!---->
                                 </th>
                                 <th id="ember395" class="sortable header-user-role ember-view">
                                    Time Range
                                    <!---->
                                 </th>
                                 
                                 <th id="ember395" class="sortable header-user-role ember-view">
                                    Pay Type	
                                    <!---->
                                 </th>
                                 <th id="ember395" class="sortable header-user-role ember-view">
                                    Mode
                                    <!---->
                                 </th>
                                 
                                 <th id="ember395" class="sortable header-user-role ember-view">
                                    Status	
                                 </th>
                                 
                                 
                                 <th class="header-actions text-center">Action</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let data of breakDetails">
                                 <td class="ZPLRow" style="display: flex;">
                                 <img  [src]="data.icon">
                                 <div class="ZPusrName" style="margin-left: 10px;"><span></span><span>{{data.break_name}}<span></span></span></div>
                                 </td>
                                <td class="CP">{{ calculateBreakTime(data.from_time,data.to_time) }}</td>
                                 
                                <td><div class="alwd_dur"> 
                                 <span class="alwd_tg">{{data.from_time}}   To   {{data.to_time}}</span>
                              </div></td>
                                  <td class="CP">{{data.pay_type}}</td>
                                  <td class="CP">{{data.break_mode}}</td>
                                  
                                  <td class="CP">
                                    <label class="switch">
                                      <input type="checkbox" [checked]="data.status" value="{{data.status}}" (input)="updateStatus($event,data.break_id)">
                                      <span class="slider round"></span>
                                    </label>
                                  </td>
                                 
                                 <td class="roles">
                                    <div id="ember398" class="dropdown float-right ember-view">
                                       <div class="job-buttons action-btn-outer-box">
                                             
                                            <a href="#SendMessage" data-toggle="modal" class="btn btn-shortlist manage-btn" data-placement="top" title="Edit" (click)="patchData(data);checkPopupType('editBreak')"><i class="ti-pencil-alt"></i></a>
                                            
                                            <a  class="btn btn-shortlist manage-btn"  title="delete" data-toggle="modal" data-target="#exampleModalCenter"  (click)="openDeleteModal(data?.break_id)"><i class="fa fa-trash" aria-hidden="true"></i></a>

                                       </div>
                                       
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                    
                    </div>	

                    </div>

                    </div>		
                </div>
            </div>
        
        
            <!-- <div class="col-md-12 col-12 padd-top-15 text-center">
             <a href="https://demo.1akal.in/tpay/tpay_v1/break.html#" class="btn btn-primary">Add Break</a>
             </div> -->
        
        </div>
        
        
        </div>
        <!-- /row -->
    </div>	
    
  </div>
  </div>
</section>
<app-footer></app-footer>


<!-- /////////////////open popup //////////////////////// -->

<div id="SendMessage" class="modal fade add-address-form-box main">
   <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <form [formGroup]="addBreakForm">

               <div class="modal-header theme-bg">						
                   <h4 class="modal-title" *ngIf="popupType=='addBreak'">Add Break</h4>
                   <h4 class="modal-title" *ngIf="popupType=='editBreak'">Edit Break</h4>
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancelForm()">×</button>
               </div>
               <div class="modal-body">

                   <div class="form-group">
                        <label class="control-label col-sm-3">Name</label>
                       <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" maxlength="40">
                                <ng-container *ngIf="addBreakForm.get('name').errors && addBreakForm.get('name').touched" class="text-danger">
                                 <p class="text-danger">Name is required</p>
                               </ng-container>
                         </div>

                   </div>
                   
                   <!-- <div class="form-group">
                        <label class="control-label col-sm-3">Icon</label>
                       <div class="col-sm-6">
                                  <a class="icnpkr dropdown input-group" id="breakImageSelector">
                                  <span data-toggle="dropdown" aria-expanded="true"><i id="selectedImage" class="fa fa-clock-o"></i> Change</span> 
                                  <ul class="ZPCP dropdown-menu" breakimagedropdown="true">
                                     <li id="changeDropDown" >
                                        <div class="icons" ><img src="../../../../assets/img/icon-11.png"></div>
                                        <div class="icons"  ><img src="../../../../assets/img/icon-12.png"></div>
                                        <div class="icons"  ><img src="../../../../assets/img/icon-13.png"></div>
                                         <div class="icons" ><img src="../../../../assets/img/icon-14.png"></div>
                                          <div class="icons"><img src="../../../../assets/img/icon-15.png"></div>
                                          <div class="icons"><img src="../../../../assets/img/icon-16.png"></div>
                                        <div class="icons" ><img src="../../../../assets/img/icon-17.png"></div>
                                        
                                     </li>
                                  </ul>
                               </a>
                         </div>
                   </div> -->
                   <div class="form-group">
                     <label class="control-label col-sm-3">Icon</label>
                     <div class="col-sm-6">
                       <a class="icnpkr dropdown input-group" id="breakImageSelector">
                         <span data-toggle="dropdown" aria-expanded="true"><i id="selectedImage" class="fa fa-clock-o"></i> Change</span> 
                         <ul class="ZPCP dropdown-menu" breakimagedropdown="true">
                           <li id="changeDropDown">
                             <div class="icons" *ngFor="let icon of icons" #iconImages (click)="selectIcon(icon)">
                               <img [src]="icon">
                             </div>
                           </li>
                         </ul>
                       </a>
                     </div>
                   </div>
                   

                   <div class="form-group">
                        <label class="control-label col-sm-3">Pay Type</label>
                       <div class="col-sm-6">
                              <div class="input-group">
                              <div class="Search-By-all-box">
                                 &nbsp;&nbsp;
                                 <input type="radio" id="SearchByAll" name="payType" class="SearchBy" value="Paid" formControlName="payType">
                                 <label for="SearchByAll">Paid</label>&nbsp;&nbsp;
                                 <input type="radio" id="SearchByEmployeeCode" name="payType" class="SearchBy" value="Unpaid" formControlName="payType">
                                 <label for="SearchByEmployeeCode">Unpaid</label>

                              </div>
                           </div>
                           
                           <ng-container *ngIf="addBreakForm.get('payType').errors && addBreakForm.get('payType').touched" class="text-danger">
                              <p class="text-danger">Pay type is required</p>
                            </ng-container>
                         </div>
                         
                   </div>
                   <div class="form-group">
                      <label class="control-label col-sm-3">Mode</label>
                      <div class="col-sm-7">
                         <div class="input-group">
                            <div class="Search-By-all-box">
                               &nbsp;&nbsp;
                               <input type="radio" name="mode" id="FilterByTaxReport"  value="Automatic" formControlName="mode">
                               <label for="FilterByTaxReport">Automatic</label>
                               <input type="radio" name="mode" id="FilterByAll" value="Manual" formControlName="mode">
                               <label for="FilterByAll"> Manual </label>
                            </div>
                         </div>
                         
                         <ng-container *ngIf="addBreakForm.get('mode').errors && addBreakForm.get('mode').touched" class="text-danger">
                           <p class="text-danger">Mode is required</p>
                         </ng-container>
                      </div>
                   </div>


                    
                   <div class="form-group">
                       <label class="control-label col-sm-3"> </label>
                       <div class="col-sm-9">
                           <div class="row Start-Time-end-time-box">
                                
                               <!-- <div class="col-sm-4">
                                <label class="control-label col-sm-12">Start Time</label>
                               <div class="col-sm-12">
                                 <input class="form-control" type="time" id="timePicker" name="timePicker" formControlName="startTime" style="width: 100%;">
                                

                                 <ng-container *ngIf="addBreakForm.get('startTime').errors && addBreakForm.get('startTime').touched" class="text-danger">
                                  <p class="text-danger">Start time is required</p>
                                 </ng-container>
                                 </div>
                                 </div> -->


                               <div class="col-sm-4">
                                 <label class="control-label col-sm-12">Start Time</label>
                                 <div class="PL0 FL MR10">
                                    <div class="input-group bootstrap-timepicker timepicker zp_Cust-timpckr">
                                       <input id="ZPAtt_shiftMarginStarts" type="text" class="form-control"  placeholder="00:00" formControlName="startTime" readonly > 
                                       <span class="input-group-addon" (click)="togglePopover(popoverStartTime);formatTime(startTime,'startTime')" #popoverStartTime="bs-popover" [popover]="popoverContentStartTime" triggers="manual" [outsideClick]="true">
                                        <i class="fa fa-clock-o"></i></span>
                                    </div>
                                 </div>

                                   <ng-container *ngIf="addBreakForm.get('startTime').errors && addBreakForm.get('startTime').touched" class="text-danger">
                                    <p class="text-danger">Start time is required</p>
                                   </ng-container>
                                   <ng-template #popoverContentStartTime>
                                    <timepicker [(ngModel)]="startTime"   (ngModelChange)="formatTime(startTime,'startTime')" [hourFormat]="24" [showMeridian]="false" [ngModelOptions]="{standalone: true}"></timepicker>
                                    </ng-template>
                                 </div>



                                 <div class="col-sm-4">
                                    <label class="control-label col-sm-12">End Time</label>
                                    <div class="PL0 FL MR10">
                                       <div class="input-group bootstrap-timepicker timepicker zp_Cust-timpckr">
                                          <input id="ZPAtt_shiftMarginStarts" type="text" class="form-control"  placeholder="00:00" formControlName="endTime" readonly > 
                                          <span class="input-group-addon" (click)="togglePopover(popoverEndTime);formatTime(endTime,'endTime')" #popoverEndTime="bs-popover" [popover]="popoverContentEndTime" triggers="manual" [outsideClick]="true">
                                           <i class="fa fa-clock-o"></i></span>
                                       </div>
                                    </div>
   
                                      <ng-container *ngIf="addBreakForm.get('endTime').errors && addBreakForm.get('endTime').touched" class="text-danger">
                                       <p class="text-danger">End time is required</p>
                                      </ng-container>
                                      <ng-template #popoverContentEndTime>
                                       <timepicker [(ngModel)]="endTime"  (ngModelChange)="formatTime(endTime,'endTime')" [hourFormat]="24" [showMeridian]="false" [ngModelOptions]="{standalone: true}"></timepicker>
                                      </ng-template>
                                    </div>
   

           
                             
                               
                               <div class="col-sm-4">
                                <label class="control-label col-sm-12"> Total Time</label>
                               <div class="col-sm-12">
                                       <div class="input-group">
                                           <span class="form-control">{{totalTime}}</span>
                                       </div>
                                 </div>
                               </div>

                               <!-- <div class="text-danger">{{checkMsg}}</div> -->
                           
                           </div>
                       </div>
                   </div>
                   
                   
                   <div class="form-group">
                        <label class="control-label col-sm-3">Applicable Shifts</label>
                       <div class="col-sm-6">
                                  <select class=" form-control" formControlName="applicableShift">
                                    <option value="{{item.shift_id}}" *ngFor="let item of shiftDetails">{{item.shift_name}}</option>
                                   </select>

                                   <ng-container *ngIf="addBreakForm.get('applicableShift').errors && addBreakForm.get('applicableShift').touched" class="text-danger">
                                    <p class="text-danger">Applicable shift is required</p>
                                   </ng-container>
                         </div>
                   </div>
               </div>
               <div class="modal-footer">
               <ng-container *ngIf="popupType=='addBreak'">
               <input type="button" class="btn btn-default" [attr.data-dismiss]="(addBreakForm.valid)? 'modal' : 'null'" value="Submit" (click)="submitBreakData()">
              </ng-container>
              <ng-container *ngIf="popupType=='editBreak'">
               <input type="button" class="btn btn-default" [attr.data-dismiss]="(addBreakForm.valid)? 'modal' : 'null'" value="Update" (click)="submitBreakData()">
              </ng-container>
               <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" (click)="cancelForm()">
                   
               </div>
           </form>
       </div>
   </div>
</div>


<!-- //////////////////////////////////////////////////// -->


     <!-- Modal -->
     <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalCenterTitle">Delete Shift Details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteBreak()">Delete</button>
          </div>
        </div>
      </div>
    </div>