<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>
    <div id="wrapper" [ngClass]="{'active': showSidebar==false}">
        <div class="fakeLoader"></div>
        <div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Add Employee</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" title="Home"><a [routerLink]="['/employees']">Employees</a></li>
                        <li class="breadcrumb-item active">Add Employee</li>
                    </ol>
                </div>
            </div>
            <div class="loader-overlay" *ngIf="loader">
                <div class="loader"></div>
            </div>
            <div class="container-fluid">
                <!-- /row -->
                <div class="row">

                    <div class="col-md-8 col-md-offset-2 mrg-top-25 mrg-bot-25">
                        <form [formGroup]="employee_form" autocomplete="off">
                            <div class="card">
                                
                                <div class="card-header">
                                    <h4>Employee Onboarding  </h4>   
                                </div>
                                
                                <div class="card-body">
                                    <div class="row">
                                    
                                        <div class="col-md-12 padd-top-15">
                                        
                                            <div class="col-sm-12 mrg-bot-15">
                                                <label>Onboard employee as an.. <span class="text-danger">*</span></label>
                                                <div class="managed-field">
                                                    
                                                    <select class="form-control" id="selector" formControlName="category_cd"
                                                    [ngClass]="{'is-invalid': submitted && ef['category_cd'].errors}">
                                                        <option value="" >--Select Job Type--</option>
                                                        <option [value]="jobType.jobtypecode" *ngFor="let jobType of masterJobType;"
                                                        >{{jobType.jobtypecode}}</option>
                                                    </select>
                                                                                        
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>		
                                </div>
                            </div>

                            <!-- General Information -->
                            <div class="card">

                                <div class="card-header">
                                    <h4 style="display: inline-block;">Add New Employee</h4>
                                    <!-- <span class="form-check">
                                        <i class="fa fa-lg fa-check-circle-o" aria-hidden="true"></i>
                                    </span> -->
                                </div>

                                <div class="card-body toggle-div" id="personal_info">
                                    <div class="row">

                                        <div class="col-md-12 padd-top-15">
                                            <!-- "form-group" -->
                                            
                                                <div class="col-sm-6 mrg-bot-15" *ngIf="show_product_type_dropdown">
                                                    <label for="employee_type">Product Type <span
                                                            class="text-danger">*</span></label>
                                                    <select class="form-control" formControlName="product_type"
                                                        [ngClass]="{'is-invalid': submitted && ef['product_type'].errors}">
                                                        <option *ngFor="let ya of product_type_array"
                                                            [selected]="product_type==ya.product_type_id"
                                                            [value]="ya.product_type_id">{{ya.product_type}}</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-6 mrg-bot-15">
                                                    <label for="fullname">Employee Full Name <span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" placeholder="Enter Full Name"
                                                        formControlName="employee_name" autocomplete="chrome-off"
                                                        maxlength="40" class="form-control"
                                                        [ngClass]="{'is-invalid': submitted && ef['employee_name'].errors}">
                                                </div>

                                                <div class="col-sm-6 mrg-bot-15">
                                                    <label for="mobile">Employee Mobile Number <span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" formControlName="employee_mobile"
                                                        class="form-control" maxlength="10"
                                                        [ngClass]="{'is-invalid': submitted && ef['employee_mobile'].errors}"
                                                        placeholder="Enter Mobile Number (10 digit)"
                                                        pattern="^[6-9]{1}[0-9]{9}$">
                                                </div>

                                                <div class="col-sm-12 m-clear mrg-bot-15">
                                                    <label for="email">Email (Optional)</label>
                                                    <input type="email" id="email" formControlName="employee_email"
                                                        class="form-control" maxlength="40"
                                                        [ngClass]="{'is-invalid': submitted && ef['employee_email'].errors && ef['employee_email'].errors['pattern']}"
                                                        placeholder="Enter Employee Email Id">

                                                </div>
                                                <div class="col-sm-12 m-clear mrg-bot-15">
                                                    <label>  Is it required to send a notification to this employee ?
                                                    </label>
                                                    <select formControlName="is_associate_notify_req"
                                                        class="wide form-control">
                                                        <option value="Y">Yes</option>
                                                        <option value="N">No</option>
                                                    </select>

                                                </div>
                                                <!-- <div class="col-md-12"><button class="btn btn-primary"
                                                        (click)="save_emp()">Add Employee</button></div> -->

                                            

                                        </div>




                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">

                            <div class="col-md-12 padd-bot-15 padd-top-15">



                                <div class="col-md-12 col-12 padd-top-15 text-center">
                                    <button class="btn btn-primary" (click)="save_emp()" class="btn btn-primary">Add
                                        Employee</button>
                                </div>

                            </div>




                        </div>
                        <!-- Basic Details  -->
                        <!-- <div class="card">

                            <div class="card-header form-head">
                                <h4 style="display: inline-block;">Basic Details</h4>
                                <span class="form-check" *ngIf="savedForms[1]">
                                    <i class="fa fa-lg fa-check-circle-o" aria-hidden="true"></i>
                                </span>
                            </div>

                            <div class="card-body toggle-div" id="basic_details" >
                                <div class="row">
                                    <div class="col-md-12 padd-top-15">
                                        <form [formGroup]="basic_detail_form" autocomplete="off">
                                            <div class="col-sm-6 mrg-bot-15">
                                                <label for="employee_type">Name <span
                                                        class="text-danger">*</span></label>
                                                <div class="col-md-12 no-padd">
                                                    <div class="col-md-3 no-padd">
                                                        <select class="form-control" formControlName="name_title"
                                                            [ngClass]="{'is-invalid': submitted && bdf['name_title'].errors}">
                                                            <option value="Mr">Mr</option>
                                                            <option value="Miss.">Mrs</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-9" style="padding: 0 0 0 4px;">
                                                        <input type="text" placeholder="Enter Full Name"
                                                            class="form-control" formControlName="name"
                                                            [ngClass]="{'is-invalid': submitted && bdf['name'].errors}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 mrg-bot-15">
                                                <label for="dob">Date Of Birth <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" id="dob" placeholder="dd-mm-yy" formControlName="dob"
                                                    autocomplete="chrome-off" maxlength="10" class="form-control"
                                                    [ngClass]="{'is-invalid': submitted && bdf['dob'].errors}" readonly>
                                            </div>

                                            <div class="col-sm-6 mrg-bot-15">
                                                <label for="gender">Gender </label>
                                                <select formControlName="gender" class="form-control">
                                                    <option value="">----Select Gender----</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-6 m-clear mrg-bot-15">
                                                <label for="email">Email (Optional)</label>
                                                <input type="email" id="email" formControlName="employee_email"
                                                    class="form-control"
                                                    [ngClass]="{'is-invalid': submitted && bdf['employee_email'].errors && bdf['employee_email'].errors['pattern']}"
                                                    placeholder="Enter your registered email address">

                                            </div>

                                            <div class="col-sm-6 mrg-bot-15">
                                                <label for="mobile">Mobile <span class="text-danger">*</span></label>
                                                <input type="text" formControlName="employee_mobile"
                                                    class="form-control" maxlength="10"
                                                    [ngClass]="{'is-invalid': submitted && bdf['employee_mobile'].errors}"
                                                    placeholder="Enter your registered Mobile number (10 digit)"
                                                    pattern="^[6-9]{1}[0-9]{9}$">
                                            </div>
                                            <div class="col-sm-6 mrg-bot-15">
                                                <label for="mobile">Emergency Contact (with blood relation)</label>
                                                <input type="text" formControlName="emergency_mobile"
                                                    class="form-control" maxlength="10"
                                                    [ngClass]="{'is-invalid': submitted && bdf['employee_mobile'].errors && bdf['employee_mobile'].errors['pattern']}"
                                                    placeholder="Emergency Contact" pattern="^[6-9]{1}[0-9]{9}$">
                                            </div>

                                            <div class="col-sm-6 mrg-bot-15">
                                                <label for="mobile">Blood Relation Name </label>
                                                <input type="text" formControlName="blood_relation" class="form-control"
                                                    placeholder="Blood Relation Name">
                                            </div>
                                            <div class="col-sm-6 mrg-bot-15">
                                                <label for="perm_add">Permanent Address <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" formControlName="perm_add" class="form-control"
                                                    [ngClass]="{'is-invalid': submitted && bdf['perm_add'].errors}"
                                                    placeholder="Permanent Address">
                                            </div>
                                            <div class="col-sm-6 mrg-bot-15">
                                                <label for="res_add">Residential Address </label>
                                                <input type="text" formControlName="res_add" class="form-control"
                                                    placeholder="Residential Address">
                                            </div>
                                            <div class="col-sm-6 mrg-bot-15">
                                                <label for="relation_name">Father / Husband Name <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" formControlName="relation_name" class="form-control"
                                                    [ngClass]="{'is-invalid': submitted && bdf['relation_name'].errors}"
                                                    placeholder="Father / Husband Name">
                                            </div>
                                            <div class="col-sm-6 mrg-bot-15">
                                                <label for="post_offered">Post Offered </label>
                                                <input type="text" formControlName="post_offered" class="form-control"
                                                    placeholder="Post Offered">
                                            </div>
                                            <div class="col-sm-6 mrg-bot-15">
                                                <label for="doj">Date of Joining <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" id="doj" formControlName="doj" class="form-control"
                                                    maxlength="10"
                                                    [ngClass]="{'is-invalid': submitted && bdf['doj'].errors}" readonly
                                                    placeholder="dd-mm-yy">
                                            </div>

                                            <div class="col-md-2"><button class="btn btn-success"
                                                    (click)="update_basic_details()">Update</button></div>

                                        </form>

                                    </div>




                                </div>
                            </div>
                        </div> -->

                        <!-- KYC Details  -->
                        <!-- <div class="card">

                            <div class="card-header form-head">
                                <h4>KYC Details </h4>
                                <span class="form-check" *ngIf="savedForms[2]">
                                    <i class="fa fa-lg fa-check-circle-o" aria-hidden="true"></i>
                                </span>
                            </div>

                            <div class="card-body" id="kyc_details" *ngIf="activeForms[2]">
                                <div class="row">

                                    <div class="col-md-12 padd-bot-15 padd-top-15">

                                        <form [formGroup]="kycForm">
                                            <div class="col-sm-6">
                                                <label>Aadhar Card <span class="text-danger">*</span></label>
                                                <input type="email" class="form-control">
                                            </div>

                                            <div class="col-sm-6 m-clear">
                                                <label>&nbsp;</label>
                                                <input type="file" accept="application/pdf, image/*"
                                                    name="aadharcard_doc" class="allowed_jpg_jpeg_pdf form-control"
                                                    id="aadharcard_doc" style="">

                                            </div>

                                            <div class="col-sm-6 m-clear">
                                                <label>Pancard</label>
                                                <input type="text" class="form-control">
                                            </div>

                                            <div class="col-sm-6 m-clear">
                                                <label>&nbsp;</label>
                                                <input type="file" accept="application/pdf, image/*"
                                                    name="aadharcard_doc" class="allowed_jpg_jpeg_pdf form-control"
                                                    id="aadharcard_doc" style="">
                                            </div>
                                        </form>
                                    </div>


                                </div>
                            </div>
                        </div> -->

                        <!-- Bank Details  -->
                        <!-- <div class="card">

                            <div class="card-header form-head">
                                <h4>Bank Details </h4>
                                <span class="form-check" *ngIf="savedForms[3]">
                                    <i class="fa fa-lg fa-check-circle-o" aria-hidden="true"></i>
                                </span>
                            </div>

                            <div class="card-body" id="bank_details" *ngIf="activeForms[3]">
                                <div class="row">

                                    <div class="col-md-12 padd-bot-15 padd-top-15">


                                        <div class="col-sm-6">
                                            <label>Bank Account Number <span class="text-danger">*</span></label>
                                            <input autocomplete="off" type="password" maxlength="17"
                                                id="e_bankaccountno" name="bankaccountno"
                                                placeholder="Bank Account Number" class="form-control acceptOnlyNumber">
                                        </div>
                                        <div class="col-sm-6 m-clear">
                                            <label>Gender</label>
                                            <select class="form-control customVal" name="gender" id="gender">
                                                <option value="">-Select Gender-</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 m-clear">
                                            <label>Confirm Bank Account Number</label>
                                            <input autocomplete="off" type="text" maxlength="17"
                                                id="e_confirmbankaccountno" placeholder="Confirm Bank Account Number"
                                                class="form-control acceptOnlyNumber">
                                        </div>
                                        <div class="col-sm-6 m-clear">
                                            <label>Bank Name <span class="text-danger">*</span></label>
                                            <input autocomplete="off" type="text" id="e_bankname" name="bankname"
                                                placeholder="Bank Name" class="form-control">
                                        </div>
                                        <div class="col-sm-6 m-clear">
                                            <label>Bank Branch<span style="font-size: 10px; color: red;"> (Max 100
                                                    characters allowed)</span></label>
                                            <input autocomplete="off" type="text" id="e_bankbranch" name="bankbranch"
                                                placeholder="Bank Branch" class="form-control">
                                        </div>
                                        <div class="col-sm-6 m-clear">
                                            <label>IFSC Code <span class="text-danger">*</span></label>
                                            <input autocomplete="off" type="text" id="e_ifsccode"
                                                placeholder="IFSC Code" name="ifsccode" class="form-control">
                                        </div>
                                        <div class="col-sm-6 m-clear">
                                            <label>Attach Document <span class="text-danger">*</span></label>
                                            <input type="file" id="e_bankdoc" name="bankdoc" class="form-control"
                                                style="display: unset;">
                                        </div>



                                        <div class="col-md-12 col-12 padd-top-15 text-center">
                                            <a [routerLink]="['/business-settings/setup-salary-ss']"
                                                class="btn btn-primary">Add Employee and Setup Salary</a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div> -->

                    </div>

                </div>
                <!-- /row -->
            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>