<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<section>

    <div id="wrapper" [ngClass]="{'active': showSidebar == false}">
        <div class="fakeLoader"></div>

        <div id="page-wrapper" style="min-height: 259px;">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Budget Allocation</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Budget Allocation </li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                <!-- /row -->
                <div class="row">

                    <div class="col-md-12 mrg-top-0 mrg-bot-25 AddBudgetMinBox">


                        <div class="card">

                            <div class="card-header">

                                <div class="row filter-outer-main-box">


                                    <div class="col-md-3 col-sm-3">
                                        <input type="text" value="" placeholder="Search..."
                                            class="form-control wide-width" style="width: 100%;"
                                            (keyup)="getbudgetList($event.target.value)">
                                    </div>

                                    <div class="col-md-1  ">

                                        <!-- <span style="font-weight: bold;padding: 11px 0 !important;display: inline-block;">Filter</span> -->
                                    </div>

                                    <div class="col-md-3">

                                        <!-- <select class="form-control" name="financialyear" placeholder="Enter Financial Year"
                                        (change)="filterDataOnFinYear($event.target.value)">
                                        <option value=""> Select Financial Year</option>
                                        <ng-container *ngFor="let year of fiscalYears">
                                        <option [value]="year">{{ year }}</option>
                                        </ng-container>
                                    </select> -->
                                    </div>

                                    <div class="col-md-2 padd-0">
                                        <a [routerLink]="['../budget/dashboard']">Budget Dashboard</a>
                                        <!-- <select class=" form-control" (change)="filterDataOnProject($event.target.value)">
                                        <option value="">Select Project</option>
                                        <option [value]="project.id" *ngFor="let project of project_master_list_data;">{{project.project_name}}</option>                     
                                    </select> -->
                                    </div>

                                    <div class="col-md-3 col-sm-3">
                                        <div class="top-right-outer-box">
                                            <a class="btn btn-round btn-success excel-btn-box" style="padding-top: 9px;"
                                                (click)="exportExcelData()">&nbsp;<i aria-hidden="true"
                                                    class="fa fa-file-excel-o"></i></a>

                                            <a class="btn btn-user1 btn-round btn-primary Add_Budgetinnerbox"
                                                title="Add Budget" style=" margin-left: 10px;"
                                                (click)="addEditBudget()">Add Budget </a>

                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="card-body padd-bot-0 padd-top-0">

                                <div class="row">

                                    <div class="col-md-12 padd-top-0">

                                        <div
                                            class="table-responsive challan-table-outer-box Documents-listing-table-box">
                                            <table class="table table-lg table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Sno</th>
                                                        <th>Financial Year </th>
                                                        <th>Project</th>
                                                        <th>Budget Amount</th>

                                                        <th>Action</th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <ng-container *ngFor="let project of projectList;let i =index;">
                                                        <tr>
                                                            <td> {{i+1}} </td>
                                                            <td><a (click)="toggleSubTable(i)">{{project.fin_year}}</a>
                                                            </td>
                                                            <td><a
                                                                    (click)="toggleSubTable(i)">{{project.project_name}}</a>
                                                            </td>
                                                            <td><a
                                                                    (click)="toggleSubTable(i)">{{project.budget_amount}}</a>
                                                            </td>

                                                            <td>
                                                                <a (click)="addEditBudget(project)"><i
                                                                        class="ti-pencil-alt"
                                                                        style="font-size:20px; margin: 0 5px 0 0;"></i></a>
                                                                <a (click)="toggleSubTable(i)"><i
                                                                        class="fa fa-plus-circle" aria-hidden="true"
                                                                        style="font-size:20px; margin: 0 5px 0 0;"></i></a>
                                                            </td>

                                                        </tr>
                                                        <tr [ngStyle]="{'display':activeProject === i ? 'table-row':'none'}"
                                                            class="panel-collapse collapse" aria-labelledby="designing">
                                                            <td colspan="6">
                                                                <div class="col-md-12 mrg-top-0 mrg-bot-25 AddMoreBudgetMinBox"
                                                                    *ngIf="budgetArr.length>0">


                                                                    <div class="card" [formGroup]="budgetDetailForm">

                                                                        <div class="card-body padd-bot-0 padd-top-0">

                                                                            <div class="row filter-outer-main-box">

                                                                                <div class="col-md-12 padd-top-0">

                                                                                    <div class="form-group budgetBox"
                                                                                        formArrayName="budgetDetails">
                                                                                        <div class="col-sm-12"
                                                                                            *ngFor="let formArr of budgetArr.controls;let i=index"
                                                                                            [formGroupName]="i">
                                                                                            <div class="row"
                                                                                                style="height: 92px;">

                                                                                                <div class="col-sm-4">
                                                                                                    <label
                                                                                                        class="control-label"
                                                                                                        style=" line-height: 36px;">Subledger
                                                                                                    </label>

                                                                                                    <select
                                                                                                        class="form-control"
                                                                                                        formControlName="ledger_head_id">
                                                                                                        <option
                                                                                                            value="">
                                                                                                            Select
                                                                                                        </option>
                                                                                                        <option
                                                                                                            [value]="ledger.ledger_head_id"
                                                                                                            *ngFor="let ledger of ledgHeadList">
                                                                                                            {{ledger.ledger_head_name}}
                                                                                                        </option>

                                                                                                    </select>

                                                                                                </div>
                                                                                                <!-- <div class="col-md-4">
                                                                                                    <label class="control-label" style=" line-height: 36px;">Budget Type</label>
                                                                                                    <select name="" id="" class="form-control">
                                                                                                        <option value="">-- Select Budget Type --</option>
                                                                                                        <option value="Monthly">Monthly</option>
                                                                                                        <option value="Quaterly">Quaterly</option>
                                                                                                        <option value="Half Yearly">Half Yearly</option>
                                                                                                        <option value="Annually">Annually</option>
                                                                                                    </select>
                                                                                                </div> -->
                                                                                                <div class="col-sm-3">
                                                                                                    <label
                                                                                                        class="control-label "
                                                                                                        style=" line-height: 36px;">&nbsp;
                                                                                                    </label>
                                                                                                    <input type="text"
                                                                                                        class="form-control"
                                                                                                        placeholder="Enter Amount"
                                                                                                        formControlName="budget_led_head_amount"
                                                                                                        (blur)="getTotalAmount(i)"
                                                                                                        appNumberonly>

                                                                                                </div>

                                                                                                <div class="col-md-1">
                                                                                                    <label
                                                                                                        class="control-label col-md-12 padd-0"
                                                                                                        style=" line-height: 36px;">&nbsp;
                                                                                                    </label>
                                                                                                    <a class="btn  manage-btn-workflow"
                                                                                                        title="delete"
                                                                                                        (click)="removeBudget(i)">
                                                                                                        <i class="fa fa-trash"
                                                                                                            aria-hidden="true"></i>
                                                                                                    </a>
                                                                                                </div>


                                                                                            </div>
                                                                                        </div>
                                                                                    </div>


                                                                                    <div class="form-group"
                                                                                        style="margin-top: 10px;">

                                                                                        <div class="col-sm-12">

                                                                                            <button type="button"
                                                                                                class="btn btn-user1 btn-round btn-primary"
                                                                                                id="AddMoreBtn"
                                                                                                (click)="addBudget()">
                                                                                                &nbsp;Add More</button>

                                                                                        </div>
                                                                                    </div>





                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div
                                                                        class="col-md-12 col-12 padd-top-15 text-center">
                                                                        <a (click)="saveBudgetDetails()"
                                                                            class="btn btn-primary budgetSaveBtn">Save</a>
                                                                    </div>

                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>


                </div>
                <!-- /row -->
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

<!---------------Edit Budget Detail Modal-------------------->
<div id="SendMessage04" class="modal fade add-address-form-box Component-outer-box in">

    <div class="modal-dialog ">
        <div class="modal-content ">
            <form [formGroup]="budgetDetailForm">
                <div class="modal-header theme-bg">
                    <h4 class="modal-title">Edit Budget</h4>
                    <button type="button" class="close" (click)="hideEditBudget()">×</button>
                </div>
                <div class="modal-body card-body">

                    <div class="form-group">
                        <label class="control-label col-sm-4">Financial Year: <span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                            <select class=" form-control" formControlName="fin_year">
                                <option value="" checked="">-- Select Financial Year --</option>
                                <option [value]="year" *ngFor="let year of fiscalYears">{{ year }}</option>

                            </select>
                        </div>

                    </div>



                    <div class="form-group">
                        <label class="control-label col-sm-4">Project: <span class="text-danger">*</span></label>
                        <div class="col-sm-7">
                            <select class=" form-control" formControlName="projectid">
                                <option value="">-- Select Project --</option>
                                <option [value]="project.id" *ngFor="let project of project_master_list_data">
                                    {{project.project_name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <a (click)="showProjectModal()" style="position:relative;
                                top:5px;font-size:15px;cursor: pointer;"><i class="fa fa-plus-circle fa-lg"
                                    aria-hidden="true"></i></a>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4">Budget Amount: <span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder=" Enter Budget Amount "
                                formControlName="budgetAmount" appNumberonly>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Budget Type: <span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                            <select class="form-control" formControlName="budgetType">
                                <option value="">-- Select Budget Type --</option>
                                <option value="Monthly">Monthly</option>
                                <option value="Quaterly">Quaterly</option>
                                <option value="Half Yearly">Half Yearly</option>
                                <option value="Annually">Annually</option>
                            </select>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" value="Save" (click)="updateBudget()">
                        <input type="button" class="btn btn-default" (click)="hideEditBudget()" value="Cancel">

                    </div>

                </div>
            </form>
        </div>

    </div>

</div>
<!---------------Edit Budget Detail Modal-------------------->

<!-----------Add Edit project starts---------------->
<div class="modal" [@grooveState]="isAddEditProject?'active':'inactive'" aria-labelledby="myModalLabel">
    <div [@dongleState]="isAddEditProject?'active':'inactive'" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header theme-bg">
                <h4 class="modal-title">Employee Project</h4>
                <button type="button" class="close" (click)="hideProjectModal()">&times;</button>
            </div>
            <form [formGroup]="projectForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="project_name">Project Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="projectName"
                            placeholder="Enter Project Name">
                        <small class="text-danger" *ngIf="isFieldInvalid('projectName')">Project Name is
                            required</small>
                    </div>
                    <div class="form-group">
                        <label for="start_date">Start Date <span class="text-danger">*</span></label>
                        <input type="date" class="form-control" formControlName="startDate"
                            placeholder="Enter Start Date">
                        <small class="text-danger" *ngIf="isFieldInvalid('startDate')">Start Date is required</small>
                    </div>
                    <div class="form-group">
                        <label for="end_date">End Date <span class="text-danger">*</span></label>
                        <input type="date" class="form-control" formControlName="endDate" placeholder="Enter End Date">
                        <small class="text-danger" *ngIf="isFieldInvalid('endDate')">End Date is required</small>
                    </div>
                    <div class="form-group">
                        <label for="end_date">Project Amount</label>
                        <input type="text" class="form-control" formControlName="projectAmount"
                            placeholder="Enter project amount">
                    </div>
                    <div class="form-group">
                        <label for="end_date">Project Location</label>
                        <input type="text" class="form-control" formControlName="projectLocation"
                            placeholder="Enter project location">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" (click)="hideProjectModal()">Close</button>
                    <button class="btn btn-default btn-success" (click)="manageProject()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-----------Add Edit project end---------------->