.bck-btn {
  float: right;
  margin-right: 3rem;
  border: 0.1px black solid;
}


/*leave-settings Page*/
table.table-style-fullWidth {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: #242b4d;
}

table.table-style-fullWidth td:first-child, table.table-style-fullWidth th:first-child {
  border-left: 0 solid #c7c9d3;
}
table.table-style-fullWidth th:first-child {
  padding-left: 12.5px;
}

table.table-style-fullWidth  th {

  background: #8eccf5!important;
  text-align: center;
  font-weight: 600;

}
table.table-style-fullWidth input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

table.table-style-fullWidth td,  table.table-style-fullWidth th {
  border-right: 0 solid #c7c9d3;
  box-shadow: inset 0 0 0 #fff;
  padding: 5px 6px;
background: #d1ebfc;
font-size: 12px;
}

table.Types-of-Leaves-box input[type="number"] {
  width: 100%;
}
table.Organization-Holidays-box tr td {
  text-align: center;
}
table.Custom-Holidays-box input {
  width: 100%;
}




.rounded-circle {
  border-radius: 50%!important;
border: 1px solid #ededed;
}
.media {
  display: flex;
  align-items: flex-start;
}
.media .pr-4 {
  padding-right: 10px!important;
vertical-align: middle!important;
}
.user-item svg.icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
.text-Active, .text-active {
  color: #3eb839;
font-size: 13px!important;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px!important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text-overflow a {
  cursor: pointer;
  color: #2b76d2;
  text-transform: uppercase;
}
.font-small.text-overflow b {
  font-weight: 500;
  color: #3bacf2;
font-size: 14px;
margin-right: 5px;
}
.text-overflow img.img-responsive {
  margin-left: 10px;
}
.form-group.add-og-btn-box a {
  padding: 2px 10px;
  float: right;
}
.sub-title-inn-box.View-Roles-outer-box {
  color: #1a6bb7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-title-inn-box.View-Roles-outer-box a {
  font-size: 25px;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 38px;
  border-radius: 50%;
}
.Appointment-outer-box.Salary-Details-outer-box .role-table td.permission {
  min-width: 70px;
  text-align: center;
}
.Appointment-outer-box.Salary-Details-outer-box .role-table td.permission input {
  width: 20px;
  height: 20px;
}
.Appointment-outer-box.Salary-Details-outer-box thead tr th {
  background: #b7dee8!important;
  font-size: 14px;
text-align:center;
}
.Appointment-outer-box.Salary-Details-outer-box tr:nth-of-type(even) {
  background-color: #ffffff!important;
}
.Appointment-outer-box.Salary-Details-outer-box tr:nth-of-type(odd) {
  background-color: #ffffff!important;
}

.Appointment-outer-box.Salary-Details-outer-box table tr th, .Appointment-outer-box.Salary-Details-outer-box table tr td {
  border-bottom: 1px solid #f1f1f1!important;

}
label.form-check-label input.ember-view.form-check-input {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-right: 6px;
}

.table-responsive.bulk-attendance-outer-box.Reimbursements-outer-box a.btn.btn-shortlist.manage-btn {
  background: #ffffff;
  color: #545454;
}
.table-responsive.bulk-attendance-outer-box.Reimbursements-outer-box .job-buttons.action-btn-outer-box .btn.manage-btn {
  padding: 0px 4px 0px 6px;
}
.table-responsive.bulk-attendance-outer-box.Reimbursements-outer-box table.table tr td, .table-responsive.bulk-attendance-outer-box.Reimbursements-outer-box table.table tr th {
  padding: 0.8rem 1rem;
}
h4.sub-title-inn-box.View-Roles-list-outer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.sidebar-nav.navbar-collapse:hover {
  width: 100%;
height: 100vh;
}
.sidebar-nav.navbar-collapse::-webkit-scrollbar {
width: 8px;
}


.sidebar-nav.navbar-collapse::-webkit-scrollbar-track {
background: #f1f1f1;
}


.sidebar-nav.navbar-collapse::-webkit-scrollbar-thumb {
background: #888;
}

.sidebar-nav.navbar-collapse::-webkit-scrollbar-thumb:hover {
background: #555;
}

/*End leave-settings Page*/


.add-leave-head {
  display: flex;
  justify-content: space-between;
}

.add-leave-head > span {
  color:blue;
  cursor: pointer;
}

.my-trash {
  text-align:center;
  color:red;
  cursor: pointer;
}

.inline-pos1 {
  position: absolute !important;
  bottom: 0rem !important;
}
.read-only {
  pointer-events: none;
  background: #e5e5e5 !important;
}
.no-click {
  pointer-events: none;
}

.leave-edit-btn {
  background: blue !important;
  color: #ffffff !important;
  font-weight: 600 !important;
}
.template-btn .btn.btn-user {
  background: #ff9800;
}

.template-btn {
  display: flex;
}
.no-click-me{
  pointer-events: none;
  /* background-color: #dfdddd !important; */
  background-color: #f7f5f559 !important;
}

.form-control .no-click {
  all:unset;
}
label {
  font-weight: 600 !important;
  color: #000;
}
.custom-radio.Include-checkbox-btn .form-control {
  border-radius: 0;
  box-shadow: none;
  background: #fbfdff;
  height: 40px;
}
table.table-style-fullWidth td , table.table-style-fullWidth  th  {

  background: #eef8ff;
}

table.table-style-fullWidth  th  {
  background: #c4e7ff !important;

}

table.table-style-fullWidth .form-control{border-radius: 0;}

.custom-radio.Include-checkbox-btn label {
  font-weight: 500 !important;
}
.form-control{border-radius: 0;}

h3.clsentitlement, h3.clsapplicable, h3.clsRESTRICTIONS {
  border-bottom: 1px solid #F6F7F8;
  padding-bottom: 4px;
  margin: 15px 0px 20px 0;
  font-size: 18px;
  color: #000;
  font-weight: 600;
  background: #f9f8f8;
  padding: 8px 10px;
  line-height: 22px;
}

.check-pad-box input[type=checkbox] {
  margin: 0px 5px 0 0px;
  height: 18px;
  width: 18px;
  vertical-align: middle;
}

.check-pad-box .col-md-2.col-sm-2 label {
  font-weight: 400 !important;
}
.check-pad-box .inn-label-weight label {
  font-weight: 400 !important;
}

input[type=checkbox] {
  margin: 2px;
}

.card-body table.table-style-fullWidth th.tbl-th-encashment {
  background: #b1dfff !important;
  border: 1px solid #d1ecff;
}
.Types-of-Leaves-box .form-control {

  height: 28px;
  padding: 6px 6px;
  font-size: 12px;

}

ng-multiselect-dropdown {
  min-width: 200px !important;
}


/* New table style  */
.leave-policy-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  table-layout: auto;
}

.leave-policy-table th {
  background-color: #cce8ff; /* Light blue header */
  padding: 10px;
  text-align: left;
  font-weight: 600;
  white-space: nowrap;
}

.leave-policy-table td {
  padding: 8px 10px;
  background-color: #eaf6ff; /* Lighter blue for row background */
  white-space: nowrap;
}

.leave-policy-table tbody tr:nth-child(even) td {
  background-color: #f5fbff; /* Even lighter blue for alternating rows */
}

.leave-policy-table input,
.leave-policy-table select {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.ng-multiselect-disabled {
  pointer-events: none;
  opacity: 0.6;
}


