<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<div id="wrapper"  [ngClass]="{'active': showSidebar==false}">
  <div class="fakeLoader"></div>
  <!-- Navigation -->

  <!-- Sidebar Navigation -->

  <div id="page-wrapper">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Billing Address</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
          <li class="breadcrumb-item active">Billing Address</li>
        </ol>
      </div>
    </div>
    <div class="container-fluid">
      <!-- /row -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1 mrg-top-10 mrg-bot-10">

        <div class="card">
          <div class="card-header">
              <h4>Billing Address </h4>
            </div>
          <div class="card-body">
          <ul class="list Billing-Details-outer-box">
                <li class="manage-list-row clearfix">
                  <div class="job-info">
                    <div class="job-details">
                      <h3 class="job-name"><a class="job_name_tag" href="#">Dummy Name one</a></h3>

                      <p><b>Address:</b> 13, Community Centre, Yusuf Sarai, New Delhi, Delhi 110049</p>
                      <p><b>Phone:</b> 011 4650 3500</p>
                      <p><b>E-mail Id:</b> info@glovia.com</p>

                      <div class=" padd-top-5 text-left billing-address-footer-btn">
                        <a href="#" class="btn btn-outline-primary first-btn"><b>Edit</b></a>
                        <a href="#" class="btn btn-outline-primary"><b>Remove</b></a>
                      </div>


                    </div>
                  </div>



                </li>

                <li class="manage-list-row clearfix">
                  <div class="job-info">

                    <div class="job-details">
                      <h3 class="job-name"><a class="job_name_tag" href="#">Dummy Name Two</a></h3>

                      <p><b>Address:</b> 13, Community Centre, Yusuf Sarai, New Delhi, Delhi 110049</p>
                      <p><b>Phone:</b> 011 4650 3500</p>
                      <p><b>E-mail Id:</b> info@glovia.com</p>

                      <div class=" padd-top-5 text-left billing-address-footer-btn">
                        <a href="#" class="btn btn-outline-primary first-btn"><b>Edit</b></a>
                        <a href="#" class="btn btn-outline-primary"><b>Remove</b></a>
                      </div>


                    </div>
                  </div>
                </li>
              </ul>
            <div class="col-md-12 col-12 padd-top-15 text-center">
                  <a href="#SendMessage" data-toggle="modal" data-placement="top" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add New Address</a>
                </div>
          </div>
        </div>
      </div>
      </div>
      <!-- /row -->
    </div>
  </div>
  <!-- /#page-wrapper -->
  <footer class="footer"> © 2023 TankhaPay. Akal Information Systems Ltd. All Rights Reserved. </footer>
</div>
<!-- Send Message -->
  <div id="SendMessage" class="modal fade add-address-form-box">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header theme-bg">
            <h4 class="modal-title">Your Address</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Full Name</label>
              <input type="text"   class="form-control">
            </div>
            <div class="form-group">
              <label>Mobile Number</label>
              <input type="text"   class="form-control">
            </div>
            <div class="form-group">
              <label>Flat, House No, Building, Company, Apartment</label>
              <input type="text"   class="form-control">
            </div>
            <div class="form-group">
              <label>Area, Street, Sector, Village</label>
              <input type="text"   class="form-control">
            </div>

            <div class="form-group">
              <label>Landmark</label>
              <input type="text"   class="form-control">
            </div>
            <div class="form-group">
              <label>Pincode</label>
              <input type="text"   class="form-control">
            </div>
            <div class="form-group">
              <label>Town/City</label>
              <input type="text"   class="form-control">
            </div>
            <div class="form-group">
              <label>State</label>
              <select class="form-control" id="inputState">
                    <option value="SelectState">Select State</option>
                    <option value="Andra Pradesh">Andra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madya Pradesh">Madya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Orissa">Orissa</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttaranchal">Uttaranchal</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="West Bengal">West Bengal</option>
                    <option disabled="" style="background-color:#aaa; color:#fff">UNION Territories</option>
                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Lakshadeep">Lakshadeep</option>
                    <option value="Pondicherry">Pondicherry</option>
                  </select>
            </div>
          </div>
          <div class="modal-footer">
           <input type="button" class="btn btn-default" data-dismiss="modal" value="Add Address">
          </div>
        </form>
      </div>
    </div>
  </div>
<!-- /#wrapper -->

