
.logo-panel-heading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo-panel-heading-box img.img-responsive {
  width: 220px;
}

.login-panel .panel-body {
  padding: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.login-panel.panel.panel-default {
  margin-top: 20px;
  padding: 0;
}

.login-panel .panel-body {
  padding: 0;
}

.login-with-email-phone-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 28px !important;
}

.form-group {
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-center.message-thanku-box h3 {
  color: #05b508 !important;
  font-size: 30px;
  font-weight: 400;
  margin-top: 5px;
}

.text-success {
  color: #11b114 !important;
}


.Upi-box {
  background: #ffffff;
  padding: 20px 0;
  border-radius: 20px;
}

.Upi-box .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #efefef;
  padding-bottom: 8px;
  margin-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.Upi-box .form-group.Amount-paid-box {
  margin: 10px 0;
  padding-bottom: 10px;
}

.Upi-box .form-group label {
  font-size: 13px;
  color: #5c5c5c;
  font-weight: 600;
  margin: 0;
}

label {
  display: inline-block;
  max-width: 100%;
}

.Upi-box .form-group strong {
  font-size: 13px;
  color: #000000;
  font-weight: 600;
}

.Upi-box .form-group.Amount-paid-box label,
.Upi-box .form-group.Amount-paid-box strong {
  font-size: 20px;
}

a.continues-btn-box.btn {
  font-size: 16px;
  color: #132be3;
  font-weight: 600;
  border: 1px solid #132be3;
  border-radius: 5px;
  margin-top: 10px;
}

.btn {
  padding: 6px 14px;
}

.text-center.message-thanku-box2 h3 {
  color: #d5c600;
  font-size: 30px;
  font-weight: 400;
  margin-top: 5px;
}

.form-group.signup-form-box i.fa.fa-info-circle {
  font-size: 50px;
  color: #d5c600;
}

svg.text-danger2 {
  background: #c90000;
  border-radius: 50%;
  color: #fff !important;
  text-align: center;
  padding: 10px;
}

.text-center.message-thanku-box3 h3 {
  color: #d50000;
  font-size: 30px;
  font-weight: 400;
  margin-top: 5px;
}

.form-group.signup-form-box h4 {
  font-size: 14px;
}

.Upi-box .form-group.Amount-paid-box {
  margin: 3px 0;
  padding-bottom: 5px;
}

.form-group.signup-form-box hr {
  margin-top: 10px;
  margin-bottom: 10px;

}

.Upi-box .form-group {

  padding-bottom: 4px;
  margin-bottom: 5px;

}

.Upi-box {
  background: #ffffff;
  padding: 0;
  border-radius: 20px;
}

.login-panel.panel.panel-default {
  margin-bottom: 0;
  margin-top: 0;
}

.form-group.signup-form-box form {
  padding: 20px 30px 10px 30px;
}

.form-group.signup-form-box {
  margin-bottom: 0;
}
.form-group.signup-form-box form {
  padding: 20px 30px 10px 30px;
}