[type="radio"] {
    display: inline !important
}


.light-skyblue {
    background: lightblue;
}

.white {
    background: white;
}

.export-button {
    background-color: rgb(114, 238, 116);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  .dropdown.float-right-box ul#menu3 {
    left: -52px;
}
.top-right-outer-box {
    display: flex;
    justify-content: flex-start;
}
.form-check {
    padding-top: 10px;
}
.form-check .form-check-input {
    height: 20px;
    width: 20px;
    vertical-align: text-bottom;
    margin: 3px 5px 0 0;
}
.table-responsive.reports-table-outer-box thead {
    background: #1669b6 !important;
    color: #fff;
}

.Appointment-outer-box table thead th {
    background: #31869b;
    color: #fff;
    font-size: 18px;
    padding: 12px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid transparent;
    border-top: 0px !important;

}
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.text-center .theme-btn {
    background: #1f86ef;
    border: 1px solid #1f86ef;
    color: #ffffff !important;
    text-transform: uppercase;
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 0;
    font-family: 'Poppins', sans-serif;
}

.box-body .form-control {
    height: 50px;
    border: 1px solid #dde6ef;
    margin-bottom: 10px;
    box-shadow: none;
    border-radius: 0;
    background: #fbfdff;
    font-size: 13px;
    color: #acacac;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.blue-skin .form-control:hover{
    border-color: #1f86ef;
}

p {
    margin: 0 0 10px;
    position: relative;
    line-height: 1.8;
    font-family: Montserrat, sans-serif;
    transition: all 0.2s ease-in 0s;
}

.button-space {
    margin-left: 10px; 
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-body.add-voucher-outer-box {
    padding: 30px 50px;
}
.table-responsive.add-new-voucher1-outer-box tr td, .table-responsive.add-new-voucher1-outer-box tr th {
    padding: 0.8rem 1rem;
}
.table-responsive.add-new-voucher1-outer-box tr th {
    background: #ceeaff!important;
}
.table-responsive.add-new-voucher1-outer-box thead tr th {
    background: #fff;
    font-weight: 500;
    white-space: nowrap;
    border-top: 1px solid #e2e5e8!important;
    padding: 8px;
    color: #000;
}
