.btn.btn-user {
    background: transparent;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50px;
    padding: 6px 20px;
    min-width: 110px;
}

html body .btn-primary {
    background: #1194f7;
}
a.btn-primary-Add-Roles-btn {
    color: #fff;
    background-color: #1194f7 !important;
    border-color: #1194f7;
    border-radius: 10px !important;
}
.btn-primary {
    background-color: #0084ff;
    border-color: #0084ff;
}
.btn {
    padding: 6px 14px;
    border-radius: 2px;
}
.accordion .panel-heading h4 {
    font-size: 16px;
    color: #000;
}

.tab-pane {
    border-left: 1px solid #e8edef;
    border-right: 1px solid #e8edef;
    border-bottom: 1px solid #e8edef;
    background: #fff;
    padding: 20px;
}

.accordion .panel-heading {
    background: #e9f6ff;
    padding: 6px 13px !important;
    width: 100%;
    display: block;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #d3e7f5;
}

.accordion .panel-heading {
    background: #8eccf5;
    padding: 13px !important;
    width: 100%;
    display: block;
    color: #fff;
    cursor: pointer;
}
.card-header {
    background: #ffffff;
    border-bottom: 0px;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid #e8eef1;
}
