<div id="menu8" class="tab-pane fade1">
    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
    
                    <div class="card panel">
                       <div  class="panel-heading panel_heading_gray  card-header" role="tab" id="headingOne001" data-toggle="collapse" data-parent="#accordion001" href="#collapseOne001" aria-expanded="false" aria-controls="collapseOne">
                          <h4 >Asset Details  <i class="fa fa-angle-down"></i></h4>
                       </div>
                       <div   id="collapseOne001" class="panel-collapse collapse card-body in" role="tabpanel">
                          <div class="row">
                          
                           <div class="col-md-12 col-sm-12">
                             <div class="card">
                           
                               <div  id="approval-workflow-info123">
                    
                    
                   
                           
                                <div class="card-header12">
                                    <h4 class="sub-title-inn-box View-Roles-list-outer-box" style="display: inline-block;">
                                        &nbsp; 
                                    </h4>
                                    <a href="#SendMessage05" title="Add" class="btn btn-user btn-round btn-primary btn-primary-Add-Roles-btn" 
                                       style="float: right; margin-top: 8px;" data-toggle="modal" data-placement="top">
                                        Add Assign Asset
                                    </a>
                                </div>
                                
                                
                       
                       <div class="card-body12 padd-bot-0 padd-top-0">
                       
                       
                       
                           <div class="row">
                           
                           <div class="col-md-12 padd-top-0">
                           
                           
                           <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">
                           
                           
                           <table class="table table-hover js-basic-example " >
                              <thead>
                                 <tr role="row">
                                    <th class="nama sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name | Model: activate to sort column descending" style="width: 0px;">Name | Model</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Alloted Date: activate to sort column ascending" style="width: 0px;">Alloted Date</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Release Date: activate to sort column ascending" style="width: 0px;">Release Date</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending" style="width: 0px;">Category</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Serial Number: activate to sort column ascending" style="width: 0px;">Serial Number</th>
                                    
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label=" Tag: activate to sort column ascending" style="width: 220px;">Notes</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Location: activate to sort column ascending" style="width: 0px;">Location</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Location: activate to sort column ascending" style="width: 0px;">Action</th>
                                 </tr>
                              </thead>
                              <tbody id="tReg">
                                 <tr role="row" class="odd">
                                    <td title=" Name and Model Name" class="sorting_1">HP | Pavillion</td>
                                    <td title="Assign Date">06/02/2023</td>
                                    <td title="Release Date ">--</td>
                                    <td title=" Category"></td>
                                    <td title="Serial Number">1234567</td>
                                    
                                    <td title=" Tag">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </td>
                                    <td title="Location">MUMBAI</td>
                                     <td title="Location"> <a href="#SendMessage05" data-toggle="modal" class="btn btn-info sweet-1" data-placement="top" title="View Details" data-original-title="View Details">Release</a></td>
                                   
                                 </tr>
                                 <tr role="row" class="even">
                                    <td title=" Name and Model Name" class="sorting_1">Mouse | Lenova</td>
                                    <td title="Assign Date">27/01/2023</td>
                                    <td title="Release Date ">27/01/2023</td>
                                    <td title=" Category"></td>
                                    <td title="Serial Number">1764465</td>
                                     <td title=" Tag">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </td>
                                    <td title="Location">MUMBAI</td>
                                     <td title="Location"> </td>
                                 </tr>
                              </tbody>
                           </table>
               
                            
                           </div>	
                               
                               
                               
                           </div>
                           
                   
                               
                               
                           </div>		
                       </div>
                    
                    
               </div>				
                                
                           </div>
                           </div>
                          
                          </div>
                       </div>
                    </div>
                    
   </div>
   </div>

   <div id="SendMessage05" class="modal fade add-address-form-box Component-outer-box" >
		
    <div class="modal-dialog ">
                <div class="modal-content ">
                    <form>
                        <div class="modal-header theme-bg">						
                            <h4 class="modal-title">Add Assign Asset </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body card-body">
                                 
                                
                             
                            
                            <div class="form-group">
                                 <label class="control-label col-sm-4">Asset Category: <span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                        <select class=" form-control">
                                         
                                            <option value="">--Select--</option>
                                            <option value="53"> Laptop </option>
                                            <option value="54"> Data Card </option>
                                            <option value="55"> Mobile Phone </option>
                                            <option value="59"> Desktop </option>
                                            <option value="60"> Headphone </option>
                                            <option value="61"> IPAD </option>
                                            <option value="69"> Workstation </option>
                                            <option value="70"> Stationary </option>
                                            <option value="153"> Blazer </option>
                                            <option value="156"> Mouse </option>
                                            <option value="157"> Mobile  </option>
                                            <option value="184"> test asset </option>
                                            <option value="189"> IDcard </option>
                                            <option value="190"> bottel </option>
                                            <option value="191"> new asset </option>
                                    </select>
                                  </div>
                                  
                            </div>
                            

                            
                            <div class="form-group">
                                 <label class="control-label col-sm-4">Assign Date: <span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                         <input type="date" class="form-control" placeholder="  ">
                                  </div>
                                  
                            </div>
                            
                           <div class="form-group">
                                 <label class="control-label col-sm-4">Asset Name: <span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                         <input type="text" class="form-control" placeholder=" Serach by Asset/Model Name " >
                                  </div>
                                  
                            </div>
                         
                            
                            <div class="form-group">
                                   <label class="control-label col-sm-4">Release Date:<span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                          <input required="" type="date" id="CheckInDateId" class="form-control xpr-datepicker" value=" 09 /09/2034" name="ExpectedCheckInDate" >
                                  </div>
                                  
                            </div>
                            <div class="form-group">
                                   <label class="control-label col-sm-4">Notes:<span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                         <textarea id="NotesId" name="Notes" rows="5" cols="30" maxlength="300" style="resize:none;" class="form-control valid has-value"></textarea>
                                  </div>
                                  
                            </div>
                         
                            
                             
                            
                             
                            
                             
                              
                        
                        
                        <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Save">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            
                        </div>
                    
                </div></form>
            </div>
        
        </div>

</div>