<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>
  <div id="wrapper" [ngClass]="{'active': showSidebar == false}">
    <div class="fakeLoader"></div>


    <div id="page-wrapper">

      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Early / Late Attendance</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/reports/check-in']">Check In/Out Report</a></li>
            <li class="breadcrumb-item active">Attendance / Early-Late Attendance</li>
          </ol>
        </div>
      </div>



      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="card" style="overflow-x: auto;">
              <div class="card-header">
                <div class="row">

                  <div class="col-md-12 col-sm-12">
                    <div class="row">
                      <form [formGroup]="checkin_Form">
                        <div class="col-md-8 col-sm-8">
                          <div class="col-md-3">
                            <label>Select Date:</label>
                          </div>
                          <div class="col-md-3">
                            <input id="FromDate2" #rd class="form-control" type="text" style="cursor: pointer;"
                              formControlName="FromDate" placeholder="dd-mm-yyyy" autocomplete="off" readonly>
                          </div>

                          <div class="col-md-3">
                            <input id="ToDate2" #rd class="form-control" type="text" style="cursor: pointer;"
                              formControlName="ToDate" placeholder="dd-mm-yyyy" autocomplete="off" readonly>
                          </div>

                          <div class="col-md-2">
                            <div class="save-button"><button class="btn btn-primary"
                                (click)="TpCheckInOutSummary()">Search</button></div>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <button class="btn btn-primary btn-sm" style="margin-top:10px;" (click)="openEarlyFineModal()">Early Fine</button> &nbsp;&nbsp;
                            <button class="btn btn-primary btn-sm" style="margin-top:10px;" (click)="openLateFineModal()">Late Fine</button> &nbsp;&nbsp;
                           <button class="btn btn-primary btn-sm" style="margin-top:10px;" (click)="openOvertimeModal()">Overtime</button>

                        </div>
                      </form>
                    </div>
                  </div>

                </div>
              </div>
              <div class="card-body" *ngIf="this.employee_data.length!=0">
                <b>Employee Name : </b> {{ employee_data[0]?.emp_name  }} &nbsp;&nbsp;&nbsp;
                <b>Tp Code :</b> {{ employee_data[0]?.tpcode }} &nbsp;&nbsp;&nbsp;
                <b>Emp Code :</b> {{ employee_data[0]?.orgempcode  }} &nbsp;&nbsp;&nbsp;
                <b>Designation :</b> {{ employee_data[0]?.designation }}
              </div>
              <div class="card-body" *ngIf="this.employee_data.length!=0">
                <table class="table user-list">
                  <thead style="background: skyblue;">
                    <tr>
                      <th>Sr. No.</th>
                                         
                      <th>Shift Name</th>
                      <th>Night Shift</th>
                      <th>Break</th>
                      <th>Attendance Date</th>
                      <th>Check In Time</th>
                      <th>Check Out Time</th>
                      <th>Source</th>
                      <th>Total Hours</th>
                      <th>Department</th>                     
                      <th>Organisation Unit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let emp of employee_data; let i = index">
                      <tr>
                        <td>{{i+1}}</td>
                        <td>{{emp.shift_name}}</td>
                        <td>{{emp.is_night_shift}}</td>
                        <td>{{formatBreakTotalTime(emp.break_total_time)}}</td>
                        <td>{{emp?.attendancedate}}</td>
                        <td>
                          <div class="punchin-Button-job-company-box">
                            <strong>{{emp.check_in_time}} </strong>
                            <div class="location-addre-box" *ngIf="emp?.check_in_location && emp?.check_in_time !='00:00'">
                              <a>
                                <i aria-hidden="true" class="fa fa-map-marker"></i>

                                <span class="hover-location-addre-box">
                                  <div class="profile-container">
                                    <img src="{{emp?.check_in_image_path }}" class="attachment-thumbnail"
                                      alt="user-images"
                                      *ngIf="(emp?.check_in_image_path != '' && emp?.check_in_image_path != null && emp?.check_in_time !='00:00')"
                                      (click)="getCheckInImage(emp?.check_in_image_path)" href="#Check_in"
                                      data-toggle="modal" data-placement="top">
                                  </div>
                                  {{emp?.check_in_location}}
                                </span>
                              </a>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="punchin-Button-job-company-box">
                            <strong>{{emp.check_out_time}} </strong>
                            <div class="location-addre-box" *ngIf="emp.check_out_location && emp?.check_out_time !='00:00'">

                              <a>
                                <i aria-hidden="true" class="fa fa-map-marker"></i>

                                <span class="hover-location-addre-box">
                                  <div class="profile-container">
                                    <img src="{{emp?.check_out_image_path }}" class="attachment-thumbnail"
                                      alt="user-images"
                                      *ngIf="(emp?.check_out_image_path != '' && emp?.check_out_image_path != null && emp?.check_out_time !='00:00')"
                                      (click)="getCheckInImage(emp?.check_out_image_path)" href="#Check_in"
                                      data-toggle="modal" data-placement="top">
                                  </div>
                                  {{emp.check_out_location}}
                                </span>
                              </a>
                            </div>
                          </div>
                        </td>
<td>{{emp?.attendance_type}}</td>
                        <td >
                          <h5 class="job-name">
                            <ng-container *ngIf="emp.no_of_hours_worked !== '00:00' && emp.no_of_hours_worked !== undefined; else noHours">
                              <a (click)="open_new_Panel(i, emp)" class="job_name_tag" style="cursor: pointer;">
                                {{ emp.no_of_hours_worked }}
                              </a>
                            </ng-container>
                            <ng-template #noHours>
                              <strong>{{ emp.no_of_hours_worked }}</strong>
                            </ng-template>
                          </h5>
                        </td>
                        <td><span class="show-me-text" title="{{emp.department}}">{{emp.department}}</span></td>
                        
                        <td><span class="show-me-text" title="{{emp.assigned_ou_ids_names}}">{{emp.assigned_ou_ids_names}}</span></td>
                      </tr>

                      <tr id="collapseOne{{i}}" class="panel-collapse collapse"
                              role="tabpanel" aria-labelledby="designing" >
                              <td colspan="9">

                                <div>

                                  <div class="panel-body Check-In-Check-Out-table-inner-box">
                                    <div class="box-body">


                                      <table class="table table-lg table-hover">
                                        <thead style="background: #ceeaff;">
                                          <tr>
                                            <th>In Time</th>
                                            <th>Out Time</th>
                                            <th>Hrs</th>
                                            <th>Source</th>
                                            <!-- <th>Meeting Name</th>
                                            <th>Meeting Feedback</th> -->

                                          </tr>
                                        </thead>

                                        <tbody>


                                          <ng-container *ngFor="let ipd of innerPanelData.check_in_out_details; let j=index;">
                                            <tr>
                                              <td> <div class="punchin-Button-job-company-box">
                                                <strong>{{ipd.check_in_time}} </strong>

                                                <div class="location-addre-box" *ngIf="ipd.check_in_location">
                                                  <a>
                                                    <i aria-hidden="true" class="fa fa-map-marker"></i>
                                                    <span class="hover-location-addre-box">
                                                      <div class="profile-container">
                                                        <img src="{{ipd?.check_in_image_path }}"
                                                          class="attachment-thumbnail" alt="user-images"
                                                          *ngIf="(ipd?.check_in_image_path != '' && ipd?.check_in_image_path != null)"
                                                          (click)="getCheckInImage(ipd?.check_in_image_path)"
                                                          href="#Check_in" data-toggle="modal" data-placement="top">
                                                      </div>
                                                      {{ipd?.check_in_location}}
                                                    </span>

                                                  </a>
                                                </div>

                                              </div></td>
                                              <td><div class="punchin-Button-job-company-box">
                                                <strong>{{ipd.check_out_time}} </strong>

                                                <div class="location-addre-box" *ngIf="ipd.check_out_location">
                                                  <a>
                                                    <i aria-hidden="true" class="fa fa-map-marker"></i>
                                                    <span class="hover-location-addre-box">
                                                      <div class="profile-container">
                                                        <img src="{{ipd?.check_out_image_path }}"
                                                          class="attachment-thumbnail" alt="user-images"
                                                          *ngIf="(ipd?.check_out_image_path != '' && ipd?.check_out_image_path != null)"
                                                          (click)="getCheckOutImage(ipd?.check_out_image_path)"
                                                          href="#Check_in" data-toggle="modal" data-placement="top">
                                                      </div>
                                                      {{ipd?.check_out_location}}
                                                    </span>

                                                  </a>
                                                </div>

                                              </div></td>
                                              <td>{{ipd.no_of_hours_worked}} </td>
                                              <td>{{ipd.attendance_type}} </td>
                                              <!-- <td>{{ipd.meeting_name}} </td>
                                              <td>{{ipd.meeting_feedback}} </td> -->


                                            </tr>
                                          </ng-container>



                                        </tbody>
                                        <tfoot>
                                          <tr style="background: #f6f6f6;">
                                            <th> </th>
                                            <th></th>
                                            <th class="text-right"> Total Hrs: </th>
                                            <th>{{innerTotalHrsWorked}} </th>
                                            <!-- <th colspan="2"> </th> -->
                                          </tr>
                                        </tfoot>


                                      </table>

                                    </div>
                                  </div>


                                </div>


                              </td>
                            </tr>

                            <tr id="CollapseOne{{i}}" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="designing">
                            <td colspan="8">

                              <div>

                                <div class="panel-body Check-In-Check-Out-table-inner-box">
                                  <div class="box-body">
                                    <table class="table table-lg table-hover">
                                      <thead style="background: #ceeaff;">
                                        <tr>
                                          <th>Is Overtime Applicable</th>
                                          <th>No Of Overtime Hours Worked</th>
                                          <th>Deviation In Checkin</th>
                                          <th>Deviation In Checkout</th>
                                          <th>Deviation In Total Working Hours</th>
                                        </tr>
                                      </thead>
                                        <tbody>
                                            <tr>
                                            <td>{{is_overtime_applicable}}</td>
                                            <td>{{no_of_overtime_hours_worked}}</td>
                                            <td>{{deviation_in_checkin}}</td>
                                            <td>{{deviation_in_checkout}}</td>
                                            <td>{{deviation_in_total_working_hours}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                  </div>
                                </div>


                              </div>
                            </td>
                            <td colspan="3"></td>
                          </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
            <alert></alert>
          </div>
        </div>
      </div>

    </div>

    <!-- Check-in Image Popup -->

    <div id="Check_in" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header theme-bg">
            <h4 class="modal-title">Check in Image</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row text-center">
              <img src="{{ pop_imgcheck_in_image_path }}" class="attachment-thumbnail large-image" alt="user-images"
                *ngIf="(pop_imgcheck_in_image_path != '' && pop_imgcheck_in_image_path != null)">
            </div>
          </div>


        </div>
      </div>
    </div>


    <!-- check-out Image Popup -->
    <div id="Check_out" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header theme-bg">
            <h4 class="modal-title">Check out Image</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row text-center">
              <img src="{{ pop_check_out_image_path }}" class="attachment-thumbnail large-image" alt="user-images"
                *ngIf="(pop_check_out_image_path != '' && pop_check_out_image_path != null)">
            </div>
          </div>


        </div>
      </div>
    </div>




    <div class="modal"  [ngStyle]="{'display':earlyFineModalStatus?'block':'none'}">
        <div class="modal-dialog modal-lg" style="width:85%;">
            <div class="modal-content " >
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Early Fine</h4>
                    <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close"
                        data-bs-dismiss="modal" (click)="closeEarlyModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    
                    <div class="rate-details">
                      {{earlyLateHr +"hrs = "+ earlyLateHrAmount+"Amount"}}<br>
                      <small>((No. of hours * gross / shift hours) / salarydays)</small>
                    </div>
                   
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style="max-height:420px;overflow-y: scroll;">
                            <alert></alert>
                            <form [formGroup]="earlyForm">
                            <table class="table early-late">
                                <thead>
                                    <tr style="background: #87ceeb;line-height: 2.5;">
                                        <th>Sno</th>
                                        <th>Attendance Date</th>
                                        <th>Shift Name</th>
                                        <th>Check In</th>
                                        <th>Check Out</th>
                                        <th>Deduct For (HH:MM)-24hrs</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="earlyFormArray">
                                    <tr *ngFor="let ed of earlyFormArr.controls; let j = index" [formGroupName]="j">
                                        <td>  {{ j+1 }}</td>
                                        <td>{{ ed.get('earlyAttnDate').value }}
                                            <input type="hidden" formControlName="earlyAttnDate" value="{{ ed.get('earlyAttnDate').value }}">
                                        </td>
                                        <td>{{ ed.get('shift_name').value }}</td>
                                        <td>{{ ed.get('check_in_time').value }}</td>
                                        <td>{{ ed.get('check_out_time').value }}</td>
                                        <td><input type="text" placeholder="00:00" formControlName="finalEarlyHours" class="form-control"  (blur)="calculateAmount('Early',j)" value="{{ ed.get('finalEarlyHours').value }}" style="width: 80%;border-radius: 0px;"></td>
                                        <td><input type="text" formControlName="finalEarlyAmount" value="{{ ed.get('finalEarlyAmount').value }}" class="form-control" style="border: 0px;pointer-events: none;border-radius: 0px;box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);"></td>
                                        <td>
                                            <button class="btn btn-success" (click)="updateEarlyData(j)">Update</button>
                                        </td>
                                    </tr>
                                    
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <th colspan="6" style="border-right: 1px solid #ccc;"><span style="margin-left: 6%;">Total</span></th>
                                        <th colspan="2"><span style="margin-left: 4%;">{{ totalEarlyAmount | number:'1.2-2'  }}</span></th>
                                    </tr>
                                </tfoot>


                            </table>
                        </form>
                            
                        </div>
                    </div>
    
                   <!-- <div class="modal-footer" style="background-color: #fff;">
                      <button class="btn btn-success"  data-dismiss="modal">Save</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" (click)="closeEarlyModal()">Cancel</button>
                    </div> -->
    
                </div>
            </div>
        </div>
      </div>



      <!-- Start Late -->

      <div class="modal"  [ngStyle]="{'display':lateFineModalStatus?'block':'none'}">
        <div class="modal-dialog modal-lg" style="width:85%;">
            <div class="modal-content " >
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Late Fine</h4>
                    <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close"
                        data-bs-dismiss="modal" (click)="closeLateModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div class="rate-details">
                      {{earlyLateHr +"hrs = "+ earlyLateHrAmount+"Amount"}}<br>
                      <small>((No. of hours * gross / shift hours) / salarydays)</small>
                    </div>

                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style="max-height:420px;overflow-y: scroll;">
                            <alert></alert>
                            <form [formGroup]="lateForm">
                            <table class="table early-late">
                                <thead>
                                    <tr style="background: #87ceeb;line-height: 2.5;">
                                        <th>Sno</th>
                                        <th>Attendance Date</th>
                                        <th>Shift Name</th>
                                        <th>Check In</th>
                                        <th>Check Out</th>
                                        <th>Deduct For (HH:MM)-24hrs</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="lateFormArray">
                                    <tr *ngFor="let ed of lateFormArr.controls; let j = index" [formGroupName]="j">
                                        <td>{{ j+1 }}</td>
                                        <td>{{ ed.get('lateAttnDate').value }}
                                            <input type="hidden" formControlName="lateAttnDate" value="{{ ed.get('lateAttnDate').value }}">
                                        </td>
                                        <td>{{ ed.get('shift_name').value }}</td>
                                        <td>{{ ed.get('check_in_time').value }}</td>
                                        <td>{{ ed.get('check_out_time').value }}</td>
                                        <td><input type="text" class="form-control" placeholder="00:00" formControlName="finalLateHours" (blur)="calculateAmount('Late',j)" value="{{ed.get('finalLateHours').value }}" style="width: 80%;border-radius: 0px;"></td>
                                        <td><input type="text" class="form-control" formControlName="finalLateAmount" value="{{ed.get('finalLateAmount').value }}" style="border: 0px;pointer-events: none;border-radius: 0px;box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);"></td>
                                        <td>
                                            <button class="btn btn-success" (click)="updateLateData(j)">Update</button>
                                        </td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <th colspan="6" style="border-right: 1px solid #ccc;"><span style="margin-left: 6%;">Total</span></th>
                                        <th colspan="2"><span style="margin-left: 4%;">{{ totalLateAmount | number:'1.2-2'  }}</span></th>
                                    </tr>
                                </tfoot>

                                

                            </table>
                            </form>
                            
                        </div>
                    </div>
    
                    <!--<div class="modal-footer" style="background-color: #fff;">
                      <button class="btn btn-success"  data-dismiss="modal" >Save</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" (click)="closeEarlyModal()">Cancel</button>
                    </div>-->
    
                </div>
            </div>
        </div>
      </div>
      <!-- End Late -->



      <!-- Start Overtime -->

      <div class="modal"  [ngStyle]="{'display':overtimeModalStatus?'block':'none'}">
        <div class="modal-dialog modal-lg" style="width:85%;">
            <div class="modal-content " >
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Overtime</h4>
                    <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close"
                        data-bs-dismiss="modal" (click)="closeOvertimeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div class="rate-details">
                      {{earlyLateHr +"hrs = "+ earlyLateHrAmount+"Amount"}}<br>
                      <small>((No. of hours * gross / shift hours) / salarydays)</small>
                    </div>

                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style="max-height:420px;overflow-y: scroll;">
                            <alert></alert>
                            <form [formGroup]="overtimeForm">
                                <table class="table early-late">
                                    <thead>
                                        <tr style="background: #87ceeb;line-height: 2.5;">
                                            <th>Sno</th>
                                            <th>Attendance Date</th>
                                            <th>Shift Name</th>
                                            <th>Check In</th>
                                            <th>Check Out</th>
                                            <th>Overtime Hours Worked</th>
                                            <th>Pay For (HH:MM)-24hrs</th>
                                            <th>Amount</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="overtimeArray">
                                        <tr *ngFor="let ed of otFormArr.controls; let j = index" [formGroupName]="j">
                                            <td>{{ j+1 }}</td>
                                            <td>{{ ed.get('overtimeAttnDate').value }}
                                                <input type="hidden" formControlName="overtimeAttnDate" value="">
                                            </td>
                                            <td>{{ ed.get('shift_name').value }}</td>
                                            <td>{{ ed.get('check_in_time').value }}</td>
                                            <td>{{ ed.get('check_out_time').value }}</td>
                                            <td>{{ ed.get('noOfOvertimeHoursWorked').value }}</td>
                                            <td><input type="text" class="form-control" placeholder="00:00" (blur)="calculateAmount('Overtime',j)" formControlName="finalOvertimeHours"  style="width: 80%;border-radius: 0px;"></td>
                                            <td><input type="text" formControlName="finalOvertimeAmount" class="form-control"  style="border: 0px;pointer-events: none;border-radius: 0px;box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);"></td>
                                            <td>
                                                <button class="btn btn-success" (click)="updateOvertimeData(j)">Update</button>
                                            </td>
                                        </tr>
                                        
                                    </tbody>

                                    <tfoot>
                                      <tr>
                                          <th colspan="7" style="border-right: 1px solid #ccc;"><span style="margin-left: 6%;">Total</span></th>
                                          <th colspan="2"><span style="margin-left: 4%;">{{ totalOTAmount | number:'1.2-2'  }}</span></th>
                                      </tr>
                                    </tfoot>

                                </table>
                            </form>
                            
                        </div>
                    </div>
    
                    <!--<div class="modal-footer" style="background-color: #fff;">
                      <button class="btn btn-success"  data-dismiss="modal" >Save</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" (click)="closeEarlyModal()">Cancel</button>
                    </div>-->
    
                </div>
            </div>
        </div>
      </div>
      <!-- End Overtime -->
    






  </div>

</section>

<app-footer></app-footer>


