input[type="radio"] {
  position: inherit;
}

a {
  cursor: pointer;
}

.txt {
  color: rgb(26 107 183);
  font-size: 10px;
  border: 1rem;
  width: 3rem;
  height: 3rem;
  background-color: #46464627 !important;
  padding: 2px 5px !important;
  text-align: center !important;
  line-height: 25px !important;
  margin-right: 5px !important;
}

a.btn.btn-shortlist.manage-btn {
  background: #ffffff !important;
  color: #000000 !important;
}

.job-buttons.action-btn-outer-box .btn.manage-btn {
  padding: 0 !important;
}
span.leave-btn,
span.ontour-btn,span.onlwp-btn,span.onasl-btn,
span.present-btn,
span.hald-day-btn,
span.absent-btn,
span.holiday-btn,
span.wfh-btn {
  height: 22px !important;
  width: 23px !important;
  font-size: 10px !important;
}
.bulk-attendance-outer-box table.table tr th,
.bulk-attendance-outer-box table.table tr td {
  padding: 0.5rem 0.5rem !important;
}

.bulk-attendance-outer-box thead tr th {
  background: #ccdcff !important;
}
.Marked-Manually-outer-box {
  margin-top: 13px !important;
}

.read-only {
  pointer-events: none;
  background: #efefef;
}

.job-img {
  height: 35px;
  width: 38px;
}
.weekend {
  background: #fff9f9;
}
.please-wait {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: bold;
  color:#0093d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background */
  padding: 20px; /* Add some padding */
  border-radius: 10px; /* Optional: round the corners */
  backdrop-filter: blur(10px); /* Apply the blur effect */
}

.please-wait i {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.please-wait2 i {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.please-wait2 {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: bold;
  color:#0093d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  background: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background */
  padding: 20px; /* Add some padding */
  border-radius: 10px; /* Optional: round the corners */
  backdrop-filter: blur(10px); /* Apply the blur effect */
}

.disabled-date {
  /* background: #80808061; */
  background: #80808040;
  cursor: no-drop;
  pointer-events: none;
}




#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f1f5fa;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px -1px, rgba(0, 0, 0, 0.3) -10px 6px 10px 0px, rgba(0, 0, 0, 0.12) -7px 1px 18px 0px;
}

h3.filter-menu-header-text-box {
  padding: 21px 15px;
  margin-bottom: 0;
}

#sidebar .close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
}

.sidebar-menu_filter-box label.control-label {
  font-weight: 500;
  padding: 0;
}

.sidebar-menu_filter-box .form-group {
  margin-bottom: 0px;
}

.sidebar-content-box .form-group {
  font-size: 13px;
}

.sidebar-menu_filter-box .panel-default>.panel-heading h4 {
  font-size: 14px;
  color: #000;
}

.sidebar-menu_filter-box .panel-heading h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-menu_filter-box .panel-default>.panel-heading {
  color: #333;
  background-color: #deedff;
  border-color: #fff;
  border: 1px solid #fff;
}

.sidebar-menu_filter-box .panel-heading {
  cursor: pointer;
}


#sidebar a.clear-box-btn {
  position: absolute;
  top: 53px;
  right: 25px;
  color: #1372dd;
  font-size: 14px;
  cursor: pointer;
}

.top-right-outer-box a.btn.btn-round.btn-success.excel-btn-box, .top-right-outer-box .mag-left-5 {
  margin-right: 5px;
}


.search-box-filter {
  float: right;
    margin-top: 25px;
}

.FilterBytext-box {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 12px;
}
.FilterBytext-box .form-group h3 {
  font-size: 15px;
  font-weight: 600;
}
.FilterBytext-box label {
  font-weight: 500;
}