<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>
  <div id="wrapper" [ngClass]="{'active': showSidebar==false}">
        <div class="fakeLoader"></div>
        <!-- Navigation -->
        <div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor" style="margin-left: 20px;">Geofences / {{Formactiontype ? 'Update' : 'Create New'}}</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" title="Home"><a [routerLink]="['/dashboard']">Home</a>
                        </li>
                        <li class="breadcrumb-item" title="Home"><a [routerLink]="['/attendance/geofence-setting']">Geofencing Setting</a>
                        </li>
                        <li class="breadcrumb-item active">Geofences / {{Formactiontype ? 'Update' : 'Create New'}} </li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                <!-- /row -->
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <alert></alert>
                        <div class="card">
                            <div class="card-header">
                                <div class="row row-head">

                                    <div class="col-md-3 col-sm-12">
                                        <label></label>
                                        <div class="header-search-form input-group map-searchbar-box">
                                            <button class="form-control wide-width" id="currentLocation"
                                                (click)="selectMapType('currentLocation')"><i class="fa fa-map-marker"
                                                    aria-hidden="true"></i> Get Current Location</button>


                                        </div>
                                    </div>
                                    <div class="col-md-1 or-pa-mar-box" style=" margin: 0; padding: 0;  width: 25px;">
                                        <label>&nbsp;</label>
                                        <p style="  margin: 10px 0 0 -23px;"> OR</p>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <label for="longitudelongitudeInput">&nbsp; </label>
                                        <div class="tooltip-earchbar-box">
                                            <input id="longitudelongitudeInput" class="form-control"
                                                title="Search geo coordinates latitude, longitude"
                                                [(ngModel)]="longitudelongitudeInput"
                                                placeholder="Search geo coordinates latitude, longitude" />
                                            <!--<span type="button" class="btn btn-secondary " data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                                <i class="fa fa-info-circle"></i> 

                                            </span>-->
                                        </div>
                                    </div>


                                    <!-- <div class="col-md-3 col-sm-12">
                                        <label for="latitudeInput">Enter Latitude:</label>
                                        <input id="latitudeInput" class="form-control" [(ngModel)]="latitudeInput"
                                            placeholder="e.g., 28.7749" />
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <label for="longitudeInput">Enter Longitude:</label>
                                        <input id="longitudeInput" class="form-control" [(ngModel)]="longitudeInput"
                                            placeholder="e.g., 78.4194" />
                                    </div> -->
                                    <div class="col-md-2 col-sm-12">
                                        <label></label>
                                        <div class="header-search-form input-group map-searchbar-box">
                                            <button class="form-control wide-width btn btn-info"
                                                (click)="findLocation()"><i class="fa fa-search" aria-hidden="true"></i>
                                                Find</button>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-12 col-sm-12" style="display: none;">
                                        <div>
                                            <input type="text" [(ngModel)]="address" placeholder="Enter address"
                                                (input)="onLocationChange()" class="form-control wide-width"
                                                style="width: 100%;" />
                                            <div *ngIf="addressSuggestions && addressSuggestions.length > 0">
                                                <ul class="map-suggestions-list">
                                                    <li *ngFor="let suggestion of addressSuggestions"
                                                        (click)="selectSuggestion(suggestion)"
                                                        class="map-suggestions-item">
                                                        {{ suggestion.description }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-md-2 col-sm-12">
                                        <label></label>
                                        <div class="header-search-form input-group map-searchbar-box">
                                            <button class="btn btn-success form-control wide-width" id="setRadius"
                                                *ngIf="!chek_flag" (click)="OpenGeoPreview()" title="Set Radius"><i
                                                    class="fa fa-map-pin" aria-hidden="true"></i> Set Radius </button>
                                        </div>

                                    </div>


                                    <div class="col-md-12 col-sm-12">

                                        <div class="panel-group " id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading fa-fa-search-icon-info-box">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle " data-toggle="collapse"
                                                            data-parent="#accordion" data-placement="top"
                                                            title="Click to get the coordinates of a place"
                                                            href="#collapseOne">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in">
                                                    <div class="panel-body panel-body-coordinates-box">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <h4 class="panel-title"> Instructions to obtain coordinates of a location and set a geofence
                                                                </h4>
                                                                <ol style="padding-top: 1rem;">

                                                                    <li>Open on  <a target="_blank"
                                                                        href="https://www.google.com/maps">Google Maps </a> your computer. 
                                                                    </li>
                                                                    <li>Search and select the location you want to use</li>
                                                                    <li>Right-click on the location on the map to get latitude and longitude in the decimal format <b> [Degrees and decimal minutes]</b></li>
                                                                    <li>Click on the coordinates to copy them and paste the same in the search box </li>
                                                                    <!-- <li><a (click)="resetbutton()"
                                                                            style="cursor: pointer;"> Reset the map.</a>
                                                                    </li> -->
                                                                </ol>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <img
                                                                    src="../../../../../../assets/img/copy_geo_cd.png" />
                                                            </div>

                                                        </div>



                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <div id="map"></div>
                            </div>
                            <div class="card-footer">
                                <div class="col-md-10 col-sm-12">
                                </div>
                                <div class="col-md-2 col-sm-12">
                                    <div class="header-search-form input-group map-searchbar-box">
                                        <input type="submit" id="confirmFinalSubmit" (click)="confirmFinalSubmit()"
                                            class="btn btn-primary"
                                            value="Final Submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
        </div>
    </div>
</section>
<!-- /#page-wrapper -->
<div [@grooveState]="ShowSetGeofeningPopup?'active':'inactive'" class="modal">
    <div [@dongleState]="ShowSetGeofeningPopup?'active':'inactive'" class="modal-dialog">
        <div class="modal-content">
            <alert></alert>
            <form [formGroup]="SetupGeofencingForm">
                <div class="modal-header theme-bg">
                    <h4 class="modal-title">Set Geofences</h4>
                    <button type="button" class="close" (click)="CloseGeoPreview()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <h4>Unit Name : {{org_unit_name}}</h4>
                    </div>
                    <div class="form-group">
                        <input type="hidden" formControlName="orgUnitName" id="orgUnitName" class="form-control">
                        <input type="hidden" formControlName="orgUnitAddress" id="orgUnitAddress" class="form-control">
                        <input type="hidden" formControlName="orgUnitState" id="orgUnitState" class="form-control">
                        <input type="hidden" formControlName="orgUnitPin" id="orgUnitPin" class="form-control">
                        <input type="hidden" formControlName="geoLink" id="geoLink" class="form-control">
                        <input type="hidden" formControlName="geoLongitude" id="geoLongitude" class="form-control">
                        <input type="hidden" formControlName="geoLatitude" id="geoLatitude" class="form-control">
                        <input type="hidden" formControlName="isEnableGeofencing" id="isEnableGeofencing"
                            class="form-control">
                        <div *ngIf="place_location">
                            <h4>Geocoded Location:</h4>
                            <p>{{ place_formatted_address }}</p>
                        </div>
                        <input type="hidden" formControlName="orgUnitLocation" id="orgUnitLocation"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Geofences Radius</label>
                        <input type="text" formControlName="geoRadius" id="geoRadius" class="form-control"
                            placeholder="Enter Radius in meter" required pattern="^[0-9]*$" (keypress)="keyPress($event)">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-cancel" (click)="CloseGeoPreview()">Cancel</button>
                    <input type="submit" (click)="SetupGeofencingPreview()" class="btn btn-primary"
                        [disabled]="SetupGeofencingForm.invalid" value="Preview">
                </div>
            </form>
        </div>
    </div>
</div>