.circular-image, .circular-initial-character {
    width: 50px; /* Set the desired width */
    height: 50px; /* Set the desired height */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circular-image {
    /* Additional styles for the circular image, if needed */
  }
  
  .circular-initial-character {
    /* Additional styles for the circular initial character, if needed */
    color: white; /* Text color for the initial */
  }
  