<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<section>
    <div id="wrapper" [ngClass]="{'active': showSidebar == false}">
        <div class="fakeLoader"></div>
        <div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                  <h3 class="text-themecolor">Advance Payout</h3>
                </div>
            </div>
    <div class="container-fluid">
    <!-- /row -->
 
 <div class="card">	

<div class="card-body">
    <ul class="list"  *ngFor="let payout_detail of voucher_json_data; let i = index" >
            <li class="manage-list-row clearfix">
                <div class="job-info">
                  <div class="job-img calender-btn-box make-payments-btn">
                    <ng-container *ngIf="payout_detail.photopath">
                        <!-- Display the photo as a circular image if photopath is available -->
                        <img
                          src="{{ payout_detail.photopath }}"
                          class="circular-image attachment-thumbnail"
                          alt="User Photo"
                        />
                      </ng-container>
                      <ng-container *ngIf="!payout_detail.photopath">
                        <!-- Display the user's name initial with a blue background in a circle if photopath is not available -->
                        <div class="circular-initial-character" [ngStyle]="{'background-color': 'blue'}">
                          {{ payout_detail.emp_name.charAt(0).toUpperCase() }}
                        </div>
                      </ng-container>
                  </div>
                  <div class="job-details">
                    <h3 class="job-name">
                      <a class="job_name_tag" 
                        ><i class="fa fa-user" aria-hidden="true"></i>
                        {{payout_detail.emp_name}}</a
                      >
                    </h3>
                   
                    <small class="job-company"
                      ><i class="fa fa-inr" aria-hidden="true"></i
                      ><strong>Amount: ₹ {{payout_detail.amount}}</strong></small
                    ><br />
                  </div>
                </div>
              
              </li>
    </ul>
</div>
</div>

</div>
</div>

</div>

</section>

<app-footer></app-footer>