
<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<section>
  <div id="wrapper" [ngClass]="{'active': showSidebar==false}">
      <div class="fakeLoader"></div>
      <div id="page-wrapper">
      <div class="row page-titles">
        <div class="col-md-5">
            <h3 class="text-themecolor" style="margin-left: 10px;">Shift Rotation</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Shift Rotation</li>
            </ol>
        </div>
    </div>

       <div class="container-fluid">
        <div class="row">
         <div class="col-md-12 mrg-top-0 mrg-bot-25">
           <div class="card">
              <div class="card-header"> 
               <h4 class="sub-title-inn-box View-Roles-list-outer-box shiftTitleMain" style="float:right;">
               <a href="#SendMessage" data-toggle="modal" data-placement="top" title="Add" (click)="checkPopupType('addShiftRotation')" class=" btn btn-primary">Configure Rotation  </a>
              
              </h4> </div>	
              
              <div class="card-body padd-bot-0 padd-top-0">

                  <div class="row">
                  
                  <div class="col-md-12 padd-top-0">
                  
                  
                  <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">
      
                  
                      <table class="table user-list">
                         <thead>
                            <tr>
                               <th id="ember394" class="sortable header-user-role ember-view">
                                  Schedule Name
                                  <!---->
                               </th>
                               <th id="ember395" class="sortable header-user-role ember-view">
                                  Schedule Frequency
                                  <!---->
                               </th>
                               <th id="ember395" class="sortable header-user-role ember-view">
                                  Time of Schedule 
                                  <!---->
                               </th>
                               
                               
                               
                               
                               <th class="header-actions text-center">Action</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor="let item of shiftRotationDetails">
                               <td class="ZPLRow">
                               
                               <div class="ZPusrName"> <span>{{item?.schedule_name}}<span></span></span></div>
                               </td>
                              <td class="CP"><span class="shift-sun-box">{{item?.schedule_frequency_value}}</span> 
                                <span *ngIf="item?.schedule_frequency_type == 'weekly' || item?.schedule_frequency_type == 'biweekly'"> of every Week</span>
                                <span *ngIf="item?.schedule_frequency_type == 'monthly'"> of every Month</span>
                              </td>
                               
                                <td>{{item?.time_of_schedule}}</td>
                                
                                
                               <td class="roles">
                                  <div id="ember398" class="dropdown float-right ember-view">
                                     <div class="job-buttons action-btn-outer-box">
                                           
                                          <a href="#SendMessage" data-toggle="modal" class="btn btn-shortlist manage-btn" data-placement="top" title="Edit" (click)="patchData(item);checkPopupType('editShiftRotation')"><i class="ti-pencil-alt"></i></a>
                                          
                                          <a  data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-shortlist manage-btn"  title="delete" (click)="openDeleteModal(item?.shift_rotation_id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                     </div>
                                     
                                  </div>
                               </td>
                            </tr>                           
                         </tbody>
                      </table>
                  
                  </div>	
                      
                      
                      
                  </div>
                  </div>		
              </div>
          </div>
      </div>
      
      
      </div>
  </div>	
  
    
  </div>
  </div>
</section>
<app-footer></app-footer>


<!-- /////////////////open popup //////////////////////// -->

<div id="SendMessage" class="modal fade add-address-form-box main" data-backdrop="static">
   <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <form [formGroup]="addShiftRotationForm">
               <div class="modal-header theme-bg">						
                   <h4 class="modal-title">Shift Rotation</h4>
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancelForm()">×</button>
               </div>
               <div class="modal-body">
                   <div class="form-group">
                       <h4 class="top-shif-title-box">Scheduler Details</h4>
                   </div>	

                   <div class="form-group">
                        <label class="control-label col-sm-3">Schedule Name</label>
                       <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Enter schedule name" formControlName="scheduleName" maxlength="35">
                                <ng-container *ngIf="addShiftRotationForm.get('scheduleName').errors && addShiftRotationForm.get('scheduleName').touched" class="text-danger">
                                 <p class="text-danger"> Schedule name is required</p>
                               </ng-container>
                         </div>
                   </div>
                   
                   
                   <div class="form-group">
                        <label class="control-label col-sm-3">Schedule Frequency</label>
                       <div class="col-sm-2">
                               <div class="input-group">
                                 <select class="form-control" formControlName="scheduleFrequencyType">
                                  <option value="">--Select--</option>
                                  <option value="daily">Daily</option>
                                  <option value="weekly">Weekly</option>
                                  <option value="monthly">Monthly</option>
                                  <option value="biweekly">Bi Weekly</option>
                                 </select>
                                   
                               </div>
                               <ng-container *ngIf="addShiftRotationForm.get('scheduleFrequencyType').errors && addShiftRotationForm.get('scheduleFrequencyType').touched" class="text-danger">
                                 <p class="text-danger">Schedule frequency is required</p>
                               </ng-container>
                         </div>

                         <div class="col-sm-2" *ngIf="(addShiftRotationForm.value.scheduleFrequencyType == 'weekly') || (addShiftRotationForm.value.scheduleFrequencyType == 'biweekly')">
                               <div class="input-group">
                                  <select class="form-control" formControlName="scheduleFrequencyDay">
                                    <option value="">--Select--</option>
                                    <option value="Monday">Monday</option>
                                   <option value="Tuesday">Tuesday</option>
                                   <option value="Wednesday">Wednesday</option>
                                   <option value="Thursday">Thursday</option>
                                   <option value="Friday">Friday</option>
                                   <option value="Saturday">Saturday</option>
                                   <option value="Sunday">Sunday</option>
                               </select>
                                   
                               </div>
                               <!-- <ng-container *ngIf="addShiftRotationForm.get('scheduleFrequencyDay').errors && addShiftRotationForm.get('scheduleFrequencyDay').touched" class="text-danger">
                                 <p class="text-danger">Required</p>
                               </ng-container> -->
                         </div>
                         <div class="col-sm-3" *ngIf="(addShiftRotationForm.value.scheduleFrequencyType == 'weekly')"><span class="oeweek"> of every week</span></div>


                         <div class="col-sm-2" *ngIf="(addShiftRotationForm.value.scheduleFrequencyType == 'monthly')">
                               <div class="input-group">
                                  <select class="form-control" formControlName="scheduleFrequencyDay">
                                    <option  *ngFor="let item of monthArray" value="{{item}}">{{item}}</option>
                               </select>
                                   
                               </div>
                               <!-- <ng-container *ngIf="addShiftRotationForm.get('scheduleFrequencyDay').errors && addShiftRotationForm.get('scheduleFrequencyDay').touched" class="text-danger">
                                 <p class="text-danger">Required</p>
                               </ng-container> -->
                         </div>
                         <div class="col-sm-3" *ngIf="(addShiftRotationForm.value.scheduleFrequencyType == 'monthly')"><span class="oeweek"> of every month</span></div>

                   </div>



                    <div class="form-group">
                      <label class="control-label col-sm-3">From</label>
                      <div class="col-sm-6">
                       <div class="PL0 FL MR10">
                       <div class="input-group bootstrap-timepicker timepicker zp_Cust-timpckr">
                          <input id="ZPAtt_shiftMarginStarts" type="text" class="form-control"  placeholder="00:00" formControlName="timeShedule" readonly > 
                          <span class="input-group-addon" (click)="togglePopover(popoverFrom);formatTime(timeShedule,'timeShedule')" #popoverFrom="bs-popover" [popover]="popoverContentFrom" triggers="manual" [outsideClick]="true">
                           <i class="fa fa-clock-o"></i></span>
                       </div>
                      </div>
                          
                      <ng-container *ngIf="addShiftRotationForm.get('timeShedule').errors && addShiftRotationForm.get('timeShedule').touched" class="text-danger">
                       <p class="text-danger">Time shedule is required</p>
                      </ng-container>
                      <ng-template #popoverContentFrom>
                       <timepicker [(ngModel)]="timeShedule"  (ngModelChange)="formatTime(timeShedule,'timeShedule')" [hourFormat]="24" [showMeridian]="false" [ngModelOptions]="{standalone: true}"></timepicker>
                       </ng-template>
               
                      </div>
                      </div>

                       <div class="form-group">
                       <h4 class="top-shif-title-box">Shift Rotation Details</h4>
                       </div>	

                   <div class="form-group" *ngIf="(addShiftRotationForm.value.scheduleFrequencyType == 'weekly') || (addShiftRotationForm.value.scheduleFrequencyType == 'biweekly')">
                        <label class="control-label col-sm-3">Applicable Period</label>
                        <div class="col-sm-1"><span class="oeweek"> From</span></div>
                       <div class="col-sm-2">
                               <div class="input-group">
                                  <select class="form-control" formControlName="applicablePeriod" (change)="getSixthDayAfterSelectedDay($event)">
                                    <option value="">--Select--</option>
                                    <option value="Monday">Monday</option>
                                   <option value="Tuesday">Tuesday</option>
                                   <option value="Wednesday">Wednesday</option>
                                   <option value="Thursday">Thursday</option>
                                   <option value="Friday">Friday</option>
                                   <option value="Saturday">Saturday</option>
                                   <option value="Sunday">Sunday</option>
                               </select>
                                   
                               </div>
                               <!-- <ng-container *ngIf="addShiftRotationForm.get('applicablePeriod').errors && addShiftRotationForm.get('applicablePeriod').touched" class="text-danger">
                                 <p class="text-danger">Required</p>
                               </ng-container> -->
                         </div>
                         <div class="col-sm-3" *ngIf="(addShiftRotationForm.value.scheduleFrequencyType == 'weekly')"><span class="oeweek"> to {{sixthDay}} of the week</span></div>
                         <div class="col-sm-3" *ngIf="(addShiftRotationForm.value.scheduleFrequencyType == 'biweekly')"><span class="oeweek"> to {{sixthDay}}</span></div>
                         
                   </div>

                   <div class="form-group"  *ngIf="(addShiftRotationForm.value.scheduleFrequencyType == 'monthly')">
                        <label class="control-label col-sm-3">Applicable Period</label>
                        <div class="col-sm-1"><span class="oeweek"> From</span></div>
                       <div class="col-sm-2">
                               <div class="input-group">
                                  <select class="form-control" formControlName="applicablePeriod" (change)="getPreviousDayWithSuffix($event)">
                                   <option  *ngFor="let item of monthArray" value="{{item}}">{{item}}</option>
                               </select>
                                   
                               </div>
                               <!-- <ng-container *ngIf="addShiftRotationForm.get('applicablePeriod').errors && addShiftRotationForm.get('applicablePeriod').touched" class="text-danger">
                                 <p class="text-danger">Required</p>
                               </ng-container> -->
                         </div>
                         <div class="col-sm-3"><span class="oeweek">to {{monthData}} of the month
                        </span></div>
                         
                   </div>

                   
                   <div class="form-group"  *ngIf="(addShiftRotationForm.value.scheduleFrequencyType == 'daily')">
                    <label class="control-label col-sm-3">Applicable Period</label>
                    <div class="col-sm-1"><span>On</span></div>
                    <div class="col-sm-2" style="margin-left: -40px;">
                     <input type="text"  class="form-control" formControlName="applicablePeriod" style="width:100px" maxlength="4"
                     oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 4)">
                    </div>
                    <div class="col-sm-3"><span class="oeweek">th day
                  </span></div>
                     
               </div>



                   <div class="form-group">
                      <label class="control-label col-sm-3">Applicable For</label>
                      <div class="col-sm-7">
               
                        <ng-multiselect-dropdown
                        [placeholder]="'Select department'"
                        [settings]="dropdownSettings"
                        [data]="departmentList"
                        formControlName="applicableFor"
                        (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onUnselectAll($event)"
                        (onDeSelect)="onItemUnselect($event)" >
                      </ng-multiselect-dropdown>


                     <ng-container *ngIf="addShiftRotationForm.get('applicableFor').errors && addShiftRotationForm.get('applicableFor').touched" class="text-danger">
                     <p class="text-danger">Applicable for is required</p>
                     </ng-container>
                      </div>
                   </div>
                   
                   <div class="form-group">
                      <label class="control-label col-sm-3">Shift Rotation</label>
                      <div class="col-sm-2">
                        <div class="input-group">
                        <select class="form-control" formControlName="shift_rotation_from">
                          <option value="">--Select--</option> 
                          <option *ngFor="let item of shiftDetails" value="{{item.shift_id}}">{{item.shift_name}}</option>
                              
                          </select>
                               </div>
                               <ng-container *ngIf="addShiftRotationForm.get('shift_rotation_from').errors && addShiftRotationForm.get('shift_rotation_from').touched" class="text-danger">
                                 <p class="text-danger">Shift rotation from is required</p>
                               </ng-container>
                        </div>
                      <div class="col-sm-1" style="position: relative;top: 7px;text-align: center;"><i class="fa fa-minus fa-lg"></i></div>
                      <div class="col-sm-2">
                        <div class="input-group">
                          <select class="form-control" formControlName="shift_rotation_to">
                            <option value="">--Select--</option>
                                <option *ngFor="let item of shiftDetails" 
                                [disabled]="item.shift_id == addShiftRotationForm.get('shift_rotation_from').value" value="{{item.shift_id}}">{{item.shift_name}}</option>
                              
                               </select>
                            </div>
                            <ng-container *ngIf="addShiftRotationForm.get('shift_rotation_to').errors && addShiftRotationForm.get('shift_rotation_to').touched" class="text-danger">
                              <p class="text-danger">Shift rotation to is required</p>
                            </ng-container>
                       </div>


                   </div>
               </div>
               <div class="modal-footer">
               <input type="button" class="btn btn-default" data-dismiss="modal" value="Submit" (click)="submitShiftRotation()"
               [attr.data-dismiss]="addShiftRotationForm.valid ? 'modal' : 'null'" >
                   <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
               </div>
           </form>
       </div>
   </div>
</div>


     <!-- Modal -->
     <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalCenterTitle">Delete Shift Rotation</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteShiftRotation()">Delete</button>
          </div>
        </div>
      </div>
    </div>