

a.job_name_tag {
    font-weight: 500;
    color: #0047ab;
}
		
.page-titles h3.text-themecolor {
    margin-top: 0;
}

[type="radio"] {
    display: inline !important
}

.table-responsive.Reimbursements-outer-box tr th {
    background: #ceeaff !important;
}
h3.text-themecolor {
    margin-bottom: 0;
    font-weight: 500;
    color: #1a6bb7;
}
.table-responsive.Reimbursements-outer-box .table tr td {
    padding: 0.5rem 1rem !important;
    font-size: 12px;
}
.table-responsive.Reimbursements-outer-box tr th {
    background: #fafcfd;
    font-weight: 600;
}

.table-responsive.reports-new-table-outer-box thead {
    color: #ffffff !important;
    background: #6fbbdb!important;
    vertical-align: top;
  }
  
  .table-bordered {
    border: 1px solid #e8edef !important;
  }
  
h4.sub-title-inn-box.View-Roles-list-outer-box.manage-list-row {
    border: none;
    padding: 5px 0 0 0;
}
h4.sub-title-inn-box.View-Roles-list-outer-box.manage-list-row .job-info {
    padding-left: 0;
}
.table-responsive.Reimbursements-outer-box tr th {
    background: #f4faff;
}
span.text-uppercase.font-small.text-close {
    color: #b83939;
    font-size: 13px !important;
}

a.btn.comment-btn {
    font-size: 18px;
    padding: 0px 14px;
}
.singal-help-box #frame .content {
    width: calc(100% - 0px);
}
#frame .content .message-input {
 
    background: #fff;
}
#frame .content .message-input .wrap input {
  
    border: 1px solid #e7e7e7;
	line-height: 25px;
}
#frame .content .message-input .wrap .attachment {
 
    margin-top: 15px;
    font-size: 1.5em;
 
}
.singal-help-box #frame { width: 100%;}


svg.icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
}
.dropleft .dropdown-menu {
    left: auto;
    right: 65px;
    padding: 2px 0px;
    min-width: 115px;
    -webkit-box-shadow: 2px 6px 21px -2px rgb(0 0 0 / 26%);
    -moz-box-shadow: 2px 6px 21px -2px rgb(0 0 0 / 26%);
    box-shadow: 2px 6px 21px -2px rgb(0 0 0 / 26%);
}
.cursor-pointer {
    cursor: pointer;
}
.dropleft .dropdown-menu li {
    padding: 2px 10px;
    cursor: pointer;
    color: #000;
    border-bottom: 1px solid #f3f3f3;
    font-size: 12px;
}
.dropleft .dropdown-menu li:last-child {
    border-bottom: none;
}

@media (min-width: 768px) {
    .modal-dialog {
       
        margin: 10px auto;
    }
}

.up-arrow-outer-box {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    flex-direction: column;
}

.widget-caption {
    display: inline-block;
    width: 100%;
}

.down-arrow-outer-box {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    flex-direction: column;
}

.widget .widget-detail h3 {
    margin-bottom: 0;
    line-height: 1;
    font-size: 27px;
}
.text-Active, .text-active {
    color: #3eb839;
    font-size: 13px !important;
}
.bulk-attendance-outer-box thead tr th {
    background: #fff;
    font-weight: 700;
    white-space: nowrap;
    border-top: 1px solid #e2e5e8 !important;
    padding: 1.5rem 1rem;
}
.table-responsive.bulk-attendance-outer-box.Reimbursements-outer-box table.table tr td, .table-responsive.bulk-attendance-outer-box.Reimbursements-outer-box table.table tr th {
    padding: 0.8rem 1rem;
}
.bulk-attendance-outer-box table.table tr th, .bulk-attendance-outer-box table.table tr td {
    padding: 1.5rem 1rem;
}
.table-cbox tr th, table.table tr td {
    padding: 0px 8px;
}
.deductions-section .table-wrapper table.table tr th, table.table tr td {
    border-color: #e8edef;
    padding: 10px 15px;
    vertical-align: middle;
}
.table-wrapper table.table tr th, table.table tr td {
    border-color: #e8edef;
    padding: 12px 15px;
    vertical-align: middle;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 10px;
    border-top: 1px solid #e8edef;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #e8edef;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #e8eef1;
}
a {
    color: #67757c;
    text-decoration: none;
}
.widget-Employee-box .widget-detail span {
    font-weight: 600;
    font-size: 18px;
}

.widget.standard-widget .widget-detail {
    text-align: right;
    padding-left: 0;
    padding-right: 12px;
}

.save-button .btn.btn-primary:hover {
    background: #87ceeb !important;
  }
  
  .save-button .btn.btn-primary {
    background: #d1ebfc;
    color: #000;
    border: 1px solid #87ceeb;
    padding: 10px 14px;
  }
  
  .table-responsive.bulk-attendance-outer-box.Reimbursements-outer-box {
    padding-bottom: 100px;
}
.left-side {
    float: left;
    margin-right: auto;
    margin-right: 10px;
  }
  
  .right-side {
    float: right;
    margin-left: auto;
    margin-left: 10px;
  }
  
  .message-input .wrap {
    position: relative;
  }
  
   .attached-image {
    position: relative;
    display: inline-block;
    margin-top: 10px;
  }
  .message-content {
    margin-left: 10px;
    margin-right: 10px;
  }
  .message-input .wrap {
    /* display: flex; */
    align-items: center;
    position: relative;
  }
  
  .message-input .wrap input[type="text"] {
    flex: 1;
  }
  
  .message-input .wrap .attachment,
  .message-input .wrap .submit {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .attached-image-container {
    margin-top: 10px;
    float: left;
    width: 100%;
  }
  
  .attached-image {
    position: relative;
    display: inline-block;
  }
  
  .attached-image img {
    max-width: 50px;
    max-height: 50px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  
  .attached-image .remove {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
    border: 1px solid #ddd;
  }

  /* testing */

  textarea.form-control {
  resize: none; /* prevent resizing */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.message-input .wrap {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 10px;
  background: #fff;
}

.message-textarea {
  flex-grow: 1;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 18px;
  min-height: 40px;
  max-height: 100px;
  overflow-y: auto;
  margin-right: 20px;
}

.attachment {
  font-size: 18px;
  color: #555;
  margin-left: 10px;
  cursor: pointer;
}

.submit {
  background-color: #2d3e50;
  border: none;
  color: #fff;
  padding: 8px 10px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}


  