<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>
    <div id="wrapper" [ngClass]="{'active': showSidebar==false}">
        <div class="fakeLoader"></div>

        <div id="page-wrapper">
            <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Unit Parameter</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/business-settings/unit-parameter-listing']">Unit Parameter Listing</a></li>
                    <li class="breadcrumb-item active">Department listing</li>
                </ol>
            </div>
            </div>
            <div class="container-fluid">
                <!-- /row -->
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 mrg-top-2512 mrg-bot-25 employees-details-outer-box">
                    
            
                    
                        <div class="row">
                        
                        
                        <div class="col-md-12 mrg-top-0 mrg-bot-25">
                        <div class="card">
                            <div class="card-header">
                                
                                <h4 class="sub-title-inn-box View-Roles-list-outer-box">{{individualOrgData.org_unit_name}}
                                    <a class=" btn btn-user btn-round  btn-primary btn-primary-Add-Roles-btn" (click)="showDivisionUnitModal();">ADD DIVISION/UNIT  </a>
                                </h4>
                            </div>
                            <div class="card-body padd-bot-0 padd-top-0">
                                <div class="row">
                                    <div class="col-md-12 padd-top-0">
                                    <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">
                                        <table class="table user-list">
                                            <thead>
                                                <tr>
                                                    <th>Sn.</th>
                                                    <th>Department Name</th>
                                                    <th>Address</th>
                                                    <th>Designation</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngFor="let org of deptList;let i=index;">
                                                    <tr>
                                                        <td>{{i+1}} </td>
                                                        <td><a class="job_name_tag" role="button" data-toggle="collapse" data-parent="#accordion"
                                                            href="#collapseOne1{{i}}" aria-expanded="false" aria-controls="collapseOne1{{i}}"
                                                             style="cursor: pointer;" (click)="toggleCollapse(org.departmentid,i)">{{org.departmentname}}</a></td>
                                                        <td><a class="job_name_tag" role="button" data-toggle="collapse" data-parent="#accordion"
                                                            href="#collapseOne1{{i}}" aria-expanded="false" aria-controls="collapseOne1{{i}}"
                                                             style="cursor: pointer;" (click)="toggleCollapse(org.departmentid,i)">{{org.address}}</a></td>
                                                        <td>
                                                            <a class="job_name_tag" role="button" data-toggle="collapse" data-parent="#accordion"
                                                             href="#collapseOne1{{i}}" aria-expanded="false" aria-controls="collapseOne1{{i}}"
                                                              style="cursor: pointer;" (click)="toggleCollapse(org.departmentid,i)">{{org.des_count}}
                                                            </a>
                                                        </td>
                                                        <td class="roles">
                                                        
                                                            <a  class="btn btn-shortlist" 
                                                            [routerLink]="['/business-settings/unit-parameter-settings',_e.aesEncrypt(org.org_unit_id.toString())]" 
                                                             title="Add Unit Roll"><i class="fa fa-lg fa-plus-circle" aria-hidden="true"></i></a>
                                                        
                                                        </td>
                                                    <!-- </a> -->
                                                    </tr>
    
                                                    <tr class="panel-collapse collapse" aria-labelledby="designing"
                                                        [ngStyle]="{'display':isCollapsed[i] && desgList.length>0 ? 'table-row':'none'}">
                                                        <td colspan="6">
                                                           <div>
                                                              <div class="panel-body Check-In-Check-Out-table-inner-box">
                                                                 <div class="box-body">
                                                                    <table class="table table-lg table-hover">
                                                                       <thead>
                                                                          <tr>
                                                                             <th>Designation Name</th>
                                                                             <th>Salary</th>
                                                                              
                                                                          </tr>
                                                                       </thead>
                                                                       <tbody>
                                                                          <tr *ngFor="let desg of desgList;">
                                                                             <td>{{desg.designationname}} </td>
                                                                             <td>{{desg.target_offered_salary}} </td>
                                                                              
                                                                          </tr>
                                                                       </tbody>
                                                                       
                                                                    </table>
                                                                 </div>
                                                              </div>
                                                           </div>
                                                        </td>
                                                     </tr>
                                                </ng-container>
                                            </tbody>
                                            
                                        </table>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        
                        </div> 
                        
                    
                    
                    
                    </div>
                </div>
                <!-- /row -->
                </div>
            </div>
        </div>
</section>

<app-footer></app-footer>

<!--------------------- Department Modal ------------------------>
<div class="modal add-address-form-box" [@grooveState]="isDivisionUnit?'active':'inactive'">
    <div class="modal-dialog modal-lg" [@dongleState]="isDivisionUnit?'active':'inactive'">
       <div class="modal-content">
          <form [formGroup]="departmentForm">
             <div class="modal-header theme-bg">
                <h4 class="modal-title">Add Department </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeDivisionModal()">×</button>
             </div>
             <div class="modal-body">
           
               <div id="outer-Division_Unit-box" style="display: block;">
                   
                   <div class="card">
                   
                           <div class="card-header">
                               <h4>Department</h4>
                               
                           </div>
                       
                       <div class="card-body" formArrayName="divisions">
                           <div class="row">
                           
                           <div class="col-md-12 padd-top-15">
                           
                           <div class="Division_Unit-outer-box" *ngFor="let division of divisionForm.controls;let i=index;" [formGroupName]="i">
                           
                               <div class="col-sm-12 mrg-bot-15">
                                   <label class="checkbox divi-unit-box">
                                    <input type="checkbox" (click)="setAddress($event.target.checked,i)"><span>Unit details are the same as company details
                                    </span> </label>
                               </div>
                           
                               <div class="col-sm-12 mrg-bot-15">
                                   <label>Division/Unit Name<span class="text-danger">*</span></label>
                                   <input type="text" placeholder="Division 1 " autocomplete="chrome-off" maxlength="100" class="form-control"
                                   formControlName="departmentName">
                               </div>
                               
                               <div class="col-sm-12 mrg-bot-15">
                                   <label>Address <span class="text-danger">*</span></label>
                                   <input type="text" placeholder="Address" autocomplete="chrome-off" class="form-control"
                                   formControlName="address">
                               </div>
                               
                               
                               <div class="col-sm-4 m-clear mrg-bot-15">
                                   <label>State <span class="text-danger">*</span></label>
                                   <select formControlName="state" id="" class="form-control">
                                    <option value="">--Select State--</option>
                                    <option [value]="state.state" *ngFor="let state of allState">{{state.state}}</option>
                                </select>
                               </div>
                               <div class="col-sm-4 m-clear mrg-bot-15">
                                   <label>Pincode <span class="text-danger">*</span></label>
                                   <input type="text" placeholder="Pincode" autocomplete="chrome-off" class="form-control" maxlength="6"
                                    formControlName="pin_code">
                               </div>
                               
                               <div class="col-sm-4 m-clear mrg-bot-15">
                                   <label>GSTIN</label>
                                   <input type="text" placeholder="GST no" autocomplete="chrome-off" class="form-control"
                                    formControlName="gstno">
                               </div>
                                
                            </div>
                              
                           </div>
                            <div class="col-sm-12 ">
                                <div class="col-md-12 col-12 padd-top-15 text-right">
                                    <a id="Add-division-Unit-btn" class="btn btn-primary btn-sm"
                                    (click)="addDiv()">Add Department</a>
                                </div>
                            
                           </div>								
                       </div>
                   </div>
                
               
                   </div>
                  
             </div>
             <div class="modal-footer">
                <input type="button" class="btn btn-default" (click)="saveDepartmentUnits()" value="Save Department">
             </div>
          
       </div></form>
    </div>
 </div>
 
 
 </div>
<!---------------------Department Modal ends------------------->

<div id="SendMessage1" class="modal add-address-form-box" [@grooveState]="isDesignationUnit?'active':'inactive'">
    <div class="modal-dialog modal-lg" [@dongleState]="isDesignationUnit?'active':'inactive'">
       <div class="modal-content">
          <form [formGroup]="designationForm">
             <div class="modal-header theme-bg">
                <h4 class="modal-title">Add Designation</h4>
                <button type="button" class="close" (click)="closeDesignationUnit()">x</button>
             </div>
             <div class="modal-body" formArrayName="roles">
                <div class="row">
                    <div class="col-md-12 padd-bot-15 ">
                    
                        <div class="Division_Unit-outer-box add-unit-roll-out-box "
                        *ngFor="let roles of rolesFormArray.controls;let i=index;" [formGroupName]="i">	
                            <div class="col-md-12 padd-top-15">
                            
                                <div class="col-sm-12 ">
                                    <label>Designation Name<span class="text-danger">*</span></label>
                                    <input type="text" placeholder=" " autocomplete="chrome-off" maxlength="100" class="form-control"
                                    formControlName="roleName">
                                </div>
                                <div class="col-md-12 no-padd">
                                    <div class="col-md-6">
                                        <label >Department</label>
                                        <select formControlName="dept" id="" class="form-control">
                                            <option value="">-- Select Department --</option>
                                            <option [value]="org.departmentid.toString()" *ngFor="let org of deptList">{{org.departmentname}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6" *ngIf="roles.controls.id.value!=''">
                                        <button (click)="showMapEmployee(i,'map')" class="btn update-btn"
                                        >Map Employee</button>&nbsp;&nbsp;
                                        <button (click)="showMapEmployee(i,'show')" class="btn update-btn"
                                        >View Mapped Employee</button>
                                    </div>
                                </div>

                            </div>
                    
                            <div class="col-md-12 padd-bot-15 padd-top-15">
                                
                                <div class="col-md-12 padd-bot-15 padd-top-15">
                                    <div class="row">
                                        <div class="col-md-8 col-5">
                                            <div class="form-group12">
                                                <label>
                                                    <span class="com-tagline">
                                                        <strong>Enable Custom Salary: </strong>
                                                        <label class="switch">
                                                            <input type="checkbox" id="salary-toggle" (change)="hideSalaryBox(i)">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-right">
                                        
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                                <div id="Salary-Details-inn-box" class="Salary-Details-outer-box" style="display: none;">
                                
                                    <div class="col-md-12 padd-bot-15 padd-top-15">
                                    
                                        <div class="card Salary-Details-outer-box cu-Salary-outer-box" style="margin-bottom: 10px !important;">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>Annually Offered Package<span class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">₹</div>
                                                            <input type="text" placeholder="Enter MOP" autocomplete="off" formControlName="mop" onkeyup="if (/[^0-9.]/g.test(this.value)) this.value = this.value.replace(/[^0-9.]/g, '')" class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="mop">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-6" style="padding-left: 0;">
                                                            <label> Minimum Wage State<span class="text-danger">*</span></label>
                                                            <div class="input-group" style="width: 100%;">
                                                                <select (change)="getMinWagesState($event.target)" class="form-control"
                                                                formControlName="minWageState">
                                                                    <option value="">-- Select State --</option>
                                                                    <option [value]="state.state" *ngFor="let state of allState">{{state.state}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6" style="padding: 0;">
                                                            <label> Minimum Wage Category<span class="text-danger">*</span></label>
                                                            <div class="input-group" style="width: 100%;">
                                                                <select formControlName="minWagesCtg" class="form-control">
                                                                    <option value="">-- Select Category</option>
                                                                    <option [value]="ctg.minwagecategoryid" *ngFor="let ctg of minWagesCtg">{{ctg.wagesctgname}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-6 no-padd"><label>Salary Days<span class="text-danger">*</span>&nbsp;&nbsp; 
                                                                </label><input type="radio" [value]="'Y'" formControlName="salaryDaysOpted" id="salDayOptionYes"
                                                                (click)="salaryInDays('Y',i)">
                                                                <label for="salDayOptionYes" style="font-weight: normal;">Yes</label>&nbsp;&nbsp;&nbsp; 
                                                                <input type="radio" [value]="'N'" formControlName="salaryDaysOpted" id="salDayOptionNo"
                                                                (click)="salaryInDays('N',i)">
                                                                <label for="salDayOptionNo" style="font-weight: normal;">No</label>
                                                            </div>
                                                            <div class="input-group col-md-6">
                                                                <select formControlName="salaryDays" class="form-control" (change)="setSalDaysReq($event.target,i)">
                                                                    <option value="">-- Select Days</option>
                                                                    <option [value]="days.mdays" *ngFor="let days of minWageDays">{{days.mdays}}</option>
                                                                </select>
                                                            </div>
                                                    </div>
                                                    <div class="col-md-6" *ngIf="pf_details.is_epf_registered=='Y'">
                                                        <div class="col-md-10 no-padd"><label>PF Opted :</label></div>
                                                        <div class="col-md-2 no-padd">
                                                        <input type="checkbox" [checked]="roles.controls.pfOpted.value=='Y'"
                                                            (change)="getEpfVal($event.target.checked,i)" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 no-padd padd-right" *ngIf="esi_details.is_esi_registered=='Y'">
                                                        <div class="col-md-10 no-padd"><label>ESI Opted :</label></div>
                                                        <div class="col-md-2 no-padd">
                                                        <input type="checkbox" [checked]="roles.controls.esiOpted.value=='Y'"
                                                            (change)="getEsiVal($event.target.checked,i)"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-10 no-padd"><label>LWF Opted :</label></div>
                                                        <div class="col-md-2 no-padd">
                                                        <input type="checkbox" (change)="getLwfOnchange($event.target.checked,i)" [checked]="roles.controls.lwfOpted.value=='Y'"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 no-padd padd-right">
                                                        <div class="col-md-10 no-padd"><label>PF Cap Applied :</label></div>
                                                        <div class="col-md-2 no-padd">
                                                        <input type="checkbox" (change)="getPfCapOnChange($event.target.checked,i)" [checked]="roles.controls.pfCapApplied.value=='Y'"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-10 no-padd"><label>Professional Tax :</label></div>
                                                        <div class="col-md-2 no-padd">
                                                        <input type="checkbox" (change)="getPtOnChange($event.target.checked,i)" [checked]="roles.controls.ptApplied.value=='Y'" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 no-padd padd-right">
                                                        <div class="col-md-10 no-padd"><label>Gratuity (Employer) : </label></div>
                                                        <div class="col-md-2 no-padd">
                                                        <input type="checkbox" (change)="getEmployerGratuity($event.target.checked,i)" [checked]="roles.controls.employerGratuity.value=='Y'" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-10 no-padd"><label>Gratuity (Employee) : </label></div>
                                                        <div class="col-md-2 no-padd">
                                                        <input type="checkbox" (change)="getGratuity($event.target.checked,i)" [checked]="roles.controls.gratuityopted.value=='Y'" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin: 0 auto;">
                                                    <p style="text-align: center; background: #ff9191; color: #fff; width: 100%;"></p>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                
                                    <div class="col-md-12 checkbox-box no-padd" *ngIf="customSalaryMsg==''">
                                                                
                                        <div class="card " *ngIf="roles.controls.salarystructure.controls.length>0">
                                            <div class="card-body custom-salary-table Custom-Salary-inn-box padd-bot-0">
                                            <table class="table" >
                                                <thead>
                                                    <tr>
                                                        <th>Salary Components</th>
                                                        <th>Calculation Type</th>
                                                        <th>Monthly Amount</th>
                                                        <th>Annual Amount</th>
                                                    </tr>
                                                </thead>
                                            
                                                <tbody formArrayName="salarystructure">
                                                    <tr style="background-color: hsl(202, 100%, 90%) !important;">
                                                    <td colspan="3" *ngIf="salaryCalcType == 'flat'"><strong>Earnings</strong></td>
                                                    <td colspan="4" *ngIf="salaryCalcType != 'flat'"><strong>Earnings</strong></td>
                                                    </tr>
                                                    <ng-container *ngFor="let salaryControl of getSalaryControls(i).controls; let j = index;">
                                                    <tr [formGroupName]="j">
                                                        <td>
                                                        {{ salaryControl.get('salary_component_name').value }} &nbsp;&nbsp;
                                                        <div style="display:inline-block" *ngIf="salaryControl.get('salary_component_name').value == 'Gratuity In Hand'">
                                                            <input type="checkbox" (change)="getIsGratuityInHand($event.target.checked,i)" />
                                                        </div>
                                                        </td>
                                                        <td *ngIf="salaryCalcType != 'flat'">
                                                        <div class="input-group" style="width: 150px;">
                                                            <input type="text" placeholder="Basic" class="form-control component-input" formControlName="percentage_ctc" (blur)="calculateSal(i)"
                                                            onkeyup="if (/[^0-9.]/g.test(this.value)) this.value = this.value.replace(/[^0-9.]/g, '')" *ngIf="salaryControl.get('percentage_fixed').value != 'Flat' && salaryControl.get('salary_component_name').value != 'Special Allowance'"
                                                            [ngClass]="{'no-click': salaryControl.get('salary_component_name').value == 'Gratuity In Hand' }"
                                                            [readonly]="salaryControl.get('salary_component_name').value == 'Gratuity In Hand'" />
                                                            {{ salaryControl.get('percentage_fixed').value == 'Flat' ? salaryControl.get('percentage_fixed').value : salaryControl.get('salary_component_name').value == 'Special Allowance' ? 'Flat' : '' }}
                                                            <div class="input-group-addon" *ngIf="salaryControl.get('percentage_fixed').value != 'Flat' && salaryControl.get('salary_component_name').value != 'HRA' && salaryControl.get('salary_component_name').value != 'Gratuity In Hand' && salaryControl.get('salary_component_name').value != 'Special Allowance'">% of CTC</div>
                                                            <div class="input-group-addon" *ngIf="salaryControl.get('percentage_fixed').value != 'Flat' && (salaryControl.get('salary_component_name').value == 'HRA' || salaryControl.get('salary_component_name').value == 'Gratuity In Hand')">% of Basic</div>
                                                        </div>
                                                        </td>
                                                        <td>
                                                        <input type="number" *ngIf="salaryControl.get('percentage_fixed').value != 'Flat'" placeholder="Monthly Amount" class="form-control" formControlName="salary_component_amount" (blur)="clearCalculatedData(i, j, $event.target.value)"
                                                            onkeyup="if (/[^0-9.]/g.test(this.value)) this.value = this.value.replace(/[^0-9.]/g, '')" [readonly]="((salaryControl.get('salary_component_name').value == 'BASIC SALARY' || salaryControl.get('salary_component_name').value == 'HRA' || salaryControl.get('salary_component_name').value == 'Special Allowance') && salaryCalcType == 'percent') ||
                                                            salaryControl.get('salary_component_name').value == 'Gratuity In Hand'"
                                                            [ngClass]="{'no-click': ((salaryControl.get('salary_component_name').value == 'BASIC SALARY' || salaryControl.get('salary_component_name').value == 'HRA' || salaryControl.get('salary_component_name').value == 'Special Allowance') && salaryCalcType == 'percent') || salaryControl.get('salary_component_name').value == 'Gratuity In Hand'}" />
                                                        <input type="number" *ngIf="salaryControl.get('percentage_fixed').value == 'Flat'" placeholder="Monthly Amount" class="form-control" formControlName="percentage_ctc" (blur)="clearCalculatedData(i, j, $event.target.value)"
                                                            onkeyup="if (/[^0-9.]/g.test(this.value)) this.value = this.value.replace(/[^0-9.]/g, '')"
                                                            [readonly]="salaryControl.get('salary_component_name').value == 'Special Allowance'"
                                                            [ngClass]="{'no-click': salaryControl.get('salary_component_name').value == 'Special Allowance'}">
                                                        </td>
                                                        <td>
                                                        <span>{{ salaryControl.get('percentage_fixed').value != 'Flat' ? (salaryControl.get('salary_component_amount').value * 12).toFixed(2) : (salaryControl.get('percentage_ctc').value * 12).toFixed(2) }}</span>
                                                        </td>
                                                    </tr>
                                                    </ng-container>
                                                    <tr *ngIf="grossSalary[i]">
                                                        <td colspan="2" *ngIf="salaryCalcType=='percent'">Gross Salary</td>
                                                        <td colspan="1" *ngIf="salaryCalcType=='flat'">Gross Salary</td>
                                                        <td colspan="1" *ngIf="salaryCalcType!='flat'">{{grossSalary[i]}}</td>
                                                        <td colspan="1" *ngIf="salaryCalcType!='flat'"></td>
                                                        <td colspan="2" *ngIf="salaryCalcType=='flat'">{{grossSalary[i]}}</td>
                                                    </tr>
                                                    <tr style="background-color: #ceedff !important;" *ngIf="customCalculatedData[i]">
                                                        <td colspan="4" *ngIf="salaryCalcType!='flat'"> <strong>Deductions</strong></td>
                                                        <td colspan="3" *ngIf="salaryCalcType=='flat'"> <strong>Deductions</strong></td>
                                                    </tr>
                                                        <tr *ngIf="customCalculatedData[i]">
                                                        <td>ESI - Employer Contribution</td>
                                                        <td *ngIf="salaryCalcType!='flat'"></td>
                                                        <td>{{customCalculatedData[i].esi_employer.toFixed(2)}}</td>
                                                        <td><span></span></td>
                                                        </tr>
                                                        <tr *ngIf="customCalculatedData[i]">
                                                        <td>ESI - Employee Contribution</td>
                                                        <td *ngIf="salaryCalcType!='flat'"></td>
                                                        <td >{{customCalculatedData[i].esi_employee.toFixed(2)}}</td>
                                                        <td><span></span></td>
                                                        </tr>
                                                        <tr *ngIf="customCalculatedData[i]">
                                                        <td>PF - Employer Contribution</td>
                                                        <td *ngIf="salaryCalcType!='flat'"></td>
                                                        <td>{{customCalculatedData[i].epf_employer}}</td>
                                                        <td ><span></span></td>
                                                        </tr>
                                                        <tr *ngIf="customCalculatedData[i]">
                                                        <td>PF - Employee Contribution</td>
                                                        <td *ngIf="salaryCalcType!='flat'"></td>
                                                        <td>{{customCalculatedData[i].epf_employee}}</td>
                                                        <td ><span></span></td>
                                                        </tr>
                                                        <tr *ngIf="customCalculatedData[i]">
                                                        <td>LWF - Employer Contribution</td>
                                                        <td *ngIf="salaryCalcType!='flat'"></td>
                                                        <td>{{customCalculatedData[i].employerlwf}}</td>
                                                        <td ><span></span></td>
                                                        </tr>
                                                        <tr *ngIf="customCalculatedData[i]">
                                                        <td>LWF - Employee Contribution</td>
                                                        <td *ngIf="salaryCalcType!='flat'"></td>
                                                        <td>{{customCalculatedData[i].employeelwf}}</td>
                                                        <td><span></span></td>
                                                        </tr>
                                                        <tr *ngIf="customCalculatedData[i] && (customCalculatedData[i].employergratuityopted=='Y' || customCalculatedData[i].gratuityopted=='Y')">
                                                        <td>Gratuity</td>
                                                        <td *ngIf="salaryCalcType!='flat'"></td>
                                                        <td>{{customCalculatedData[i].employergratuityopted=='Y' ?customCalculatedData[i].employerGratuityRound:customCalculatedData[i].gratuityRound}}</td>
                                                        <td ><span></span></td>
                                                        </tr>
                                                    
                                                    </tbody>
                                                    <tfoot *ngIf="customCalculatedData[i]">
                                                        <tr style="background-color: #ceedff !important;">
                                                        <td colspan="2" *ngIf="salaryCalcType!='flat'"><strong>Salary In hand</strong></td>
                                                        <td colspan="1" *ngIf="salaryCalcType=='flat'"><strong>Salary In hand</strong></td>
                                                        <td>₹ {{customCalculatedData[i].salary_in_hand.toFixed(2)}}</td>
                                                        <td>₹ {{(customCalculatedData[i].salary_in_hand*12).toFixed(2)}}</td>
                                                        </tr>
                                                        <tr style="background-color: #ceedff !important;">
                                                        <td colspan="2" *ngIf="salaryCalcType!='flat'"><strong>Cost to Company</strong></td>
                                                        <td colspan="1" *ngIf="salaryCalcType=='flat'"><strong>Cost to Company</strong></td>
                                                        <td>₹ {{customCalculatedData[i].ctc.toFixed(2)}}</td>
                                                        <td>₹ {{(customCalculatedData[i].ctc*12).toFixed(2)}}</td>
                                                        </tr>
                                                    </tfoot>
                                                
                                            </table>
                                        </div>
                                        </div>
                                
                                        </div>
                                
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header" style="border-bottom: none;">
                                                <h4 class="card-title">Payout Preferences</h4>
                                            </div>
                                            <div class="col-md-6 payout-preference">
                                                <label for="">Effective Date</label>
                                                <input id="customEffectiveDate{{i}}" formControlName="effectiveDate" type="text" autocomplete="off" placeholder="dd-mm-yy" class="form-control effectiveDate">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12 col-12 text-left">
                                            <button type="button" id="Submitform" name="Submitform" class="btn btn-primary btn-sm"> Calculate </button>  
                                        </div>
                                    
                                    </div>
                                
                                </div>

                            </div>
                        </div>
                        
                    </div>	
                    <div class="col-md-12 col-12 text-right">
                            <a id="Add-Unit-roll-btn" href="#" class="btn btn-primary btn-sm">Add Unit Roll</a>  
                    </div>
                </div>									
                        
              
             </div>
             <div class="modal-footer">
                <input type="button" class="btn btn-default" value="Save Designation" (click)="saveRole()">
             </div>
          </form>
       </div>
    </div>
 </div>