
.signup-accordion-outer-box .employees-details-outer-box .accordion .panel-heading {
  background: #ffffff;
  padding: 8px 13px!important;
}
.signup-accordion-outer-box .employees-details-outer-box .accordion .panel-heading h4 {
  color: #1a6bb7;
  font-weight: 500;
}
.signup-accordion-outer-box .employees-details-outer-box .fa-angle-down {

  right: 30px;
}
.signup-accordion-outer-box .login-panel.panel {
  border: none;
}


.signup-accordion-outer-box .employees-details-outer-box .fa-plus, .signup-accordion-outer-box .employees-details-outer-box .fa-minus {
  float: right;
  font-size: 20px;
  position: absolute;
  right: 20px;
}
.signup-accordion-outer-box .employees-details-outer-box .fa-plus, .signup-accordion-outer-box .employees-details-outer-box .fa-minus {
  right: 30px;
top: 11px;
}
.signup-accordion-outer-box .employees-details-outer-box .accordion .panel-heading{position: relative;}
.signup-accordion-outer-box .btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}
.signup-accordion-outer-box .btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.card.Your-progress-sidebar-menu-box .card, .card.Your-progress-sidebar-menu-box .login-panel, .card.Your-progress-sidebar-menu-box .card-header, .card.welcome-top-outer-box .signup-accordion-outer-box .employees-details-outer-box .accordion .panel-heading  {
  background: transparent;
}
.signup-accordion-outer-box .employees-details-outer-box .accordion .panel-heading {
  background: #ffffff!important;
  padding: 8px 13px!important;
}
h3.com-you-onbor-outer-box {
  margin: 20px 0;
  text-align: center;
}
.form-group.state-city-box-inner {
  margin-right: 5px;
}

.form-group.state-city-box-inner {
  margin-right: 5px;
}
.form-group.state-city-box-inner.NonEditableField_container-box.DS-Payments-box {
  display: block;
}


.compliance-outer-box ul.nav.nav-tabs {
  background-color: #fbfbfb !important;
  border-radius: 0.3rem 0.3rem 0 0;
  border: 1px solid #8eccf5;
}
.compliance-outer-box ul.nav.nav-tabs li a {
  display: block;
  padding: 15px 24px;
  font-size: 14px;
  color: #4c4c4c;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  background-color: transparent;
  font-weight: 600;
}
.compliance-outer-box.Setup-compliance-outer-box .form-group.NonEditableField_container-box {
  background: #ffffff;
  border: 1px solid #f3f3f3;
}
ol.NumberedList_NumberedList-box li.NumberedList_NumberedListItem-box a.text-primary {
  font-weight: 600;
}
.compliance-outer-box ul.nav.nav-tabs li.active a {
  color: #ffffff;
  border-bottom: 3px solid;
  border-color: #8eccf5;
  text-transform: uppercase;
  border-radius: 0;
  background-color: #8eccf5;
}
.compliance-outer-box ul.nav.nav-tabs li.active a:after {
  content: '';
  margin: auto;
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #8eccf5;
}
.compliance-outer-box .tab-pane {
  border: none;
  background: #fbfbfb;
  padding: 10px;
  margin-bottom: 20px;
}
.compliance-outer-box .tab-pane {
  border: none;
}
.compliance-outer-box .flex.flex-col {
  flex-direction: row;
margin: 0;
}
.compliance-outer-box .form-group.NonEditableField_container-box {  padding: 1.5rem;}
.compliance-outer-box .flex.flex-col button.btn--secondary.Button_standard {
  min-width: 120px;
  margin: 20px;
  text-transform: uppercase;
  background: #d1ebfc;
  border: 1px solid #00bcd4;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
}
.compliance-outer-box .flex.flex-col button.btn--secondary.Button_standard:hover {
  background: #00bcd4;
  color: #fff;
}
.nav-tabs {
  border-bottom: 1px solid #e8edef;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #fff;
}

.tab-pane {
  border-left: 1px solid #e8edef;
  border-right: 1px solid #e8edef;
border-bottom: 1px solid #e8edef;
}
.compliance-outer-box .tab-pane {
  border: none;
  background: #fbfbfb;
  padding: 10px;
  margin-bottom: 20px;
}
.compliance-outer-box .tab-pane {
  border: none;
}
.form-group.NonEditableField_container-box {
  padding: 0.9375rem;
  display: flex;
  align-items: center;
  border: 1px solid #dde6ef;
  margin-bottom: 10px;
  box-shadow: none;
  border-radius: 0;
  background: #fbf3f3;
  font-size: 15px;
  color: #6b7c8a;
  font-weight: 400;
}
.NonEditableField_container-box .flex.flex-col {
  flex-direction: column;
  display: flex;
  margin-left: 15px;
}
.NonEditableField_container-box .flex.flex-col span.top-text-box {
  font-style: italic;
  font-size: 14px;
}
.NonEditableField_container-box .flex.flex-col span.bottom-text-box {
  font-size: 14px;
  font-weight: 500;
}

.tacbox-I-agree-box input#checkbox {
  position: relative;
  opacity: 1;
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid #000;
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
  vertical-align: middle;
}
.tacbox-I-agree-box label {
  font-weight: 400;
}
.tacbox-I-agree-box a {
  color: #0242ff;
}
ol.NumberedList_NumberedList-box {
  list-style: none;
  padding-left: 40px!important;
  padding: 20px;
  margin: 0;
}
ol.NumberedList_NumberedList-box li.NumberedList_NumberedListItem-box {
  counter-increment: number-counter;
  margin: 0 0 1rem;
  position: relative;
}
ol.NumberedList_NumberedList-box li.NumberedList_NumberedListItem-box a.text-primary {
  font-weight: 600;
}
ol.NumberedList_NumberedList-box li.NumberedList_NumberedListItem-box:before {
  background-color: #5a99e8;
  border-radius: 50%;
  color: #fff;
  content: counter(number-counter);
  font-size: 1.2rem;
  height: 2.25rem;
  left: calc(2rem*-1 - 10px);
  line-height: 2.25rem;
  position: absolute;
  text-align: center;
  top: 0.2rem;
  width: 2.25rem;
}
.compliance-outer-box .flex.flex-col {
  flex-direction: row;
  margin: 0;
}

.form-control {
  height: 50px;
  border: 1px solid #dde6ef;
  margin-bottom: 10px;
  box-shadow: none;
  border-radius: 0;
  background: #fbfdff;
  font-size: 15px;
  color: #6b7c8a;
  font-weight: 400;
}

.flex.justify-between.align-center {
  display: flex;
  justify-content: space-between;
}

.my-trash {
  color: red;
}
.pt-foot {
  margin-top:5px;
  display:flex;
  justify-content:space-between;
  color:blue;
  cursor:pointer;
}

.disabled-link {
  pointer-events: none;
}

.justify-center {
  display: flex;
  justify-content: center !important;
}
