<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<div id="wrapper" [ngClass]="{'active':showSidebar}">

  <div id="page-wrapper" style="min-height: 596px;">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Setup compliance</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Home</a></li>
          <li class="breadcrumb-item active">Setup compliance</li>
        </ol>
      </div>
    </div>


    <div class="container-fluid">
      <!-- /row -->
      <div class="row">


        <div class="col-md-8 col-md-offset-2 mrg-top-25 mrg-bot-25 signup-accordion-outer-box">

          <h3 class="com-you-onbor-outer-box">Set up compliance</h3>


          <div class="card mrg-bot-25">
            <div class="card-body padd-bot-0">
              <div class="row">
                <div class="col-md-12 padd-top-15" style="margin-left: 2rem;">
                  {{activeTab!='TDS'?complianceMessage:''}}
                </div>
              </div>
              <div class="row">

                <div class="col-md-12 padd-top-15">

                  <div class="col-md-12 compliance-outer-box Setup-compliance-outer-box">

                    <ul class="nav nav-tabs">
                      <!-- <li class=""><a data-toggle="tab" href="#Professional-Tax" aria-expanded="false">Professional
                        Tax</a></li> -->
                      <li [class.active]="activeTab === 'PF'" (click)="setActiveTab('PF')">
                        <a data-toggle="tab" href="#PF" aria-expanded="false">PF</a>
                      </li>
                      <li [class.active]="activeTab === 'ESIC'" (click)="setActiveTab('ESIC')">
                        <a data-toggle="tab" href="#ESIC" aria-expanded="true">ESIC</a>
                      </li>
                      <li [class.active]="activeTab === 'TDS'" (click)="setActiveTab('TDS')">
                        <a data-toggle="tab" href="#TDS" aria-expanded="true">TDS</a>
                      </li>
                      <li [class.active]="activeTab === 'Group Insurance'" (click)="setActiveTab('Group Insurance')">
                        <a data-toggle="tab" href="#Group Insurance" aria-expanded="true">Group Insurance</a>
                      </li>
                    </ul>

                    <div class="tab-content">


                      <div id="PF" class="tab-pane fade1" [class.active]="activeTab === 'PF'">
                        <form [formGroup]="EPF_Form">

                          <div class="form-group state-city-box-inner NonEditableField_container-box mrg-top-15">

                            <span class="bottom-text-box">PF is mandatory if the organization size is more than 20
                              employees</span>
                          </div>

                          <div class="form-group state-city-box-inner ">
                            <label>PF Status </label>

                            <select class="mb-20 rounded p-3 form-control" formControlName="is_epf_registered">
                              <option value="">Select</option>
                              <option value="Y">Enabled</option>
                              <option value="N">Disabled</option>
                            </select>

                          </div>

                          <div class="row" *ngIf="epf.is_epf_registered.value=='Y'">

                            <div class="col-sm-6">
                              <label>EPF Number <span class="text-danger">*</span></label>
                              <!-- MAMUM00641480000001250  placeholder="AA/AAA/0000000/XXX"-->
                              <input autocomplete="off" formControlName="EPF_Number" type="text" class="form-control"
                                pattern="^[A-Z]{2}[0-9]{5}$" title="Please enter a valid EPF number">

                            </div>

                            <div class="col-sm-6 m-clear">
                              <label>Deduction Cycle</label>
                              <input type="text" class="form-control" formControlName="deduction_cycle">
                            </div>

                            <div class="col-sm-12 m-clear">

                            
                                <div class="form-group state-city-box-inner padd-top-15 mrg-bot-5">

                                  <label>PF compliance setup</label>

                                </div>
                                <div class="form-group state-city-box-inner NonEditableField_container-box">

                                  <span class="bottom-text-box">Please choose your PF settings.</span>
                                </div>

                                <div class="form-group state-city-box-inner">

                                  <div class="tacbox-I-agree-box">
                                    <input type="checkbox" name="employerpfincludeinctc" id="employerpfincludeinctc_yn"
                                    (click)="change_employerpfincludeinctc($event.target.checked)"  [checked]="epf.employerpfincludeinctc.value=='Y'">
                                    <label for="employerpfincludeinctc_yn"> &nbsp;&nbsp;Include employer contribution to PF in employee CTC </label>
                                       </div>
                                </div>
                                <div class="form-group state-city-box-inner">

                                  <div class="tacbox-I-agree-box">
                                    <input type="checkbox" name="edli_adminchargesincludeinctc" id="edli_adminchargesincludeinctc_yn"
                                    (click)="change_edli_adminchargesincludeinctc($event.target.checked)" [checked]="epf.edli_adminchargesincludeinctc.value=='Y'">
                                    <label for="edli_adminchargesincludeinctc_yn">&nbsp;&nbsp; Include PF EDLI + admin charges in employee CTC </label>
                                  </div>
                                </div>
                                <div class="form-group state-city-box-inner">

                                  <div class="tacbox-I-agree-box">
                                    <input type="checkbox" name="pfonbasiconly" id="pfonbasiconly_yn" [checked]="epf.pfonbasiconly.value=='Y'"
                                    (click)="change_pfonbasiconly($event.target.checked)">
                                    <label for="pfonbasiconly_yn">&nbsp;&nbsp; Use only basic salary for calculating PF </label>
                                  </div>
                                </div>
                                <div class="form-group state-city-box-inner">

                                  <div class="tacbox-I-agree-box">
                                    <input type="checkbox" name="pfcapapplied" id="pfcapapplied_yn" [checked]="epf.pfcapapplied.value=='Y'"
                                    (click)="change_pfcapapplied($event.target.checked)">
                                    <label for="pfcapapplied_yn">&nbsp;&nbsp; Use PF limit of ₹15,000 while calculating contributions
                                    </label>
                                  </div>
                                </div>

                             
                            </div>
                            <div class="col-sm-12 m-clear">
                              <label>Employee Contribution Rate</label>
                              <div class="Contribution-btn-box">
                                {{EPF_Form.controls.employee_contribution.value}}
                              </div>
                              <!-- <select class="form-control" formControlName="employee_contribution">
                                <option value="12.00% Of Actual PF Wage">12.00% Of Actual PF Wage</option>

                              </select> -->
                            </div>
                            <div class="col-sm-12 m-clear">
                              <label>Employer Contribution Rate</label>
                              <!-- <select class="form-control " formControlName="employer_contribution">
                                <option value="13.00% Of Actual PF Wage">13.00% Of Actual PF Wage</option>

                              </select> -->
                              <div class="Contribution-btn-box">
                                <!-- {{EPF_Form.controls.employer_contribution.value}} -->
                                 <span *ngIf="epf.edli_adminchargesincludeinctc.value=='N'">12.00% of Actual PF Wage</span>
                                 <span *ngIf="epf.edli_adminchargesincludeinctc.value=='Y'">13.00% of Actual PF Wage</span>
                              </div>
                            </div>


                          </div>

                        </form>
                        <div class=" padd-top-15 flex justify-left">
                          <!-- <a *ngIf="showAssistantBtn" routerLink="/dashboard/welcome" class="btn btn-outline-primary">Back: Dashboard</a> -->

                          <div>
                            <a class="btn btn-primary" *ngIf="epf.is_epf_registered.value=='Y'"
                              [ngClass]="{'disabled-link': epf_challan_generated === 'Y'}"
                              (click)="UpdateEmployer_Epf_Details()">Save</a>
                            <a class="btn btn-primary" *ngIf="epf.is_epf_registered.value=='N'"
                              (click)="DisableStatutoryCompliance('DisableEmployerEpfDetails')">Save</a>

                            <!-- <a class="btn btn-primary" style="margin-right: 1rem;" (click)="save_pf_structure()">Save</a>
                            <a *ngIf="pf?.pf_setup_createdby?.value != null && pf?.pf_setup_createdby?.value != ''"
                              class="btn btn-primary" (click)="verify_pf_structure()">Verify</a> -->
                          </div>
                        </div>
                      </div>

                      <div id="ESIC" class="tab-pane fade1 " [class.active]="activeTab === 'ESIC'">
                        <form [formGroup]="ESI_Form">

                          <div class="form-group state-city-box-inner NonEditableField_container-box mrg-top-15">

                            <span class="bottom-text-box">ESI is mandatory if the organization size is more than 10
                              employees. ESI should be deducted for employees whose salary is less than ₹21,000.</span>
                          </div>

                          <div class="form-group state-city-box-inner ">
                            <label>ESI Status </label>

                            <select class="mb-20 rounded p-3 form-control" formControlName="is_esi_registered">
                              <option value="">Select</option>
                              <option value="Y">Enabled</option>
                              <option value="N">Disabled</option>
                            </select>

                          </div>

                          <div class="row" *ngIf="esif.is_esi_registered.value=='Y'">

                            <div class="col-sm-6">
                              <label>ESI Number <span class="text-danger">*</span></label>
                              <input autocomplete="off" formControlName="ESI_Number" type="text" class="form-control">

                            </div>
                            <!-- placeholder="00-00-000000-000-0000" -->

                            <div class="col-sm-6 m-clear">
                              <label>Deduction Cycle</label>
                              <input type="text" class="form-control" formControlName="deduction_cycle">
                            </div>
                            <div class="col-sm-12 m-clear">
                              <label>Employees' Contribution</label>
                              <div class="Contribution-btn-box">
                                <!-- <input autocomplete="off" type="text" formControlName="employee_contribution"
                                  placeholder="0.75%" class="form-control"> -->
                                <!-- <span>of Gross Pay</span> -->
                                {{ESI_Form.controls.employer_contribution.value}}
                              </div>
                            </div>

                            <div class="col-sm-12 m-clear">
                              <label>Employer's Contribution</label>
                              <div class="Contribution-btn-box">
                                <!-- <input autocomplete="off" type="text" formControlName="employer_contribution"
                                  placeholder="3.25%" class="form-control acceptOnlyNumber"> -->
                                {{ESI_Form.controls.employee_contribution.value}}
                                <!-- <span>of Gross Pay</span> -->
                              </div>
                            </div>

                          </div>


                        </form>

                        <div class=" padd-top-15 flex justify-left">

                          <!-- <a *ngIf="showAssistantBtn" routerLink="/dashboard/welcome" class="btn btn-outline-primary">Back: Dashboard</a> -->

                          <div>
                            <a class="btn btn-primary" *ngIf="esif.is_esi_registered.value=='Y'"
                              [ngClass]="{'disabled-link': esi_challan_generated === 'Y'}"
                              (click)="UpdateEmployer_Esi_Details()">Save</a>
                            <a class="btn btn-primary" *ngIf="esif.is_esi_registered.value=='N'"
                              (click)="DisableStatutoryCompliance('DisableEmployerEsiDetails')">Save</a>
                            <!-- <a class="btn btn-primary" style="margin-right: 1rem;" (click)="save_esi_structure()">Save</a>
                            <a *ngIf="esif?.esi_setup_createdby?.value != null && esif?.esi_setup_createdby?.value != ''"
                            class="btn btn-primary" (click)="verify_esi_structure()">Verify</a> -->
                          </div>
                        </div>

                      </div>


                      <div id="TDS" class="tab-pane fade1" [class.active]="activeTab === 'TDS'">
                        <form [formGroup]="tdsForm">

                          <div class="form-group state-city-box-inner padd-top-15 mrg-bot-5">

                            <label>TDS Payments </label>

                          </div>


                          <div class="form-group state-city-box-inner NonEditableField_container-box">

                            <!-- <span class="bottom-text-box">Please note that disabling the payment of TDS does not disable
                              the deduction of the same in your employees' payslips.</span> -->
                            <span class="bottom-text-box"> Please note that disabling TDS payment does not prevent the
                              deduction from your employees' payslips.</span>
                          </div>

                          <!-- <div class="form-group state-city-box-inner">
                            <div class="tacbox-I-agree-box">
                              <input id="is_salary_tds_payments" type="checkbox" (change)="changeSalaryTdsPay($event)"
                                [checked]="tf.is_salary_tds_payments.value=='Y'">
                              <label for="is_salary_tds_payments">&nbsp; Salary TDS payments (if applicable) </label>
                            </div>
                          </div> -->

                          <div class="form-group state-city-box-inner ">
                            <label>Salary TDS Payment Status </label>

                            <select class="mb-20 rounded p-3 form-control" formControlName="is_salary_tds_payments">
                              <option value="">Select</option>
                              <option value="Y">Enabled</option>
                              <option value="N">Disabled</option>
                            </select>

                          </div>


                        </form>
                        <div class=" padd-top-15 flex justify-left">

                          <div>
                            <a *ngIf="tf.is_salary_tds_payments.value=='Y'" class="btn btn-primary"
                              (click)="updateEmployer_TDS_Details('EnableTdsStatus')">Save</a>
                            <a *ngIf="tf.is_salary_tds_payments.value=='N'" class="btn btn-primary"
                              (click)="updateEmployer_TDS_Details('DisableTdsStatus')">Save</a>
                          </div>
                        </div>

                      </div>
                      <div id="Group Insurance" class="tab-pane fade1" [class.active]="activeTab === 'Group Insurance'">
                        <form [formGroup]="grpInsuranceForm">

                          <div class="form-group state-city-box-inner padd-top-15 mrg-bot-5">

                            <label>Group Insurance </label>

                          </div>


                          <div class="form-group state-city-box-inner NonEditableField_container-box">

                            <!-- <span class="bottom-text-box">Please note that disabling the payment of TDS does not disable
                              the deduction of the same in your employees' payslips.</span> -->
                            <span class="bottom-text-box"> Disabling Group Insurance does not remove its deduction from your employees' payslips.</span>
                          </div>

                          <!-- <div class="form-group state-city-box-inner">
                            <div class="tacbox-I-agree-box">
                              <input id="is_salary_tds_payments" type="checkbox" (change)="changeSalaryTdsPay($event)"
                                [checked]="tf.is_salary_tds_payments.value=='Y'">
                              <label for="is_salary_tds_payments">&nbsp; Salary TDS payments (if applicable) </label>
                            </div>
                          </div> -->

                          <div class="form-group state-city-box-inner ">
                            <label>Salary Group Insurance Status </label>

                            <select class="mb-20 rounded p-3 form-control" formControlName="is_group_insurance">
                              <option value="">Select</option>
                              <option value="Y">Enabled</option>
                              <option value="N">Disabled</option>
                            </select>

                          </div>


                        </form>
                        <div class=" padd-top-15 flex justify-left">

                          <div>
                            <a *ngIf="grpIns.is_group_insurance.value=='Y'" class="btn btn-primary"
                              (click)="updateEmployer_TDS_Details('EnableGroupInsurance')">Save</a>
                            <a *ngIf="grpIns.is_group_insurance.value=='N'" class="btn btn-primary"
                              (click)="updateEmployer_TDS_Details('DisableGroupInsurance')">Save</a>
                          </div>
                        </div>

                      </div>


                    </div>


                  </div>


                </div>


              </div>
            </div>
          </div>


          <div *ngIf="showAssistantBtn" class="padd-top-15" style="display: flex; justify-content: space-between;">
            <a routerLink="/dashboard/welcome" class="btn btn-outline-primary">Back</a>
            <!-- <a class="btn btn-primary" (click)="save_compliance()">Save</a> -->
            <a class="btn btn-primary" (click)="nextPage()">Next</a>
          </div>

        </div>

      </div>
      <!-- /row -->
    </div>
  </div>
  <footer class="footer"> © 2023 TankhaPay. Akal Information Systems Ltd. All Rights Reserved. </footer>
</div>