<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>
  <div id="wrapper" [ngClass]="{'active': showSidebar==false}">
    <div class="fakeLoader"></div>
    <!-- Navigation -->
    <div id="page-wrapper">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor" style="margin-left: 20px;">Organization unitt</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" title="Home"><a [routerLink]="['/dashboard']">Home</a>
            </li>
            <li class="breadcrumb-item active">Organization unit</li>
          </ol>
        </div>
      </div>
      <div class="container-fluid">
        <!-- /row -->
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="card">
              <div class="card-header">
                <div class="row row-head">
                  <div class="col-md-5 col-sm-5">
                    <form method="post" [formGroup]="filterSearchForm">
                      <input type="text" formControlName="search_keyword" placeholder="Search Organization unit"
                        class="form-control wide-width" style="width: 100%;" (keyup)="search($event)" />
                    </form>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="top-right-outer-box">
                      <div class="dropdown float-right-box">

                        <div class="col-md-4 col-sm-4">
                          <button title="Click to download OU-Employee Excel" type="button" class="btn btn-primary btn-sm"
                            (click)="saveBulkCreateGroup()">
                            Save
                          </button>
                        </div>

                        <div class="col-md-4 col-sm-4">
                          <button title="Click to download OU-Employee Excel" type="button" class="btn btn-primary btn-sm"
                            (click)="dowloadBulkOUExcel()">
                            Download
                          </button>
                        </div>

                        <div class="col-md-4 col-sm-4">
                          <!-- Hidden file input -->
                          <input type="file" id="fileInput9999" style="display: none;"
                            (change)="onFileChange($event, '', 9999)" />

                          <!-- Button triggers file input click -->
                          <button title="Click to upload OU-Employee Excel" type="button" class="btn btn-success btn-sm"
                            (click)="triggerFileInput()">
                            Upload
                          </button>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <div class="top-right-outer-box">
                      <div class="dropdown float-right-box">
                        <button data-toggle="modal" class=" btn btn-primary btn-sm" data-placement="top"
                          (click)="OpenNewOUPopup()">Add Organization Unit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 card-header">
                <ul class="custom-bullets">
                  <li>Download the Excel to view employees against each OU Name.</li>
                  <li>Update the <strong>Include</strong> column with <strong>Y</strong> to include or
                    <strong>N</strong> to exclude an employee.
                  </li>
                  <li><strong>Do not change</strong> any other columns.</li>
                </ul>
              </div>

              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th><input type="checkbox" name="checkempAll" (change)="checkEmployeeAll($event)">#</th>
                      <th>OU Name</th>
                      <th>Employee Count</th>
                      <th>Attendance Only</th>
                      <!-- <th>Latitude</th> -->
                      <!-- <th>Longitude</th> -->
                      <!-- <th>Radius</th> -->
                      <th>State</th>
                      <th>Pin Code</th>
                      <!-- <th>Geofence Status</th> -->
                      <th>Status</th>
                      <th style="width: 5%;">Action</th>
                      <th style="width: 23%;">Create Employee Group</th><!--*ngIf="decoded_token.isEmployer=='1'" -->
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let list_data of filteredGeo_fencing; let i=index;">
                      <tr [ngStyle]="{'color':list_data.isactive!='1'?'red':''}">
                        <td><input type="checkbox" name="checkemp" (change)="checkEmployee($event, i)"> {{i+1}}</td>
                        <td title="{{list_data.org_unit_address}}" style="width: 40%;">{{list_data.org_unit_name}}</td>
                        <td> <a style="font-weight: 600;cursor: pointer;"
                            (click)="getOuWiseEmp(list_data)">{{list_data.emp_map}}</a></td>
                        <td><input type="checkbox" name="{{i}}" id="attOnly{{i}}"
                            [checked]="list_data.is_attendance_leave_only=='Y'"
                            (change)="setEmployeeSetting($event.target.checked,i)"></td>
                        <!-- <td>
                          <p *ngIf="list_data.geo_latitude!='0'">
                            {{list_data.geo_latitude}}</p>
                        </td> -->
                        <!-- <td>
                          <p *ngIf="list_data.geo_longitude!='0'"> {{list_data.geo_longitude}}</p>
                        </td> -->
                        <!-- <td>
                          <p *ngIf="list_data.geo_longitude!='0'"> {{list_data.geo_radius}}</p>
                        </td> -->
                        <td>{{list_data.org_unit_state}}</td>
                        <td>{{list_data.org_unit_pin}}</td>
                        <!-- <td>
                          <a *ngIf="list_data.isenablegeofencing === 'Y' &&
                            (list_data.geo_longitude === '' || list_data.geo_longitude === '0' ||
                            list_data.geo_latitude === '' || list_data.geo_latitude === '0' ||
                            list_data.geo_radius === '' || list_data.geo_radius === '0')"
                            (click)="geo_fencing_byParticularId(list_data)" data-toggle="tooltip"
                            data-placement="top"><span class="Setup-btn-box text-primary">Setup</span></a>
                          <span *ngIf="list_data.isenablegeofencing=='Y' &&
                          (list_data.geo_longitude !== '' && list_data.geo_longitude !== '0') &&
                          (list_data.geo_latitude !== '' && list_data.geo_latitude !== '0') &&
                          (list_data.geo_radius !== '' && list_data.geo_radius !== '0')"
                            class="Enable-btn-box text-success">
                            Enable</span>
                          <span *ngIf="list_data.isenablegeofencing=='N'" class="disabled">Disable</span>
                        </td> -->
                        <td>{{list_data.isactive=='1'?'Active':'Inactive'}}</td>
                        <td style="width: 14rem;">
                          <span>
                            <i class="fa fa-lg fa-edit cur-ptr" title="Edit" (click)="OpenEditOUPopup(list_data)"
                              [ngClass]="{ 'disabled-link': DisableLinkOptions(list_data) || list_data.isactive != '1' }"></i>
                            &nbsp;
                          </span>

                          <a title="Click to download OU-Employee list" (click)="downloadExcel(list_data)"><i
                              class="fa fa-file-excel-o fa-lg"></i></a>
                          &nbsp;

                          <!-- Hide the actual file input -->
                          <input type="file" [id]="'fileInput' + i" style="display: none;"
                            (change)="onFileChange($event, list_data, i)" />
                          <!-- Label with FontAwesome icon triggers the file input -->
                          <label title="Click to upload OU-Employee Excel" [for]="'fileInput' + i"
                            style="cursor: pointer;">
                            <i style="color: blue;" class="fa fa-upload" aria-hidden="true"></i>
                          </label>

                          <!-- <span><i class="fa fa-lg fa-eye cur-ptr" aria-hidden="true"
                              (click)="ShowPreviewGeoFencePopup(list_data)"
                              [ngClass]="{ 'disabled-link': !DisableLinkOptions(list_data) }"></i> &nbsp;
                          </span> -->

                          <!-- <span> <i class="fa fa-lg fa-trash cur-ptr" title="Delete"></i>&nbsp;</span> -->

                          <!-- <span *ngIf="(list_data.isenablegeofencing === 'Y' &&  show_rest_button)"> <i
                              class="fa fa-lg fa-refresh cur-ptr" title="Reset the area again" (click)="OpenResetOUPopup(list_data)">
                            </i>&nbsp;</span> -->
                        </td>

                        <td><!--*ngIf="decoded_token.isEmployer=='1'"-->
                          <!-- {{empList |json}} -->
                          <div class="col-md-12 no-padd">
                            <div class="col-md-10 no-padd employee-dropdown">
                              <ng-multiselect-dropdown *ngIf="list_data.isactive=='1'" [placeholder]="'Select users'"
                                [settings]="dropdownSettings" [data]="empList" [(ngModel)]="selectedval[i]"
                                (onFilterChange)="onFilterChange($event)" (onSelect)="onItemSelect($event,i)"
                                (onSelectAll)="onSelectAll($event,i)" (onDeSelectAll)="onUnselectAll($event,i)"
                                (onDeSelect)="onItemUnselect($event,i)">
                              </ng-multiselect-dropdown>
                            </div>
                            <div class="col-md-1" *ngIf="list_data.isactive=='1'">
                              <a (click)="saveCreateGroup(list_data,i)"><i class="fa fa-floppy-o fa-lg"></i></a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </ng-container>

                    <tr *ngIf="geo_fencing_list_data_count == 0">
                      <td colspan="10" style="text-align: center;">No Data Found</td>
                    </tr>
                  </tbody>
                </table>
                <alert></alert>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- /#page-wrapper -->

<div class="modal" [@grooveState]="showSetGeofeningPopup?'active':'inactive'" aria-labelledby="myModalLabel">
  <div [@dongleState]="showSetGeofeningPopup?'active':'inactive'" class="modal-dialog">
    <div class="modal-content">
      <alert></alert>
      <form [formGroup]="SaveOUForm">
        <div class="modal-header theme-bg">
          <h4 class="modal-title">{{Form_title_name}}</h4>
          <input type="hidden" formControlName="Form_type" id="Form_type">
          <input type="hidden" formControlName="geoFenceId" id="geoFenceId">
          <button type="button" class="close" (click)="close_OUPopup()" data-dismiss="modal"
            aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="orgUnitName" id="orgUnitName" class="form-control">
          </div>
          <div class="form-group">
            <label>Address</label>
            <input type="text" formControlName="orgUnitAddress" id="orgUnitAddress" class="form-control">
          </div>
          <div class="form-group">
            <label>State</label>
            <input type="text" formControlName="orgUnitState" id="orgUnitState" class="form-control">
          </div>
          <div class="form-group">
            <label>Pin Code</label>
            <input type="text" formControlName="orgUnitPin" id="orgUnitPin" class="form-control" maxlength="6"
              pattern="^\d{6}$">
          </div>


          <div class="form-group" style="display: none;">
            <input type="checkbox" formControlName="isEnableGeofencing" id="isEnableGeofencing"
              [checked]="SaveOUForm.get('isEnableGeofencing').value !== 'N'">
            &nbsp;
            <label>Enable Geofences</label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-cancel" (click)="close_OUPopup()">Cancel</button>
          <input type="submit" (click)="SaveOrganizationUnit()" class="btn btn-success" value="Save"
            [disabled]="SaveOUForm.invalid">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" [@grooveState]="PreviewGeoFencePopup?'active':'inactive'" aria-labelledby="myModalLabelPreview">
  <div [@dongleState]="PreviewGeoFencePopup?'active':'inactive'" class="modal-dialog">
    <div class="modal-content" style="width: 800px;">
      <div class="modal-header theme-bg">
        <h4 class="modal-title">Preview Map</h4>
        <button type="button" class="close" (click)="ClosePreviewPopup()" data-dismiss="modal"
          aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div id="map"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-cancel" (click)="ClosePreviewPopup()">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" [@grooveState]="isShowEmp?'active':'inactive'" aria-labelledby="myModalLabel">
  <div [@dongleState]="isShowEmp?'active':'inactive'" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header theme-bg">
        <h4 class="modal-title">Employee List</h4>
        <button type="button" class="close" (click)="isShowEmp=false;OUWiseEmpList=[];pageIndex=1;">&times;</button>
      </div>
      <div class="modal-body" style="max-height: 320px;">
        <div class="table" style="max-height: 237px;
          overflow: auto;
          margin-bottom: 0;">
          <table class="table table-responsive" id="otherDeductionTable">
            <thead style="position:sticky;top:0px;background: #fff;">
              <tr>
                <th id="ember1089" class="sortable ember-view" style="width: 10%;">
                  #
                </th>
                <th id="ember1089" class="sortable ember-view">
                  Employee Name
                </th>
                <th id="ember1089" class="sortable ember-view">
                  Org Emp Code/TP Code
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let emp of OUWiseEmpList | paginate: { itemsPerPage: 10, currentPage: pageIndex,totalItems: totalEmp };let i=index;"
                class="emp-item">
                <td>{{(pageIndex-1)*10+i+1}}</td>
                <td>{{emp.emp_name}}</td>
                <td>{{emp.orgempcode ? emp.orgempcode : emp.cjcode}}</td>
              </tr>
              <tr *ngIf="OUWiseEmpList.length==0">
                <td colspan="3" style="text-align: center;">No Data Found</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="flexbox padd-10" *ngIf="OUWiseEmpList.length > 0">
          <pagination-controls (pageChange)="get_page($event)" style="font-size: 2rem; padding: 6px; font-weight: bold"
            class="float-right"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
