<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<section>
  <div id="wrapper" [ngClass]="{'active': showSidebar == false}">
    <div class="fakeLoader"></div>
    <!-- Navigation -->
    <div id="page-wrapper">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor" style="margin-left: 20px;">Device Settings</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" title="Home"><a [routerLink]="['/dashboard']">Home</a>
            </li>
            <li class="breadcrumb-item active">Device Settings</li>
          </ol>
        </div>
      </div>
      <div class="container-fluid">
        <!-- /row -->
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="card">
              <div class="card-header">
                <div class="row row-head">
                  <!-- <div class="col-md-2 col-sm-2" style="display: flex;align-items: center;">
                    <label>Show</label>
                    &nbsp;
                    <select class="form-control" (change)="changePage($event)">
                      <option value="">All</option>
                    </select>
                  </div> -->
                  <div class="col-md-4 col-sm-4">
                    <input type="text" value="" placeholder="Search Device(s)" class="form-control wide-width"
                      style="width: 100%;" (keyup)="searchDevice($event)" />
                  </div>
                  <div class="col-md-2 col-sm-2" style="display: flex;align-items: center;">
                    <label>Status</label>
                    &nbsp;
                    <select class="form-control" (change)="changeStatus($event)">
                      <option value="">All</option>
                      <option value="1">Active</option>
                      <option value="0">Inactive</option>
                      <option value="Y">Verified</option>
                      <option value="N">Not Verified</option>
                    </select>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="top-right-outer-box">

                      <button class="btn btn-success" (click)="open_add_new_device_popup()">Add New Device</button>
                      <!-- <select class="form-control" style="margin:  0.2rem;width: 150px;"
                                                (change)="changeProductType($event)" title="Product Type"
                                                *ngIf="this.show_product_type_dropdown">
                                                <option *ngFor="let ya of product_type_array"
                                                    [selected]="product_type==ya.product_type_id"
                                                    [value]="ya.product_type_id">{{ya.product_type}}</option>
                                            </select> -->

                      <!-- <div class="dropdown float-right-box">
                                                <ul class="nav nav-pills" role="tablist">
                                                    <li role="presentation" class="dropdown">
                                                        <a href="javascript:void();"
                                                            class="dropdown-toggle btn-round btn-success"
                                                            data-toggle="dropdown">Add Employee
                                                            <span class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a [routerLink]="['/employees/single-employee']">Add
                                                                    Employee</a></li>
                                                            <li><a [routerLink]="['/employees/bulk-employee']">Bulk
                                                                    Employee</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">

                <table class="table table-bordered"  >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Machine Serial Number</th>
                      <th>Location</th>
                      <th>Machine IP</th>
                      
                      <th>Added On</th>
                      <th>Machine Punch Type</th>
                      <!-- <th>Remark</th> -->
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>

                  <tbody>
                    <ng-container *ngFor="let dmd of device_master_data_filterCopy; let i=index;">
                      <tr [ngClass]="{'verified-device': dmd.is_verified=='Y', 'inactive-device': dmd.status=='0'}">
                        <td>{{i+1}}</td>
                        <td>{{dmd.machine_serial_no}}</td>
                        <td>{{dmd.machine_location}}</td>
                        <td>{{dmd.machine_ip}}</td>
                     
                        <td>{{dmd.created_date}}</td>
                        <td>{{dmd.punch_type_txt}}</td>
                        <td> <span *ngIf="dmd.status=='0'" style="color: red;"> Inactive</span>
                          <span *ngIf="(dmd.status=='1' && dmd.is_verified=='Y')" style="color: green;"> Verified</span>
                          <span *ngIf="(dmd.status=='1' && dmd.is_verified=='N')"> Pending</span>
                          <!-- {{dmd.status=='0' ?'Inactive':dmd.is_verified=='Y' ? }}
                          {{dmd.is_verified}} -->
                        </td>
                        <!-- <td>{{dmd.remark}}</td> -->
                        <td>
                          <span *ngIf="dmd.is_verified=='N' && dmd.status=='1'">
                            <i class="fa fa-lg fa-edit cur-ptr" title="Edit"
                              (click)="open_update_device_popup(dmd)"></i>
                            &nbsp;
                          </span>

                          <span *ngIf="dmd.is_verified=='N' && dmd.status=='1'">
                            <i class="fa fa-lg fa-check-square-o cur-ptr" title="Verify"
                              (click)="open_verify_device_popup(dmd)"></i>
                            &nbsp;
                          </span>

                          <span *ngIf="dmd.status=='1' && dmd.status=='1'">
                            <i class="fa fa-lg fa-trash cur-ptr" title="Inactive"
                              (click)="open_inactive_device_popup(dmd)"></i>
                          </span>
                        </td>
                      </tr>
                    </ng-container>

                    <tr *ngIf="device_master_data_filterCopy.length == 0">
                      <td colspan="100%" style="text-align: center;">No Data Found</td>
                    </tr>
                  </tbody>
                </table>
                <alert></alert>

              </div>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
    </div>
    <!-- /#page-wrapper -->
    <app-footer></app-footer>


    <!--------Add New Device Popup-------->
    <div [@grooveState]="showNewDevicePopup?'active':'inactive'" id="addNewDevice" class="modal">
      <div [@dongleState]="showNewDevicePopup?'active':'inactive'" class="modal-dialog"
        style="margin:auto auto auto auto;">
        <div class="modal-content" style="height:100%;margin-top:100px;">
          <form>
            <div class="modal-header theme-bg">
              <h4 class="modal-title">{{device_popup_title}}</h4>
              <button type="button" class="close" (click)="closeNewDevicePopup()" data-dismiss="modal"
                aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="row">

                <form [formGroup]="deviceForm" 
                [ngClass]="{'read-only': device_popup_title == 'Are you sure you want to verify this device?'
                || device_popup_title == 'Are you sure you want to Inactive this device?'}">
                  <div class="col-md-12">                   
                    <strong>Machine Punch Type <span class="text-danger">*</span></strong>
                      &nbsp;
                      <select class="form-control"  formControlName="punch_type">
                        <option value="both">Both (In | Out) Punch</option>
                        <option value="in">In Time Punch</option>
                        <option value="out">Out Time Punch</option>
                      </select>
                   
                  </div>
                  <div class="col-md-12">
                    <strong>Machine Serial No<span class="text-danger">*</span></strong>
                    <input class="form-control" type="text" formControlName="machine_serial_no"
                      placeholder="Enter Machine Serial No" [ngClass]="{'is-invalid':
                          add_update_device_submitted && (df.machine_serial_no.errors || df.machine_serial_no.value == '')
                      }">

                    <div *ngIf="add_update_device_submitted && df.machine_serial_no.errors" class="inline-pos">
                      <small *ngIf="df.machine_serial_no.errors.required" class="text-danger">Machine Serial No is
                        required</small>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <strong>Machine IP<span class="text-danger">*</span></strong>
                    <input class="form-control" type="text" formControlName="machine_ip" placeholder="Enter Machine IP"
                      [ngClass]="{'is-invalid':
                          add_update_device_submitted && (df.machine_ip.errors || df.machine_ip.value == '')
                      }">

                    <div *ngIf="add_update_device_submitted && df.machine_ip.errors" class="inline-pos">
                      <small *ngIf="df.machine_ip.errors.required" class="text-danger">Machine IP is
                        required</small>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <strong>Machine Location<span class="text-danger">*</span></strong>
                    <input class="form-control" type="text" formControlName="machine_location"
                      placeholder="Enter Location" [ngClass]="{'is-invalid':
                    add_update_device_submitted && (df.machine_location.errors || df.machine_location.value == '')
                    }">

                    <div *ngIf="add_update_device_submitted && df.machine_location.errors" class="inline-pos">
                      <small *ngIf="df.machine_location.errors.required" class="text-danger">Machine Location is
                        required</small>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <strong>Remark</strong>
                    <textarea id="remarktext" class="form-control" rows="3" type="text" formControlName="remark"
                      placeholder="Enter Remark...">
                      </textarea>
                  </div>

                </form>


              </div>
            </div>
            <div class="modal-footer">
              <button *ngIf="device_popup_title == 'Update Device'" class="btn btn-info"
                (click)="update_business_device_by_id()">Update</button>

              <button *ngIf="device_popup_title == 'Add New Device'" class="btn btn-info"
                (click)="insert_business_device()">Add</button>

              <button *ngIf="device_popup_title == 'Are you sure you want to verify this device?'" class="btn btn-info"
                (click)="manage_business_device('locked_business_device_by_id')">Verify</button>

              <button *ngIf="device_popup_title == 'Are you sure you want to Inactive this device?'"
                  class="btn btn-info" (click)="manage_business_device('remove_business_device_by_id')">Inactive</button>

              <button class="btn btn-cancel" (click)="closeNewDevicePopup()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--------Add New Device Popup-------->
