
.light-skyblue {
    background: lightblue;
}

.white {
    background: white;
}
.showhide a.dropdown-item {
  padding: 3px 10px !important;
}
button#dropdownMenuButton {
  color: #fff !important;
}
ul.dropdown-menu.showhide {
  padding: 20px 0 20px  20px !important;
}
ul.item1 {
  max-height: 206px !important;
}
.export-button {
    background-color: rgb(114, 238, 116);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  .dropdown.float-right-box ul#menu3 {
    left: -52px;
}
.top-right-outer-box {
    display: flex;
    justify-content: flex-start;
}
.form-check {
    padding-top: 10px;
}
.form-check .form-check-input {
    height: 20px;
    width: 20px;
    vertical-align: text-bottom;
    margin: 3px 5px 0 0;
}


.save-button .btn.btn-primary:hover {
  background: #87ceeb !important;
}

.save-button .btn.btn-primary {
  background: #d1ebfc;
  color: #000;
  border: 1px solid #87ceeb;
  padding: 10px 14px;
}

html body .btn-primary:hover, html body .btn-primary:focus {
  color: #ffffff;
}
/* .btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: #1194f7 !important;
  border-color: #1194f7 !important;
} */
.btn.focus, .btn:focus, .btn:hover {
  color: #67757c !important;
  text-decoration: none;
}

.Show-Fields-top-outer-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
}

.dropdown.btn-group.Show-Fields-outer-box .btn-primary {
  padding: 10px 15px;
}

.showhide {
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-menu {
  border-color: #e8eef1;
  padding: 0;
  box-shadow: none;
  margin: 0px 0 0;
}

.Show-Fields-top-outer-box .dropdown.float-right-box .btn-primary:hover {
  color: #fff;
  background-color: #1194f7;
  border-color: #1194f7;
}
.Show-Fields-top-outer-box .dropdown.float-right-box .btn-primary {
  border-radius: 0;
}

.save-button .btn.btn-primary.Reset-btn-box:hover {
  background: #dbdbdb;
  border: 1px solid #c4c6c7;
}

.save-button .btn.btn-primary.Reset-btn-box {
  background: #e3e3e3;
  border: 1px solid #c4c6c7;
}
.save-button .btn.btn-primary:hover {
  background: #87ceeb;
}
.save-button .btn.btn-primary {
  background: #d1ebfc;
  color: #000;
  border: 1px solid #87ceeb;
  padding: 10px 14px;
}
html body .btn-primary:hover, html body .btn-primary:focus {
  color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: #1194f7;
  border-color: #1194f7;
}
.btn.focus, .btn:focus, .btn:hover {
  color: #67757c;
  text-decoration: none;
}

html body .btn-primary {
  background: #1194f7;
}

.dropdown-menu>li:last-child a {
  border-bottom: none;
}
.dropdown-menu>li>a {
  display: block;
  padding: 14px 12px 14px 12px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #67757c;
  white-space: nowrap;
  border-bottom: 1px solid #f1f6f9;
}

.table-responsive.reports-new-table-outer-box thead {
  color: #ffffff !important;
  background: #6fbbdb!important;
  vertical-align: top;
}

.table-bordered {
  border: 1px solid #e8edef !important;
}
.showhide {
    max-height: 200px; /* Set a maximum height for the dropdown */
    overflow-y: auto; /* Add a vertical scrollbar if necessary */
  }

  .dropdown-item label {
    display: block;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
  }

  .dropdown-item input {
    margin-right: 5px; /* Add some spacing between the checkbox and the text */
  }
  .please-wait {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .please-wait i {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  /* .btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
} */
#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f1f5fa;
  overflow-x: hidden;
  transition: 0.5s;

  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px -1px, rgba(0, 0, 0, 0.3) -10px 6px 10px 0px, rgba(0, 0, 0, 0.12) -7px 1px 18px 0px;
}

#sidebar .close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
}

.sidebar-content {
  padding: 15px;
}
h3.filter-menu-header-text-box {
  padding: 21px 15px;
  margin-bottom: 0;
}
.sidebar-content-box .form-group {
  font-size: 13px;
}


#sidebar::-webkit-scrollbar {
width: 6px;
}

/* Track */
#sidebar::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
#sidebar::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
#sidebar::-webkit-scrollbar-thumb:hover {
background: #555;
}
.sidebar-menu_filter-box label.control-label {
  font-weight: 500;
  padding: 0;
}
.sidebar-menu_filter-box select.form-control {
  height: 35px;
}
.sidebar-menu_filter-box .form-group {
  margin-bottom: 0px;
}


.sidebar-menu_filter-box .panel-default>.panel-heading {
  color: #333;
  background-color: #deedff;
  border-color: #fff;
  border: 1px solid #fff;
}
.sidebar-menu_filter-box .panel-default>.panel-heading h4 {
  font-size: 14px;
  color: #000;
}
.sidebar-menu_filter-box .panel-heading h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-menu_filter-box .panel-heading {
  cursor: pointer;
}
/* .filter-onlick-btn {
  margin-left: 10px;
  color: #000 !important;
  font-size: 15px !important;
  padding: 10px 15px !important;
  background-color: #e1e1e1;
} */
#sidebar a.clear-box-btn {
  position: absolute;
  top: 53px;
  right: 25px;
  color: #1372dd;
  font-size: 14px;
  cursor: pointer;
}
#sidebar .dropdown-list ul.item2 {
  max-height: 90px !important;
}




.btn.comment-btn {
  font-size: 18px;
  padding: 0px 14px;
}
.singal-help-box #frame .content {
  width: calc(100% - 0px);
}
#frame .content .message-input {
  background: #fff;
}
#frame .content .message-input .wrap input {
  border: 1px solid #e7e7e7;
  line-height: 25px;
}
#frame .content .message-input .wrap .attachment {
  margin-top: 15px;
  font-size: 1.5em;
}
.singal-help-box #frame {
  width: 100%;
}

svg.icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.notification-btns {
  position: absolute;
  z-index: 999;
  margin-top: 7px;
  margin-left: 50rem;
}


span.noti-count {
  position: absolute;
  top: 7px;
  right: 2px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  line-height: 20px;
  color: #ffffff;
  font-size: 12px;
  padding: 0px 4px;
text-align:center;
}
span.task-notify.noti-count {
  background:#04AE41;
}
span.email-notify.noti-count {
  background:#f20404;
}
.header-notification-box span.noti-count{
  top: -1px;
}

/* .notification-btns {
  position: absolute;
  z-index: 999;
  margin-top: 7px;
  margin-left: 65rem;
} */

.header-notification-box {
  margin-top: 5px;
}
