<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>
    <div id="wrapper" [ngClass]="{'active': showSidebar == false}">
        <div class="fakeLoader"></div>


        <div id="page-wrapper">


            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Probation Notification</h3>
                </div>
            </div>

            <div class="container-fluid">

                <div class="row">
                    <!-- <app-common-filter [isSideBar]="isSideBar"
                        (filterChanged)="searchOnFilters($event)"></app-common-filter> -->

                    <div class="col-md-12 col-sm-12">

                        <div class="card">
                            <div class="card-header">

                                <div class="row">



                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-lg-12 col-md-12 col-sm-12 padd-0">
                                    <div class="table-responsive reports-table-outer-box reports-new-table-outer-box">
                                        <table class="table table-striped table-bordered">
                                            <thead style="background: skyblue;" #reportTable>
                                                <tr>

                                                    <th>Date Of Joining</th>
                                                    <th>Probation End Date</th>
                                                    <th>Day's Left</th>
                                                    <th>Reporting Manager Name</th>
                                                    <th>Action</th>
                                                    <th>View</th>
                                                </tr>
                                            </thead>
                                            <tbody style="background: aliceblue;">
                                                <ng-container
                                                    *ngFor="let report of get_employee_list_data; let i = index">
                                                    <tr
                                                        [ngClass]="{ 'light-skyblue': i % 2 == 0, 'white': i % 2 != 0 }">

                                                        <td>{{ report.dateofjoining | date:'dd-MM-yyyy'}}</td>
                                                        <td>{{ report.probation_end_date | date:'dd-MM-yyyy'}}</td>
                                                        <td>{{ report.probation_daysleft }}</td>
                                                        <td>{{ report.reportingmanagername }}</td>
                                                        <td><a href="javascript:void(0)" *ngIf="(report.alredaysent == null && report.submission_status === 'no')" 
                                                            (click)="alertsendforrenewal(report)" >Action</a>
                                                            <span *ngIf="report.submission_status === 'yes'">Submitted</span>
                                                        </td>
                                                        <td>
                                                            <div class="inline-actions">
                                                                <a href="javascript:void(0)" (click)="viewDesc(report)">View</a>
                                                                <a href="javascript:void(0)" (click)="generateApprovalPdf(report)">
                                                                    <i class="fa fa-file-pdf-o" 
                                                                    aria-hidden="true" style="color: red; 
                                                                    margin-right: 5px;"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                                <tr *ngIf="get_employee_list_data.length === 0">
                                                    <td colspan="6" style="text-align: center;">No Data Found</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <alert></alert>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal" [ngStyle]="{'display':confirmationModal?'block':'none'}">
        <div class="modal-dialog modal-md ">
            <div class="modal-content ">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Probation Report</h4>
                    <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close"
                        data-bs-dismiss="modal" (click)="closeConfirmModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="modal-body scrollable-modal-body">
                    <div class="row">
                        <div class="col-md-12" style="min-height:40px;">
                            <p>Please fill your key accomplishments and
                                exceptional achievements </p>
                        </div>

                        <form [formGroup]="myForm">
                            <div class="col-md-12">
                                <!-- <textarea id="description" formControlName="description" rows="6" cols="70"></textarea> -->
                                <!----kolkove editor start with select---->
                                <div class="row">
                                    <div class="col-md-12">

                                        <angular-editor id="attachment" class="jdbanktoolbarsize"
                                            formControlName="description" [config]="editorConfig">
                                        </angular-editor>
                                        <div id="appointment-container"></div>
                                    </div>
                                </div>
                                <!----kolkove editor end---->
                            </div>
                        </form>
                    </div>

                    <!-- Modal footer -->

                    <div class="modal-footer" style="background-color: #fff;">
                        <button class="btn btn-success " data-dismiss="modal" (click)="sendtoreporting()">Submit</button>
                        <button type="button" class="btn btn-danger " data-dismiss="modal" aria-hidden="true"
                            (click)="closeConfirmModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" [ngStyle]="{'display':viewtrack?'block':'none'}">
        <div class="modal-dialog modal-md ">
            <div class="modal-content ">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">View</h4>
                    <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close"
                        data-bs-dismiss="modal" (click)="closetrackModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="modal-body" style="overflow: auto; height: 400px;">
                    <div class="row">
                        <div class="col-md-12" style="min-height:100px;">
                            <table class="table table-striped table-bordered">
                                <thead style="background: skyblue;" #reportTable>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Description</th>
                                        <!-- <th>Reporting Comment</th> -->

                                    </tr>
                                </thead>
                                <tbody style="background: aliceblue;">
                                    <ng-container *ngFor="let report of get_desc; let i = index">
                                        <tr [ngClass]="{ 'light-skyblue': i % 2 == 0, 'white': i % 2 != 0 }">
                                            <td>{{ i + 1 }}</td>
                                            <td colspan="2">
                                                <strong *ngIf="report.status === 'senttoreporting'">
                                                Employee Key Accomplishments and Exceptional Achievements:
                                                </strong>
                                                <strong *ngIf="report.status === 'senttohr'">
                                                Reporting Manager's Comments:
                                                </strong>
                                                <div style="padding-top: 10px;" [innerHTML]="report.description"></div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <tr *ngIf="get_desc.length === 0">
                                        <td colspan="3" style="text-align: center;">No Data Found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Modal footer -->
                </div>
            </div>
        </div>
    </div>


    <app-footer></app-footer>