<section>
    <!-- Reset Password Code -->
    <div class="container" *ngIf="!this.status && this.link_status!=null && this.link_status!=false">
       <div class="row">
          <div class="col-md-6 col-md-offset-3">
             <div class="logo-panel-heading-box"><img src="assets/img/logo.png" alt="" class="img-responsive"  style="width: 220px;"></div>
             <div class="login-panel panel panel-default">
                <div class="panel-body">
                   <div class="login-with-email-phone-box" style="margin-bottom: 20px;"></div>
 
                   <div class="form-group signup-form-box">
                      <div class="text-center">
                         <h3><i class="fa fa-lock fa-4x"></i></h3>
                         <h2 class="text-center">Generate Password?</h2>
                      </div>
 
                      <div class="form-group">
                         <form [formGroup]="resetForm" autocomplete="off">
 
                            <!-- <label for="New_Password">New Password: <span class="required-indicator"> *</span></label> -->
                            <input type="password" formControlName="newpassword" placeholder="New Password"
                               class="form-control " maxlength="50">
 
                            <!-- <label for="Confirm_Password">Confirm Password: <span class="required-indicator">
                                  *</span></label> -->
                            <input formControlName="confirmpassword" placeholder="Confirm Password" class="form-control"
                               type="password" maxlength="50">
 
                            <a class="btn btn-primary btn-lg" style="width: 100%;" (click)="Reset_Password()">Generate
                               Password</a>
 
 
                         </form>
                      </div>
                   </div>
 
                </div>
                <div class="modal-footer text-center">
                   <div class="col-md-12"> © 2023 TankhaPay. Akal Information Systems Ltd. All Rights Reserved. </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 
    <!-- Reset Passwod confirmation Code -->
    <div class="container" *ngIf="this.status">
       <div class="row">
          <div class="col-md-6 col-md-offset-3">
             <div class="logo-panel-heading-box"><img src="assets/img/logo.png" alt="" class="img-responsive"  style="width: 220px;"></div>
             <alert></alert>
             <div class="login-panel panel panel-default">
                <div class="panel-body">
                   <div class="login-with-email-phone-box" style="margin-bottom: 20px;"></div>
 
                   <div class="form-group signup-form-box">
                      <form novalidate="" autocomplete="off" class="ng-touched ng-pristine ng-invalid">
 
                         <div class="form-group">
 
                            <div class="text-center">
                               <h3><i class="fa fa-check-square-o fa-4x text-success"></i></h3>
                               <h2 class="text-center">Password Changed</h2>
 
                               <!-- <label class="text-success">Your password has been reset successfully</label> -->
                               <label class="text-success">Your password has been reset successfully</label>
                            </div>
 
                         </div>
 
                         <a [routerLink]="['/login']" class="btn btn-primary btn-lg" style="width: 100%;">Login</a>
 
                      </form>
                   </div>
 
                </div>
                <div class="modal-footer text-center">
                   <div class="col-md-12"> © 2023 TankhaPay. Akal Information Systems Ltd. All Rights Reserved. </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 
    <!-- Link Expired Div -->
 
    <div class="container" *ngIf="this.url_status==false">
       <div class="row">
          <div class="col-md-6 col-md-offset-3">
             <div class="logo-panel-heading-box"><img src="assets/img/logo.png" alt="" class="img-responsive"  style="width: 220px;"></div>
 
             <div class="login-panel panel panel-default">
                <div class="panel-body">
                   <div class="login-with-email-phone-box" style="margin-bottom: 20px;"></div>
 
                   <div class="form-group signup-form-box Congratulations-btn-box">
                      <form novalidate="" autocomplete="off" class="ng-touched ng-pristine ng-invalid">
 
                         <div class="form-group">
 
                            <div class="vh-100 d-flex justify-content-center align-items-center">
 
                               <div class="mb-4 text-center">
                                  <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-times-circle-fill text-danger"
                                     width="50" height="50" fill="currentColor" viewBox="0 0 16 16">
                                     <path
                                        d="M8 0A8 8 0 0 0 0 8a8 8 0 0 0 16 0A8 8 0 0 0 8 0zm4.22 11.22a.75.75 0 0 1-1.06 0L8 9.06 4.84 12.22a.75.75 0 0 1-1.06-1.06L6.94 8 3.78 4.84a.75.75 0 0 1 1.06-1.06L8 6.94l3.16-3.16a.75.75 0 0 1 1.06 1.06L9.06 8l3.16 3.16a.75.75 0 0 1 0 1.06z" />
                                  </svg>
                               </div>
 
                               <div class="text-center message-thanku-box">
                                  <h3>Link Expired</h3>
 
                                  <h5>To reset your password, return to the main login page and select "Reset Password"
                                     to send a new email. </h5>
 
                                  <span class="btn btn-primary btn-lg" style="width: 100%;" (click)="goBack()">Back to
                                     login</span>
                               </div>
 
 
 
 
 
                            </div>
 
                         </div>
 
 
 
 
                      </form>
                   </div>
 
                </div>
                <div class="modal-footer text-center">
                   <div class="col-md-12"> © 2023 TankhaPay. Akal Information Systems Ltd. All Rights Reserved. </div>
                </div>
             </div>
          </div>
 
 
       </div>
    </div>
 
 </section>