<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>
  <div id="wrapper" [ngClass]="{'active': showSidebar == false}">
    <div class="fakeLoader"></div>


    <div id="page-wrapper">

      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor" style="font-size: 2rem;">Bulk Lock Attendance</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/attendance']">Attendance</a></li>
            <li class="breadcrumb-item active">Bulk Lock Attendance</li>
          </ol>
        </div>
      </div>



      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-lg-12">


                    <div class="row">
                      <div class="col-md-2" style="text-align: left;">
                        <span style="font-weight: bold;">Month</span>

                        <select class="form-control" (change)="changeMonth($event)">

                          <option *ngFor="let ma of monthsArray" [selected]="month==ma.id" [value]="ma.id">
                            {{ma.month}}</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <span style="font-weight: bold;">Year</span>
                        <select class="form-control" (change)="changeYear($event)">

                          <option *ngFor="let ya of yearsArray" [selected]="year==ya" [value]="ya">{{ya}}
                          </option>
                        </select>
                      </div>

                      <div class="col-md-4">
                        <span style="font-weight: bold;">Search</span>
                        <input type="text" class="form-control" value="" placeholder="Search" (keyup)="search()"
                          maxlength="100" [(ngModel)]="searchKey">

                      </div>
                      <div class="col-md-2 col-sm-2">
                        <span style="font-weight: bold;">Status</span>
                        <select class="form-control" [(ngModel)]="status_filter" (change)="change_status_filter()">
                          <option value="">All</option>
                          <option value="P">Pending</option>
                          <option value="A">Approved</option>
                        </select>
                      </div>
                    </div>

                  </div>



                </div>
              </div>

              <div class="card-body padd-bot-0 padd-top-0">

                <div class="row">
                  <div class="col-md-12 padd-top-0">
                    <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">

                      <table class="table table-bordered">
                        <thead>
                          <th class="check-box-align"><input type="checkbox" (click)="check_emp_all($event)"
                              name="checkempAll" [checked]="find_emp_code_all()"></th>
                          <th>#</th>
                          <th>Month-Year</th>
                          <th>Employee</th>
                          <!-- <th></th> -->
                          <th>Paid Day</th>
                          <th>Revised Paid Day</th>
                          <th>(+/-) Days</th>
                          <th>Amount</th>
                          <th>Status</th>
                          <th *ngIf="success_emp_codes.length > 0 || failed_emp_codes.length > 0" style="width: 20rem;">Message</th>
                        </thead>


                        <tbody>
                          <ng-container *ngFor="let bla of bulk_lock_att_data; let i=index;">
                            <tr>
                              <td class="check-box-align"><input  *ngIf="bla?.emp_deviation_status=='N'" type="checkbox" (click)="check_emp($event, bla.emp_code)"
                                  name="checkemp" class="checkemp" [attr.data-emp-code]="bla.emp_code" [checked]="find_emp_code(bla.emp_code)"></td>
                              <td>{{i+1}}</td>
                              <td>{{monthsArray[bla?.locmonth-1]?.month}} - {{bla?.locyear}}</td>
                              <td>{{bla.emp_name}} {{get_orgemp_tp_code(bla)}}</td>
                              <!-- <td> </td> -->
                              <td>{{bla.old_days}} </td>
                              <td>{{bla.new_days}}</td>
                              <td>{{bla.daysdiff}}</td>
                              <td>{{bla.deviationamount}}</td>
                              <td>{{bla.emp_deviation_status}}</td>
                              <td *ngIf="success_emp_codes.length > 0 || failed_emp_codes.length > 0">{{bla?.message}}</td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>

                <div
                  class="col-md-12 col-12 text-center save-lock-btn">
                  <button class="btn btn-primary  btn-lg" (click)="saveBulkDeviationSalaryDetails()"><i
                      class="fa fa-upload fa-lg">
                    </i> Save Bulk Lock Attendance</button>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>


    </div>

  </div>

</section>

<app-footer></app-footer>
