<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>
    <div id="wrapper" [ngClass]="{'active': showSidebar == false}">
        <div class="fakeLoader"></div>
        <div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">HR Letter</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        
                        <li class="breadcrumb-item active">HR Letter</li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                <a  class="btn" title="Back" (click)="goBack()" style="font-size: 15px;"><i class="fa fa-long-arrow-left fa-lg"></i> Back</a>
                <!-- /row -->
                <div class="row">
                
                    <div class="col-md-12">
                            <div class="card-header caded-innder-head-box"> 
                            
                            <div class="col-sm-6 text-left"><h3 class="list-name-text">Template Preview</h3> </div>
                            
                            
                            <div class="col-sm-6 text-right">
                                <a [routerLink]="['/employee-mgmt/letterhead']" class="btn btn-user btn-round btn-success" style="margin-top: 10px;">Add Letterhead</a>&nbsp;
                                <a (click)="showAddEditCtgModal()" class=" btn btn-user btn-round  btn-primary btn-primary-Add-Roles-btn" data-placement="top" style=" margin-top: 10px;">Add Category </a>
                                    
                                    <!--<a href="#final-bill2" data-toggle="modal" class=" btn btn-user btn-round  btn-primary btn-primary-Add-Roles-btn" data-placement="top" style=" margin-top: 10px;">Create Template  </a>-->
                            </div>
                            
                            </div>
                    </div>
                    
                    <div class="col-md-4" *ngFor="let letter of letterTemplates;let i= index;">
                        <div class="manage-list-row manage-pay-select clearfix list_view_de-box">
                            
                            <div class="net-pay-section">
                            
                                <div class="job-buttons action-btn-outer-box">
                                                            
                                    <a (click)="showAddEditCtgModal(letter)" data-placement="top" class="btn btn-shortlist manage-btn"   title="Edit" *ngIf="letter.editable=='Y'"><i class="ti-pencil-alt"></i></a>
                                    
                                    <a (click)="deleteCategory(letter)" class="btn btn-shortlist manage-btn" data-placement="top" title="delete" *ngIf="letter.editable=='Y'"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </div>
                            
                                <div class="col-md-12">
                                    <a [routerLink]="['/employee-mgmt/letter-listing',_e.aesEncrypt(letter.templatetype +','+letter.row_id)]"><span class="font-mm head-enve-box "><img [src]="letter.template_icon" class="img-responsive" alt="Logo"> </span></a>
                                </div>

                                <div class="title-inn_box">
                                    <a [routerLink]="['/employee-mgmt/letter-listing',_e.aesEncrypt(letter.templatetype +','+letter.row_id)]"><span class="font-semibold font-mm">{{letter.templatetype}}</span> </a>
                                    
                                </div>
                                <div class="row net-pay-data-without-bt">
                                    <div class="col-md-12">
                                        <div class="text-uppercase font-ms payrun-label">
                                            <a [routerLink]="['/employee-mgmt/letter-listing',_e.aesEncrypt(letter.templatetype +','+letter.row_id)]">{{letter.template_desc}}</a> 
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                        
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                            
            </div>
        </div>
    </div>
       
    <app-footer></app-footer>
    <!-- </div> -->
<!-- </div> -->
</section>

<div [@grooveState]="isAddEditCategory ? 'active' : 'inactive'"  class="modal fade add-address-form-box in" style="padding-right: 17px;">
    <div class="modal-dialog " [@dongleState]="isAddEditCategory ? 'active' : 'inactive'">
        <div class="modal-content">
        
            <form [formGroup]="letterTemplateForm">
                <div class="modal-header theme-bg">						
                    <h4 class="modal-title">Edit Category</h4>
                    <button type="button" class="close" aria-hidden="true" (click)="closeCategoryModal()">×</button>
                </div>
                <div class="modal-body">
                
                    <div class="form-group">
                         <label class="control-label col-sm-4">Category Image <span class="text-danger">*</span>  :</label>
                        <div class="col-sm-8">
                                 <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" accept=".png, .jpg, .jpeg"
                                 (change)="onFileChange($event)">
                                <label class="custom-file-label" for="inputGroupFile01">{{letterTemplateForm.value.icon_name ? letterTemplateForm.value.icon_name : 'Choose file'}}</label>
                              </div>
                        </div>
                    </div>
                
                    <div class="form-group">
                         <label class="control-label col-sm-4">Category Name <span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Enter category name" formControlName="ctgName">
                        </div>
                    </div>
                 
                    <div class="form-group">
                         <label class="control-label col-sm-4">Category Description</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Enter category description" formControlName="ctgDesc">
                        </div>
                    </div>
                     
                </div>
                <div class="modal-footer">
                    <a class=" btn btn-default" data-placement="top" (click)="saveCategory()">Save  </a>
                     
                    <input type="button" class="btn btn-default"  (click)="closeCategoryModal()" value="Cancel">
                    
                </div> 
            </form>
        
        </div>
    </div>
</div>ZD