a:focus, a:hover {
    color: #23527c;
    text-decoration: none!important;
}

.freelance-box-thumb img {
    transition: transform .2s;
}
.freelance-container:focus img, .freelance-container:hover img {
    transform: scale(.9);
}
#mydiwali .modal-content img {
    max-width: 100%;
    margin: 0;
}
#mydiwali button.close {
    position: absolute;
    color: #ffffff;
    z-index: 999999;
    right: 23px;
    font-size: 40px;
    opacity: 1;
}
.modal-backdrop { position: fixed;}

@media (min-width: 768px) {
    #mydiwali .modal-dialog {
        width: 500px;
        margin: 30px auto;
    }
}
.modal img {
    max-width: 200px;
    margin: 10px auto;
    display: table;
}

.card-body.leave-scroll-outer-box .badge.badge-action a {
  cursor: auto;
}

.pendingTasksBox .card-body.leave-scroll-outer-box .todo-list-divided ul {
  display: flex;
  gap: 0 33px;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}

.pendingTasksBox .card-body.leave-scroll-outer-box .todo-list-divided ul li {
  width: 30.33% !important;
  align-items: stretch;
  display: flex;
  border-bottom: 1px solid #ffecec;
}

.pendingTasksBox .card-body.leave-scroll-outer-box .todo-list-divided {
  max-height: 233px;
  overflow-y: auto;
}

@media (max-width: 991px) {

  .pendingTasksBox .card-body.leave-scroll-outer-box .todo-list-divided ul li {
    width: 47% !important;

  }


}


.pendingTasksBox .todo-default .ct-title span {
  display: inline-block;
  font-size: 13px;
  opacity: 0.8;
  font-weight: 400;
  border-color: #1194f7;
  color: #ff0000;
}

.pendingTasksBox .todo.todo-default {
  border-bottom: none;
  padding: 5px 5px;

}

.pendingTasksBox .todo.todo-default h5 {
  color: #6e0d0d;
  font-size: 14px;
  position: relative;
  padding: 0 0 0 15px;
}

.pendingTasksBox .todo.todo-default h5 i {
  position: absolute;
  left: 0px;
  top: 2px;
}

.todo-default .ct-title i {
  color: #000;
}

.pendingTasksBox .card-body.leave-scroll-outer-box .todo-list-divided ul {
  display: flex;
  gap: 0 33px;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}

.pendingTasksBox .card-body.leave-scroll-outer-box .todo-list-divided ul li {
  width: 30.33% !important;
  align-items: stretch;
  display: flex;
  border-bottom: 1px solid #ffecec;
}

.pendingTasksBox .card-body.leave-scroll-outer-box .todo-list-divided {
  max-height: 233px;
  overflow-y: auto;
}

.pendingTasksBox .card {
  border: 1px dashed #f98e8e;
  background: #ffffff;
  border-radius: 10px;
}

.pendingTasksBox .card-header.header-flax-box {

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #fbfafa;
}

.pendingTasksBox .card-header h4 {
  margin: 0;
  color: #c10000;
  font-weight: 500;
}

.pendingTasksBox .card-header.header-flax-box a {
  color: #000000;
  font-weight: 500;
}

.pendingTasksBox .todo.todo-default:hover {
  background: transparent;
}

.card-header.header-flax-box {
  display: flex
;
  justify-content: space-between;
  align-items: center;
}
