<div id="menu6" class="tab-pane fade1 active">
  <div class="accordion" id="accordion" role="tablist"
    aria-multiselectable="true">

    <div class="card panel">
      <div class="panel-heading panel_heading_gray  card-header"
        role="tab" id="headingOne001" data-toggle="collapse"
        data-parent="#accordion001" href="#collapseOne001"
        aria-expanded="false" aria-controls="collapseOne">
        <h4>Approval Workflow <i class="fa fa-angle-down"></i></h4>
      </div>
      <div id="collapseOne001" style="padding:0;"
        class="panel-collapse collapse card-body in" role="tabpanel">
        <div class="row">

          <div class="col-md-12 col-sm-12">
            <div class="card">

              <div id="approval-workflow-info123">

                <div class="card-header12">
                  <h4
                    class="sub-title-inn-box View-Roles-list-outer-box">
                    &nbsp;

                    <a (click)="openAddApprovalModal()"
                      title="Add"
                      class=" btn btn-user btn-round  btn-primary btn-primary-Add-Roles-btn"
                      data-toggle="modal"
                      data-placement="top">Add Approval
                    </a>



                  </h4>
                </div>

                <div class="card-body12 padd-bot-0 padd-top-0">



                  <div class="row">

                    <div class="col-md-12 padd-top-0">


                      <div
                        class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">


                        <table class="table user-list">
                          <thead>
                            <tr>
                              <th id="ember394"
                                class="sortable header-user-role ember-view">
                                Approval name
                                <!---->
                              </th>
                              <th id="ember395"
                                class="sortable header-user-role ember-view">
                                Template name
                                <!---->
                              </th>
                              <th id="ember395"
                                class="sortable header-user-role ember-view">
                                Department
                                <!---->
                              </th>
                              <th id="ember395"
                                class="sortable header-user-role ember-view">
                                Module
                                <!---->
                              </th>

                              <th id="ember395"
                                class="sortable header-user-role ember-view">
                                Status
                                <!---->
                              </th>


                              <th
                                class="header-actions text-center">
                                Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="ZPLRow">

                                <div
                                  class="ZPusrName">
                                  <span>Animesh
                                    Kumar<span></span></span>
                                </div>
                              </td>
                              <td class="CP">
                                Attendance On
                                Duty</td>

                              <td>
                                <div
                                  class="alwd_dur">
                                  <span
                                    class="alwd_tg">Finance</span>
                                </div>
                              </td>

                              <td>
                                <div
                                  class="alwd_dur">
                                  <span
                                    class="alwd_tg">Attendance</span>
                                </div>
                              </td>
                              <td class="CP">

                                <label
                                  class="switch">
                                  <input
                                    type="checkbox"
                                    checked="">
                                  <span
                                    class="slider round"></span>
                                </label>

                              </td>

                              <td class="roles">
                                <div id="ember398"
                                  class="dropdown float-right ember-view">
                                  <div
                                    class="job-buttons action-btn-outer-box">


                                    <a href="javascript:void(0)"
                                      data-toggle="modal"
                                      class="btn btn-shortlist manage-btn"
                                      data-placement="top"
                                      title="delete"><i
                                        class="fa fa-trash"
                                        ></i></a>
                                  </div>

                                </div>
                              </td>
                            </tr>


                            <tr>
                              <td class="ZPLRow">

                                <div
                                  class="ZPusrName">
                                  <span>Ram
                                    Kumar<span></span></span>
                                </div>
                              </td>
                              <td class="CP">
                                Attendance On
                                Duty</td>

                              <td>
                                <div
                                  class="alwd_dur">
                                  <span
                                    class="alwd_tg">IT</span>
                                </div>
                              </td>

                              <td>
                                <div
                                  class="alwd_dur">
                                  <span
                                    class="alwd_tg">Leave
                                    Templates</span>
                                </div>
                              </td>
                              <td class="CP">

                                <label
                                  class="switch">
                                  <input
                                    type="checkbox">
                                  <span
                                    class="slider round"></span>
                                </label>

                              </td>

                              <td class="roles">
                                <div id="ember398"
                                  class="dropdown float-right ember-view">
                                  <div
                                    class="job-buttons action-btn-outer-box">


                                    <a href="javascript:void(0)"
                                      data-toggle="modal"
                                      class="btn btn-shortlist manage-btn"
                                      data-placement="top"
                                      title="delete"><i
                                        class="fa fa-trash"
                                        ></i></a>
                                  </div>

                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td class="ZPLRow">

                                <div
                                  class="ZPusrName">
                                  <span>Rajesh
                                    Kumar<span></span></span>
                                </div>
                              </td>
                              <td class="CP">
                                Attendance On
                                Duty</td>

                              <td>
                                <div
                                  class="alwd_dur">
                                  <span
                                    class="alwd_tg">Sales</span>
                                </div>
                              </td>

                              <td>
                                <div
                                  class="alwd_dur">
                                  <span
                                    class="alwd_tg">Pre-defined
                                    salary
                                    componenets</span>
                                </div>
                              </td>
                              <td class="CP">

                                <label
                                  class="switch">
                                  <input
                                    type="checkbox"
                                    checked="">
                                  <span
                                    class="slider round"></span>
                                </label>

                              </td>

                              <td class="roles">
                                <div id="ember398"
                                  class="dropdown float-right ember-view">
                                  <div
                                    class="job-buttons action-btn-outer-box">


                                    <a href="javascript:void(0)"
                                      data-toggle="modal"
                                      class="btn btn-shortlist manage-btn"
                                      data-placement="top"
                                      title="delete"><i
                                        class="fa fa-trash"
                                        ></i></a>
                                  </div>

                                </div>
                              </td>
                            </tr>

                          </tbody>
                        </table>

                      </div>



                    </div>




                  </div>
                </div>


              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>


<div [@grooveState]="showAddApprovalModal?'active':'inactive'" id="addApprovalWorkflow" class="modal add-address-form-box">
  <div [@dongleState]="showAddApprovalModal?'active':'inactive'" class="modal-dialog modal-lg">
    <div class="modal-content">
      <form>
        <div class="modal-header theme-bg">
          <h4 class="modal-title">Add Approval Workflow</h4>
          <button (click)="closeAddApprovalModal()" type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">

          <div class="row">


            <div class="col-md-12 ">
              <div
                class="manage-list-row manage-pay-select clearfix list_view_de-box onduty-outer-box Approval-Workflow-inner-box">

                <div class="net-pay-section">
                  <div class="title-inn_box">
                    <span class="font-mm"> </span> <span class="font-semibold font-mm">Approval
                      Details</span>

                  </div>
                  <div class="row net-pay-data-without-bt">
                    <div class="col-md-12">
                      <p class="text-uppercase font-ms payrun-label"> Basic details of the
                        approval.</p>


                    </div>

                    <div class="col-md-12">

                      <div class="row">

                        <div class="form-group">
                          <label class="control-label col-sm-3">Template Name</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="  ">


                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-3">Department Name</label>
                          <div class="col-sm-6">

                            <select class=" form-control">
                              <option value="1" checked="">Finance</option>
                              <option value="2">Hr</option>
                              <option value="3">Sales</option>
                              <option value="2">It</option>
                              <option value="3">Marketing</option>
                              <option value="2">Research and development</option>
                              <option value="3">Production department</option>
                              <option value="3">Administration Department</option>
                              <option value="3">Operations</option>
                            </select>

                          </div>
                        </div>


                        <div class="form-group">
                          <label class="control-label col-sm-3">Module Name</label>
                          <div class="col-sm-6">

                            <select class=" form-control">
                              <option value="1" checked="">Employee onboarding
                              </option>
                              <option value="2">Attendance</option>
                              <option value="3">Bulk Attendance</option>
                              <option value="2">Real-time Attendance Updates</option>
                              <option value="3">Leave Templates</option>
                              <option value="2">Pre-defined salary componenets
                              </option>
                              <option value="3">Salary Structuring &amp; Revision...
                              </option>
                              <option value="3">Customisable user roles and
                                permissions</option>
                              <option value="3">Employee KYC</option>
                            </select>

                          </div>
                        </div>



                      </div>



                    </div>

                  </div>

                </div>

              </div>


            </div>


            <div class="col-md-12 " id="approval-workflow-info">
              <div
                class="manage-list-row manage-pay-select clearfix list_view_de-box onduty-outer-box Approval-Workflow-outer-box">

                <div class="net-pay-section">
                  <div class="title-inn_box">
                    <span class="font-mm"> </span> <span
                      class="font-semibold font-mm">Approvals</span>

                  </div>
                  <div class="row net-pay-data-without-bt">
                    <div class="col-md-12">
                      <p class="text-uppercase font-ms payrun-label"> You can either configure
                        approver levels or allow the system to auto approve / reject the
                        record.</p>


                    </div>
                    <div class="col-md-12">
                      <p> <a id="configure-approver-btn"
                        href="javascript:void(0)"
                          class="btn btn-primary " style=" padding: 10px;">Configure
                          Approver</a></p>

                    </div>


                  </div>

                </div>

              </div>

            </div>



            <div class="col-md-12 " id="approval-workflow-details">
              <div
                class="manage-list-row manage-pay-select clearfix list_view_de-box onduty-outer-box Approval-Workflow-inner-box">

                <div class="net-pay-section">
                  <div class="title-inn_box">
                    <span class="font-mm"> </span> <span
                      class="font-semibold font-mm">Approvals</span>

                  </div>
                  <div class="row net-pay-data-without-bt">
                    <div class="col-md-12">
                      <p class="text-uppercase font-ms payrun-label"> You can either configure
                        approver levels or allow the system to auto approve / reject the
                        record.</p>


                    </div>

                    <div class="col-md-12">



                      <div class="row">
                        <div class="col-md-5">
                          <select class="form-control IsBillable_NonBillable">
                            <option value="" selected="">Reporting To</option>
                            <option value="">Approver based on Role </option>
                            <option value="">Department head</option>
                            <option value="Y">Department Members</option>
                            <option value="N">Employee</option>

                          </select>
                        </div>
                        <div class="col-md-5">
                          <select class="form-control IsBillable_NonBillable">

                            <option value="">Single Level</option>
                            <option value="Y">Two Levels</option>
                            <option value="N">Three Levels</option>
                            <option value="">Four Levels </option>
                            <option value="">Five Levels </option>

                            <option value="">Six Levels</option>
                            <option value="Y">Seven Levels</option>
                            <option value="N">Eight Levels</option>
                            <option value="">Nine Levels </option>
                            <option value="">Ten Levels </option>
                          </select>
                        </div>
                        <div class="col-md-2"><a
                            href="https://demo.1akal.in/tpay/tpay_v1/employees-details1.html#"
                            class="btn  manage-btn-workflow" data-placement="top"
                            title="delete"><i class="fa fa-trash"
                              ></i></a></div>

                      </div>


                      <div class="row">
                        <div class="col-md-5">
                          <select class="form-control IsBillable_NonBillable">
                            <option value="">Reporting To</option>
                            <option value="" selected="">Approver based on Role
                            </option>
                            <option value="">Department head</option>
                            <option value="Y">Department Members</option>
                            <option value="N">Employee</option>




                          </select>
                        </div>
                        <div class="col-md-5">
                          <select class="form-control IsBillable_NonBillable">

                            <option value="">Admin</option>
                            <option value="Y">Team member</option>
                            <option value="N">Manager</option>
                            <option value="">Director </option>
                            <option value="">Team Incharge </option>
                          </select>
                        </div>
                        <div class="col-md-2"><a
                            href="https://demo.1akal.in/tpay/tpay_v1/employees-details1.html#"
                            class="btn  manage-btn-workflow" data-placement="top"
                            title="delete"><i class="fa fa-trash"
                              ></i></a></div>

                      </div>

                      <div class="row">
                        <div class="col-md-5">
                          <select class="form-control IsBillable_NonBillable">
                            <option value="">Reporting To</option>
                            <option value="">Approver based on Role </option>
                            <option value="" selected="">Department head</option>
                            <option value="Y">Department Members</option>
                            <option value="N">Employee</option>

                          </select>
                        </div>
                        <div class="col-md-5">
                          <select class="form-control IsBillable_NonBillable">

                            <option value="">HR</option>

                          </select>
                        </div>
                        <div class="col-md-2"><a
                            href="https://demo.1akal.in/tpay/tpay_v1/employees-details1.html#"
                            class="btn  manage-btn-workflow" data-placement="top"
                            title="delete"><i class="fa fa-trash"
                              ></i></a></div>

                      </div>

                      <div class="row">
                        <div class="col-md-5">
                          <select class="form-control IsBillable_NonBillable">
                            <option value="">Reporting To</option>
                            <option value="">Approver based on Role </option>
                            <option value="">Department head</option>
                            <option value="Y" selected="">Department Members</option>
                            <option value="N">Employee</option>

                          </select>
                        </div>
                        <div class="col-md-5">
                          <select class="form-control IsBillable_NonBillable">
                            <option value="">HR</option>
                          </select>
                        </div>
                        <div class="col-md-2"><a
                            href="https://demo.1akal.in/tpay/tpay_v1/employees-details1.html#"
                            class="btn  manage-btn-workflow" data-placement="top"
                            title="delete"><i class="fa fa-trash"
                              ></i></a></div>

                      </div>

                      <div class="row">
                        <div class="col-md-5">
                          <select class="form-control IsBillable_NonBillable">
                            <option value="">Reporting To</option>
                            <option value="">Approver based on Role </option>
                            <option value="">Department head</option>
                            <option value="Y">Department Members</option>
                            <option value="N" selected="">Employee</option>

                          </select>
                        </div>
                        <div class="col-md-5">
                          <select class="form-control IsBillable_NonBillable">
                            <option value="">Reporting To</option>
                            <option value="">Rahul Kumar</option>
                            <option value="Y">Sunil SIngh</option>
                            <option value="N">Jaiprakash Shahu</option>
                            <option value="">Ramesh Kumar </option>
                            <option value="">Rajesh Kumar </option>
                          </select>
                        </div>
                        <div class="col-md-2"><a
                            href="https://demo.1akal.in/tpay/tpay_v1/employees-details1.html#"
                            class="btn  manage-btn-workflow" data-placement="top"
                            title="delete"><i class="fa fa-trash"
                              ></i></a></div>

                      </div>



                      <div class="row">
                        <div class="col-md-12">
                          <a type="button"
                            class="btn btn-user btn-primary btn-round btn-outline">Add
                            Approver Level</a>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-12">
                          <div class="zpl_aprvl_flw">
                            <div id="approver_flow"><label>1 Level(s) of Reporting
                                To</label><i class="fa fa-angle-right"
                                ></i><label>Admin</label><i
                                class="fa fa-angle-right"
                                ></i><label>HR Department
                                Head</label><i class="fa fa-angle-right"
                                ></i><label>HR Department
                                Members</label><i class="fa fa-angle-right"
                                ></i><label>1 Info</label></div>
                          </div>

                        </div>
                      </div>



                    </div>

                  </div>

                </div>

              </div>



            </div>








          </div>


        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Add">
        </div>
      </form>
    </div>
  </div>
</div>
