/* .container-box {
			margin: 0 auto;
			width: 100%;
			height: 100%;
			box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
			font-family: 'Roboto';
			border-radius: 8px 8px 0px 0px;
			background-color: white;
		}

		.datepicker-inline {
			position: static;
			margin: 0 auto;
			padding: 10px 0 10px 0;
		}

		.datepicker-panel ul:nth-child(2) li {
			font-weight: 600;
		}

		.top-right-outer-box .float-right-box ul.nav.nav-pills li ul li a {
			background-color: #ffffff;
			border-color: #e1e1e1;
			text-align: left;
			padding: 8px 12px 8px 12px;
			font-size: 12px;
		} */

		.table-responsive.attendance1-box-outer-box {
			background: #fff;
		}

		.table-responsive.attendance1-box-outer-box thead th,
		.table-responsive.attendance1-box-outer-box tbody td,
		.table-responsive.attendance1-box-outer-box tfoot td {
			border: 1px solid #e8edef;
			padding: 5px 8px;
		}

		.table-responsive.attendance1-box-outer-box thead th {
			background: #ceeaff;
			font-weight: 600;
		}

		.table-responsive.attendance1-box-outer-box .form-control {
			height: 30px;
			margin: 0;
			font-size: 12px;
		}

		.dropdown.float-right-box.emp-com-box ul li a {
			color: #000;
		}

		.table-responsive.attendance1-box-outer-box .job-buttons.action-btn-outer-box {
			margin: 0;
		}

		.table-responsive.attendance1-box-outer-box .job-buttons.action-btn-outer-box a.btn.btn-shortlist.manage-btn {
			background: #898989;
			font-size: 20px;
			padding: 2px 4px;
			line-height: normal;
		}

		.table-responsive.attendance1-box-outer-box tfoot tr td {
			border: none;
			font-weight: 600;
		}

		.table-responsive.attendance1-box-outer-box .job-buttons.action-btn-outer-box i.fa.fa-plus-circle {
			color: #03a302;
			font-size: 22px;
			padding-right: 15px;
		}

.hide-show-outer-box {
  background: #eef5f7;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 1s height ease-in-out;
}

.hide-show-outer-box.start {
  height: 60vh;
  padding: 4px;
  overflow-y: auto;
}

ul.calendar-inner-box {
  background: #f7f7f7;
  list-style: none;

  display: block;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
.attendance-btn-inner-box {
  text-align: center;
  margin-top: 15px;
}
ul.calendar-inner-box li {
  width: 14.28%;
  float: left;
  border-right: 1px solid #e7e7e7;
}
ul.calendar-inner-box li a {
  padding: 1px 0;
  display: flex;
  border-bottom: 1px solid #e7e7e7;
  min-width: auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
ul.calendar-inner-box li span {
  padding: 5px 2px;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #7a7a7a;
  font-weight: 500;
  height: 30px;
  line-height: 23px;
}
ul.calendar-inner-box li.nav-item.head-title-box a {
  background: #ffffff;
  color: #000 !important;
}

ul.calendar-inner-box li span.day-box1 {
  padding: 5px 2px;
  height: 30px;
  line-height: 23px;
  color: #3c3c3c;
  font-weight: 600;
  background: #ffffff;
  color: #000;
}

.present-days {
  background: #2196f3;
}
.od-days {
  background: #002dd38e;
}
.wfh-days {
  /* background: #2196f396; */
  background: #0092bf;
}
.absent-days {
  background: #f21136;
}
.weekoff-days {
  background: rgb(1, 178, 172);
}
.half-days {
  background: #30ab4a;
}
.leave-days {
  background: #ec971f;
}
.holiday {
  background: #c1e309;
}
.disabled-date {
  /* background: #80808061; */
  background: #80808040;
  cursor: no-drop;
  pointer-events: none;
}

.hide-show-outer-box ::-moz-selection {
  background: none;
}
.hide-show-outer-box ::selection {
  background: none;
}
.selected-items {
  background: #addcf9;
}
/* .selected-items::selection {
      background: #addcf9;
    } */
input.form-control.wide-width {
  width: 100% !important;
}

.label-design {
  font-size: 11px !important;
  margin-right: -52px;
  color: #ffffff !important;
  margin-left: 27px;
  margin-bottom: -12px;
  position: absolute;
}

.payout-breakup {
  /* width: 90%; */
  margin: 1rem auto auto;
  background: #eef5f7;
  padding: 1rem;
  font-size: 12px;
}

.modal-header {
  background: #1194f7;
  color: #ffffff;
}
.txt {
  color: rgb(102 105 249);
  font-size: 2rem;
  font-weight: bold;
  border: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: #38abf227;
  text-transform: uppercase;
  padding: 10px 0 0 10px;
}

.btn-design {
  margin-right: 0.5rem;
  border-color: black;
}
span.date-box.selected-items {
  background: #dbd8d8 !important;
  width: 100%;
}
.job-details h3.job-name span.full-time-btn {
  background-color: transparent;
  color: #30ab4a;
  font-weight: 500;
  border-radius: 0;
}
.external b,
strong {
  font-weight: 600;
}
.manage-list-row a.btn.btn-blue.manage-Update.myButton-box {
  background: #ffffff;
  color: #404040;
  font-weight: 500;
  border: 1px solid #1194f7;
  border-radius: 5px;
  padding: 10px 15px;
}
.manage-list-row a.btn.btn-blue.manage-Update.myButton-box:hover {
  background: #f1f1f1;
}
.attendance-btn-inner-box .btn-design {
  margin-left: 5px;
  border: 1px solid #fff;
}
.attendance-btn-inner-box a.manage-btn {
  border: 1px solid #fff !important;
}

li.pagination-previous span,
li.pagination-next a {
  font-weight: 500 !important;
  font-size: 15px !important;
}

.alert-group.alert-box .alert-success {
  color: #525252;
  background-color: #ffffff;
  border-color: #c5e6d4;
  text-align: center;
  font-size: 14px;
}

.notice {
  padding: 15px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid #eaeff5;
  border-left: 6px solid #838992;
  box-shadow: 0 0 10px 1px rgba(71, 85, 95, 0.08);
  -webkit-box-shadow: 0 0 10px 1px rgba(71, 85, 95, 0.08);
  -moz-box-shadow: 0 0 10px 1px rgba(71, 85, 95, 0.08);
}
.notice-warning {
  border-left-color: #fea911;
}
a.Add-balancebtn strong {
  font-size: 12px;
  color: #1692df;
  font-weight: 500;
  text-decoration: underline;
}
.notice.alert-dismissable {
  font-size: 13px;
}
.notice.alert-dismissable button.close {
  right: -2px !important;
  color: #000;
}
.card.Your-progress-sidebar-menu-box .login-panel .panel-heading h4 {
  font-size: 15px;
}
.notice-success {
  border-left-color: #74ba28;
}
.notice-success > strong {
  color: #74ba28;
}

.notice-danger {
  border-left-color: #eb344f;
}

.notice-danger > strong {
  color: #eb344f;
}

.notice-info {
  border-left-color: #1db4bd;
}
.notice-info > strong {
  color: #1db4bd;
}

.notice-primary {
  border-left-color: #1f1aa3;
}
.notice-primary > strong {
  color: #1f1aa3;
}

.blur {
  filter: blur(5px);
  cursor: none !important;
  pointer-events: none;
}

.manage-list-row .job-details {
  font-size: 14px !important;
}
.disable-background {
  background: #f5f5f5;
  pointer-events: none;
}
.selected-items:before {
  content: "✓";
  width: 20px;
  height: 20px;
  background: #fff;
  position: absolute;
  left: 6px;
  top: 6px;
  border-radius: 2px;
  color: #000;
  z-index: 1000;
}

.social-box-new {
  padding: 3px 10px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 12px;
  border-color: rgba(31, 182, 80, 0.12) !important;
  background: rgba(31, 182, 80, 0.12);
}
ul.calendar-inner-box li span.label-design i {
  position: absolute;
  left: 5px;
}

/* .job-info {
  width: 75%;
}
.job-details {
  width: 100%;
} */



.hide-show-outer-box {
  background: #eef5f7;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 1s height ease-in-out;
}

.hide-show-outer-box.start {
  height: 50vh;
  padding: 4px;
  overflow-y: auto;
}

ul.calendar-inner-box {
  background: #f7f7f7;
  list-style: none;

  display: block;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
.attendance-btn-inner-box {
  text-align: center;
  margin-top: 15px;
}
ul.calendar-inner-box li {
  width: 14.28%;
  float: left;
  border-right: 1px solid #e7e7e7;
}
ul.calendar-inner-box li a {
  padding: 1px 0;
  display: flex;
  border-bottom: 1px solid #e7e7e7;
  min-width: auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
ul.calendar-inner-box li span {
  padding: 5px 2px;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #7a7a7a;
  font-weight: 500;
  height: 30px;
  line-height: 23px;
}
ul.calendar-inner-box li.nav-item.head-title-box a {
  background: #ffffff;
  color: #000 !important;
}

ul.calendar-inner-box li span.day-box1 {
  padding: 5px 2px;
  height: 30px;
  line-height: 23px;
  color: #3c3c3c;
  font-weight: 600;
  background: #ffffff;
  color: #000;
}

.present-days {
  background: #2196f3;
}
.od-days {
  background: #002dd38e;
}
.wfh-days {
  /* background: #2196f396; */
  background: #0092bf;
}
.absent-days {
  background: #f21136;
}
.weekoff-days {
  background: rgb(1, 178, 172);
}
.half-days {
  background: #30ab4a;
}
.leave-days {
  background: #ec971f;
}
.holiday {
  background: #c1e309;
}
.disabled-date {
  /* background: #80808061; */
  background: #80808040;
  cursor: no-drop;
  pointer-events: none;
}

.hide-show-outer-box ::-moz-selection {
  background: none;
}
.hide-show-outer-box ::selection {
  background: none;
}
.selected-items {
  background: #addcf9;
}
/* .selected-items::selection {
  background: #addcf9;
} */
input.form-control.wide-width {
  width: 100% !important;
}

.label-design {
  font-size: 11px !important;
  margin-right: -52px;
  color: #ffffff !important;
  margin-left: 27px;
  margin-bottom: -12px;
  position: absolute;
}

.payout-breakup {
  /* width: 90%; */
  margin: 1rem auto auto;
  background: #eef5f7;
  padding: 1rem;
  font-size: 12px;
}

.modal-header {
  background: #1194f7;
  color: #ffffff;
}
.txt {
  color: rgb(102 105 249);
  font-size: 2rem;
  font-weight: bold;
  border: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: #38abf227;
  text-transform: uppercase;
  padding: 10px 0 0 10px;
}

.btn-design {
  margin-right: 0.5rem;
  border-color: black;
}
span.date-box.selected-items {
  background: #dbd8d8 !important;
  width: 100%;
}
.job-details h3.job-name span.full-time-btn {
  background-color: transparent;
  color: #30ab4a;
  font-weight: 500;
  border-radius: 0;
}
.external b,
strong {
  font-weight: 600;
}
.manage-list-row a.btn.btn-blue.manage-Update.myButton-box {
  background: #ffffff;
  color: #404040;
  font-weight: 500;
  border: 1px solid #1194f7;
  border-radius: 5px;
  padding: 10px 15px;
}
.manage-list-row a.btn.btn-blue.manage-Update.myButton-box:hover {
  background: #f1f1f1;
}
.attendance-btn-inner-box .btn-design {
  margin-left: 5px;
  border: 1px solid #fff;
}
.attendance-btn-inner-box a.manage-btn {
  border: 1px solid #fff !important;
}

li.pagination-previous span,
li.pagination-next a {
  font-weight: 500 !important;
  font-size: 15px !important;
}

.alert-group.alert-box .alert-success {
  color: #525252;
  background-color: #ffffff;
  border-color: #c5e6d4;
  text-align: center;
  font-size: 14px;
}

.notice {
  padding: 15px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid #eaeff5;
  border-left: 6px solid #838992;
  box-shadow: 0 0 10px 1px rgba(71, 85, 95, 0.08);
  -webkit-box-shadow: 0 0 10px 1px rgba(71, 85, 95, 0.08);
  -moz-box-shadow: 0 0 10px 1px rgba(71, 85, 95, 0.08);
}
.notice-warning {
  border-left-color: #fea911;
}
a.Add-balancebtn strong {
  font-size: 12px;
  color: #1692df;
  font-weight: 500;
  text-decoration: underline;
}
.notice.alert-dismissable {
  font-size: 13px;
}
.notice.alert-dismissable button.close {
  right: -2px !important;
  color: #000;
}
.card.Your-progress-sidebar-menu-box .login-panel .panel-heading h4 {
  font-size: 15px;
}
.notice-success {
  border-left-color: #74ba28;
}
.notice-success > strong {
  color: #74ba28;
}

.notice-danger {
  border-left-color: #eb344f;
}

.notice-danger > strong {
  color: #eb344f;
}

.notice-info {
  border-left-color: #1db4bd;
}
.notice-info > strong {
  color: #1db4bd;
}

.notice-primary {
  border-left-color: #1f1aa3;
}
.notice-primary > strong {
  color: #1f1aa3;
}

.blur {
  filter: blur(5px);
  cursor: none !important;
  pointer-events: none;
}

.manage-list-row .job-details {
  font-size: 14px !important;
}
.disable-background {
  background: #f5f5f5;
  pointer-events: none;
}
.selected-items:before {
  content: "✓";
  width: 20px;
  height: 20px;
  background: #fff;
  position: absolute;
  left: 6px;
  top: 6px;
  border-radius: 2px;
  color: #000;
  z-index:1000;
}

.social-box-new {
  padding: 3px 10px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 12px;
  border-color: rgba(31, 182, 80, 0.12) !important;
  background: rgba(31, 182, 80, 0.12);
}
ul.calendar-inner-box li span.label-design i {
  position: absolute;
  left: 5px;
}

.missed-punch {
  background: rgb(240 128 128 / 81%);
}

.no-event {
  pointer-events: none;
}

.border-red {
  border: 1px solid red;
}

.manage-list-row .job-buttons a.btn.btn-blue.manage-btn {
  background: #ffffff;
  color: #404040;
  font-weight: 500;
  border: 1px solid #1194f7;
  border-radius: 5px;
}
.manage-list-row .job-buttons a.btn.btn-blue.manage-btn:hover {
  background: #efeeee;
}


.filter-onlick-btn {
  margin-left: 10px;
  color: #000 !important;
  font-size: 15px !important;
  padding: 10px 15px !important;
  background-color: #e1e1e1;
}
#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f1f5fa;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px -1px, rgba(0, 0, 0, 0.3) -10px 6px 10px 0px, rgba(0, 0, 0, 0.12) -7px 1px 18px 0px;
}

h3.filter-menu-header-text-box {
  padding: 21px 15px;
  margin-bottom: 0;
}

#sidebar .close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
}

.sidebar-menu_filter-box label.control-label {
  font-weight: 500;
  padding: 0;
}

.sidebar-menu_filter-box .form-group {
  margin-bottom: 0px;
}

.sidebar-content-box .form-group {
  font-size: 13px;
}

.sidebar-menu_filter-box .panel-default>.panel-heading h4 {
  font-size: 14px;
  color: #000;
}

.sidebar-menu_filter-box .panel-heading h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-menu_filter-box .panel-default>.panel-heading {
  color: #333;
  background-color: #deedff;
  border-color: #fff;
  border: 1px solid #fff;
}

.sidebar-menu_filter-box .panel-heading {
  cursor: pointer;
}


#sidebar a.clear-box-btn {
  position: absolute;
  top: 53px;
  right: 25px;
  color: #1372dd;
  font-size: 14px;
  cursor: pointer;
}
.top-right-outer-box a.btn.btn-round.btn-success.excel-btn-box, .top-right-outer-box .mag-left-5 {
  margin-right: 5px;
}

.filter-onlick-btn  {  margin-left: 2px;}
.top-right-outer-box .mag-left-5 ul  li a:hover {
  color: #606060;
  background-color: #8eccf5;
  border-color: #8eccf5;
}
