.row.page-titles {
  padding-left: 25px;
}

p.balance-message-box {
    color: #4ac70d;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0px;
    background: #fff4f4;
    padding: 0px;
    border: 1px dashed #ffbcbc;
    text-align: center;
}

.flex.justify-between.align-end {
  display: flex;
  justify-content: flex-end;
}
.flex.justify-between.align-center {
  display: flex;
  justify-content: space-between;
}
.signup-accordion-outer-box .btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}
.form-group.NonEditableField_container-box {
  padding: 0.9375rem;
  display: flex;
  align-items: center;
  border: 1px solid #dde6ef;
  margin-bottom: 10px;
  box-shadow: none;
  border-radius: 0;
  background: #fbf3f3;
  font-size: 15px;
  color: #6b7c8a;
  font-weight: 400;
}
.form-group.state-city-box-inner {
  margin-right: 5px;
}
.NonEditableField_container-box .flex.flex-col {
  flex-direction: column;
  display: flex;
  margin-left: 15px;
}
.NonEditableField_container-box .flex.flex-col span.top-text-box {
  font-style: italic;
  font-size: 14px;
}
.NonEditableField_container-box .flex.flex-col span.bottom-text-box {
  font-size: 14px;
  font-weight: 500;
}
h3.com-you-onbor-outer-box {
  margin: 20px 0;
  text-align: center;
}
.form-control {
  height: 50px;
  border: 1px solid #dde6ef;
  margin-bottom: 10px;
  box-shadow: none;
  border-radius: 0;
  background: #fbfdff;
  font-size: 15px;
  color: #6b7c8a;
  font-weight: 400;
}

.read-only {
  pointer-events: none;
}
.inline-pos1 {
  position: absolute !important;
  bottom: 10px !important;
  right: 2rem !important;
}
