<app-sidebar (toggleEmitter)="toggleSideBar()"></app-sidebar>

<section>
  <div id="wrapper" [ngClass]="{'active': showSidebar==false}">
    <div class="fakeLoader"></div>

    <div id="page-wrapper">
      <!-- Page title & breadcrumb -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor" style="margin-left:20px;">Time Line</h3>
          <button class="custom-back-btn" (click)="onBackBtnClick()" style="font-size: 16px;">Back</button>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" title="Home">
              <a [routerLink]="['/dashboard']">Home</a>
            </li>
            <li class="breadcrumb-item active">Time Line</li>
          </ol>
        </div>
      </div>
        <!--TimeLine google map start-->
        <!-- Table Section -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">

              <div class="controls-row" style="display: flex; align-items: center; gap: 30px; margin-bottom: 20px;">
              <div class="date-picker-wrapper" (click)="openDatePicker()">
                <input
                 #dateInput
                  type="date"
                  [(ngModel)]="selectedDate"
                  (ngModelChange)="onDateChange($event)"
                  class="form-control"
                />
              </div>
             <!-- Native Dropdown -->
            <!-- 27-06-2025--start -->
            <select style = "max-height: 200px; overflow-y: scroll;" [(ngModel)]="selectedDropdownValue" (change)="onDropdownChange($event)" class="custom-select">
              <option value="" disabled selected>Select an option</option>
              <option *ngFor="let option of dropdownOptions" [value]="option.emp_name">
                {{ option.emp_name }}
              </option>
            </select>
             <!-- 27-06-2025--end -->


             <!-- Button -->
              <button class="btn btn-primary" (click)= "onSearchBtnClick()">Search</button>
             </div>
                 <!--TimeLine google map start-->
                  <div [class.map-disabled]="dropdownVisible" style="height: 500px; width: 100%;">
                       <google-map 
                        height="90%"
                        width="100%"
                        [center]="center"
                        [zoom]="zoom">
                        <!-- Loop through employee markers and display them -->
                        <map-marker *ngFor="let marker of markers" 
                        [position]="marker.position"
                        [icon]="marker.icon"
                        [label]="marker.label"
                         >
                        </map-marker>
                          <!-- Polyline -->
                          <map-polyline 
                          *ngFor="let polyline of polylines"
                          [path]="polyline.path"
                          [options]="polyline">
                        </map-polyline>
                      </google-map>
                  </div>
                 <div class="table-container">
                  <table >
                    <thead>
                      <tr >
                        <th>Name</th>
                        <th>CheckIn Time</th>
                        <th>CheckIn Location</th>
                        <th>CheckOut Time</th>
                        <th>CheckOut Location</th>
                        <th>Total Travelled Distance</th>
                        <th>Battery Status</th>
                        <th>Device Information</th>
                        <th>Location Marker</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  *ngFor="let item of finalTimelineDataUI; let i = index;">
                     <td >{{selectedEmpName}}</td>
                     <td >{{formatTime(item.checkin_time)}}</td>
                     <td > {{item.checkin_location}}</td>
                     <td> {{formatTime(item.checkout_time)}}</td>
                     <td> {{item.checkout_location}}</td>
                     <td>{{item.total_distance}} KM</td>
                      <td>{{item.battery_status}}</td>
                      <td>{{item.device_Information}}</td>
                        <td>
                          <button 
                            class="location-btn" 
                            title="View Report" 
                            (click)="onViewLocationReport(item.event_id)"
                          >
                            <i class="fas fa-map-marker-alt"></i>
                          </button>
                        </td>
                      </tr>
                
                    </tbody>
                  </table>
                </div>    
                
                 <!--View Address report popup start-->
                 
                 <div  #modalContainer class="custom-modal-backdrop" *ngIf="showModal">
                  <div class="custom-modal">
                  <button class="close-button" (click)="closeModal()">×</button>
 
                  <div class="custom-modal-body">
                 
                    <!-- Tabs Header -->
                    <div class="tabs-header">
                      <button 
                        [class.active]="activeTab === 'addressreport'" 
                        (click)="activeTab = 'addressreport'"
                      >
                        Address Report
                      </button>
                      <button 
                        [class.active]="activeTab === 'map'" 
                        (click)="viewMapsReport()"
                      >
                        View Map
                      </button>
                    </div>
       
                    <!-- Address Report Tab start -->
                    <ng-container *ngIf="activeTab === 'addressreport'">
         
                      <div style="margin-top: 20px; display: flex;  ">
                        <!--<button (click)="generatePDF()">Download PDF</button>-->

                        <div>
                          <strong>Check-In Time:</strong> {{ formatTime(selectedSummary.checkin_time) }}
                        </div>
                        <div  style="width: 15px;"></div>
                        <div>
                          <strong>Check-Out Time:</strong> {{ formatTime(selectedSummary.checkout_time) }}
                        </div>
                      </div>
                      <table class="table-bordered">
                        <thead>
                          <tr>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Time</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let loc of selectedLocations">
                            <td>{{ loc.latitude }}</td>
                            <td>{{ loc.longitude }}</td>
                            <td>{{ formatTimeToIST(loc.datetime) }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </ng-container>
                    <!-- Address Report Tab end -->
                    <!-- Map Tab start -->
                   <ng-container *ngIf="activeTab === 'map'">
                     <div style="height: 500px; width: 100%;">
                       <google-map
                          #modalMap
                            height="100%"
                            width="100%"
                            [center]="modalCenter"
                            [zoom]="19"
                          >
                          <!-- Show markers -->
                          <map-marker
                            *ngFor="let m of modalMarkers"
                            [position]="m.position"
                          ></map-marker>

                          <!-- Optional: Polylines -->
                          <map-polyline 
                            *ngFor="let polyline of modalPolylines"
                            [path]="polyline.path"
                            [options]="polyline">
                          </map-polyline>   
                        </google-map>
                      </div>
                    </ng-container>
                    <!-- Map Tab end -->
                  </div>
                </div>
              </div>
              <!--View Address report popup end-->
            <div  style="height: 40px;"></div>
              <!-- Loading Spinner -->
              <div *ngIf="isLoading" class="loading-overlay">
               <!-- Your spinner or loading animation goes here -->
                <div class="spinner"></div>
             </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
