
.accordion .panel-heading {
  background: #e9f6ff;
  padding: 6px 13px !important;
  width: 100%;
  display: block;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #d3e7f5;
}

.tab-pane {
  border-left: 1px solid #e8edef;
  border-right: 1px solid #e8edef;
  border-bottom: 1px solid #e8edef;
  background: #fff;
  padding: 20px;
}

.accordion .panel-heading h4 {
  font-size: 16px;
  color: #000;
}

span.close-print-box a {
  cursor: pointer;
}
.modal-body.final-bill-inner-box {
  background: #efefef;
}
.modal-body.final-bill-inner-box .card-body {
  border: 1px dashed #a1a1a1;
  background: #fff;
}
.modal-body.final-bill-inner-box tr th {
  border-bottom: none !important;
  border-top: none !important;
}
.modal-body.final-bill-inner-box input.form-control {
  height: 30px;
  margin: 0;
}
.take-picture-box img.img-responsive {
  height: 100%;
  margin: 0 auto;
  border: 10px solid #dfdfdf;
  border-radius: 20px;
}
.take-picture-box {
  height: 200px;
}

.main-tab-outer-box .tab-pane {
  border-left: 1px solid #e8edef;
  border-right: 1px solid #e8edef;
  border-bottom: 1px solid #e8edef;
  background: #fff;
  padding: 20px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table-bordered {
  border: 1px solid #e8edef !important;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

h4.sub-title-inn-box.View-Roles-list-outer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.btn-primary-Add-Roles-btn {
  color: #fff;
  background-color: #1194f7 !important;
  border-color: #1194f7;
  border-radius: 10px !important;
}
.fa-trash {
  color: red;
}
h4.sub-title-inn-box.View-Roles-list-outer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h4.sub-title-inn-box {
  font-weight: 500;
}
div#approval-workflow-info123 {
  padding: 10px;
}


body .theme-bg {
  background: #0084ff !important;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header.theme-bg h4.modal-title {
  color: #ffffff;
}

.modal-header h4.modal-title {
  font-weight: 400;
  float: left;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-header.theme-bg .close {
  color: #fff;
  opacity: 1;
}
.manage-list-row.manage-pay-select.clearfix.list_view_de-box {
  padding: 0;
}
.manage-list-row {
  background: #ffffff;
  border: 1px solid #e9f0f3;
  border-radius: 4px;
  padding: 20px 0;
  margin-bottom: 15px;
  margin-left: 0;
  list-style: none;
  box-shadow: 0 3px 10px 0 rgba(62, 28, 131, 0.02);
  -webkit-box-shadow: 0 3px 10px 0 rgba(62, 28, 131, 0.02);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
}
.manage-list-row.manage-pay-select.clearfix.list_view_de-box .net-pay-section {
  background-color: transparent;
  border: none;
  padding: 0;
  height: auto;
}
.net-pay-section {
  background-color: #f1f2f8;
  border-radius: 6px;
  color: #2f3448;
  height: 160px;
  padding: 20px;
  border: 1px solid #e7e8ef;
}
.manage-list-row.manage-pay-select.clearfix.list_view_de-box
  .net-pay-section
  .title-inn_box {
  padding: 15px;
  color: #004899;
}
.manage-list-row.manage-pay-select.clearfix.list_view_de-box
  .net-pay-section
  .title-inn_box
  span.font-mm {
  font-size: 18px !important;
}
span.font-semibold.font-mm {
  font-weight: 600;
}
.manage-list-row.manage-pay-select.clearfix.list_view_de-box
  .net-pay-section
  .row.net-pay-data-without-bt {
  margin: 0 0 20px 0;
}
.manage-list-row.manage-pay-select.clearfix.list_view_de-box
  .net-pay-section
  .row.net-pay-data-without-bt
  .text-uppercase.font-ms.payrun-label {
  opacity: inherit;
  font-size: 16px;
  text-transform: capitalize;
}

.add-address-form-box .form-group {
  margin-bottom: 0;
}

.zpl_aprvl_flw {
  background-color: #edf0f4;
  padding: 26px;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 20px;
}
.zpl_aprvl_flw #approver_flow {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}

.zpl_aprvl_flw #approver_flow label {
  padding: 7px 14px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 0;
}
.no-click {
  pointer-events: none;
}

.table-responsive.Reimbursements-outer-box {
  margin-top: 20px;
}
.table-responsive.bulk-attendance-outer-box.Reimbursements-outer-box table tr {
  background-color: #fbfbfb !important;
}
.table-responsive.bulk-attendance-outer-box.Reimbursements-outer-box
  table.table
  tr
  th {
  padding: 0.8rem 1rem;
  font-weight: 600;
}
.table-responsive.bulk-attendance-outer-box.Reimbursements-outer-box table tr {
  background-color: #fbfbfb !important;
}
.table-responsive.bulk-attendance-outer-box.Reimbursements-outer-box
  table
  tr
  td {
  border-bottom: 1px solid #f3f4f5 !important;
  border-top: none;
}
.table-responsive.Reimbursements-outer-box .table tr td {
  padding: 0.2rem 1rem !important;
  font-size: 12px;
  vertical-align: middle;
}
.table-responsive.Reimbursements-outer-box .table tr td h5 {
  margin: 2px 0;
}

.approval-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 27px;
}
