.employees-details-outer-box .card-header h4.sub-title-inn-box {
  color: #1a6bb7;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.employees-details-outer-box .card-header h4.sub-title-inn-box .emp-edit-btn-box {
   padding: 1px 7px;
   background: #ffffff;
}
h4.sub-title-inn-box.View-Roles-list-outer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
