<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>


<div id="wrapper" [ngClass]="{'active': showSidebar==false}">
  <div class="fakeLoader"></div>

  <div id="page-wrapper">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">User Management </h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a >Home</a></li>
          <li class="breadcrumb-item active">Roles </li>
        </ol>
      </div>
    </div>
    <div class="container-fluid">
      <!-- /row -->
      <div class="row">


      <div class="col-md-12 mrg-top-0 mrg-bot-25">


      <div class="card">


          <div class="card-header"> 
            <h4 class="sub-title-inn-box View-Roles-list-outer-box">Roles
              <alert></alert>
              <span>
                <a (click)="showAddRolemodal()" class=" btn btn-user btn-round btn-success" >Add Roles  </a>
              </span>
            </h4> 
          </div>
          

          <div class="card-body padd-bot-0 padd-top-0">



            <div class="row">

            <div class="col-md-12 padd-top-0">


            <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">


              <table class="table user-list">
                 <thead>
                  <tr >
                   <th id="ember394" class="sortable header-user-role ember-view">
                    Role Name
                    <!---->
                   </th>
                   <th id="ember395" class="sortable header-user-role ember-view">
                    Description
                    <!---->
                   </th>
                   <th class="header-actions">Action</th>
                  </tr>
                 </thead>
                 <tbody>
                  <tr *ngFor="let role of allRoles;let i=index;"
                  [ngStyle]="{'display':role.role_id==null ?'none':''}">
                   <td>
                    <a data-ember-action="" data-ember-action-396="396">
                       {{role.role_name}}
                    </a>
                   </td>
                   <td>{{role.role_description}}</td>
                   <td class="roles">
                    <div id="ember398" class="dropdown float-right ember-view">
                       <div class="job-buttons action-btn-outer-box">
                        <a (click)="routeToRolePrivilege(role.role_id)" class="btn btn-shortlist manage-btn" title="Edit"><i class="ti-pencil-alt"></i></a>
                       </div>

                    </div>
                   </td>
                  </tr>
                   <tr *ngIf="allRoles.length==0">
                    <td colspan="3" style="font-weight: 5f00;text-align: center;">No Data Found</td>
                  </tr>
                 </tbody>
              </table>

            </div>



            </div>




            </div>
          </div>
        </div>


        <!-- <div class="col-md-12 col-12 padd-top-15 text-center">
          <a (click)="routeToNewRole()" class="btn btn-primary"  >Add Roles</a>
        </div> -->

      </div>


      </div>
      <!-- /row -->
    </div>
  </div>

  <app-footer></app-footer>
</div>


<!-- Update role-->
<div [@grooveState]="addRole?'active':'inactive'" class="modal">
  <div [@dongleState]="addRole?'active':'inactive'"  class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="updateRoleform" (ngSubmit)="addUpdateRole()">
        <div class="modal-header theme-bg">
          <h4 class="modal-title">Add Role</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
          (click)="closeUpdateRole()">&times;</button>
        </div>
        <div class="modal-body" id="add-user-modal" style="overflow: auto;
        max-height: 71vh;">
        <alert></alert>
          <div class="form-group">
            <label>Role Name <span class="text-danger">*</span></label>
            <input type="text" formControlName="rolename" class="form-control" placeholder="Enter Role Name"
            [ngClass]="{'is-invalid': isSubmitted && uf.rolename.errors}">
          </div>

          <div class="form-group">
            <label>Role Description <span class="text-danger">*</span></label>
            <input type="text" formControlName="roledesc" class="form-control" placeholder="Enter Role Description"
            [ngClass]="{'is-invalid': isSubmitted && uf.roledesc.errors}">
          </div>

          <div class="row">
            <alert></alert>
          </div>
          <!-- <div class="form-group add-og-btn-box">
             <a href="#" class="btn btn-success">add OU</a>
          </div> -->

          <!-- <div class="form-group">
            <label>Status</label>
            <select formControlName="status" class="form-control IsBillable_NonBillable">
              <option value="1">Active</option>
              <option value="0">Inactive</option>

            </select>
          </div> -->



        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-default" data-dismiss="modal" value="Save">

        </div>
      </form>
    </div>
  </div>
</div>
<!-------Update Role modal ends-------------->


<!-- /#wrapper -->
