.page-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd;
    background-color: white;
    margin-bottom: 40px;
  }
  .top-left-title {
    font-size: 15px;
    color: #1a6bb7;
    font-weight: 500;
    
  }
  
  .button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
    cursor: default; 
    pointer-events: none;
  }
  button {
    padding: 6px 12px;      /* Increased padding */
    font-size: 16px;         /* Larger text */
    border-radius: 8px;      /* Slightly rounded corners */
    background-color: white;
    border: 2px solid #000;
  }
  /* button:hover {
    background-color: #007bff;
    color: #fff;
  } */  
  .badge {
    background-color: #007bff;
    color: white;
    border-radius: 20%;
    padding: 3px 8px;
    font-size: 12px;
    margin-left: 8px;
    font-weight: bold;
  }
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Make sure it's above everything */
  }
  
  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .name-box {
  background: white;
  border: 1px solid #333;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}


  ::ng-deep .custom-label-box {
  background-color: white;
  /*padding: 2px 6px;*/
  border-radius: 4px;
  border: 1px solid #999;
  white-space: nowrap;
  transform: translateY(-20px); /* ensures it appears above the marker */
  display: inline-block;
  text-align: right;
}
