<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<section>
  <div id="wrapper" [ngClass]="{'active': showSidebar==false}">
    <div class="fakeLoader"></div>
    <!-- Page wrapper -->
    <div id="page-wrapper">

      <!-- Page title & breadcrumb -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor" style="margin-left: 20px;">Live Tracking</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" title="Home">
              <a [routerLink]="['/dashboard']">Home</a>
            </li>
            <li class="breadcrumb-item active">Live Tracking</li>
          </ol>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-body">

                <!-- Filter buttons -->
                <div class="button-group">
                  <button >
                    All <span class="badge">{{ allCount }}</span>
                  </button>
                  <button >
                    Active <span class="badge">{{ activeCount }}</span>
                  </button>
                  <button >
                    Deactive <span class="badge">{{ deactiveCount }}</span>
                  </button>
                </div>
              <!-- TODO: Insert your map  -->
                <ng-container *ngIf="mapReady">
                  <div style="height: 600px; width: 100%;">
                    <google-map height="90%"
                    width="100%"
                    [center]="center"
                    [zoom]="zoom">
                    <!-- Loop through employee markers and display them -->
                    <map-marker *ngFor="let marker of markers" 
                    [position]="marker.position" 
                    [title]="marker.title"
                    [options]="marker.options"
                    [label]="marker.label"
                    (mapClick)="onMarkerClick(marker.index)"
                    >
                    </map-marker>
                    
                      
                    </google-map>
                  </div>
                </ng-container>
               <div *ngIf="!mapReady" class="loading-overlay">
                  <div class="spinner"></div>
                </div>
                


                <!-- Loading overlay -->
                  <div *ngIf="isLoading" class="loading-overlay">
                    <!-- Your spinner or loading animation goes here -->
                    <div class="spinner"></div>
                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<app-footer></app-footer>
