<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<section>
  <div id="wrapper" [ngClass]="{'active': showSidebar == false}">
    <div class="fakeLoader"></div>
    <!-- Navigation -->
    <div id="page-wrapper">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor" style="margin-left: 20px;">Organization Holidays</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" title="Home"><a [routerLink]="['/dashboard']">Home</a>
            </li>
            <li class="breadcrumb-item active">Organization Holidays</li>
          </ol>
        </div>
      </div>
      <div class="container-fluid">
        <!-- /row -->
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="card">
              <div class="card-header">
                <div class="row row-head">
                  <div class="col-md-2 col-sm-2" style="align-items: center;">
                    <label>Year</label>
                   
                    <select class="form-control" (change)="changeYear($event)">
                      <option *ngFor="let ya of yearsArray" [value]="ya" [selected]="selected_year==ya">{{ya}}</option>
                    </select>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <label>&nbsp;</label> <br>
                    <input type="text" value="" placeholder="Search Holiday(s)" class="form-control wide-width"
                      style="width: 100%;" (keyup)="searchHoliday($event)" />
                  </div>
                  <div class="col-md-2 col-sm-2" style="align-items: center;">
                    <label>Status</label> <br>
                 
                    <select class="form-control" (change)="changeStatus($event)">
                      <option value="">All</option>
                      <!-- <option value="1">Active</option>
                      <option value="0">Inactive</option> -->
                      <option value="Y">Verified</option>
                      <option value="N">Yet to Verfiy</option>
                    </select>
                  </div>
                  <div class="col-md-4 col-sm-4" style="align-items: center;">
                    <label>State / Organization Unit</label> <br>
                    <select class="form-control" (change)="changeState($event)">
                      <option value="">Select</option>
                      <option *ngFor="let smd of state_master_data" [value]="smd.state">{{smd.state}}</option>
                    </select>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <label>&nbsp;</label> <br>
                    <div class="top-right-outer-box">
                      <button class="btn btn-success" (click)="open_add_new_holiday_popup()">Add New
                        Holiday</button>&nbsp;
                      <button class="btn btn-primary btn-sm" (click)="employee_holiday_mapping()">Employee Holiday
                        Mapping</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>State</th>
                      <th>Holiday Date</th>
                      <th>Holiday Name</th>
                      <th>Holiday Type</th>
                      <th>Created Date</th>
                      <th>Remark</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>

                  <tbody>
                    <ng-container *ngFor="let hmd of holiday_master_data_filterCopy; let i=index;">
                      <!-- [ngClass]="{'verified-holiday': (hmd.is_verified=='Y' && hmd.holiday_type=='Public'),'verified-holiday-rh':
                       (hmd.is_verified=='Y' && hmd.holiday_type=='Restricted'), 'inactive-holiday': hmd.status=='0'}" -->
                      <tr [class]="accountClass(hmd)">
                        <td>{{i+1}}</td>
                        <td>{{hmd.state_name}}</td>
                        <td>{{hmd.holiday_date}} | {{hmd.day_name}}</td>
                        <td>{{hmd.holiday_name}}</td>
                        <td>{{hmd?.holiday_type}}</td>
                        <td>{{hmd.added_on}}</td>
                        <td>{{hmd.remark}}</td>
                        <td><span *ngIf="hmd.status=='0'" style="color: red;"> Inactive</span>
                          <span *ngIf="(hmd.status=='1' && hmd.is_verified=='Y')" style="color: blue;"> Verified</span>
                          <span *ngIf="(hmd.status=='1' && hmd.is_verified=='N')"> Yet to Verfiy</span>
                        </td>
                        <td>
                          <span *ngIf="(hmd.is_verified=='N' || hmd.is_future_date =='Y') && hmd.status=='1'">
                            <i class="fa fa-lg fa-edit cur-ptr" title="Edit"
                              (click)="open_update_holiday_popup(hmd)"></i>
                            &nbsp;
                          </span>

                          <span *ngIf="hmd.is_verified=='N' && hmd.status=='1'">
                            <i class="fa fa-lg fa-check-square-o cur-ptr" title="Verify"
                              (click)="open_verify_holiday_popup(hmd)"></i>
                            &nbsp;
                          </span>

                          <span *ngIf="hmd.is_verified=='N' && hmd.status=='1'">
                            <i class="fa fa-lg fa-trash cur-ptr" title="Inactive"
                              (click)="open_inactive_holiday_popup(hmd)"></i>
                          </span>
                        </td>
                      </tr>
                    </ng-container>

                    <tr *ngIf="holiday_master_data_filterCopy.length == 0">
                      <td colspan="8" style="text-align: center;">No Data Found</td>
                    </tr>
                  </tbody>
                </table>
                <alert></alert>

              </div>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
    </div>
    <!-- /#page-wrapper -->
    <app-footer></app-footer>


    <!--------Add New Device Popup-------->
    <div [@grooveState]="showNewholidayPopup?'active':'inactive'" id="addNewDevice" class="modal">
      <div [@dongleState]="showNewholidayPopup?'active':'inactive'" class="modal-dialog"
        style="margin:auto auto auto auto;">
        <div class="modal-content" style="height:100%;margin-top:100px;">
          <form>
            <div class="modal-header theme-bg">
              <h4 class="modal-title">{{title_holiday_popup}}</h4>
              <button type="button" class="close" (click)="closeNewHolidayPopup()" data-dismiss="modal"
                aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="height: 40rem; overflow: auto;">
              <div class="row">

                <form [formGroup]="newHolidayForm" [ngClass]="{'read-only': title_holiday_popup == 'Are you sure you want to verify this holiday?'
                || title_holiday_popup == 'Are you sure you want to Remove this holiday?'}">

                  <div class="col-md-12">

                    <strong>Holiday Date<span class="text-danger">*</span></strong>
                    <input type="hidden" id="recdate" (click)="changeHolidayDate()">
                    <input class="form-control" type="text" formControlName="holiday_date" id="holiday_date"
                      name="holiday_date" placeholder="[dd/mm/yyyy]" maxlength="10" autocomplete="off" #hd>

                  </div>
                  <div class="col-md-12">

                    <strong>Holiday Name<span class="text-danger">*</span></strong>
                    <input class="form-control" type="text" formControlName="holiday_name" placeholder="Holiday Name"
                      maxlength="100" autocomplete="off" [ngClass]="{'is-invalid':
                      add_update_holiday_submitted && (hf.holiday_name.errors || hf.holiday_name.value == '')
                      }">

                    <div *ngIf="add_update_holiday_submitted && hf.holiday_name.errors" class="inline-pos">
                      <small *ngIf="hf.holiday_name.errors.required" class="text-danger">Holiday is
                        required</small>
                    </div>

                  </div>
                  <div class="col-md-12">
                    <strong>Holiday Type</strong>
                    <select class="form-control" formControlName="holiday_type">
                      <option value="">Select</option>
                      <option value="Public">Public Holiday</option>
                      <option value="Restricted">Restricted Holiday</option>
                    </select>
                  </div>
                  <div class="col-md-12">
                    <strong>State / Organization Unit</strong>
                    <select class="form-control" formControlName="state_name"
                      *ngIf="title_holiday_popup == 'Update Holiday'">
                      <option value="">Select</option>
                      <option *ngFor="let smd of state_master_data" [value]="smd.state">{{smd.state}}</option>
                    </select>

                    <ng-container *ngIf="title_holiday_popup == 'Add New Holiday'">
                      <ng-multiselect-dropdown [placeholder]="'Select States'" [(ngModel)]="state_array_model"
                        [ngModelOptions]="{standalone: true}" [settings]="stateDropdownSettings"
                        [data]="state_master_data">
                      </ng-multiselect-dropdown>
                    </ng-container>

                  </div>
                  <div class="col-md-12">

                    <strong>Remark</strong>
                    <textarea id="remarktext" class="form-control" rows="3" type="text" formControlName="remark"
                      placeholder="Remark if any" maxlength="200" autocomplete="off"></textarea>

                  </div>

                </form>


              </div>
            </div>
            <div class="modal-footer">
              <button *ngIf="title_holiday_popup == 'Add New Holiday'" class="btn btn-info"
                (click)="bulk_insert_holiday_master('insert_holiday_master')">Add</button>

              <button *ngIf="title_holiday_popup == 'Update Holiday'" class="btn btn-info"
                (click)="add_update_new_holiday('update_holiday_by_id')">Update</button>

              <button *ngIf="title_holiday_popup == 'Are you sure you want to verify this holiday?'"
                class="btn btn-info" (click)="add_update_new_holiday('locked_holiday_by_id')">Verify</button>

              <button *ngIf="title_holiday_popup == 'Are you sure you want to Remove this holiday?'"
                class="btn btn-info" (click)="add_update_new_holiday('remove_holiday_by_id')">Confirm</button>

              <button class="btn btn-cancel" (click)="closeNewHolidayPopup()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <!--------Add New Device Popup-------->
