
a.job_name_tag {
    font-weight: 500;
    color: #0047ab;
}
		
.page-titles h3.text-themecolor {
    margin-top: 0;
}

[type="radio"] {
    display: inline !important
}

h3.text-themecolor {
    margin-bottom: 0;
    font-weight: 500;
    color: #1a6bb7;
}
