
.list-content.ot-rule-table-box .input-group {
    position: relative;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    width: 100%;
    display: flex;
}
.input-group-append span.input-group-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.7;
    color: #454545;
    text-align: center;
    white-space: nowrap;
    background-color: #f0f0f0;
    border: 1px solid #E7E7E7;
    padding: 6px 10px;
}
.ot-rule-table-box .table thead th {
    background-color: #F7F8FB;
    border-bottom: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
}
.align-items-center {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    align-items: center !important;
	display: flex !important;
}
.ot-rule-table-box label.custom-control.custom-checkbox {
    margin-right: 1rem !important;
    min-height: 1.5rem;
    padding-left: 1.73rem;
}
.ot-rule-table-box  .custom-checkbox input[type="checkbox"] {
    opacity: 1;
    position: absolute;
    margin: 5px 0 0 -18px;
    z-index: 9;
}
.ot-rule-table-box .ember-view {
    width: 80px !important;
    margin-right: .5rem !important;
}
table.table.table-borderless.rounded tr td, table.table.table-borderless.rounded tr th {
    border: 0;
}
.ot-rule-table-box .pb-3, .ot-rule-table-box .py-3 {
    padding-bottom: 1rem !important;
}
.ot-rule-table-box .pt-3, .ot-rule-table-box .py-3 {
    padding-top: 1rem !important;
}
.ot-rule-table-box label.mb-0 {
    font-weight: 500;
    color: #000;
}
#SendMessage1 .well .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#SendMessage1 .well {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd !important;
    font-size: 13px;
    margin-bottom: 15px;
    border: 0;
    box-shadow: none;
}
.fa-trash {
    color: red;
}
.btn.btn-user {
    background: transparent;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50px;
    padding: 6px 20px;
    min-width: 110px;
}

html body .btn-primary {
    background: #1194f7;
}
a.btn-primary-Add-Roles-btn {
    color: #fff;
    background-color: #1194f7 !important;
    border-color: #1194f7;
    border-radius: 10px !important;
}
.btn-primary {
    background-color: #0084ff;
    border-color: #0084ff;
}
.btn {
    padding: 6px 14px;
    border-radius: 2px;
}
h4.sub-title-inn-box.View-Roles-list-outer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-overflow a {
    cursor: pointer;
    color: #2b76d2;
    /* text-transform: uppercase; */
}
