.page-titles h3.text-themecolor {
    margin-top: 0;
}
[type="radio"] {
    display: inline !important
}
h3.text-themecolor {
    margin-bottom: 0;
    font-weight: 500;
    color: #1a6bb7;
}

.job-img {
    border-radius: 2px;
    float: left;
    margin-right: 10px;
    width: 30px;
}

.red-text {
    color: red;
}

.large-select {
    width: 80px; /* Adjust the width as needed */
  }

.job-img img {
    display: block;
    height: 30px !important;
    max-width: 30px;
    border-radius: 50%;
    border: 1px solid #c5c5c5;
}

.btn.manage-btn {
    margin: 0 2px;
    padding: 1px 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.visitor-avatar {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.visitor-avatar img {
    width: 100%; 
    height: auto;
    cursor: pointer; 
      vertical-align: middle;
  height: 70px;
  width: 90px;
}

.circular-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.table-responsive.Reimbursements-outer-box .table tr td {
    padding: 0.5rem 1rem !important;
    font-size: 12px;
}
.table-responsive.Reimbursements-outer-box tr th {
    background: #fafcfd;
    font-weight: 600;
}
/* .no-image {
    width: 40px;
    height: 40px;
    background: url('../../../../assets/img/user-1.jpg') no-repeat center center;
    background-size: cover;
} */

.no-image{

}

.modal-body.final-bill-inner-box {
    background: #efefef;
}

span.close-print-box {
    float: right;
}

span.close-print-box a {
    cursor: pointer;
}

span.close-print-box i {
    font-size: 20px;
    color: #fff;
    margin: 0 11px 0 0;
}

.modal-body.final-bill-inner-box .card-body {
    border: 1px dashed #a1a1a1;
    background: #fff;
}

.card-sales-split table {
    margin-bottom: 0;
}
.card-sales-split table th,.card-sales-split table td{
    border: none;
}
.modal-body.final-bill-inner-box table th,.modal-body.final-bill-inner-box table td{
    border: none;
    padding: 2px 10px;
    font-size: 12px;
}

.take-picture-box.e-pass-img img.img-responsive {
    border: 1px;
}

.take-picture-box img.img-responsive {
    height: 100%;
    margin: 0 auto;
    border: 10px solid #dfdfdf;
    border-radius: 20px;
}

.table-responsive.top-table-date-box tr td {
    border: none;
    font-size: 12px;
    vertical-align: middle;
    padding: 2px 10px;
}

.take-picture-box.e-pass-img {
    height: 120px;
}

a.btn.dropdown-item.manage-btn {
    display: block;
    text-align: left;
}
.dropdown.visitor-drop-down-btn button {
    padding: 0px 6px;
}
.dropdown.visitor-drop-down-btn .dropdown-menu {
    right: 0;
    left: auto;
    min-width: 100px;
}
.dropdown.visitor-drop-down-btn .dropdown-menu a {
    font-size: 12px;
    color: #000;
}
hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #eee;
}
.modal-header {
    padding: 5px 15px;
    border-bottom: 1px solid #e5e5e5;
}