
.light-skyblue {
    background: lightblue;
}

.white {
    background: white;
}

.export-button {
    background-color: rgb(114, 238, 116);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  .dropdown.float-right-box ul#menu3 {
    left: -52px;
}
.top-right-outer-box {
    display: flex;
    justify-content: flex-start;
}
.form-check {
    padding-top: 10px;
}
.form-check .form-check-input {
    height: 20px;
    width: 20px;
    vertical-align: text-bottom;
    margin: 3px 5px 0 0;
}
.table-responsive.reports-table-outer-box thead {
    background: #1669b6 !important;
    color: #fff;
}


table.table-striped  td {
    border: 1px solid black;
    padding: 2px;
        border-collapse: collapse;
    color: #000;
}
.brd-top {
    border-top: none !important;
}

.brd-btm {
    border-bottom: none !important;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-left {
    text-align: left;
}


table.salary-slip-header-box {
    background-color: #f6f6f6;
    width: 100%;
    max-width: 100%;
}
.salary-slip-logo-box {
    vertical-align: text-bottom;
}
.salary-slip-logo-box {
    padding: 20px;
}
.salary-slip-address-box {
    text-align: right;
    float: right;
    max-width: 300px;
    padding: 20px;
}
    .salary-slip-address-box p {
        font-weight: 600;
    font-size: 12px;
    margin-bottom: 5px;
    }
    .Salary-Slip-month-title-box h4 {
        width: 100%;
    text-align: center;
    display: block;
    padding-bottom: 30px;

    font-weight: 500;
    font-size: 22px;
    }  
    p.print-btn-box.text-right {
        position: absolute;
        top: -45px;
        right: 0;
    } 

    .table-responsive.reports-table-outer-box table tr td, .table-responsive.reports-table-outer-box table tr th {
        padding: 4px!important;
        font-size: 12px;
    } 





@media (min-width: 768px){
#wrapper {
    padding-left: 0;
}
}
.light-skyblue {
    background: lightblue;
}

.white {
    background: white;
}

.export-button {
    background-color: rgb(114, 238, 116);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  .dropdown.float-right-box ul#menu3 {
    left: -52px;
}
.top-right-outer-box {
    display: flex;
    justify-content: flex-start;
}
.form-check {
    padding-top: 10px;
}
.form-check .form-check-input {
    height: 20px;
    width: 20px;
    vertical-align: text-bottom;
    margin: 3px 5px 0 0;
}
.table-responsive.reports-table-outer-box thead {
    background: #1669b6 !important;
    color: #fff;
}


table.table-striped  td {
    border: 1px solid black;
    padding: 2px;
        border-collapse: collapse;
    color: #000;
}
.brd-top {
    border-top: none !important;
}

.brd-btm {
    border-bottom: none !important;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-left {
    text-align: left;
}


table.salary-slip-header-box {
    background-color: #f6f6f6;
    width: 100%;
    max-width: 100%;
}
.salary-slip-logo-box {
    vertical-align: text-bottom;
}
.salary-slip-logo-box {
    padding: 20px;
}
.salary-slip-address-box {
    text-align: right;
    float: right;
    max-width: 300px;
    padding: 20px;
}
    .salary-slip-address-box p {
        font-weight: 600;
    font-size: 12px;
    margin-bottom: 5px;
    }
    .Salary-Slip-month-title-box h4 {
        width: 100%;
    text-align: center;
    display: block;
    padding-bottom: 30px;

    font-weight: 500;
    font-size: 22px;
    }  
    p.print-btn-box.text-right {
        position: absolute;
        top: -45px;
        right: 0;
    } 

    .table-responsive.reports-table-outer-box table tr td, .table-responsive.reports-table-outer-box table tr th {
        padding: 4px!important;
        font-size: 12px;
    } 
    


@media (min-width: 768px){
#wrapper {
    padding-left: 0;
}
}


.component-container { /* Replace with your component's root class */
    .page-title {
      background: #f6f7f9;
      height: 150px;
      padding-top: 15px;
    }
  
    .btn {
      text-align: left;
    }
  
    .mng-jb {
      display: block;
      margin-left: 0;
      position: inherit;
      bottom: 0;
      font-size: 12px;
      opacity: 1;
      color: #000;
    }
  
    .u-content h5 {
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 500;
    }
  
    table.payslip {
      border: 1px solid black;
    }
  
    table.payslip td,
    table.payslip th {
      border: 1px solid black;
      padding: 2px;
    }
  
    table.payslip {
      width: 100%;
      border-collapse: collapse;
      color: #000;
    }
  
    .brd-btm {
      border-bottom: none !important;
    }
  
    .brd-top {
      border-top: none !important;
    }

    .main-heading {
      text-align: center;
      color: black;
    }
  
    table.payslip.payslip-box tr td table {
      border: none;
    }
  
    table.payslip.payslip-box tr td table tr td {
      border-left: 1px solid black;
      border-right: 1px solid black;
      padding: 2px;
      border: none;
    }
  
    table.payslip.payslip-box tr td table tr th {
      border-bottom: 1px solid black !important;
      padding: 2px;
      border: none;
    }
  
    table.payslip.payslip-box tr td table tr.tfoot-box th {
      border-top: 1px solid black !important;
    }
  
    table tr th {
      font-size: 13px;
    }
  
    .top-title-box {
      color: #000;
      text-align: center;
      margin: 0;
      padding: 15px 0 15px 0;
      font-size: 20px;
    }
  
    th.tfoot-box1 {
      border-top: 1px solid black !important;
    }

      table.payslip.payslip-box tr td table {
        border: none;
      }
  
      table.payslip.payslip-box tr td table tr td {
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding: 2px;
        border: none;
      }
  
      table.payslip.payslip-box tr td table tr th {
        border-bottom: 1px solid black !important;
        padding: 2px;
        border: none;
        font-size: 6px;
      }
  
      table.payslip.payslip-box tr td table tr.tfoot-box th {
        border-top: 1px solid black !important;
        font-size: 6px;
      }
  
      table tr th {
        font-size: 6px;
      }
  
      img.logo-top-box {
        width: 100px;
      }
  
      .col-md-8 {
        width: 66.66666667%;
        float: left;
      }
  
      .col-md-4 {
        width: 33.33333333%;
        float: left;
      }
  
      table.payslip td {
        padding: 0 2px;
        font-size: 7.2px;
      }
  
      .top-right-text {
        font-size: 5px;
      }
  
      .top-title-box {
        color: #000;
        text-align: center;
        margin: 0;
        padding: 5px 0 5px 0;
        font-size: 8px;
      }
  
      table {
        margin-bottom: 5px;
      }
  
      .box-body {
        padding: 0 2em;
      }
  
      th.tfoot-box1 {
        border-top: 1px solid black !important;
      }
    }
    