<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>
  <div id="wrapper" [ngClass]="{'active': showSidebar == false}">
    <div class="fakeLoader"></div>


    <div id="page-wrapper">

      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Employee Detail</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard/summary-dashboard']">Dashboard</a></li>
            <li class="breadcrumb-item active">Employee Detail</li>
          </ol>
        </div>
      </div>


      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="card">
              <div class="card-header">
                <div class="row">

                  <div class="col-md-12 col-sm-12">
            
                    <div class="row">
            
                      <div class="col-md-2 col-sm-2">
                          <b style="margin-left: 5px;">Row(s)</b><br>
                          <select class="form-control" (change)="changePage($event)" style="font-size: 12px;">
                            <option value="10" [selected]="limit==10">10</option>
                            <option value="20" [selected]="limit==20">20</option>
                            <option value="50" [selected]="limit==50">50</option>
                            <option value="100" [selected]="limit==100">100</option>
                          </select>
                      </div>

                      <div class="col-md-2 col-sm-2" style="margin-top: 1.5rem; text-align: left;">
                        <b>&nbsp;</b><br>
                        <strong>Total: {{employee_details_cnt}}</strong>
                      </div>


                      <div class="col-md-4 col-sm-4" style="margin-top: 1.5rem;"></div>
            
                      <!-- <div class="col-md-4">
                        <span style="font-weight: bold;">Search</span>
                        <input type="text" class="form-control" value="" placeholder="Search Employee(s)" (keyup)="search()"
                          maxlength="100" [(ngModel)]="searchKey">
                      </div> -->
            
                      <!-- <div class="col-md-2 col-sm-2">
                        <b>Date</b>
                        <br>
                        <input type="hidden" id="recdate" (click)="changeTodayDate()">
                        <input class="form-control" type="text" id="today_date" [(ngModel)]="today_date"
                          name="today_date" placeholder="[dd/mm/yyyy]" maxlength="10" autocomplete="off" #td>
                      </div> -->
            
                      <!-- <div class="col-md-2 col-sm-2">
                        <b>Status</b>
                        <br>
                        <select class="form-control" [(ngModel)]="filter_status" style="font-size: 12px;"
                          (change)="change_status_filter()">
                          <option value="all">All</option>
                          <option value="active">Active</option>
                          <option value="relieved">Relieved</option>
                          <option value="new-joining">New Joining</option>
                          <option value="joining-pending">Joining Pending</option>

                        </select>
                      </div> -->

                      <!-- <div class="col-md-2 col-sm-2">
                        <b>Job Type</b><br>
                        <select class="form-control" [(ngModel)]="filter_jobtype" style="font-size: 12px;"
                          (change)="change_jobtype_filter()">
                          <option value="">All</option>
                          <option value="Permanent">Permanent</option>
                          <option value="Unit Parameter">Unit Parameter</option>
                          <option value="Consultant">Consultant</option>
                          <option value="Contractual">Contractual</option>
                        </select>
                      </div> -->
            
                      <!-- <div class="col-md-2 col-sm-2">
                        <b>Department</b><br>
                        <select class="form-control" [(ngModel)]="filter_dept" style="font-size: 12px;"
                          (change)="change_dept_filter()">
                          <option value="">Select</option>
                          <option *ngFor="let item of deptList" [value]="item.departmentname">
                            {{ item.departmentname }}
                          </option>
                        </select>
                      </div> -->
            
                      <!-- <div class="col-md-2 col-sm-2">
                        <b>Designation</b><br>
                        <select class="form-control" [(ngModel)]="filter_desg" style="font-size: 12px;"
                          (change)="change_desg_filter()">
                          <option value="">Select</option>
                          <option *ngFor="let item of desgList" [value]="item.post_offered">
                            {{ item.post_offered }}
                          </option>
                        </select>
                      </div> -->
            
                      <!-- <div class="col-md-2 col-sm-2">
                        <b>Project</b><br>
                        <select class=" form-control" [(ngModel)]="filter_proj" id="project" (change)="change_project_filter()">
                          <option value="">Select</option>
                          <option *ngFor="let item of project_master_list_data" [value]="item.project_name">
                            {{ item.project_name }}
                          </option>
                        </select>
                      </div> -->
          
            
                      <div class="col-md-2 col-sm-2" style="margin-top: 1.5rem; text-align: right;">
                        <a class="btn btn-round btn-success excel-btn-box" title="Download Employee(s) in Excel"
                          (click)="exportExcelData()">&nbsp;<i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
                      </div>
                      <div class="col-md-1 col-sm-1" style="margin-top: 1.5rem; margin-left: 0px;">
                        <a (click)="openSidebar()" class="btn excel-btn-box results filter-onlick-btn"
                          style="padding-top: 9px;">Search<i class="fa fa-filter" style="margin-left: 5px;"></i>
                        </a>
                      </div>

                    </div>
            
                  </div>
            
            
                </div>
            
              </div>
            </div>

              <div class="card-body padd-bot-0 padd-top-0">

                <div class="row">
                  <div class="col-md-12 padd-top-0">
                    <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">

                      <table class="table user-list" style="font-size: small;">
                        <thead style="background: skyblue;">
                          <tr>
                            <th>Sr. No.</th>
                            <th>Employee</th>
                            <th>OU Name</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Functional Designation (Expertise)</th>
                            <th>Project</th>
                            <th>Job Type</th>
                            <th>Mobile</th>
                            <th>DOJ-DOL</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody style="background-color: white;">
                          <ng-container
                            *ngFor="let emp of employees_count_details_data | paginate: { itemsPerPage: limit, currentPage: p, totalItems: employees_count_details_data[0]?.tot_records }; let i = index">
                            <tr>
                              <td>{{((p-1)*limit)+i+1}}</td>

                              <td title="Click to view">
                                <h5 class="job-name cur-ptr" style="font-size: small;">
                                  <a class="job_name_tag" (click)="routeToEmployee(i)">{{emp.emp_name}}</a>
                                  <br>
                                  <span title="TPCode or OrgEmpCode"
                                    *ngIf="(!emp.orgempcode?emp.tpcode:emp.orgempcode)">[
                                    {{!emp.orgempcode?emp.tpcode:emp.orgempcode}} ]</span>
                                </h5>
                              </td>
                              <td style="width:20%" class="ou-hide-text-box">{{emp.assignedous}}</td>
                              <td>{{emp.posting_department?.split('#')[0]}}</td>
                              <td>{{emp.post_offered}}</td>
                              <td>{{emp.func_designation}}</td>
                              <td>{{emp.project_title}}</td>
                              <td>{{emp.jobtype}}</td>
                              <td>{{emp.mobile}}</td>
                              <td>{{emp.dateofjoining}} - {{emp.dateofrelieveing}}</td>
                              <td>{{emp.joiningstatus_txt}}</td>
                            </tr>
                          </ng-container>
                        </tbody>
                        <tfoot>
                          <tr *ngIf="this.employees_count_details_data.length==0">
                            <td colspan="100%" style="text-align: center;">No Data Found</td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flexbox padd-10 pagination-outer-box" *ngIf="employee_details_cnt > limit">
                <pagination-controls (pageChange)="get_page($event)" maxSize="9" directionLinks="true" autohide="true"
                  responsive="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                  screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"
                  style="font-size: 2rem;padding: 6px;font-weight: bold" class="float-right"></pagination-controls>
              </div>

            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- </div> -->


</section>

<app-footer></app-footer>


<!---------------------------------- Filter Popup ------------------------------------------------------>
<div id="sidebar" class="sidebar bg-dark text-white sidebar-menu_filter-box">
  <h3 class="filter-menu-header-text-box">Filter</h3>
  <!-- <button type="button" class="btn btn-user1 btn-round" (click)="resetFilter()">Clear</button>-->
  <a class="clear-box-btn" title="Clear Filter" (click)="resetFilter()">Clear</a>
  <button class="close-btn btn btn-danger1" (click)="closeSidebar()"><i class="fa fa-close"></i></button>
  <div class="sidebar-content-box">

    <div class="col-md-12 col-sm-12">
      <input type="text" [(ngModel)]="searchKey" placeholder="Search with employee(s)" (keyup)="search()"
        class="form-control wide-width" style="width: 100%;" maxlength="200">
    </div>

    <div class="col-md-12 ">

      <div id="filterComponent">
        <div class="panel-group">

          <div class="panel panel-default">
            <div class="panel-heading panel_heading_gray  card-header" role="tab" id="headingOne2"
              data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="false"
              aria-controls="collapseOne">
              <h4>Employee Filter <i class="fa fa-angle-down"></i></h4>
            </div>
            <div id="collapseOne2" class="panel-collapse collapse card-body in" role="tabpane2">
              <div class="row">
                <div class="col-sm-12">

                  <div class="col-md-12">
                    <span style="margin: 10px;">Month-Year</span>
                    <!-- (change)="changeMonth($event)"  (change)="changeYear($event)"-->
                    <p style="display: inline-flex;">
                      <select class="form-control" [(ngModel)]="month_copy" style="width: 15rem;">
                        <option *ngFor="let ma of monthsArray"  [value]="ma.id">{{ma.month}}
                        </option>
                      </select>
                      <select class="form-control" [(ngModel)]="year_copy" style="margin-left: 7px;">
                        <option *ngFor="let ya of yearsArray"  [value]="ya">{{ya}}</option>
                      </select>
                    </p>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-12">Job Type</label>
                    <div class="col-sm-12 padd-0">
                      <select class="form-control" [(ngModel)]="filter_jobtype">
                         <option value="">All</option>
                          <option value="Permanent">Permanent</option>
                          <option value="Unit Parameter">Unit Parameter</option>
                          <option value="Consultant">Consultant</option>
                          <option value="Contractual">Contractual</option>
                      </select>
                    </div>
                  </div>

                  <!--*ngIf="decoded_token.isEmployer=='1'" *ngIf="decoded_token.isEmployer=='1'" removed as per negd-->
                  <div class="form-group">
                    <label class="control-label col-sm-12">Organization Unit</label>
                    <div class="col-sm-12 padd-0 userOrgUnit">
                      <ng-multiselect-dropdown [placeholder]="'Select Organization Units'" [settings]="dropdownSettings"
                        [data]="orgList" [(ngModel)]="orgName_copy" [ngModelOptions]="{standalone: true}">
                      </ng-multiselect-dropdown>
                      <!-- (onFilterChange)="getOrgUnitData()" -->
                    </div>
                  </div>

                  <!-- <div class="form-group">
                    <label class="control-label col-sm-12">Department</label>
                    <div class="col-sm-12 padd-0 userOrgUnit">
                      <ng-multiselect-dropdown [placeholder]="'Select Department'" [settings]="deptDropdownSettings"
                        [data]="deptList" [(ngModel)]="deptName_copy" [ngModelOptions]="{standalone: true}">
                      </ng-multiselect-dropdown>
                    </div>
                  </div> -->

                  <div class="form-group">
                    <label class="control-label col-sm-12">Department</label>
                    <div class="col-sm-12 padd-0 userOrgUnit">
                       <select class="form-control" [(ngModel)]="filter_dept" style="font-size: 12px;">
                      <option value="">Select</option>
                      <option *ngFor="let item of deptList" [value]="item.departmentname">
                        {{ item.departmentname }}
                      </option>
                    </select>
                    </div>
                  </div>

                  <!-- <div class="form-group">
                    <label class="control-label col-sm-12">Designation</label>
                    <div class="col-sm-12 padd-0 userOrgUnit">
                      <ng-multiselect-dropdown [placeholder]="'Select Designation'" [settings]="desgDropdownSettings"
                        [data]="desgList" [(ngModel)]="desgName_copy" [ngModelOptions]="{standalone: true}">
                      </ng-multiselect-dropdown>
                    </div>
                  </div> -->

                  <div class="form-group">
                    <label class="control-label col-sm-12">Designation</label>
                    <div class="col-sm-12 padd-0 userOrgUnit">
                      <select class="form-control" [(ngModel)]="filter_desg" style="font-size: 12px;">
                      <option value="">Select</option>
                      <option *ngFor="let item of desgList" [value]="item.post_offered">
                        {{ item.post_offered }}
                      </option>
                    </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-12">Project</label>
                    <div class="col-sm-12 padd-0 userOrgUnit">
                        <select class=" form-control" [(ngModel)]="filter_proj" id="project">
                          <option value="">Select</option>
                          <option *ngFor="let item of project_master_list_data" [value]="item.project_name">
                            {{ item.project_name }}
                          </option>
                        </select>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="text-center mrg-bot-25">
        <button type="button" class="btn btn-user1 btn-round btn-primary" (click)="change_sidebar_filter()"
          id="btnSetFilter">
          &nbsp;Apply</button>

      </div>
    </div>
  </div>
</div>