<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<section>

    <div id="wrapper" [ngClass]="{'active': showSidebar == false}">
        <div class="fakeLoader"></div>

        <div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Budget Dashboard</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Budget Dashboard</li>

                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                <!-- /row -->



                <div class="row mrg-bot-20">



                    <div class="col-md-12">

                        <div
                            class="card-box Attendance-listing-outer-box Recruitment-Summary-box Organization-Unit-box">




                            <div class="row">
                                <!-- <div class="col-md-12">

                                    <div class="filter-wraps card-header" style=" overflow: visible;">

                                        <div class="col-md-2  ">

                                            <span
                                                style="font-weight: bold;padding: 11px 0 !important;display: inline-block;">Financial
                                                Year</span>
                                        </div>




                                        <div class="col-md-2  ">

                                            <span
                                                style="font-weight: bold;padding: 11px 0 !important;display: inline-block;">Project</span>
                                        </div>









                                    </div>
                                </div> -->
                            </div>





                            <div class="row">


                                <div class="col-md-6">

                                    <div class="row">

                                        <div class="col-md-12">

                                            <!-- General Information -->
                                            <div class="box">

                                                <div class="box-header">
                                                    <h4 style="margin:5px;" href="#SendMessage1" data-toggle="modal"
                                                        data-placement="top">Budget Allocation Chart </h4>

                                                    <div class="col-md-3 padd-0">

                                                        <select class=" form-control"
                                                            (change)="fychage($event.target.value)" id="fy">
                                                            <option value="0">Select</option>
                                                            <option value="2023-2024">2023 - 24</option>
                                                            <option value="2024-2025">2024 - 25</option>
                                                            <option value="2025-2026">2025 - 26</option>

                                                        </select>
                                                    </div>
                                                    <div class="col-md-3 padd-0">

                                                        <select class=" form-control" id="project"
                                                            (change)="projectchage($event.target.value)">
                                                            <option value="0">Select</option>
                                                            <option *ngFor="let item of project_master_list_data"
                                                                [value]="item.id">
                                                                {{item.project_name
                                                                }}</option>

                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="box-body">
                                                    <div class="row">

                                                        <div class="col-sm-12">


                                                            <ngx-charts-bar-vertical [results]="chartData"
                                                                [view]="[500, 300]" [scheme]="colorScheme"
                                                                [xAxis]="true" [yAxis]="true" [legend]="false"
                                                                [showDataLabel]="false">
                                                            </ngx-charts-bar-vertical>




                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">

                                        <div class="col-md-12">

                                            <!-- General Information -->
                                            <div class="box">
                                                <div class="box-header">
                                                    <h4 style="margin:5px;" href="#SendMessage1" data-toggle="modal"
                                                        data-placement="top">Budget Allocation Chart </h4>


                                                </div>
                                                <div class="box-body">
                                                    <div class="row">

                                                        <div class="col-sm-12">

                                                            <select (change)="setSpeed($event.target.value)">
                                                                <option
                                                                    *ngFor="let project of budgetList; let i = index"
                                                                    [value]="i">
                                                                    {{ project.project_name }} ({{ project.fin_year }})
                                                                </option>
                                                            </select>

                                                            <!-- Gauge component without label or value in the center -->
                                                            <ngx-gauge [size]="300" [type]="'semi'" [value]="speed"
                                                                [min]="0" [max]="2000000" [cap]="'round'" [thick]="12"
                                                                [foregroundColor]="'#03a9f4'" [thresholds]="{
  '0': { color: '#4caf50' },
  '500000': { color: '#ffeb3b' },
  '1000000': { color: '#f44336' }
}">
                                                            </ngx-gauge>

                                                            <!-- Display the formatted value outside the gauge -->
                                                            <div class="formatted-value"
                                                                style="text-align: center; font-size: 16px; font-weight: bold;">
                                                                {{ formattedValue }} ₹
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>










                        </div>





                    </div>
                </div>

            </div>







            <!-- /row -->
        </div>
    </div>
</section>