<div class="container-fluid element" id="element">
    <!-- /row -->
    <div class="row">
    

    
    
    <div class="col-md-4 ">
        <div class="manage-list-row manage-pay-select clearfix list_view_de-box">
            
            <div class="net-pay-section">
            
             
            
            <div class="col-md-12">
                <a [routerLink]="['/profile/travel-request',emp_code]"><span class="font-mm head-enve-box "><img src="assets/img/travel.png" class="img-responsive" alt="Logo"> </span></a>
            </div>
            
            
            
               <div class="title-inn_box">
                  <a [routerLink]="['/profile/travel-request',emp_code]"><span class="font-semibold font-mm">Travel Request</span> </a>
                   
               </div>
               <div class="row net-pay-data-without-bt">
                  <div class="col-md-12">
                     <div class="text-uppercase font-ms payrun-label">

                        <!--<a href="#SendMessage198" data-toggle="modal" data-placement="top" class=" btn btn-user btn-round  btn-primary btn-primary-Add-Roles-btn" data-placement="top" style=" margin-top: 10px;">Add Request </a>-->
                        
                        <a [routerLink]="['/profile/travel-request',emp_code]" class=" btn btn-user btn-round  btn-primary btn-primary-Add-Roles-btn" data-placement="top" style=" margin-top: 10px;background-color: #0084ff !important;
    border-color: #0084ff !important;">View </a>

                     </div>
                     
                     
                  </div>
                   
                
                   
               </div>
               

               
                
            </div>
            
        </div>
        
    </div>
     
    
    
    <div class="col-md-4 ">
        <div class="manage-list-row manage-pay-select clearfix list_view_de-box">
            
            <div class="net-pay-section">
            
             
            
            <div class="col-md-12">
                <a [routerLink]="['/profile/travel-expense',emp_code]"><span class="font-mm head-enve-box "><img src="assets/img/budget.png" class="img-responsive" alt="Logo"> </span></a>
            </div>
            
            
            
               <div class="title-inn_box">
                  <a [routerLink]="['/profile/travel-expense',emp_code]"><span class="font-semibold font-mm">Travel Expense</span> </a>
                   
               </div>
               <div class="row net-pay-data-without-bt">
                  <div class="col-md-12">
                     <div class="text-uppercase font-ms payrun-label">

                        <!--<a href="#SendMessage1981" data-toggle="modal" data-placement="top" class=" btn btn-user btn-round  btn-primary btn-primary-Add-Roles-btn" data-placement="top" style=" margin-top: 10px;">Add Expense </a>-->
                        
                        <a [routerLink]="['/profile/travel-expense',emp_code]" class=" btn btn-user btn-round  btn-primary btn-primary-Add-Roles-btn" data-placement="top" style=" margin-top: 10px;background-color: #0084ff !important;
    border-color: #0084ff !important;">View </a>

                     </div>
                     
                     
                  </div>
                   
                
                   
               </div>
               

               
                
            </div>
            
        </div>
        
    </div>
     
    </div>
                
</div>