   
    :host ::ng-deep .p-organizationchart {
      .p-person {
        padding: 0 !important;
        border: 0 none !important;
      }

      .node-header,
      .node-content {
        padding: 0.5em 0.7rem !important;
        width: 15rem !important;
        font-size: 15px !important;
      }

      .node-header {
        background-color: #495ebb !important;
        color: #ffffff !important;
      }

      .node-content {
        text-align: center !important;;
        border: 1px solid #495ebb !important;
      }

      .node-content img {
        border-radius: 50% !important;
      }

      .department-cfo {
        background-color: #7247bc !important;
        color: #ffffff !important;
      }

      .department-coo {
        background-color: #a534b6 !important;
        color: #ffffff !important;
      }

      .department-cto {
        background-color: #e9286f !important;
        color: #ffffff !important;
      }

      .p-organizationchart-line-down {
        background: black !important;;
      }

      .p-organizationchart-line-left {
        border-color: black !important;;
      }

      .p-organizationchart-line-top {
        border-color: black !important;;
      }

      /* Hiding lines for collapsed nodes */
      .p-organizationchart-node-hidden {
        display: none !important;
      }
    }

    /* ::ng-deep body {
  overflow: hidden !important;
} */

    .container-fluid {
      overflow: auto;
    }

    .btn-option {
      width: 10rem;
      height: 35px;
      font-size: 15px;
      margin-top: 5px;
      margin-right: 5px;
    }

    .update-btn {
      background: #36ae36;
      color: #fff;
    }

    .delete-btn {
      background: #dd2b2b;
      color: #fff;
    }


    .fixed-height-table {
      table-layout: fixed;
      width: 100%;
    }

    .fixed-height-table tbody {
      display: block;
      height: 100px;
      /* Set your desired height */
      overflow-y: auto;
    }

    .fixed-height-table thead,
    .fixed-height-table tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }