<app-header></app-header>

<section>
  <div id="wrapper ">
    <div class="fakeLoader"></div>

    <div id="page-wrapper">


      <div class="row page-titles">
        <div class="col-md-8 align-self-center">
          <h3 class="text-themecolor" style="margin-left: 20px;">Starting Balance</h3>
        </div>
        <div class="col-md-4 align-self-right">
          <h4 *ngIf="calPaymentStatus == '3'" class="text-themecolor cur-ptr" title="Receipt"
            (click)="back_to_receipt()">
            <a><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Back</a>
          </h4>
        </div>
      </div>



      <div class="container-fluid">
        <!-- /row -->
        <div class="">
          <div class="row">
            <alert></alert>
            <div class="col-md-8 col-md-offset-2 mrg-top-251 mrg-bot-25 ">
              <div class="card" [ngStyle]="{'display':calPaymentStatus == '2'?'':'none'}">

                <div class="card-header">


                  <div class="col-md-12">
                    <div class="row">

                      <div class="receipt-main col-xs-10 col-sm-10 col-md-12" *ngIf="invoicedetail != ''"
                        style="background: #ffffff none repeat scroll 0 0; margin-top: 1px;  position: relative; color: #333333; font-family: open sans;">
                        <div class="row">

                          <div class="col-xs-12 col-sm-12 col-md-12" style="padding-top: 20px;">
                            <h2 class="invoice-title-box"
                              style="font-size: 30px;font-weight: 500;color: #000; font-weight: 500; margin: 0 0 30px 0;
                                                   text-align: center; font-family: 'Montserrat', sans-serif !important;">Receipt</h2>
                          </div>

                          <div class="col-xs-3 col-sm-3 col-md-3" style="text-align: right;">
                            <!-- {{invoicedetail|json}} -->
                            <!-- <qrcode [qrdata]="qrUrl" [width]="150" [errorCorrectionLevel]="'M'"
                              [allowEmptyString]="true"></qrcode> -->
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="receipt-header heade-top-box"
                              style="background: #f2f8fb; display: inline-block;  width: 100%;">

                              <div style="float: left;">
                                <div class="receipt-left"
                                  style="font-size: 16px; font-weight: bold; margin: 0 0 7px 0;">
                                  <h5
                                    style="margin: 8px 17px; color: #484848; font-family: 'Montserrat', sans-serif !important;">
                                    <b>PI No.</b>
                                    {{invoicedetail.pinumber}}
                                  </h5>
                                </div>
                              </div>
                              <div style="float: right;">
                                <div class="receipt-right"
                                  style="font-size: 16px; font-weight: bold; margin: 0 0 7px 0;">

                                  <h5
                                    style="margin: 8px 17px; color: #484848;font-family: 'Montserrat', sans-serif !important;">
                                    {{
                                    convertFirstCharAfterFirstDash(invoicedetail.pidate) }}</h5>

                                </div>
                              </div>

                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="receipt-header receipt-header-mid">
                            <div class="col-xs-6 col-sm-6 col-md-6 text-left" style="float: left;">
                              <div class="receipt-right" class="receipt-right"
                                style=" font-family: 'Montserrat', sans-serif !important; padding: 10px;">
                                <h5 style="color: #000; font-weight: 700; font-size: 16px;">
                                  <b>{{invoicedetail.employername}}.</b>
                                </h5>
                                <p style="color: #333333;"><b>{{ invoicedetail.employeraddress}}</b></p>

                                <p style="color: #333333;"><b>GSTIN/UIN :</b> {{invoicedetail.employergstno}}
                                </p>
                                <p style="color: #333333;"><b>State Name :</b> {{ invoicedetail.employerstatename}}
                                </p>
                                <p style="color: #333333;"><b>CIN :</b> {{ invoicedetail.employercinno }}
                                </p>
                                <p style="color: #333333;"><b>PAN :</b> {{ invoicedetail.employerpanno}}</p>
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6"
                              style="float: right; font-family: 'Montserrat', sans-serif !important; padding: 10px;">
                              <div class="receipt-left">

                                <div class="receipt-right">
                                  <h5 style="color: #000; font-weight: 500;"><b>Bill To</b>
                                  </h5>
                                  <h5 style="color: #000; font-weight: 500;">
                                    {{invoicedetail.customeraccountname}}</h5>
                                  <p><b>{{ invoicedetail.customeraddress }}</b></p>
                                  <p><b>State Code: :</b> {{invoicedetail.statecode}}</p>
                                  <p><b>GSTIN/UIN :</b> {{invoicedetail.ac_gstnumber}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div>
                          <table class="table1 table-bordered"
                            style="width: 100%; border-collapse: collapse; font-family: 'Montserrat', sans-serif !important;">
                            <thead>
                              <tr>
                                <th
                                  style="color: #484848; font-size: 17px; font-weight: 600; background: #f2f8fb none repeat scroll 0 0; padding: 6px 20px !important;">
                                  Description</th>
                                <th
                                  style="color: #484848; font-size: 17px; font-weight: 600; background: #f2f8fb none repeat scroll 0 0; padding: 6px 20px !important;">
                                  HSN/SAC</th>
                                <th
                                  style="color: #484848; font-size: 17px; font-weight: 600; background: #f2f8fb none repeat scroll 0 0; padding: 6px 20px !important;">
                                  Amount</th>
                              </tr>

                            </thead>
                            <tbody>
                              <tr>
                                <td class="col-md-6"
                                  style="font-size: 18px; font-weight: initial !important; padding: 9px 20px !important;">
                                  {{invoicedetail.service_name}} </td>
                                <td class="col-md-3"
                                  style="font-size: 18px; font-weight: initial !important; padding: 9px 20px !important;">
                                  {{invoicedetail.hsnsacnumber}} </td>
                                <td class="col-md-3"
                                  style="font-size: 18px; font-weight: initial !important; padding: 9px 20px !important;">
                                  &#8377;
                                  <!-- {{invoicedetail.payoutamount}} -->
                                  {{invoicedetail.baseamount}}
                                </td>
                              </tr>

                              <tr>
                                <td class="col-md-6 text-left">
                                  <h3 style="color: #000;">Total
                                    Amount: </h3>


                                </td>
                                <td class="col-md-3"
                                  style="font-size: 18px; font-weight: initial !important; padding: 9px 20px !important;">
                                </td>
                                <td class="col-md-3 text-left text-danger">
                                  <h3 style="color: #000; padding: 9px 10px !important;">
                                    &#8377; {{
                                    invoicedetail.netamountreceived }}/-</h3>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="row">
                          <div class="receipt-header receipt-header-mid receipt-footer">
                            <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                              <div class="receipt-right " style="
                              margin: 20px 0 0 0px; font-family: 'Montserrat', sans-serif !important;">
                                <p>Total Amount (In Words): <b style="font-size: 16px;">{{ invoicedetail.amountinwords
                                    }} Rupees Only</b></p>

                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="row" style="
                         font-family: 'Montserrat', sans-serif !important; padding-bottom: 20px;">
                          <div class="col-xs-6 col-sm-6 col-md-6 text-left">
                            <div class="receipt-left">
                              <p style="text-align: center; font-size: 12px; text-align: left;">
                                {{ invoicedetail.jurisdiction }}</p>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                            <div class="receipt-right">
                              <p style="text-align: center; font-size: 12px; text-align: right;">
                                This is a System Generated Invoice</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group text-center">
                      <button class="btn btn-info" (click)="backtoOnBoarding()">Back</button> &nbsp;&nbsp;
                      <button class="btn btn-primary" (click)="submitPayInvoice(invoicedetail)">Pay Now</button>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
          <div class="col-md-6 col-md-offset-3  mrg-bot-25" [ngStyle]="{'display':calPaymentStatus == '3'?'':'none'}">
            <div class="form-row form-checkbox individual-business-box">

              <div class="row" *ngIf="invoicedetail != ''">


                <div class="col-md-12 col-12">
                  <div class="form-group">

                    <div class="payment-box">

                      <div class="padd-10">
                        <div class="payment-left-box">
                          <img src="assets/img/upi.png" class="fl-left width-30" alt="" style=" max-width: 100%;">
                          <img src="assets/img/fast-forward.png" class="arrow-btn" alt="" (click)="juspayRedirectbtn()"
                            style="cursor: pointer;">
                        </div>
                        <div class="payment-right-box">
                          <!-- <h5 class="mb-0">Max Limit Rs. 100000 per day</h5> -->
                          <!-- <small>Additional charges may apply</small> -->
                        </div>
                      </div>

                      <div class="pay-box-footer bt-1">
                        <a (click)="juspayRedirectbtn()" data-toggle="tooltip" data-original-title="Pay Now"
                          class="theme-cl font-13 fl-right" style="cursor: pointer;">Pay Now</a>
                      </div>

                    </div>

                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="form-group">

                    <div class="payment-box">

                      <div class="padd-10">
                        <div class="payment-left-box">
                          <img src="assets/img/bank-transfer.png" class="fl-left width-30" alt=""
                            style="max-width: 152px;">
                          <img src="assets/img/fast-forward.png" class="arrow-btn" alt="" style="cursor: pointer;"
                            (click)="bankTransferButton()">
                        </div>
                        <div class="payment-right-box">
                          <!-- <h5 class="mb-0">Max Limit Rs. 100000 per day</h5> -->
                          <small>No Additional charges</small>
                        </div>
                      </div>

                      <div class="pay-box-footer bt-1">
                        <a (click)="bankTransferButton()" data-toggle="tooltip" data-original-title="Pay Now"
                          class="theme-cl font-13 fl-right" style="cursor: pointer;">Pay Now</a>
                      </div>

                    </div>

                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>


<div class="modal" [@grooveState]="bankDetailModalStatus?'active':'inactive'">
  <div class="modal-dialog" [@dongleState]="bankDetailModalStatus?'active':'inactive'">

    <div class="modal-content bank-transfer-outer-box">
      <form>

        <div class="modal-header ">
          <h2 class="modal-title">Please use the following details to complete the bank transfer</h2>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="closeBankDetailModal()">&times;</button>
        </div>
        <div class="modal-body">
          <!-- <div class="form-group">
            <label><b>Please use the following details to complete the bank transfer:</b></label>
          </div> -->
          <div class="form-group">
            <div class="col-md-12">
              <div class="Transfer-th-amount-outer-inner-box">
                <div class="col-md-12"> <b> {{ vpaDetails?.company_name }}</b><hr></div>
            </div>
              
                <div class="row">
                    <div class="col-md-3"> <b>Amount : </b> </div>
                    <div class="col-md-9"><span> &#8377; {{ invoicedetail?.netamountreceived }}</span></div>
                    <div class="col-md-12"><hr></div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-3"> <b>Virtual Account No : </b></div>
                    <div class="col-md-9"> <span> {{ vpaDetails?.vpa_number }}</span></div>
                    <div class="col-md-12"><hr></div>
                </div> -->
                <div class="row">
                  <div class="col-md-3"> <b>Account No : </b></div>
                  <div class="col-md-9"> <span> {{ vpaDetails?.accountnumber }}</span></div>
                  <div class="col-md-12"><hr></div>
              </div>
                <div class="row">
                    <div class="col-md-3"><b>Bank Name : </b> </div>
                    <div class="col-md-9"> <span> {{ vpaDetails?.bankname }}</span></div>
                    <div class="col-md-12"><hr></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><b>IFSC Code : </b> </div>
                    <div class="col-md-9"> <span> {{ vpaDetails?.ifsccode }}</span></div>
                    <div class="col-md-12"><hr></div>
                </div>
                <div class="row">
                  <div class="col-md-3"><b>Branch Name : </b> </div>
                  <div class="col-md-9"> <span> {{ vpaDetails?.branch_name }}</span></div>
                  <div class="col-md-12"><hr></div>
              </div>
              
              <div class="Transfer-th-amount-outer-box">
                <div class="row">
                  <ul style="list-style:disc;">
                    <li>Login to your bank via net banking and click on VAN or VPA.</li>
                    <li>Use the provided account number to add beneficiary.</li>
                    <li>Depending on your bank, it may take 30 min to 2 hrs before you can transfer amount.</li>
                    <li>Transfer the amount</li>
                    <li>It may take upto 48 hrs for the amount to reflect, after which your TankhaPay account will be
                      activated.</li>
                    <li>If Bank transfer completed then Click on below Close Button.</li>
                  </ul>
                </div>
              </div>
            </div>


        </div>

        </div>
        <div class="modal-footer text-center">
          <input type="button" class="btn btn-primary" value="Close" (click)="submitBankTransfer()">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Bank Transfer 2 -->
<div class="modal" [@grooveState]="alertManualTransferStatus?'active':'inactive'">
  <div class="modal-dialog" [@dongleState]="alertManualTransferStatus?'active':'inactive'">
    <div class="modal-content">
      <form>
        <!--div class="modal-header ">
					<h4 class="modal-title">Alert</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div-->

        <div class="modal-header ">
          <h2 class="modal-title">Bank Transfer - Note</h2>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <div class="col-md-12">
              <div class="row rbt">
                <ul style="list-style:disc;">
                  <li>Login to your bank via net banking and click on VAN or VPA.</li>
                  <li>Use the provided account number to add beneficiary.</li>
                  <li>Depending on your bank, it may take 30 min to 2 hrs before you can transfer amount.</li>
                  <li>Transfer the amount</li>
                  <li>It may take upto 48 hrs for the amount to reflect, after which your TankhaPay account will be
                    activated.</li>
                </ul>
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer text-center">
          <input type="button" class="btn btn-primary" value="Ok" (click)="submitAlertManualButton()">
        </div>
      </form>
    </div>
  </div>
</div>

<!-----QR Code Popup------>
<div class="modal  scan-and-pay-outer-box" [@grooveState]="isShowQr?'active':'inactive'" (click)="closeQRCode()">
  <div class="modal-dialog" [@dongleState]="isShowQr?'active':'inactive'" disabled style="pointer-events: auto;"
    (click)="$event.stopPropagation()">

    <div class="modal-content" style="pointer-events: none;" (click)="$event.stopPropagation()">
      <!-- <div class="modal-header ">
        <h2 class="modal-title">Scan QR code</h2>
        <button type="button" class="close" (click)="closeQRCode()" data-dismiss="modal"
          aria-hidden="true">&times;</button>
      </div> -->

      <div class="modal-body">


        <div class="login-panel panel panel-default">
          <div class="panel-body">


            <div class="form-group signup-form-box">

              <div class="form-v10-content">
                <div class="logo-panel-heading-box"><img src="assets/img/logo.png" alt="" class="img-responsive"  style="width: 220px;"></div>
                <form class="form-detail" action="#" method="post" id="myform">

                  <div class="form-right">
                    <h2>Akal Information Systems Ltd </h2>

                    <div class="form-row form-checkbox individual-business-box">

                      <div class="row">


                        <div class="col-md-12 col-12">
                          <div class="form-group">

                            <div class="payment-box">

                              <div class="padd-10">
                                <div class="payment-left-box1">

                                  <canvas #qrcode></canvas>
                                  <!-- <qrcode [qrdata]="qrUrl" [width]="230" [errorCorrectionLevel]="'M'"
                                    [allowEmptyString]="true"></qrcode> -->
                                  <!-- <img src="assets/img/scan-code-pay.jpg" alt="" class="img-responsive"> -->
                                </div>
                                <div class="payment-right-box">
                                  <h5 class="Total-Amount-box">₹ {{this.invoicedetail.netamountreceived}}/-</h5>
                                  <h5 class="mb-0">tankhapay@hdfcbank</h5>

                                </div>
                              </div>
                            </div>

                          </div>
                        </div>

                      </div>

                    </div>





                  </div>

                </form>

                <p class="Time-Remaining-box"><span class="text-danger custom-time ">Time Remaining:-
                    {{formattedTime}}</span></p>
                <div class="pay-footer-box">

                  <img src="assets/img/google-pay.png" alt="" class="img-responsive">
                  <img src="assets/img/paytm-icon.jpg" alt="" class="img-responsive">
                  <img src="assets/img/amazon-icon.jpg" alt="" class="img-responsive">
                  <img src="assets/img/phonepe-icon.jpg" alt="" class="img-responsive">
                  <img src="assets/img/cred-pay-icon.jpg" alt="" class="img-responsive">



                </div>
                <p class="bhim-upi-box"><img src="assets/img/bhim-upi-icon.jpg" alt="" class="img-responsive"></p>
              </div>




            </div>

          </div>

        </div>
        <!-- <div class="form-group">
          <div class="col-md-12">
            <div class="row qr-row">
              <qrcode [qrdata]="qrUrl" [width]="200" [errorCorrectionLevel]="'M'" [allowEmptyString]="true"></qrcode>
            </div>
          </div>

          <span class="text-danger custom-time">Time Remaining:- {{formattedTime}}</span>

        </div> -->

      </div>
      <!--<div class="modal-footer text-center">
        <input type="button" class="btn btn-primary" value="Close" (click)="closeQRCode()">
      </div>-->
    </div>
  </div>
</div>
<!-----QR Code Popup------>


<!-- <iframe *ngIf="showPaymentScreen" allow="payment *;" src="https://api.juspay.in/orders/ordeh_0651e605d……./payment-page"></iframe> -->
<!-- <div id="juspayDiv" #juspayDiv></div> -->
