<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<div id="wrapper" [ngClass]="{'active': showSidebar}">

  <div id="page-wrapper" style="min-height: 596px;">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Arrear Salary</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>

          <li class="breadcrumb-item active">Arrear Salary</li>
        </ol>
      </div>
    </div>
    <div class="container-fluid element" id="element">

      <!-- List -->
      <div *ngIf="show_level=='1'" class="row">

        <div class="table-listing-in-arrears-box" id="TableListingBox" style="display: block;">
          <div class="col-md-12 col-sm-12" style="z-index:10;">


            <div class="card filter-outer-main-box">
              <div class="card-body ">

                <div class="row">
                  <div class="col-md-1 col-sm-1 text-right padd-0">
                    <div class="form-group">
                      <h3>Filter By :</h3>

                    </div>
                  </div>
                  <div class="col-md-4 ">

                    <ng-select [items]="userList_modified" bindLabel="emp_name" placeholder="Select Employee"
                      [(ngModel)]="selectedEmployee" [searchFn]="customSearch" (change)="updateSearchKeyword($event)">
                    </ng-select>

                    <!-- <input type="text" class="form-control" placeholder="Search TpCode or OrgEmpCode"
                      [(ngModel)]="searchKeyword"> -->
                  </div>
                  <!-- <div class="col-md-2 col-sm-12">
                    <div class="form-group" style="display:none;">

                      <select class="form-control" [(ngModel)]="year" (change)="onYearChange()">

                        <option *ngFor="let ya of filteredYearsArray" [selected]="year==ya" [value]="ya">{{ya}}</option>
                      </select>

                    </div>

                  </div> -->

                  <!-- <div class="col-md-2 col-sm-12  padd-0">
                    <div class="form-group" style="display:none;">

                      <select class="form-control" [(ngModel)]="month" style="width: 15rem;">
                        <option value="">Select</option>
                        <option *ngFor="let ma of filteredMonthsArray" [selected]="month==ma.id" [value]="ma.id">
                          {{ma.month}}
                        </option>
                      </select>
                    </div>
                  </div> -->



                  <!--<div class="col-md-2 col-sm-12 padd-0">
              <div class="form-group">



                  <select id="DepartmentDropdown" class="form-control">
                    <option value="6" ng-reflect-value="6">Select Department</option>
                    <option value="122" ng-reflect-value="10">All</option>
                    <option value="10" ng-reflect-value="10">Department 1</option>
                    <option value="50" ng-reflect-value="50">Department 2</option>
                    <option value="100" ng-reflect-value="100">Department 3</option>
                    </select>


              </div>
            </div>-->


                  <div class="col-md-3 col-sm-3 text-left">
                    <div class="form-group">
                      <!--<a onclick="openSidebar()" class="btn excel-btn-box results filter-onlick-btn" style="padding-top: 9px;">
                 <span class="filter_count-box">3</span> More Filters<i class="fa fa-filter"></i></a>-->

                      <a (click)="search()" id="searcharrears-btn" title="Search"
                        class=" btn btn-user btn-round  btn-primary btn-primary-Add-Roles-btn">Search </a>&nbsp;&nbsp;
                      <a id="ResetBtnBox" title="Reset" (click)="reset_btn_click()"
                        class=" btn btn-user btn-round  btn-primary btn-primary-Add-Roles-btn">Reset </a>
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>


          <div class="col-md-12 padd-top-0 day-wise-reports-box">




            <div class="card">


              <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">

                <table class="table dataTable no-footer" id="filterSalDataTable"
                  aria-describedby="filterSalDataTable_info" role="grid">
                  <thead>
                    <tr role="row">
                      <th style="width: 31px;">S.NO</th>
                      <th style="width: 76px;">Employee Name</th>
                      <th style="width: 74px;">Employee Code</th>
                      <th style="width: 70px;">Mobile</th>
                      <th style="width: 68px;">Department</th>
                      <th style="width: 39px;">Designation</th>
                      <th style="width: 52px;">Assigned OUs</th>
                      <th style="width: 43px;">Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let efl of employeesForLedgerData; let i=index;">
                      <tr role="row" class="odd">
                        <td class="fit" scope="col">{{i+1}}</td>
                        <td class="fit" scope="col">{{efl.emp_name}}</td>
                        <td class="fit" scope="col">{{efl.tpcode || efl.orgempcode || ''}}</td>
                        <td class="fit" scope="col">{{efl.mobile}}</td>
                        <td class="fit" scope="col">{{efl.department}}</td>
                        <td class="fit" scope="col">{{efl.designation}}</td>
                        <td class="fit" scope="col">{{efl.assignedous}}</td>
                        <td class="fit" scope="col">
                          <!-- <i class="fa fa-trash"></i>
                          &nbsp; -->
                          <i *ngIf="efl.ledgercount > 0" title="Click for arear" style="color:blue"
                            class="fa fa-lg fa-sign-in" (click)="fetchArearByMonthYearEmpCode(efl)"></i>
                          <i *ngIf="efl.ledgercount == 0" title="Click to generate ledger" style="color:blue"
                            class="fa fa-lg fa-plus-square-o" (click)="openCreateLedgerPopup(efl)"></i>
                        </td>
                      </tr>
                    </ng-container>

                    <tr *ngIf="employeesForLedgerData.length==0">
                      <td style="text-align: center; width:100%;" colspan="100%">No Data Found</td>
                    </tr>
                  </tbody>
                </table>


              </div>


            </div>

          </div>



          <div class="col-md-12 col-12 padd-top-0 text-center" style="display:none;">
            <a class="btn btn-primary">Save </a>
          </div>


        </div>


      </div>



      <!-- Arear -->
      <div *ngIf="show_level=='2'" class="row">

        <div class="table-listing-in-arrears-box" id="TableListingBox2" style="display: block;">
          <div class="col-md-12 col-sm-12" style="z-index:10;">


            <div class="card filter-outer-main-box">
              <div class="card-body ">

                <div class="row">
                  <div class="col-md-1 col-sm-1 text-right padd-0">
                    <div class="form-group">
                      <h3>Filter By :</h3>

                    </div>
                  </div>
                  <div class="col-md-4">
                    <input type="text" style="pointer-events:none; background:#e3e7eb;" class="form-control"
                      placeholder="Search TpCode or OrgEmpCode" [(ngModel)]="searchKeyword">
                  </div>
                  <!-- <div class="col-md-2 col-sm-12">
                    <div class="form-group">

                      <select class="form-control" [(ngModel)]="year" (change)="onYearChange()">
                        <option *ngFor="let ya of filteredYearsArray" [selected]="year==ya" [value]="ya">{{ya}}</option>
                      </select>

                    </div>

                  </div>

                  <div class="col-md-2 col-sm-12  padd-0">
                    <div class="form-group">

                      <select class="form-control" [(ngModel)]="month" style="width: 15rem;">
                        <option value="">Select</option>
                        <option *ngFor="let ma of filteredMonthsArray" [selected]="month==ma.id" [value]="ma.id">
                          {{ma.month}}
                        </option>
                      </select>
                    </div>
                  </div> -->

                  <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Search" style="display:none;">
                  </div>

                  <div class="col-md-3">

                  </div>





                  <!--<div class="col-md-2 col-sm-12 padd-0">
              <div class="form-group">



                  <select id="DepartmentDropdown" class="form-control">
                    <option value="6" ng-reflect-value="6">Select Department</option>
                    <option value="122" ng-reflect-value="10">All</option>
                    <option value="10" ng-reflect-value="10">Department 1</option>
                    <option value="50" ng-reflect-value="50">Department 2</option>
                    <option value="100" ng-reflect-value="100">Department 3</option>
                    </select>


              </div>
            </div>-->


                  <div class="col-md-3 col-sm-3 text-right">
                    <div class="form-group">
                      <!--<a onclick="openSidebar()" class="btn excel-btn-box results filter-onlick-btn" style="padding-top: 9px;">
                 <span class="filter_count-box">3</span> More Filters<i class="fa fa-filter"></i></a>-->

                      <a (click)="search()" id="searcharrears-btn" title="Search"
                        class=" btn btn-user btn-round  btn-primary btn-primary-Add-Roles-btn">Back </a>
                      <!-- <a id="ResetBtnBox" title="Reset" (click)="reset_btn_click()"
                        class=" btn btn-user btn-round  btn-primary btn-primary-Add-Roles-btn">Reset </a> -->
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>


          <div class="col-md-12 padd-top-0 day-wise-reports-box">


            <div class="card">


              <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">

                <table class="table dataTable no-footer" id="filterSalDataTable2"
                  aria-describedby="filterSalDataTable_info" role="grid">
                  <thead>
                    <tr role="row">
                      <th style="width: 31px;">S.No</th>
                      <th style="width: 76px;">Action</th>
                      <th style="width: 74px;">Batch No</th>
                      <th style="width: 52px;">MPR Month-Year</th>
                      <th style="width: 76px;">Emp Code</th>
                      <th style="width: 70px;">IsActive</th>
                      <th style="width: 76px;">Status</th>
                      <th style="width: 68px;">Arear Process Month-Year</th>
                      <th style="width: 43px;">Net Pay</th>

                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let abm of arearByMonthYearEmpCodeData; let i=index;">
                      <tr role="row" class="odd">
                        <td class="fit" scope="col">{{i+1}}</td>
                        <td class="fit" scope="col">
                          <button *ngIf="abm.ledgerstatus=='Ledger Not Generated'" type="button"
                            class="btn btn-primary btn-design" title="View and Verify"
                            (click)="viewArrearDetails('RetrieveArearSalary', abm)"><i class="fa fa-edit"></i></button>

                          <button *ngIf="(abm.ledgerstatus=='Ledger Generated' || abm.ledgerstatus=='Arrear Settled')"
                            type="button" class="btn btn-sucess btn-design" title="View"
                            (click)="viewArrearDetails('RetrieveVerifiedArear', abm)"><i class="fa fa-eye"></i></button>
                        </td>
                        <td class="fit" scope="col">{{abm.batchid}}</td>
                        <td class="fit" scope="col">{{abm.mprmonth}} - {{abm.mpryear}}</td>
                        <!-- <td class="fit" scope="col">{{abm.empcode}}</td>
                          -->
                        <td class="fit" scope="col">{{abm.tpcode || abm.orgempcode || ''}}</td>

                        <td class="fit" scope="col">{{abm.status}}</td>
                        <td class="fit" scope="col">{{abm.ledgerstatus}}</td>
                        <td class="fit" scope="col">{{abm.arearprocessmonth}}-{{abm.arearprocessyear}}</td>
                        <td class="fit" scope="col">{{abm.netpay}}</td>

                      </tr>

                    </ng-container>

                    <tr *ngIf="arearByMonthYearEmpCodeData.length==0">
                      <td style="text-align: center;" colspan="100%">No Data Found</td>
                    </tr>
                  </tbody>
                </table>


              </div>


            </div>

            <div class="card-body" style="overflow: scroll;" *ngIf="viewArrearDetailsData.length > 0">
              <!-- {{viewArrearDetailsData|json}} -->
              <div #arrearDetailsId id="arrearDetailsId" role="tabpanel" aria-labelledby="designing">
                <td colspan="8">

                  <div>

                    <div class="panel-body Check-In-Check-Out-table-inner-box">
                      <div class="box-body">


                        <table class="table table-lg table-hover">
                          <thead>
                            <tr>
                              <th>S.No</th>
                              <th>Action</th>
                              <th>Net Pay</th>
                              <!-- <th>Perks</th> -->
                              <th>Gross Earning</th>
                              <th>Charity Contribution</th>

                              <th>Gross Deduction</th>
                              <th>Salary In Days Opted</th>
                              <th>Master Salary Days</th>
                              <th>Month</th>
                              <!-- <th>Is Paused</th> -->
                              <!-- <th>Active/Inactive</th> -->
                              <th>Employee Code</th>
                              <th>Employee Name</th>
                              <!-- <th>Project Name</th> -->
                              <!-- <th>Contract No</th> -->
                              <!-- <th>Contract Category</th> -->
                              <!-- <th>Contract Type</th> -->
                              <!-- <th>Father/Husband Name</th> -->
                              <th>Designation</th>
                              <th>Department</th>
                              <!-- <th>Subunit</th> -->
                              <th>Date of Joining</th>
                              <th>Date of Birth</th>
                              <th>PF Number</th>
                              <th>ESI Number</th>
                              <th>PAN Number</th>
                              <th>UAN No</th>
                              <!-- <th>Email ID</th> -->
                              <th>Date of Leaving</th>
                              <th>Loss of Pay</th>
                              <th>Total Paid Days</th>
                              <th>Bank Account No</th>
                              <th>IFSC Code</th>
                              <th>Bank Name</th>
                              <th>Bank Branch</th>

                              <!-- Rate fields  -->
                              <ng-container *ngFor="let header of rate_cols">
                                <th *ngIf="isValueGreaterThanZero(header.reportcolumnname)">
                                  {{ header.reportcomponentname }}
                                </th>
                              </ng-container>
                              <!-- Rate fields  -->

                              <!-- <th>Rate Basic</th>
                              <th>Rate HRA</th>
                              <th>Rate CONV</th>
                              <th>Rate Medical</th>
                              <th>Rate Special Allowance</th> -->
                              <th>Fixed Allowances Total Rate</th>

                              <!-- Arrear => Earnings => Allowances fields  -->
                              <ng-container *ngFor="let header of arrear_earnings_allowances_cols">
                                <th *ngIf="isValueGreaterThanZero(header.reportcolumnname)">
                                  {{ header.reportcomponentname }}
                                </th>
                              </ng-container>
                              <!-- Arrear => Earnings => Allowances fields  -->

                              <!-- <th>Basic</th>
                              <th>HRA</th>
                              <th>CONV</th>
                              <th>Medical</th>
                              <th>Special Allowance</th> -->

                              <!-- start - new params addition -->

                              <!-- <th>Commission</th>  -->
                              <!-- <th>Transport Allowance</th>
                              <th>Travelling Allowance</th>  -->
                              <th>Leave Encashment</th>
                              <!-- <th>Overtime Allowance</th>  -->
                              <!-- <th>Notice Pay</th> -->
                              <!-- <th>Hold Salary Non-taxable</th>   -->
                              <!-- <th>Children Education Allowance</th>  -->
                              <!-- <th>Gratuity Inhand</th>  -->
                              <th>Salary Bonus</th>

                              <!-- end - new params addition -->

                              <!-- <th>Arr Basic</th>
                              <th>Arr HRA</th>
                              <th>Arr CONV</th>
                              <th>Arr Medical</th>
                              <th>Arr Special Allowance</th> -->
                              <th>Incentive</th>
                              <th>Government Bonus Amount</th>
                              <th>EPF</th>
                              <th>VPF</th>
                              <th>ESI</th>
                              <th>TDS</th>
                              <th>Loan</th>
                              <th>LWF</th>
                              <th>Insurance</th>
                              <th>Mobile</th>
                              <th>Other</th>
                              <th>Ac_1</th>
                              <th>Ac_10</th>
                              <th>Ac_2</th>
                              <th>Ac_21</th>
                              <th>Employer ESI Contr</th>
                              <!-- <th>Employee Address</th> -->
                              <!-- <th>Gender</th> -->
                              <!-- <th>Residential Address</th> -->
                              <th>Month Days</th>
                              <th>Total Leaves Taken</th>
                              <th>Fixed Allowances Total</th>
                              <th>Fixed Allowances Total Rate Arr</th>
                              <th>Refund</th>
                              <th>Advance</th>
                              <th>EWF</th>
                              <th>Gratuity</th>
                              <!-- <th>CTC2</th>
                              <th>Actual Paid CTC2</th> -->
                              <!-- <th>CTC</th>
                              <th>CTC Paid Days</th>
                              <th>Actual CTC Paid</th> -->
                              <th>Mobile Deduction</th>
                              <th>Employee ESI Incentive</th>
                              <th>Employer ESI Incentive</th>
                              <th>Total ESI Incentive</th>
                              <th>Account1_7q_Dues</th>
                              <th>Account1_14b_Dues</th>
                              <th>Account2_7q_Dues</th>
                              <th>Account2_14b_Dues</th>
                              <th>Account10_7q_Dues</th>
                              <th>Account10_14b_Dues</th>
                              <th>Account21_7q_Dues</th>
                              <th>Account21_14b_Dues</th>
                              <th>Professional tax</th>

                            </tr>
                          </thead>

                          <tbody>


                            <ng-container *ngFor="let obj of viewArrearDetailsData; let j=index;">
                              <tr>
                                <td>{{j+1}}</td>
                                <td> <button
                                    *ngIf='obj.calcrowtype=="IncrementDiff" && obj.paiddaysstatus=="Valid" && obj.lockstatus=="Unlocked" && obj.activeinbatch=="Active"'
                                    (click)="openVerifyArrearPopup(obj)" class="btn btn-success">Verify</button>

                                  <span
                                    *ngIf='obj.calcrowtype!="IncrementDiff" && obj.calcrowtype == "AlreadyPaid"'>Paid
                                    Salary</span>
                                  <span
                                    *ngIf='obj.calcrowtype!="IncrementDiff" && obj.calcrowtype == "ToBePaid"'>Incremented
                                    Salary</span>

                                </td>
                                <td class="fit formatNumber" scope="col">{{obj.netpay}}</td>
                                <!-- <td class="fit formatNumber" scope="col">{{obj.t}}</td> -->
                                <td class="fit formatNumber" scope="col">{{obj.grossearning}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.charity_contribution_amount}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.grossdeduction}}</td>
                                <td class="fit" scope="col">{{obj.salaryindaysopted == 'Y' ? 'Yes' : 'No'}}</td>
                                <td class="fit" scope="col"> {{actioninfo == "RetrieveArearSalary" ? obj.salarydays :
                                  obj.mastersalarydays}}</td>
                                <td class="fit" scope="col">{{obj.mon}}</td>
                                <!-- <td class="fit" scope="col">{{(obj.is_paused == "Disable" || obj.is_paused == "" ) ?
                                  "No" : "Yes"}}</td> -->
                                <!--<td>
                                  ${actioninfo == "RetrieveArearSalary" ?
                                  `<td class="fit" scope="col">${obj.activeinbatch}</td>`
                                  : ""
                                  }
                                </td>-->
                                <td class="fit" scope="col">{{obj.emp_code}}</td>
                                <td class="fit" scope="col">{{obj.emp_name}}</td>
                                <!-- <td class="fit" scope="col">{{obj.projectname}}</td> -->
                                <!-- <td class="fit" scope="col">{{obj.contractno}}</td> -->
                                <!-- <td class="fit" scope="col">{{obj.contractcategory}}</td> -->
                                <!-- <td class="fit" scope="col">{{obj.contracttype}}</td> -->
                                <!-- <td class="fit" scope="col">{{obj.fathername}}</td> -->
                                <td class="fit" scope="col">{{obj.post_offered}}</td>
                                <td class="fit" scope="col">{{obj.posting_department}}</td>
                                <!-- <td class="fit" scope="col">{{obj.subunit}}</td> -->
                                <td class="fit" scope="col">{{obj.dateofjoining}}</td>
                                <td class="fit" scope="col">{{obj.dateofbirth}}</td>
                                <td class="fit" scope="col">{{obj.pfnumber}}</td>
                                <td class="fit" scope="col">{{obj.esinumber}}</td>
                                <td class="fit" scope="col">{{obj.pancard}}</td>
                                <td class="fit" scope="col">{{obj.uannumber}}</td>
                                <!-- <td class="fit" scope="col">{{obj.email}}</td> -->
                                <td class="fit" scope="col">{{obj.dateofleaving}}</td>
                                <td class="fit" scope="col">{{obj.lossofpay}}</td>
                                <td class="fit" scope="col">{{obj.paiddays}}</td>
                                <td class="fit" scope="col">{{obj.bankaccountno}}</td>
                                <td class="fit" scope="col">{{obj.ifsccode}}</td>
                                <td class="fit" scope="col">{{obj.bankname}}</td>
                                <td class="fit" scope="col">{{obj.bankbranch}}</td>

                                <ng-container *ngFor="let header of rate_cols">
                                  <td *ngIf="isValueGreaterThanZero(header.reportcolumnname)">
                                    <span
                                      [ngStyle]="{'font-weight': i === viewArrearDetailsData.length - 1 && obj.emp_name === 'Grand Total' ? 'bold' : 'normal'}">
                                      {{obj[header.reportcolumnname]}}
                                    </span>
                                  </td>
                                </ng-container>

                                <!-- <td class="fit formatNumber" scope="col">{{obj.ratebasic}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.ratehra}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.rateconv}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.ratemedical}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.ratespecialallowance}}</td> -->
                                <td class="fit formatNumber" scope="col">{{obj.fixedallowancestotalrate}}</td>

                                <!-- Arrear => Earnings => Allowances fields  -->
                                <ng-container *ngFor="let header of arrear_earnings_allowances_cols">
                                  <td *ngIf="isValueGreaterThanZero(header.reportcolumnname)">
                                    <span
                                      [ngStyle]="{'font-weight': i === viewArrearDetailsData.length - 1 && obj.emp_name === 'Grand Total' ? 'bold' : 'normal'}">
                                      {{ obj[header.reportcolumnname] }}
                                    </span>
                                  </td>
                                </ng-container>
                                <!-- Arrear => Earnings => Allowances fields  -->

                                <!-- <td class="fit formatNumber" scope="col">{{obj.basic}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.hra}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.conv}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.medical}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.specialallowance}}</td> -->

                                <!-- start - new params addition -->
                                <!-- <td class="fit formatNumber" scope="col">{{obj?.commission}}</td> -->
                                <!-- <td class="fit formatNumber" scope="col">{{obj?.transport_allowance}}</td>
                                <td class="fit formatNumber" scope="col">{{obj?.travelling_allowance}}</td> -->
                                <td class="fit formatNumber" scope="col">{{obj?.leave_encashment}}</td>

                                <!-- <td class="fit formatNumber" scope="col">{{obj?.overtime_allowance}}</td> -->
                                <!-- <td class="fit formatNumber" scope="col">{{obj?.notice_pay}}</td> -->
                                <!-- <td class="fit formatNumber" scope="col">{{obj?.hold_salary_non_taxable}}</td> -->
                                <!-- <td class="fit formatNumber" scope="col">{{obj?.children_education_allowance}}</td> -->

                                <!-- <td class="fit formatNumber" scope="col">{{obj?.gratuityinhand}}</td> -->
                                <td class="fit formatNumber" scope="col">{{obj?.salarybonus}}</td>
                                <!-- end - new params addition -->

                                <!-- <td class="fit formatNumber" scope="col">{{obj.ratebasic_arr}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.ratehra_arr}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.rateconv_arr}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.ratemedical_arr}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.ratespecialallowance_arr}}</td> -->
                                <td class="fit formatNumber" scope="col">{{obj.incentive}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.govt_bonus_amt}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.epf}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.vpf}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.employeeesirate}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.tds}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.loan}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.lwf}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.insurance}}</td>
                                <td class="fit" scope="col">{{obj.mobile}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.other}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.ac_1}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.ac_10}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.ac_2}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.ac21}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.employeresirate}}</td>
                                <!-- <td class="fit" scope="col" class="formatAddr">{{obj.emp_address}}</td> -->
                                <!-- <td class="fit" scope="col">{{obj.gender}}</td> -->
                                <!-- <td class="fit" scope="col">{{obj.residential_address}}</td> -->
                                <td class="fit" scope="col">{{obj.monthdays}}</td>
                                <td class="fit" scope="col">{{obj.totalleavetaken}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.fixedallowancestotal}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.fixedallowancestotalrate_arr}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.refund}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.advance}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.ews}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.gratuity}}</td>
                                <!-- <td class="fit formatNumber" scope="col">{{obj.ct2}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.actual_paid_ctc2}}</td> -->
                                <!-- <td class="fit formatNumber" scope="col">{{obj.ctc}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.ctc_paid_days}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.ctc_actual_paid}}</td> -->
                                <td class="fit formatNumber" scope="col">{{obj.mobile_deduction}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.employee_esi_incentive}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.employer_esi_incentive}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.total_esi_incentive}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.account1_7q_dues}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.account1_14b_dues}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.account2_7q_dues}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.account2_14b_dues}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.account10_7q_dues}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.account10_14b_dues}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.account21_7q_dues}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.account21_14b_dues}}</td>
                                <td class="fit formatNumber" scope="col">{{obj.pt}}</td>
                              </tr>

                            </ng-container>

                            <tr *ngIf="viewArrearDetailsData.length==0">
                              <td style="text-align: center;" colspan="100%">No Data Found</td>
                            </tr>


                          </tbody>




                        </table>

                      </div>
                    </div>


                  </div>


                </td>
              </div>
            </div>

          </div>



          <div class="col-md-12 col-12 padd-top-0 text-center" style="display:none;">
            <a class="btn btn-primary">Save </a>
          </div>


        </div>

      </div>


    </div>
  </div>

</div>




<!---Create Ledger Remarks Modal--->
<div [@grooveState]="showCreateLedgerPopup?'active':'inactive'" id="remarks_modal" class="modal">
  <div [@dongleState]="showCreateLedgerPopup?'active':'inactive'" class="modal-dialog"
    style="margin:auto auto auto auto;">
    <div class="modal-content" style="height:100%;margin-top:100px;">
      <div class="modal-header theme-bg">
        <h4 class="modal-title">Create Ledger</h4>
        <button type="button" class="close" (click)="closeCreateLedgerPopup()" data-dismiss="modal"
          aria-hidden="true">&times;</button>
      </div>

      <form>
        <div class="modal-body">
          <div class="row">

            <div class="col-md-12">
               <div class="col-md-4">
                <label>Select Paymonth<span class="text-danger">*</span> :</label>
              </div>

              <div class="col-md-8" style="display:flex;">
                <div class="form-check-inline">
                  <input id="Current1" type="radio" [(ngModel)]="pay_month" [ngModelOptions]="{standalone: true}"
                    name="timezone" value="Current" class="form-check-input">
                  <label for="Current1" class="form-check-label">Current</label>
                </div>
                <div class="form-check-inline">
                  <input id="Advance1" type="radio" [(ngModel)]="pay_month" [ngModelOptions]="{standalone: true}"
                    name="timezone" value="Advance" class="form-check-input">
                  <label for="Advance1" class="form-check-label">Advance</label>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <!-- <label>Remarks</label> -->
              <textarea placeholder="Enter Remarks" maxlength="399" style="width: 56rem; height: 80px;"
                [(ngModel)]="createLedgerRemark" [ngModelOptions]="{standalone: true}">

              </textarea>

            </div>

          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button class="btn btn-info" (click)="bulkLedgerEntry()">Create</button>

        <button class="btn btn-cancel" (click)="closeCreateLedgerPopup()">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!---Create Ledger Remarks Modal--->





<!---Verify Arrear Modal--->
<div [@grooveState]="showVeriyArrearPopup?'active':'inactive'" id="verify_arrear_modal" class="modal">
  <div [@dongleState]="showVeriyArrearPopup?'active':'inactive'" class="modal-dialog"
    style="margin:auto auto auto auto;">
    <div class="modal-content" style="height:100%;margin-top:100px;">
      <div class="modal-header theme-bg">
        <h4 class="modal-title">Verify Arrear</h4>
        <button type="button" class="close" (click)=" closeVerifyArrearPopup()" data-dismiss="modal"
          aria-hidden="true">&times;</button>
      </div>

      <form>
        <div class="modal-body">
          <div class="row">

            <div class="col-md-12">
              <div class="col-md-4">
                <label>Select Paymonth<span class="text-danger">*</span> :</label>
              </div>

              <div class="col-md-8" style="display:flex;">
                <div class="form-check-inline">
                  <input id="Current2" type="radio" [(ngModel)]="pay_month" [ngModelOptions]="{standalone: true}"
                    name="timezone" value="Current" class="form-check-input">
                  <label for="Current2" class="form-check-label">Current</label>
                </div>
                <div class="form-check-inline">
                  <input id="Advance2" type="radio" [(ngModel)]="pay_month" [ngModelOptions]="{standalone: true}"
                    name="timezone" value="Advance" class="form-check-input">
                  <label for="Advance2" class="form-check-label">Advance</label>
                </div>
              </div>

            </div>

          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button class="btn btn-info" (click)="verifyArrear()">Verify</button>

        <button class="btn btn-cancel" (click)="closeVerifyArrearPopup()">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!---Verify Arrear Modal--->
