
a.job_name_tag {
    font-weight: 500;
    color: #0047ab;
}
		
.page-titles h3.text-themecolor {
    margin-top: 0;
}

[type="radio"] {
    display: inline !important
}

h3.text-themecolor {
    margin-bottom: 0;
    font-weight: 500;
    color: #1a6bb7;
}

.managed-field label.label--values input {
    left: -5px;
    height: 20px;
    width: 20px;
    position: relative;
    vertical-align: sub;
}
.managed-field label.label--values {
    font-size: 16px;
    vertical-align: middle;
    margin: 0 25px 0 0;
}
 .table-responsive.Reimbursements-outer-box tr th {
    background: #f4faff;
}
.table-responsive.Reimbursements-outer-box table.table a {
    font-weight: 500;
    color: #1053a7;
}
.table-responsive.Reimbursements-outer-box table.table input[type="radio"] {
    position: relative;
    left: 0;
    height: 20px;
    width: 20px;
    margin: auto;
}
.table-responsive.Reimbursements-outer-box {
    margin-top: 0;
}
svg.icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.table-bordered.table-striped .file{
  visibility:hidden;
  position:absolute;
}
.table-bordered.table-striped .input-group {
    margin: 0;
}
.form-control {
    height: 34px;}
	
	
p.please-add-text-box  {
    font-size: 11px;
    color: #c40000;
    line-height: 13px;
}	
p.please-add-text-box  {
    font-size: 11px;
    color: #c40000;
    line-height: 13px;
}
a.btn.btn-shortlist.manage-btn {
    background: #ffffff00;
    color: #000000;
    padding: 2px 4px!important;
}

a.btn.btn-shortlist.manage-btn:hover, a.btn.btn-shortlist.manage-btn:focus {
    background: #ffffff00;
    color: #000000;
}
a#tds-override-link {
    color: #1194f7;
    font-weight: 500;
    cursor: pointer;
}
small.omnipresent {
    background: #f9f9f9;
    border-radius: 0 0 4px 4px;
    border-top-width: 0;
    color: #8f93a4;
    display: block;
    padding: 6px 12.5px;
    position: relative;
    top: -10px;
    font-size: 11px;
    line-height: 1.3;
}

.form-control {
    height: 50px;
    border: 1px solid #dde6ef;
    margin-bottom: 10px;
    box-shadow: none;
    border-radius: 0;
    background: #fbfdff;
    font-size: 15px;
    color: #6b7c8a;
    font-weight: 400;
}

.form-control {
    color: #607d8b;
    font-size: 15px;
    height: 40px;
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid #e8eef1;
}

.top-right-outer-box select.form-control {
    /* height: 35px; */
    width: 200px;
}

.card-header .form-control {
    height: 42px;
}

html body .btn-primary {
    background: #1194f7;
}
a.btn-primary-Add-Roles-btn {
    color: #fff;
    background-color: #1194f7 !important;
    border-color: #1194f7;
    border-radius: 10px !important;
}

.table-responsive.reports-new-table-outer-box table.table tr td {
    border-color: #ebebeb;
    padding: 5px 5px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
}
.table-cbox tr th, table.table tr td {
    padding: 0px 8px;
}

.table-bordered {
    border: 1px solid #e8edef;
}

.table-responsive.reports-new-table-outer-box thead {
    color: #ffffff !important;
    background: #6fbbdb!important;
    vertical-align: top;
}

a {
    /* color: #67757c; */
    text-decoration: none;
}
.external b, strong {
    font-weight: 600;
}
.fa-trash {
    color: red !important;
}

.btn.manage-btn {
    margin: 0 2px;
    padding: 10px 15px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #1194f7;
    border-color: #1194f7;
  }
  
  .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1194f7 !important;
    border-color: #1194f7 !important;
  }
  
  .Download-Report-drop-btn li a:hover {
    color: #606060;
    background-color: #8eccf5 !important;
    border-color: #8eccf5 !important;
  }
  .table-responsive.bulk-attendance-outer-box.Reimbursements-outer-box {
    padding-bottom: 100px;
}
  .dropdown-menu {
    border-color: #e8eef1;
    padding: 0;
    box-shadow: none;
    margin: 0px 0 0;
  }
html body .btn-primary {
    background: #1194f7;
}
.btn-primary {
    background-color: #0084ff;
    border-color: #0084ff;
}
.btn {
    padding: 6px 14px;
    border-radius: 2px;
}

h1.Payment-due-outer-box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 27px;
}

.card-header h4 {
    margin: 0;
    color: #1a6bb7;
    font-weight: 500;
}
.card-header h4 {
    font-weight: 400;
}

.card h5 {
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card-header {
    background: #ffffff;
    border-bottom: 0px;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid #e8eef1;
}
.card-header {
    background: #ffffff;
    border-bottom: 0px;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid #e8eef1;
  }
  .employees-details-outer-box .card-header h4 {
    color: #464646 ;
  }
  .card-header h4 {
    margin: 0;
    color: #1a6bb7;
    font-weight: 500;
  }
  .card-header h4 {
    font-weight: 400;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.382;
    margin: 0 0 10px;
    margin: 0 0 1rem;
    color: #455a64;
  }
  
  .Payment-due-outer-box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
  }
  
  .rupee-sign {
    margin-right: 10px; /* Adjust margin as needed */
  }
  
  .large {
    font-size: 25px; /* Additional font size for the rupee sign */
  }
  .Appointment-outer-box.Salary-Details-outer-box .Edit-Salary-table-outer-box table input.form-control, .Appointment-outer-box.Salary-Details-outer-box .Edit-Salary-table-outer-box table select.form-control, .Salary-Details-outer-box textarea.textarea-box12 {
    border: 1px solid #f1f1f1;
    font-size: 12px;
    margin: 0;
    background: #f7fcff;
  }
  .Salary-Details-outer-box .form-control {
    height: 40px;
    border: 1px solid #bbbbbb !important;
    margin-bottom: 10px;
    box-shadow: none;
    border-radius: 0;
    background: #fbfdff;
    font-size: 15px;
    color: #000000;
    font-weight: 400;
  }
  .completed-status {
    color: green;
  }
  
  .large-text {
    font-size: 30px;
  }
  #accordion .panel-heading {
    padding: 0;
  }
  .accordion.run-pay-out-page-box .panel-heading {
    background: #f7f7f7;
    padding: 10px !important;
    width: 100%;
    display: block;
    color: #fff;
    cursor: pointer;
    border: 1px solid #ffffff;
  }
  .accordion.run-pay-out-page-box .card {
    margin-bottom: 10px !important;
  }
  .card {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
  }
  .card {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
  }
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e8eef1;
    border-radius: 0.25rem;
  }
  .card {
    margin-bottom: 30px;
  }

.table-responsive.reports-new-table-outer-box table tbody tr:nth-of-type(even) {
    background-color: #f5faff !important;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #e8eef1 !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ffffff !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.382;
    margin: 0 0 10px;
    margin: 0 0 1rem;
    color: #455a64;
}

.please-wait {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .please-wait i {
    font-size: 2em;
    margin-bottom: 0.5em; 
  }
    
  
  .attached-image-container {
    margin-top: 10px;
    float: left;
    width: 100%;
  }
  
  .attached-image {
    position: relative;
    display: inline-block;
  }
  
  .attached-image img {
    max-width: 50px;
    max-height: 50px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  
  .attached-image .remove {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
    border: 1px solid #ddd;
  }
  
  .table-responsive.reports-new-table-outer-box table.table tr td {
    border-color: #ebebeb;
    padding: 5px 5px;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 400;
  }
  
  .table-responsive.reports-table-outer-box.reports-new-table-outer-box table {
    margin-bottom: 92px;
  }