<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<section>
  <div id="wrapper" [ngClass]="{'active': showSidebar==false}">
    <div class="fakeLoader"></div>
    <div id="page-wrapper">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Personal Details edit</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)"
                [routerLink]="['/employees/view-employee-detail',candidateDetails.encrypted_empid]">View
                Employee</a></li>
            <li class="breadcrumb-item active">Personal Details</li>
          </ol>
        </div>
      </div>
      <div class="container-fluid">
        <!-- /row -->
        <div class="row">
          <div class="col-md-12 col-md-offset-0 mrg-top-2512 mrg-bot-25">

            <div class="row">

              <div class="col-md-12">

                <div class="card" style="z-index:2;">
                  <div class="card-body" style="min-height: 555px;">
                    <div class="row">

                      <form [formGroup]="basic_detail_form" autocomplete="off">
                        <div class="col-md-12 padd-top-15">

                          <div class="col-md-4">
                            <label>Name <span class="text-danger">*</span></label>
                            <div class="col-md-12 no-padd">
                              <div class="col-md-3 no-padd">
                                <select class="form-control" formControlName="name_title" style="padding-left: 4px;"
                                  [ngClass]="{'is-invalid': submitted && this.bf.name_title.errors}">
                                  <option value="Mr.">Mr.</option>
                                  <option value="Mrs.">Mrs.</option>
                                  <option value="Ms.">Ms.</option>
                                </select>
                              </div>
                              <div class="col-md-9 no-padd">
                                <input type="text" placeholder="Enter Full Name" class="form-control"
                                  formControlName="name" autocomplete="off"
                                  [ngClass]="{'is-invalid': submitted && this.bf.name.errors?.pattern}">
                              </div>
                              <!-- [readonly]="candidateDetails.joiningStatus === 'JOINED'" -->
                            </div>
                          </div>
                          <div class="col-md-4">
                            <label>Date of Birth <span class="text-danger">*</span></label>
                            <input type="text" id="dob" placeholder="dd-mm-yy" formControlName="dob" autocomplete="off"
                              maxlength="10" class="form-control" readonly>
                          </div>
                          <div class="col-md-4">
                            <label>Gender</label>
                            <select formControlName="gender" class="form-control">
                              <option value="">----Select Gender----</option>
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                              <option value="Other">Other</option>
                            </select>
                          </div>


                          <div class="col-md-4">
                            <label>Official Email (Optional)</label>
                            <input type="email" id="email" formControlName="employee_email" class="form-control"
                              placeholder="Enter Employee Email id" autocomplete="off"
                              [ngClass]="{'is-invalid': submitted && this.bf.employee_email.errors?.pattern}">
                          </div>

                          <div class="col-md-4">
                            <label>Personal Email (Optional)</label>
                            <input type="email" id="email" formControlName="employee_personal_email" class="form-control"
                              placeholder="Enter Employee Email id" autocomplete="off"
                              [ngClass]="{'is-invalid': submitted && this.bf.employee_personal_email.errors?.pattern}">
                          </div>

                          <div class="col-md-4">
                            <label>Mobile <span class="text-danger">*</span></label>
                            <input type="text" formControlName="employee_mobile" class="form-control" maxlength="10"
                              placeholder="Enter Employee Mobile number (10 digit)" pattern="^[6-9]{1}[0-9]{9}$"
                              autocomplete="off"
                              [ngClass]="{'is-invalid': submitted && this.bf.employee_mobile.errors?.pattern}">
                          </div>

                          <div class="col-md-4">
                            <label for="relation_name">Father / Husband Name </label>
                            <input type="text" formControlName="relation_name" class="form-control"
                              placeholder="Father / Husband Name" autocomplete="off"
                              [ngClass]="{'is-invalid': submitted && this.bf.relation_name.errors}">
                          </div>
                          <div class="col-md-4">
                            <label for="mobile">Blood Relation Name </label>
                            <input type="text" formControlName="blood_relation" class="form-control"
                              placeholder="Blood Relation Name" autocomplete="off"
                              [ngClass]="{'is-invalid': submitted && this.bf.blood_relation.errors?.pattern}">
                          </div>

                          <div class="col-md-4">
                            <label for="mobile">Emergency Contact (with blood relation)</label>
                            <input type="text" formControlName="emergency_mobile" class="form-control" maxlength="10"
                              placeholder="Emergency Contact" pattern="^[6-9]{1}[0-9]{9}$" autocomplete="off"
                              [ngClass]="{'is-invalid': submitted && this.bf.emergency_mobile.errors?.pattern}">
                          </div>
                          <div class="col-md-4">
                            <label for="doj">Date of Joining <span class="text-danger">*</span></label>
                            <input type="text" id="doj" formControlName="doj" class="form-control" maxlength="10"
                              readonly placeholder="dd-mm-yy" autocomplete="off"
                              [ngStyle]="{'pointer-events': (candidateDetails.joiningStatus=='JOINED' && token.payout_mode_type!='self') || 
                                             (((candidateDetails?.uan_number!='' && candidateDetails?.uan_number!='Request For UAN' && candidateDetails?.pf_opted=='Y') 
                                             || (candidateDetails?.esi_number!='' && candidateDetails?.esi_number!='Request For ESIC' && candidateDetails?.esi_opted=='Y') )
                              && token.payout_mode_type=='self' && candidateDetails.joiningStatus=='JOINED')?'none':''}">
                          </div>

                          <div class="col-md-4">
                            <label>
                              Blood Group
                            </label>

                            <input type="text" class="form-control" formControlName="blood_group"
                              placeholder="Enter blood group" maxlength="4">

                          </div>

                          <div class="col-md-4">
                            <label for="mobile">Emergency Contact No.</label>
                            <input type="text" formControlName="emergency_mobile" class="form-control" maxlength="10"
                              placeholder="Emergency Contact No." pattern="^[6-9]{1}[0-9]{9}$" autocomplete="off"
                              [ngClass]="{'is-invalid': submitted && this.bf.emergency_mobile.errors}">
                            <div *ngIf="bf.emergency_mobile.errors && submitted" class="text-danger">
                              <small *ngIf="bf.emergency_mobile.errors.pattern">Invalid emergency contact no.</small>
                            </div>

                          </div>

                          <div class="col-md-4">
                            <label for="mobile">Relation Name</label>
                            <input type="text" formControlName="blood_relation" class="form-control"
                              placeholder="Enter relation name" autocomplete="off">
                            <!-- <div *ngIf="bf.blood_relation.errors && submitted" class="text-danger">
                                                  <small *ngIf="bf.blood_relation.errors.pattern">Invalid relation name.</small>
                                                </div> -->
                          </div>

                          <div class="col-md-4">
                            <label>Emergency Contact Person Name</label>
                            <input type="text" formControlName="emergency_contact_person" class="form-control"
                              placeholder="Enter emergency contact name" autocomplete="off">
                          </div>

                          <div class="col-md-4">
                            <label for="post_offered">Department <span class="text-danger">*</span></label>
                            <a (click)="showAddDepartment()" style="float:right"><i class="fa fa-plus-circle fa-lg"
                                aria-hidden="true"></i></a>

                            <ng-select [items]="deptartmentList" [searchFn]="search.bind(this)"
                              bindLabel="departmentname" bindValue="departmentname" formControlName="posting_department"
                              placeholder="Select Department " (change)="onDepartmentChange($event)"
                              style="margin-bottom:15px"
                              [ngClass]="{'is-invalid': bf.posting_department.errors && submitted}">
                            </ng-select>
                            <!-- <input type="text" formControlName="posting_department" class="form-control"
                                             placeholder="Department" autocomplete="off"> -->
                          </div>

                          <div class="col-md-4">
                            <label for="post_offered">Designation/Post Offered <span
                                class="text-danger">*</span></label>
                            <a (click)="showAddDesignation()" style="float:right"><i class="fa fa-plus-circle fa-lg"
                                aria-hidden="true"></i></a>
                            <ng-select [items]="designationList" bindLabel="designationname" bindValue="designationname"
                              [searchFn]="search.bind(this)" formControlName="post_offered"
                              placeholder="Select Designation "
                              [ngClass]="{'is-invalid': bf.post_offered.errors && submitted}"
                              (change)="onDesignationChange($event)">
                            </ng-select>
                            <!-- <input type="text" formControlName="post_offered" class="form-control"
                                             placeholder="Post Offered" autocomplete="off"> -->
                          </div>
                          <div class="col-md-4">
                            <label>Functional Designation
                            </label>

                            <ng-select [items]="fdesignationList" bindLabel="func_designation" bindValue="dsignationid"
                              formControlName="functional_designation" placeholder="Select Functional Designation "
                              (change)="onfDesignationChange($event)">
                            </ng-select>

                          </div>
                          <div class="col-md-4">
                            <label>
                              Project
                            </label>
                            <ng-select [items]="projectList" bindLabel="project_name" bindValue="project_name"
                              formControlName="project" placeholder="Search Project(s)"
                              (change)="onProjectSelect($event)"></ng-select>
                          </div>

                          <div class="col-md-4">
                            <label for="perm_add">Permanent Address <span class="text-danger">*</span></label>
                            <input type="text" formControlName="perm_add" class="form-control"
                              placeholder="Permanent Address" autocomplete="off"
                              [ngClass]="{'is-invalid': submitted && this.bf.perm_add.errors}">
                          </div>
                          <div class="col-md-4">
                            <label for="res_add">Residential Address </label>
                            <input type="text" formControlName="res_add" class="form-control"
                              placeholder="Residential Address" autocomplete="off">
                          </div>
                          <div class="col-md-4">
                            <label for="res_add">Organization Emp Code </label>
                            <input type="text" formControlName="orgempcode" class="form-control"
                              placeholder="Organization Emp Code" maxlength="20" autocomplete="off">
                          </div>
                          <div class="col-md-4">
                            <label for="res_add">Job Type <span class="text-danger">*</span></label>
                            <select formControlName="jobType" class="form-control" (change)="checkJobType()">
                              <option value="" selected>-- Select Job Type --</option>
                              <option [value]="jobType.jobtypecode" *ngFor="let jobType of masterJobType;">
                                {{jobType.jobtypecode}}</option>
                            </select>
                          </div>
                          <div class="col-sm-4">
                            <label for="res_add">Reporting Manager Name </label>
                            <ng-select [items]="filteredEmployees" bindLabel="emp_name" bindValue="emp_name"
                              [searchFn]="search.bind(this)" placeholder="Search Employee(s)" style="margin-bottom:15px"
                              formControlName="reportingManager" (change)="onEmployeeSelect($event)">
                              <ng-template ng-option-tmp let-item="item">
                                {{ item.emp_name }} ({{ item.orgempcode ? item.orgempcode : item.tpcode }})
                              </ng-template>
                            </ng-select>
                          </div>
                          <div class="col-md-4" *ngIf="geoFencingData.length>0" style="display: none;">
                            <label for="">Geo fencing Store</label>
                            <select formControlName="geo_fencing" class="form-control">
                              <option value="">---Select---</option>
                              <option value="{{geo.id}}" *ngFor="let geo of geoFencingData">
                                {{geo.org_unit_name}}</option>
                            </select>
                          </div>
                          <!-- token.sso_admin_id!='' -->

                          <div class="col-md-4 orgMultiselectDropdown">
                            <label>Organization Units</label>
                            <ng-multiselect-dropdown [placeholder]="'Select Organization Units'"
                              [settings]="dropdownSettings" [data]="employerOUorGeoFenceData" formControlName="orgIds"
                              [(ngModel)]="selectedval" (onSelect)="onItemSelect($event)"
                              (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onUnselectAll($event)"
                              (onDeSelect)="onItemUnselect($event)">
                            </ng-multiselect-dropdown>
                          </div>
                          <div class="col-md-4 orgMultiselectDropdown">
                            <label>Geo Fence</label>
                            <ng-multiselect-dropdown [placeholder]="'Select Units'" [settings]="geoDropdownSettings"
                              [data]="employerGeoFenceData" formControlName="geoFenceIds">
                            </ng-multiselect-dropdown>
                          </div>


                          <div class="col-md-4">
                            <label>PAN No</label>
                            <input type="text" class="form-control" formControlName="pan_no" placeholder="Enter Pan no."
                              maxlength="10" />
                            <div *ngIf="bf.pan_no.invalid && (bf.pan_no.dirty || bf.pan_no.touched)">

                              <small class="text-danger" *ngIf="bf.pan_no.errors?.pattern">Invalid Pa no
                                format</small>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <label>Probation Confirmation Date</label>
                            <input type="text" id="probation" placeholder="dd-mm-yy" formControlName="probation"
                              autocomplete="off" maxlength="10" class="form-control" readonly>
                          </div>
                          <div class="col-md-4">
                            <label>Contract end date </label>
                            <input type="text" formControlName="contractenddate" id="contractenddate"
                              class="form-control" readonly placeholder="dd-mm-yy">
                          </div>
                          <div class="col-md-4">
                            <label>
                              Vendor Name
                            </label>
                            <ng-select [items]="vendor_master_list_data" bindLabel="vendor_name" bindValue="vendor_name"
                              formControlName="vendorname" placeholder="Search Vendor(s)"></ng-select>
                          </div>
                          <div class="col-md-4">
                            <label>
                              Salary Booked Under Project Name
                            </label>
                            <ng-select [items]="projectList" bindLabel="project_name" bindValue="project_name"
                              formControlName="salarybookedproj" placeholder="Search Salary booked under project(s)"
                              (change)="onselectsalarybookedproj($event)"></ng-select>
                          </div>
                        </div>

                        <!-- Live Tracking --->
                        <div class="col-md-4" *ngIf="showLiveLocation" style="margin-left: 15px;">
                          <label for="">Enable Live tracking :</label>&nbsp;&nbsp;
                          <input type="radio" name="live_tracking" id="Y" (click)="getLiveTracking('Y')"
                            [checked]="bf.live_tracking.value=='Y'">
                          <label for="Y">Yes</label>
                          <input type="radio" name="live_tracking" id="N" (click)="getLiveTracking('N')"
                            [checked]="bf.live_tracking.value=='N'">
                          <label for="N">No</label>
                        </div>

                        <div class="col-md-12 col-12 padd-top-15 text-center">
                          <button class="btn btn-primary" (click)="update_basic_details()">Update</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-md-12" *ngIf="candidateDetails.jobType=='Unit Parameter' ">
                <div class="card">
                  <div class="card-body" [formGroup]="unitSalaryForm">

                    <div class="col-md-12 no-padd">
                      <div class="col-md-3">
                        <label>Company Name</label>
                        <select class="form-control"
                          (change)="getMasterData($event.target.value,'','master_department_list')"
                          formControlName="unit">
                          <option>--Select--</option>
                          <option *ngFor="let ou of organzationUnitList" [value]="ou.org_unit_id">{{ou.org_unit_name}}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <label>Department</label> <a style="float:right;" title="Add Department"
                          (click)="routeToUnit()"><i class="fa fa-lg fa-plus-circle" aria-hidden="true"></i></a>
                        <select class="form-control" (change)="getMasterData('',$event.target.value,'master_role_list')"
                          formControlName="department">
                          <option>--Select--</option>
                          <option *ngFor="let dept of deptList" [value]="dept.departmentid">{{dept.departmentname}}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <label>Designation</label><a style="float: right;" title="Add Designation"
                          (click)="routeToUnit()"><i class="fa fa-lg fa-plus-circle" aria-hidden="true"></i></a>
                        <select class="form-control" (change)="getAop($event.target.value)"
                          formControlName="designation">
                          <option>--Select--</option>
                          <option *ngFor="let desg of desgList" [value]="desg.dsignationid">{{desg.designationname}}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <label>Annually Offered Package</label>
                        <input class="form-control" [(ngModel)]="aop" placeholder="Annual Offered Package"
                          formControlName="aop" readonly>
                      </div>
                    </div>

                    <div class="col-md-12 employees-details-outer-box">
                      <div class="table-responsive" *ngIf="salaryStructureView != ''">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Salary Bucket</th>
                              <th>Monthly</th>
                              <th>Annually</th>
                            </tr>
                          </thead>
                          <tbody id="roundedValues">
                            <tr class="danger1" *ngIf="candidateDetails.jobType!='Consultant'">
                              <th colspan="3">1. GROSS SALARY</th>
                            </tr>
                            <tr class="danger1" *ngIf="candidateDetails.jobType!='Consultant'">
                              <td scope="col">Basic</td>
                              <td>{{ salaryStructureView.basic }}</td>
                              <td>{{salaryStructureView.basic*12}}</td>
                            </tr>
                            <tr class="danger1" *ngIf="candidateDetails.jobType!='Consultant'">
                              <td scope="col">HRA</td>
                              <td>{{ salaryStructureView.hra }}</td>
                              <td>{{salaryStructureView.hra*12}}</td>
                            </tr>
                            <tr class="danger1"
                              *ngIf="salaryStructureView.allowances!='' && salaryStructureView.allowances!='0' && salaryStructureView.allowances!='0.0000' ">
                              <td scope="col">Special Allowance</td>
                              <td>{{ salaryStructureView.allowances }}</td>
                              <td>{{salaryStructureView.allowances*12}}</td>
                            </tr>
                            <tr class="danger1"
                              *ngIf="salaryStructureView?.conveyance_allowance!='' && salaryStructureView?.conveyance_allowance!='0.0000' && salaryStructureView?.conveyance_allowance!='0'">
                              <td scope="col">Conveyance Allowance</td>
                              <td>{{ salaryStructureView.conveyance_allowance }}</td>
                              <td>{{salaryStructureView.conveyance_allowance*12}}</td>
                            </tr>
                            <tr class="danger1"
                              *ngIf="salaryStructureView?.medical_allowance!='' && salaryStructureView?.medical_allowance!='0.0000' && salaryStructureView?.medical_allowance!='0'">
                              <td scope="col">Medical Allowance</td>
                              <td>{{ salaryStructureView.medical_allowance }} </td>
                              <td>{{salaryStructureView.medical_allowance*12}}</td>
                            </tr>

                            <tr class="danger1" *ngFor="
                                            let deduction of salaryStructureView.OtherDeductions
                                          " [ngStyle]="{'display':deduction.deduction_amount==0 ? 'none':''}">
                              <td scope="col">
                                {{ deduction.deduction_name }}
                              </td>
                              <td>{{ deduction.deduction_amount }}</td>
                              <td>{{ deduction.deduction_amount*12 }}</td>
                            </tr>
                            <tr
                              *ngIf="salaryStructureView.gross!='' && salaryStructureView.gross!='0' && salaryStructureView.gross!='0.0000' && candidateDetails.jobType!='Consultant'">
                              <th scope="col">Gross Salary</th>
                              <th>{{ salaryStructureView.gross }}</th>
                              <th>{{ salaryStructureView.grossAnnual }}</th>
                            </tr>
                            <tr class="danger1"
                              *ngIf="salaryStructureView.gross!='' && salaryStructureView.gross!='0' && salaryStructureView.gross!='0.0000' && candidateDetails.jobType=='Consultant'">
                              <td scope="col">Gross Earning</td>
                              <td>{{ salaryStructureView.gross }}</td>
                              <td>{{ salaryStructureView.grossAnnual }}</td>
                            </tr>
                            <tr class="danger1"
                              *ngIf="salaryStructureView.bonus!='' && salaryStructureView.bonus!='0' && salaryStructureView.bonus!='0.0000'">
                              <td scope="col">Regular Bonus</td>
                              <td>{{ salaryStructureView.bonus }}</td>
                              <td>{{ salaryStructureView.bonus*12 }}</td>
                            </tr>
                            <tr class="danger1"
                              *ngIf="salaryStructureView.employerepfrate!='' && salaryStructureView.employerepfrate!='0' && salaryStructureView.employerepfrate!='0.0000'">
                              <td scope="col">Employer EPF Part</td>
                              <td>{{ salaryStructureView.employerepfrate }}</td>
                              <td>{{ salaryStructureView.employerepfrate*12 }}</td>
                            </tr>
                            <tr class="danger1"
                              *ngIf="salaryStructure.employeresirate!='' && salaryStructure.employeresirate!='0' && salaryStructure.employeresirate!='0.0000'">
                              <td scope="col">Employer ESIC Part</td>
                              <td>{{ salaryStructureView.employeresirate }}</td>
                              <td>{{ salaryStructureView.employeresirate*12 }}</td>
                            </tr>
                            <tr class="danger1"
                              *ngIf="salaryStructureView.employerlwf!='' && salaryStructureView.employerlwf!='0' && salaryStructureView.employerlwf!='0.0000'">
                              <td scope="col">Employer LWF</td>
                              <td>
                                {{salaryStructureView.employerlwf}}</td>
                              <td>{{salaryStructureView.employerlwf*12}}
                              </td>
                            </tr>
                            <tr class="danger1"
                              *ngIf="salaryStructureView.employergratuity!='' && salaryStructureView.employergratuity!='0' && salaryStructureView.employergratuity!='0.0000'">
                              <td scope="col">Employer Gratuity</td>
                              <td>
                                {{salaryStructureView.employergratuity}}
                              </td>
                              <td>{{salaryStructureView.employergratuity*12}}</td>
                            </tr>
                            <tr class="danger1"
                              *ngIf="salaryStructureView.total!='' && salaryStructureView.total!='0' && salaryStructureView.total!='0.0000'">
                              <th scope="col">GRAND TOTAL</th>
                              <th>
                                {{ salaryStructureView.total }}
                              </th>
                              <th>{{ salaryStructureView.totalAnnual}}</th>
                            </tr>

                            <tr class="danger1">
                              <th colspan="3">3. DEDUCTION</th>
                            </tr>

                            <tr class="danger1"
                              *ngIf="salaryStructureView.taxes!='' && salaryStructureView.taxes!='0' && salaryStructureView.taxes!='0.0000'">
                              <td scope="col">Tax</td>
                              <td>
                                {{salaryStructureView.taxes}}
                              </td>
                              <td>
                                {{salaryStructureView.taxes*12}}
                              </td>
                            </tr>
                            <tr class="danger1"
                              *ngIf="salaryStructureView.employeeepfrate!='' && salaryStructureView.employeeepfrate!='0' && salaryStructureView.employeeepfrate!='0.0000'">
                              <td scope="col">Employee EPF</td>
                              <td>
                                {{salaryStructureView.employeeepfrate}}
                              </td>
                              <td>
                                {{salaryStructureView.employeeepfrate*12}}
                              </td>
                            </tr>
                            <tr class="danger1"
                              *ngIf="salaryStructureView.vpfemployee!='' && salaryStructureView.vpfemployee!='0' && salaryStructureView.vpfemployee!='0.0000'">
                              <td scope="col">Employee VPF</td>
                              <td>
                                {{salaryStructureView.vpfemployee}}</td>
                              <td>{{salaryStructureView.vpfemployee*12}}
                              </td>
                            </tr>

                            <tr class="danger1"
                              *ngIf="salaryStructureView.employeeesirate!='' && salaryStructureView.employeeesirate!='0' && salaryStructureView.employeeesirate!='0.0000'">
                              <td scope="col">Employee ESIC</td>
                              <td>{{ salaryStructureView.employeeesirate }}</td>
                              <td>{{ salaryStructureView.employeeesirate*12 }}</td>
                            </tr>

                            <tr class="danger1"
                              *ngIf="salaryStructureView.employeelwf!='' && salaryStructure.employeelwf!='0' && salaryStructure.employeelwf!='0.0000'">
                              <td scope="col">Employee LWF</td>
                              <td>
                                {{salaryStructureView.employeelwf }}</td>
                              <td> {{salaryStructureView.employeelwf*12 }}
                              </td>
                            </tr>
                            <tr class="danger1"
                              *ngIf="salaryStructureView.gratuity!='' && salaryStructureView.gratuity!='0' && salaryStructureView.gratuity!='0.0000'">
                              <td scope="col">Gratuity</td>
                              <td>
                                {{salaryStructureView.gratuity}}</td>
                              <td>{{salaryStructureView.gratuity*12}}
                              </td>
                            </tr>

                            <tr class="danger3">
                              <td>Salary Bucket Total</td>
                              <td>{{ salaryStructureView.ctc }}</td>
                              <td>{{ salaryStructureView.ctcAnnual }}</td>
                            </tr>
                            <tr class="danger3">
                              <td>Salary In Hand</td>
                              <td>{{ salaryStructureView.salaryinhand }}</td>
                              <td>{{ salaryStructureView.inHandAnnual }}</td>
                            </tr>
                          </tbody>
                        </table>

                        <div class="col-md-12" style="text-align:center">
                          <button class="btn btn-primary update-btn" (click)="saveCustomSal()">Save Salary</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--------Add Department popup------------------>
<div [@grooveState]="isAddDepartment ? 'active' : 'inactive'" class="modal">
  <div [@dongleState]="isAddDepartment ? 'active' : 'inactive'" class="modal-dialog" style="margin:auto;">
    <div class="modal-content" style="height: 100%; margin-top: 100px; max-height: 80vh; overflow-y: auto;">
      <form [formGroup]="departmentForm">
        <div class="modal-header theme-bg">
          <h4 class="modal-title">Add Department</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="hideAddDepartment()">×</button>
        </div>
        <div class="modal-body card-body">
          <div class="form-group">
            <label class="control-label col-sm-4">Department Name <span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="departmentName"
                placeholder="Enter department name" required>
              <div *ngIf="departmentForm.controls.departmentName.errors" class="text-danger">
                <small>Department name is required.</small>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <input type="button" class="btn btn-default" value="Add" (click)="addDepartment()"
            [disabled]="departmentForm.invalid">
          <input type="button" class="btn btn-default" value="Cancel" (click)="hideAddDepartment()">
        </div>
      </form>
    </div>
  </div>
</div>
<!-------Add department popup ends---------->

<!--------Add Designation popup------------------>
<div [@grooveState]="isAddDesignation ? 'active' : 'inactive'" class="modal">
  <div [@dongleState]="isAddDesignation ? 'active' : 'inactive'" class="modal-dialog" style="margin:auto;">
    <div class="modal-content" style="height: 100%; margin-top: 100px; max-height: 80vh; overflow-y: auto;">
      <form [formGroup]="designationForm">
        <div class="modal-header theme-bg">
          <h4 class="modal-title">Add Designation</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="hideAddDesignation()">×</button>
        </div>
        <div class="modal-body card-body">
          <div class="form-group">
            <label class="control-label col-sm-4">Designation Name <span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="designationName"
                placeholder="Enter designation name" required>
              <div *ngIf="designationForm.controls.designationName.errors" class="text-danger">
                <small>Designation name is required.</small>
              </div>
            </div>
            <div class="form-group">
              <input type="checkbox" id="isFunctional" formControlName="isFunctional">
              <label for="isFunctional">Mark as Functional Designation</label>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <input type="button" class="btn btn-default" value="Add" (click)="addDesignation()"
            [disabled]="designationForm.invalid">
          <input type="button" class="btn btn-default" value="Cancel" (click)="hideAddDesignation()">
        </div>
      </form>
    </div>
  </div>
</div>
<!-------Add department popup ends---------->


<app-footer></app-footer>