<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<section>
    <div id="wrapper" [ngClass]="{'active': showSidebar == false}">
        <div class="fakeLoader"></div>

        <div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Tea Allowance</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" title="Dashboard"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item active">Tea Allowances</li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                <!-- /row -->
                <div class="row">
                    <div class="col-md-12 mrg-top-0 mrg-bot-25">
                    
                        <div class="card">
                            
                            <div class="card-header"> 
                                <h4 class="sub-title-inn-box View-Roles-list-outer-box" >Listing

                                    <div class="col-lg-3 col-md-3 text-right" style="float: right;">
                                        <a class=" btn btn-round  btn-primary btn-primary-Add-Roles-btn"
                                        (click)="showAddEditModal('insert')">+ Add Tea Allowance </a>
                                    </div>
                                
                                </h4>
                            </div>	     
                            <div class="card-body padd-bot-10 padd-top-0">
                                <div class="row">
                                    <div class="col-md-12 padd-top-0">
                                    
                                        <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">
                            
                                            <table class="table" >
                                               <thead>
                                                    <tr>
                                                        <th id="ember1089" class="sortable ember-view">
                                                           #
                                                         </th>
                                                        <th id="ember1089" class="sortable ember-view">
                                                           Check in
                                                         </th>
                                                        <th id="ember1089" class="sortable ember-view">
                                                           Check out
                                                         </th>
                                                        <th id="ember1089" class="sortable ember-view">
                                                           Hours difference
                                                         </th>
                                                        <th id="ember1089" class="sortable ember-view">
                                                           Day type
                                                         </th>
                                                        <th id="ember1089" class="sortable ember-view">
                                                           Rate
                                                         </th>
                                                        <th id="ember1089" class="sortable ember-view">
                                                           Effective from
                                                         </th>
                                                        <th id="ember1089" class="sortable ember-view">
                                                           Effective to
                                                         </th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr [ngStyle]="{'display': teaAllowanceList.length>0 ?'':'none'}"
                                                        *ngFor="let allowance of teaAllowanceList;let i=index;">
                                                        <td>{{i+1}}.</td>
                                                        <td>{{allowance.hours_range_from.substring(0,5)}}</td>
                                                        <td>{{allowance.hours_range_to.substring(0,5)}}</td>
                                                        <td>{{allowance.hours_diff.substring(0,5)}}</td>
                                                        <td class="ellipsis" [title]="allowance.daytype">{{allowance.daytype}}</td>
                                                        <td>{{allowance.rate}}</td>
                                                        <td>{{allowance.effectivefrom}}</td>
                                                        <td>{{allowance.effectiveto}}</td>
                                                        <td>
                                                            <div class="job-buttons action-btn-outer-box">
                                                                <a class="btn btn-shortlist manage-btn" title="Edit" (click)="showAddEditModal('update',allowance)"
                                                                ><i class="ti-pencil-alt"></i></a>	
                                                                <a class="btn btn-shortlist manage-btn" title="delete" (click)="submitForm(allowance)" ><i class="fa fa-trash" aria-hidden="true"
                                                                ></i></a>
                                                            </div>            
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="teaAllowanceList.length==0">
                                                        <td colspan="7" class="no-data"> No Data Found</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>


<!---------------Add edit tea allowance modal------------------------->

<div class="modal add-address-form-box" [@grooveState]="isAddEditAllow?'active':'inactive'">
    <div class="modal-dialog" [@dongleState]="isAddEditAllow?'active':'inactive'">
       <div class="modal-content">
          <form>
             <div class="modal-header theme-bg">						
                <h4 class="modal-title">Tea Allowance</h4>
                <button type="button" class="close" (click)="hideModal()">&times;</button>
             </div>
             <div class="modal-body" [formGroup]="teaAllowanceForm">	
                <div class="row">
                    <div class="col-md-12">

                    				
                        <div class="col-md-6" >
                            <label>Check in</label>
                            <input id="ZPAtt_shiftMarginStarts" type="time" class="form-control" placeholder="00:00"
                            formControlName="hours_from" >                        
                        </div>
                        <div class="col-md-6" >
                            <label>Check out</label>
                            <input id="ZPAtt_shiftMarginStarts" type="time" class="form-control" placeholder="00:00"
                            formControlName="hours_to">
                        </div>
                        <div class="col-md-6 orgMultiselectDropdown" >
                            <label>Day Type</label>
                            <ng-multiselect-dropdown
                                [placeholder]="'Select day type'"
                                [settings]="dropdownSettings"
                                [data]="dayList"
                                formControlName="dayType"
                                (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onUnselectAll($event)"
                                (onDeSelect)="onItemUnselect($event)" >
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="col-md-6">
                            <label for="">Tea Allowance Rate</label>
                            <input type="number" class="form-control" formControlName="rate" placeholder="Enter rate">
                        </div>
                        <div class="col-md-6">
                            <label for="">Effective From</label>
                            <input type="text" class="form-control" formControlName="effectiveFrom" id="effectivefrom"
                            placeholder="dd/mm/yyyy" readonly>
                        </div>
                        <div class="col-md-6">
                            <label for="">Effective To</label>
                            <input type="text" class="form-control" formControlName="effectiveTo" id="effectiveto"
                            placeholder="dd/mm/yyyy" readonly>
                        </div>
                    </div>
                </div>
             </div>
             <div class="modal-footer">
                 <a type="button" class="btn btn-default" (click)="hideModal()">Cancel</a>
                <a  type="button" class="btn btn-default" (click)="submitForm()"
                > Submit
                <!--[ngClass]="{'btn-danger': otModalHeading=='delete'}" {{(otModalHeading =='add' || otModalHeading=='edit') ? 'Save' : 'Delete'}} -->
            </a>
                
                
             </div>
          </form>
       </div>
    </div>
 </div>

<!---------------Add edit tea allowance modal ends------------------------->
<app-footer></app-footer>