a.job_name_tag {
  font-weight: 500;
  color: #0047ab;
}




.element:-webkit-full-screen {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding-top: 20px !important;
}

.element:-webkit-full-screen p {
  visibility: visible;
}

.element:-moz-full-screen {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding-top: 20px !important;
}

.element:-moz-full-screen p {
  visibility: visible;
}

.element:-ms-fullscreen {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding-top: 20px !important;
}

.element:-ms-fullscreen p {
  visibility: visible;
}

.element:fullscreen {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding-top: 20px !important;
}

.element:fullscreen p {
  visibility: visible;
}

.punchin-Button-job-company-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.punchin-Button-job-company-box .btn.btn-blue.punchin-Button-box,
.punchin-Button-job-company-box .btn.btn-blue.punchout-Button-box {
  font-size: 12px;
  padding: 2px 10px;
  width: auto;
  margin: 0 10px 0 0;
}

.location-addre-box {
  margin: 0 0 0 10px;
}

.location-addre-box i {
  background: #f6f6f6;
  padding: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 15px;
  text-align: center;
  color: #818181;
  line-height: 21px;
}

span.hover-location-addre-box {
  display: none;
}

.location-addre-box a:hover span.hover-location-addre-box {
  display: block;
  position: absolute;
  background: #ffffff;
  padding: 10px;
  font-size: 12px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 18%);
  -webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 18%);
  color: #000;
}

.table-responsive.Reimbursements-outer-box .table tr td {
  padding: 1.0rem 1rem !important;
  font-size: 12px;
}

.table-responsive.Reimbursements-outer-box .table tr td h5 {
  margin: 2px 0;
}

.table-responsive.Reimbursements-outer-box tfoot tr th {
  background: #f6f6f6;
}

.panel-body.Check-In-Check-Out-table-inner-box .box-body {
  padding: 0;
}

.panel-body.Check-In-Check-Out-table-inner-box table.table {
  margin: 0;
}

.panel-body.Check-In-Check-Out-table-inner-box thead tr th {
  background: #fafdff;
}

.panel-body.Check-In-Check-Out-table-inner-box tfoot tr th {
  background: #fff;
}

.panel-body.Check-In-Check-Out-table-inner-box {
  background: #f8f7f7;
  padding: 8px;
  border-left: 4px solid #1194f7;

}

.job-img {
  border-radius: 2px;
  float: left;
  margin-right: 10px;
  width: 30px;
}

.job-img img {
  display: block;
  max-width: 30px;
  border-radius: 50%;
  border: 1px solid #c5c5c5;
}

span.appro-btn-ved {
  color: #10a300;
}

span.appro-btn-ved1 {
  color: #b90000;
}

span.pend-btn-ved1 {
  color: #dbae00;
}

.Earned-Leave-iiner-box {
  margin: 0;
}

.Earned-Leave-iiner-box .form-control {
  height: 35px;
}

.modal-dialog table tr th {
  background: #f5f5f5 !important;
  font-weight: 600;
}

.Earned-Leave-iiner-box h4 {
  font-size: 16px;
  margin: 0;
  line-height: 30px;
}

.Mauto {
  margin: 0 auto;
}

.table-responsive.Reimbursements-outer-box tr th {
  background: #fafcfd;
}

.table-responsive.bulk-attendance-outer-box.Reimbursements-outer-box table.table tr th.P0I.TBrdr.TBrdr-Rgt {
  padding: 0;
}

.table-responsive.bulk-attendance-outer-box.Reimbursements-outer-box table.table tr td,
.table-responsive.bulk-attendance-outer-box.Reimbursements-outer-box table.table tr th {
  vertical-align: middle;
}





.P_AM .ZPusrName img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.ZPLRow td img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #e3e3e3;
}

.P_AM .ZPusrName {
  position: relative;
  padding-top: 0;
  padding-left: 48px;
}

span.ellipsis.W200.CP {
  font-weight: 600;
  color: #000;
}

span.ellipsis.W200.CP b {
  color: #999;
  margin-right: 5px;
}

.table-responsive.Reimbursements-outer-box th.colM1_sticky {
  width: 300px;
  min-width: 300px;
}

td.TBrdr-Rgt {
  border-left: 1px solid #eee;
  text-align: center;
}


.filter-onlick-btn {
  margin-left: 2px;
  color: #000 !important;
  font-size: 15px !important;
  padding: 10px 15px !important;
  background-color: #e1e1e1;
}



#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f1f5fa;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px -1px, rgba(0, 0, 0, 0.3) -10px 6px 10px 0px, rgba(0, 0, 0, 0.12) -7px 1px 18px 0px;
}

h3.filter-menu-header-text-box {
  padding: 21px 15px;
  margin-bottom: 0;
}

#sidebar .close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
}

.sidebar-menu_filter-box label.control-label {
  font-weight: 500;
  padding: 0;
}

.sidebar-menu_filter-box .form-group {
  margin-bottom: 0px;
}

.sidebar-content-box .form-group {
  font-size: 13px;
}

.sidebar-menu_filter-box .panel-default>.panel-heading h4 {
  font-size: 14px;
  color: #000;
}

.sidebar-menu_filter-box .panel-heading h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-menu_filter-box .panel-default>.panel-heading {
  color: #333;
  background-color: #deedff;
  border-color: #fff;
  border: 1px solid #fff;
}

.sidebar-menu_filter-box .panel-heading {
  cursor: pointer;
}


#sidebar a.clear-box-btn {
  position: absolute;
  top: 53px;
  right: 25px;
  color: #1372dd;
  font-size: 14px;
  cursor: pointer;
}

.selected-row {
  background-color: #e6f7ff;
}
