<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>
  <div id="wrapper" [ngClass]="{'active': showSidebar == false}">
    <div class="fakeLoader"></div>

    <div id="page-wrapper">
      <div class="row page-titles">
          <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">{{pageHead}}</h3>
          </div>
          <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item" title="Dashboard"><a [routerLink]="['/attendance/ot_rules_listing']">OT Rules</a></li>
                  <li class="breadcrumb-item active">{{pageHead}}</li>
              </ol>
          </div>
      </div>

      <div class="container-fluid">
        <!-- /row -->
        <div class="row">
          <div class="col-md-12 mrg-top-0 mrg-bot-25">
          
            <div class="card">
            
              <div class="card-header">
                <h4 class="sub-title-inn-box View-Roles-list-outer-box"> 
							
                  <div class="radio-radio-primary-11 ">
                     <div class="radio radio-primary form-check-inline ">
                      <input type="radio" value="shiftTime" id="shiftTime" name="radioPageType" [checked]="shiftType=='overtime'"
                      (click)="setShiftType('overtime')">
                      <label for="shiftTime"><b>Overtime</b></label>
                   </div>
                   <!-- <div class="radio radio-primary form-check-inline" >
                      <input type="radio" value="workingHours" id="workingHours" name="radioPageType"
                      [checked]="shiftType=='shiftcomp'" (click)="setShiftType('shiftcomp')">
                      <label for="workingHours"><b>Shift Compensation</b></label>
                   </div> -->
                  </div>
                
                
                  <a href="#SendMessage1" id="Shift-Differential-box" data-toggle="modal" class=" btn btn-user btn-round  btn-primary btn-primary-Add-Roles-btn" data-placement="top" 
                  *ngIf="shiftType=='shiftcomp'">+ Add Shift Compensation  </a>
                </h4>
                <!-- <h4 class="sub-title-inn-box View-Roles-list-outer-box"> 
                
                  <div class="radio-radio-primary-11 ">
                      <div class="radio radio-primary form-check-inline ">
                      <label for="shiftTime"><b>Overtime</b></label>
                    </div>
                  </div>
                
                </h4>  -->
              </div>	
              
              <div class="card-body padd-bot-10 padd-top-0 ">
              
                <div class="row">
                
                  <div class="col-md-12 padd-top-0">
                  
                    <div id="ShiftTime" *ngIf="shiftType=='overtime'">
                      <div class="list-content ot-rule-table-box" style="padding: 20px 30px">
                        <form [formGroup]="overTimeForm">
                          <div class="row mb-4">
                              <div class="col-md-4">
                                  <label>Overtime rate</label>
                                  <div class="input-group">
                                      <input class="ember-text-field ember-view form-control w-80px" type="text" formControlName="overtimeRate"
                                      appDecimalLimit>
                                      <div class="input-group-append">
                                          <span class="input-group-text">times</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <label>Double time rate</label>
                                  <div class="input-group">
                                      
                                      <input class="ember-text-field ember-view form-control w-80px" type="text" formControlName="doubleTimeRate"
                                      appDecimalLimit>
                                      <div class="input-group-append">
                                          <span class="input-group-text">times</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                <label>Shift Type</label>
                                <select class=" form-control" formControlName="shift_id">
                                  <option *ngFor="let item of shiftDetails" value="{{item.shift_id}}" checked="">{{item.shift_name}}</option>
                                </select>
                              </div>
                          </div>

                          <div class="mb-5">
                            <div class="card mb-4">
                                <table class="table table-borderless rounded">
                                    <thead>
                                      <tr>
                                        <th></th>
                                        <th>Overtime</th>
                                        <th>Double Time</th>
                                       
                                      </tr>
                                    </thead>
                                    <tbody formArrayName="daily">
                                      <ng-container *ngFor="let day of dailyControls; let i = index" [formGroupName]="i">
                                        <tr *ngIf="i === 0">
                                          <td colspan="3">
                                            <label class="mb-0">{{ day.value.remarks }}</label>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="align-middle px-3 py-2"
                                          [ngClass]="{'row-head' : day.value.category!='1'}">{{ day.value.name }}</td>
                                          <td class="px-3 py-2">
                                            <div class="d-flex align-items-center">
                                              <label class="custom-control custom-checkbox mr-3">
                                                <input
                                                  class="custom-control-input" type="checkbox"
                                                  (change)="onDailyCheckboxChange($event, i, 'overtime')"
                                                  formControlName="isOvertimeChecked"
                                                />
                                                <span class="custom-control-label d-inline-block">after</span>
                                              </label>
                                              <input
                                                type="text" formControlName="overtime"
                                                class="ember-text-field ember-view form-control w-80px mr-2"
                                                [disabled]="!day.get('isOvertimeChecked').value"
                                                appDecimalLimit
                                              />
                                              <span>hours</span>
                                            </div>
                                          </td>
                                          <td class="px-3 py-2">
                                            <div class="d-flex align-items-center">
                                              <label class="custom-control custom-checkbox mr-3">
                                                <input
                                                  class="custom-control-input" type="checkbox"
                                                  (change)="onDailyCheckboxChange($event, i, 'doubleTime')"
                                                  formControlName="isDoubleTimeChecked"
                                                />
                                                <span class="custom-control-label d-inline-block">after</span>
                                              </label>
                                              <input
                                                type="text" formControlName="doubleTime"
                                                class="ember-text-field ember-view form-control w-80px mr-2"
                                                [disabled]="!day.get('isDoubleTimeChecked').value"
                                                appDecimalLimit
                                              />
                                              <span>hours</span>
                                            </div>
                                          </td>
                                        </tr>
                                      </ng-container>
                                      <!-- <tr>
                                        <td colspan="3" class="py-3 px-0">
                                          <div style="border-top: 1px solid #efefef"></div>
                                        </td>
                                      </tr> -->
                                     
                                    </tbody>
                                  </table>
                                  
                            </div>

                          <div class="col-sm-4 ">
                          <button type="button" id="btnSaveOT" class="btn btn-xs btn-primary waves-effect" value="Save" (click)="saveOtForm()">Save</button>
                          </div>

                          </div>
                        </form>
                      </div>

                    </div>

                    <div id="WorkHours" *ngIf="shiftType=='shiftcomp'">
                      <div class="list-content ot-rule-table-box-detail" style="padding: 20px 30px">
                        <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">
                            <table class="table" id="otherDeductionTable">
                              <thead>
                                <tr>
                                  <th id="ember1089" class="sortable ember-view">
                                  Day Type
                                  </th>
                                  <th id="ember1089" class="sortable ember-view">
                                  Time
                                  </th>
                                  <th id="ember1089" class="sortable ember-view">
                                  Differential
                                  </th>
                                <th class="header-actions text-center">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr id="ember1092" class="ember-view">
                                  <td>
                                    <a href="#SendMessage1" data-toggle="modal" data-placement="top" id="ember1093" class="ember-view">Mon, Tue, Wed, Thu, Fri</a>
                                  </td>
                                  
                                  <td>9:30a - 6:30p</td>
                                  <td> ₹ 2500 <span class="text-muted"> (Fixed Amount Per Shift) </span></td>
                                  
                                  <td class="user-item">
                                                          <div class="job-buttons action-btn-outer-box">
                        <a  class="btn btn-shortlist manage-btn" title="Edit"><i class="ti-pencil-alt"></i></a>	
                                  <a  data-toggle="modal" class="btn btn-shortlist manage-btn" data-placement="top" title="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    
                                  </div>
                                    
                                    
                                  </td>
                                </tr>
                              </tbody>
                            </table>	
                        </div>
                      </div>
                    </div>
          
                  </div>
                  
                </div>		
              </div>
            </div>
          
          </div>
        
        
        </div>
      </div>
    </div>
  </div>
    
</section>
<!-- Add shift Compensation popup by Arpit -->
<div id="SendMessage1" class="modal fade add-address-form-box">
    <div class="modal-dialog ">
        <div class="modal-content">
            <form [formGroup]="shiftDifferentialForm" (ngSubmit)="onSubmit()">
                <div class="modal-header theme-bg">						
                    <h4 class="modal-title">Add Shift Compensation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                
                  <div class="mb-4 Shift-Differential-outer-box">
                      <label class="mb-3">Day Type</label>
                      <div class="mb-3">
                        <label class="custom-control custom-radio mb-3">
                          <input id="week_day001" class="custom-control-input" type="radio" name="day" value="week_day"
                          style="display:inline-block;" [checked]="dayType=='weekdays'" (click)="setDayType('weekdays')">

                          <span class="custom-control-label d-inline-block">
                            <span class="ml-1">On Week Days</span>
                          </span>
                        </label>
                        
                        <div class="ml-4 pl-2" [ngClass]="{'On-Week-Days-inner-box':dayType!='weekdays'}">
                            <label class="custom-control custom-checkbox custom-control-inline" tabindex="-1">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-label d-inline-block">
                              M
                              </span>
                            </label>

                            <label class="custom-control custom-checkbox custom-control-inline" tabindex="-1">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-label d-inline-block">
                              T
                              </span>
                            </label>

                            <label class="custom-control custom-checkbox custom-control-inline" tabindex="-1">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-label d-inline-block">
                              W
                              </span>
                            </label>

                            <label class="custom-control custom-checkbox custom-control-inline" tabindex="-1">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-label d-inline-block">
                              T
                              </span>
                            </label>

                            <label class="custom-control custom-checkbox custom-control-inline" tabindex="-1">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-label d-inline-block">
                              F
                              </span>
                            </label>

                            <label class="custom-control custom-checkbox custom-control-inline" tabindex="-1">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-label d-inline-block">
                              S
                              </span>
                            </label>

                            <label class="custom-control custom-checkbox custom-control-inline" tabindex="-1">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-label d-inline-block">
                              S
                              </span>
                            </label>
                        </div>
                      </div>
                      <label class="custom-control custom-radio mb-1">
                        <input class="custom-control-input" type="radio" name="day" value="holiday" style="display:inline-block;"
                        [checked]="dayType=='holidays'" (click)="setDayType('holidays')">
                        <span class="custom-control-label d-inline-block">
                          <span class="ml-1">On Holidays</span>
                        </span>
                      </label>
                  </div>	
                    
                    
                  <div class="mb-4 Differential-Amount-outer-box01">
                      <label>Compensation Amount</label>
                      <div class="shift-differential-type selected">
                        <label class="custom-control custom-radio">
                          <input id="week_day003"  class="custom-control-input" type="radio" name="rate" value="percentage_of_hourly_rate"
                          (click)="setCompensation(1)">
                          <span class="custom-control-label d-inline-block">
                          <span class="ml-1">Percentage of Hourly Rate</span>
                          </span>
                        </label>
                        
                        <div class="pl-4 ml-2 mt-3 Percentage-Hourly-Rate-box"
                        [ngClass]="{'box': selectedCompensationType==-1 || selectedCompensationType==2 || selectedCompensationType==3 }">
                            <div class="row mb-2 align-items-center">
                              <div class="col-md-6">Start time</div>
                              <div class="w-80px">
                                    
                                <div class="ember-view ember-basic-dropdown-trigger
                                  ember-power-select-trigger ember-power-select-typeahead-trigger" role="button" tabindex="-1" data-ebd-id="ember56-trigger" aria-owns="ember-basic-dropdown-content-ember56" aria-expanded="false">
                              
                                  <input role="combobox" id="ember-power-select-typeahead-input-ember56" class="ember-power-select-typeahead-input ember-power-select-search-input form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text">
                        
                              
                                </div>

                                <div id="ember-basic-dropdown-content-ember56" class="ember-basic-dropdown-content-placeholder" ></div>
                              </div>
                            </div>
                            <div class="row mb-2 align-items-center">
                              <div class="col-md-6">End time</div>
                              <div class="w-80px">
                                    
                                <div class="ember-view ember-basic-dropdown-trigger
                                  ember-power-select-trigger ember-power-select-typeahead-trigger" role="button" tabindex="-1" data-ebd-id="ember59-trigger" aria-owns="ember-basic-dropdown-content-ember59" aria-expanded="false">
                              
                                  <input role="combobox" id="ember-power-select-typeahead-input-ember59" class="ember-power-select-typeahead-input ember-power-select-search-input form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text">
                        
                              
                                </div>

                                <div id="ember-basic-dropdown-content-ember59" class="ember-basic-dropdown-content-placeholder"></div>

                              </div>
                            </div>
                            <div class="row mb-2 align-items-center">
                              <div class="col-md-6">Pay Percentage</div>
                              <div class="input-group flex-nowrap w-auto">
                                <input id="ember62" class="ember-text-field ember-view form-control" style="width: 68px !important;" type="text">
                                <div class="input-group-append"><span class="input-group-text">%</span></div>
                              </div>
                            </div>
                            <div class="row align-items-center">
                              <div class="col-md-6">Minimum hours</div>
                              <input id="ember63" class="ember-text-field ember-view form-control w-80px" type="text">
                            </div>
                        </div>
                          
                      </div>
                      <div class="  shift-differential-type selected">
                        <label class="custom-control custom-radio">
                          <input id="week_day004"  class="custom-control-input" type="radio" name="rate" value="flat_rate_per_hour"
                          (click)="setCompensation(2)">
                          <span class="custom-control-label d-inline-block">
                          <span class="ml-1">Fixed Amount Per Hour</span>
                          </span>
                        </label>
                        
                        <div class="pl-4 ml-2 mt-3  Fixed-Amount-Per-Hour-box" 
                        [ngClass]="{'box': selectedCompensationType==-1 || (selectedCompensationType==1 || selectedCompensationType==3)}">
                          <div class="row mb-2 align-items-center">
                          <div class="col-md-6">Start time</div>
                          <div class="w-80px">
                          <div class="ember-view ember-basic-dropdown-trigger
                          ember-power-select-trigger ember-power-select-typeahead-trigger" role="button" tabindex="-1" data-ebd-id="ember66-trigger" aria-owns="ember-basic-dropdown-content-ember66" aria-expanded="false">
                          <input role="combobox" id="ember-power-select-typeahead-input-ember66" class="ember-power-select-typeahead-input ember-power-select-search-input form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text">
                          </div>
                          <div id="ember-basic-dropdown-content-ember66" class="ember-basic-dropdown-content-placeholder"></div>
                          </div>
                          </div>
                          <div class="row mb-2 align-items-center">
                          <div class="col-md-6">End time</div>
                          <div class="w-80px">
                          <div class="ember-view ember-basic-dropdown-trigger
                          ember-power-select-trigger ember-power-select-typeahead-trigger" role="button" tabindex="-1" data-ebd-id="ember69-trigger" aria-owns="ember-basic-dropdown-content-ember69" aria-expanded="false">
                          <input role="combobox" id="ember-power-select-typeahead-input-ember69" class="ember-power-select-typeahead-input ember-power-select-search-input form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text">
                          </div>
                          <div id="ember-basic-dropdown-content-ember69" class="ember-basic-dropdown-content-placeholder" ></div>
                          </div>
                          </div>
                          <div class="row mb-2 align-items-center">
                          <div class="col-md-6">Pay Amount</div>
                          <div class="input-group flex-nowrap w-auto">
                          <input id="ember72" class="ember-text-field ember-view form-control" style="width: 53px !important;" type="text">
                          <div class="input-group-append"><span class="input-group-text">₹</span></div>
                          </div>
                          </div>
                          <div class="row mb-2 align-items-center">
                          <div class="col-md-6">Minimum hours</div>
                          <input id="ember73" class="ember-text-field ember-view form-control w-80px" type="text">
                          </div>
                        </div>
                      </div>

                      <div class="  shift-differential-type selected">
                        <label class="custom-control custom-radio">
                          <input id="week_day005"  class="custom-control-input" type="radio" name="rate" value="flat_rate_per_shift"
                          (click)="setCompensation(3)">
                          <span class="custom-control-label d-inline-block">
                          <span class="ml-1">Fixed Amount Per Shift</span>
                          </span>
                        </label>
                        
                        <div class="pl-4 ml-2 mt-3  Fixed-Amount-Per-Shift-box" 
                      [ngClass]="{'box': selectedCompensationType==1 || selectedCompensationType==3 || selectedCompensationType==-1}">
                          <div class="row mb-2 align-items-center">
                            <div class="col-md-6">Start time</div>
                            <div class="w-80px">
                              <div class="ember-view ember-basic-dropdown-trigger
                              ember-power-select-trigger ember-power-select-typeahead-trigger" role="button" tabindex="-1" data-ebd-id="ember76-trigger" aria-owns="ember-basic-dropdown-content-ember76" aria-expanded="false">
                              <input role="combobox" id="ember-power-select-typeahead-input-ember76" class="ember-power-select-typeahead-input ember-power-select-search-input form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text">
                              </div>
                              <div id="ember-basic-dropdown-content-ember76" class="ember-basic-dropdown-content-placeholder"></div>
                            </div>
                          </div>
                          <div class="row mb-2 align-items-center">
                            <div class="col-md-6">End time</div>
                            <div class="w-80px">
                              <div class="ember-view ember-basic-dropdown-trigger
                              ember-power-select-trigger ember-power-select-typeahead-trigger" role="button" tabindex="-1" data-ebd-id="ember79-trigger" aria-owns="ember-basic-dropdown-content-ember79" aria-expanded="false">
                                <input role="combobox" id="ember-power-select-typeahead-input-ember79" class="ember-power-select-typeahead-input ember-power-select-search-input form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text">
                              </div>
                              <div id="ember-basic-dropdown-content-ember79" class="ember-basic-dropdown-content-placeholder" ></div>
                            </div>
                          </div>
                          <div class="row mb-2 align-items-center">
                            <div class="col-md-6">Pay Amount</div>
                            <div class="input-group flex-nowrap w-auto">
                              <input id="ember82" class="ember-text-field ember-view form-control" style="width: 53px !important;" type="text">
                              <div class="input-group-append"><span class="input-group-text">₹</span></div>
                            </div>
                          </div>
                          <div class="row align-items-center">
                            <div class="col-md-6">Minimum hours</div>
                            <input id="ember83" class="ember-text-field ember-view form-control w-80px" type="text">
                          </div>
                        </div>
                          
                      </div>
                  </div>
                    
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Save">
                    
                </div>
            </form>
        </div>
    </div>
</div> 
<app-footer></app-footer>
