<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>
<section>

  <div id="wrapper" [ngClass]="{'active':showSidebar}">
    <div class="fakeLoader"></div>

    <div id="page-wrapper" style="min-height: 596px;">
      <div class="row page-titles" style="    margin-right: 0px;margin-bottom: 0px;
      margin-left: 0px;">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Dashboard Summary</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <!-- <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>

          </ol> -->
        </div>
      </div>
      <div class="container-fluid">
        <!-- /row -->


        <div class="row">

          <div class="col-md-12 col-sm-12 mrg-top-20">

            <h3 class="dashboard-employee-title-box Attendance-title-top-box ">Employee Management </h3>

          </div>

          <div class="col-md-12">
            <div class="card-box Attendance-listing-outer-box Recruitment-Summary-box Organization-Unit-box">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="widget standard-widget widget-Employee-box">
                    <div class="row">
                      <div class="widget-caption success">
                        <div class="col-xs-4 no-pad">
                          <div class="up-arrow-outer-box">
                            <a><img src="../../../../assets/img/user_new.png" class="img-responsive " alt="user"> </a>
                          </div>
                        </div>
                        <div class="col-xs-8 no-pad">
                          <div class="widget-detail">
                            <span>New employees</span>
                            <h3><a (click)="routeToEmployee('new-joining')" title="Click to view Employee"
                                style="cursor: pointer;">{{get_employee_list_data.new_employees}}</a></h3>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>



                <div class="col-md-3 col-sm-6">
                  <div class="widget standard-widget widget-Employee-box">
                    <div class="row">
                      <div class="widget-caption warning">
                        <div class="col-xs-4 no-pad">
                          <div class=" up-arrow-outer-box">
                            <a><img src="../../../../assets/img/Relieved.png" class="img-responsive " alt="user"> </a>
                          </div>
                        </div>
                        <div class="col-xs-8 no-pad">
                          <div class="widget-detail">
                            <span>Relieved</span>
                            <h3> <a (click)="routeToEmployee('relieved')" title="Click to view Employee"
                                style="cursor: pointer;">{{get_employee_list_data.left_count}}</a></h3>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6">
                  <div class="widget standard-widget widget-Employee-box">
                    <div class="row">
                      <div class="widget-caption danger">
                        <div class="col-xs-4 no-pad">
                          <div class=" down-arrow-outer-box">
                            <a><img src="../../../../assets/img/organizational.png" class="img-responsive " alt="user">
                            </a>

                          </div>
                        </div>
                        <div class="col-xs-8 no-pad">
                          <div class="widget-detail">
                            <a>
                              <span>Total OUs</span>
                              <h3>{{get_employee_list_data.tot_orgunit_cnt}}</h3>
                            </a>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-md-3 col-sm-6">
                  <div class="widget standard-widget widget-Employee-box">
                    <div class="row">
                      <div class="widget-caption info">
                        <div class="col-xs-4 no-pad">
                          <div class="up-arrow-outer-box">
                            <a><img src="../../../../assets/img/group.png" class="img-responsive " alt="user"> </a>

                          </div>

                        </div>
                        <div class="col-xs-8 no-pad">
                          <div class="widget-detail">
                            <span>Total employees</span>
                            <h3> <a (click)="routeToEmployee('active')" title="Click to view Employee"
                                style="cursor: pointer;">{{get_employee_list_data.total_employees}}</a></h3>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6">
                  <div class="widget standard-widget widget-Employee-box">
                    <div class="row">
                      <div class="widget-caption warning">
                        <div class="col-xs-4 no-pad">
                          <div class=" up-arrow-outer-box">
                            <a> <img src="../../../../assets/img/attendance-new.png" class="img-responsive " alt="user">
                            </a>

                          </div>
                        </div>
                        <div class="col-xs-8 no-pad">
                          <div class="widget-detail">
                            <span>Joining Pending</span>
                            <h3> <a (click)="routeToEmployee('joining-pending')" title="Click to view Employee"
                                style="cursor: pointer;">{{get_employee_list_data.joining_pending}} </a></h3>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>










                <div class="col-md-3 col-sm-6">
                  <div class="widget standard-widget widget-Employee-box">
                    <div class="row">
                      <div class="widget-caption danger">
                        <div class="col-xs-4 no-pad">
                          <div class=" down-arrow-outer-box">
                            <a><img src="../../../../assets/img/file.png" class="img-responsive " alt="user"> </a>

                          </div>
                        </div>
                        <div class="col-xs-8 no-pad">
                          <div class="widget-detail">
                            <a>
                              <span>Missing Documents</span>
                              <h3>-</h3>
                            </a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6">
                  <div class="widget standard-widget widget-Employee-box">
                    <div class="row">
                      <div class="widget-caption warning">
                        <div class="col-xs-4 no-pad">
                          <div class=" up-arrow-outer-box">
                            <a><img src="../../../../assets/img/document.png" class="img-responsive " alt="user"> </a>

                          </div>
                        </div>
                        <div class="col-xs-8 no-pad">
                          <div class="widget-detail">
                            <a>
                              <span>Training Pending</span>
                              <h3>-</h3>
                            </a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6">
                  <div class="widget standard-widget widget-Employee-box">
                    <div class="row">
                      <div class="widget-caption warning">
                        <div class="col-xs-4 no-pad">
                          <div class=" up-arrow-outer-box">
                            <a><img src="../../../../assets/img/team.png" class="img-responsive " alt="user"> </a>

                          </div>
                        </div>
                        <div class="col-xs-8 no-pad">
                          <div class="widget-detail">
                            <a>
                              <span>Training Complete</span>
                              <h3>-</h3>
                            </a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6">
                  <div class="widget standard-widget widget-Employee-box">
                    <div class="row">
                      <div class="widget-caption success">
                        <div class="col-xs-4 no-pad">
                          <div class="up-arrow-outer-box">
                            <a> <img src="../../../../assets/img/sent-mail.png" class="img-responsive " alt="user"> </a>

                          </div>
                        </div>
                        <div class="col-xs-8 no-pad">
                          <div class="widget-detail">
                            <a>
                              <span>Appointment Letter Sent</span>
                              <h3>-</h3>
                            </a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="widget standard-widget widget-Employee-box">
                    <div class="row">
                      <div class="widget-caption warning">
                        <div class="col-xs-4 no-pad">
                          <div class=" up-arrow-outer-box">
                            <a> <img src="../../../../assets/img/file-storage.png" class="img-responsive " alt="user">
                            </a>

                          </div>
                        </div>
                        <div class="col-xs-8 no-pad">
                          <div class="widget-detail">
                            <a>
                              <span>Documents Uploaded</span>
                              <h3>-</h3>
                            </a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

















              </div>

            </div>
          </div>

        </div>



        <div class="row " *ngIf="show_recruitment">

          <div class="col-md-12 col-sm-12 mrg-top-20">

            <h3 class="dashboard-employee-title-box Attendance-title-top-box ">Recruitment Summary</h3>

          </div>

          <div class="col-md-12">
            <div class="card-box Attendance-listing-outer-box Recruitment-Summary-box">

              <div class="row">





                <div class="col-md-2 ">
                  <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

                    <div class="net-pay-section12">
                      <div class="title-inn_box">
                        <span class="font-mm"> </span> <span class="font-semibold font-mm">Total Candidates</span>

                      </div>
                      <div class="row net-pay-data-without-bt">
                        <div class="col-md-12">
                          <div class="text-uppercase font-ms payrun-label"> <strong>50</strong></div>


                        </div>

                      </div>

                    </div>

                  </div>

                </div>

                <div class="col-md-2 ">
                  <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

                    <div class="net-pay-section12">
                      <div class="title-inn_box">
                        <span class="font-mm"> </span> <span class="font-semibold font-mm">Shortlisted</span>

                      </div>
                      <div class="row net-pay-data-without-bt">
                        <div class="col-md-12">
                          <div class="text-uppercase font-ms payrun-label"> <strong>20</strong></div>


                        </div>

                      </div>

                    </div>

                  </div>

                </div>

                <div class="col-md-2 ">
                  <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

                    <div class="net-pay-section12">
                      <div class="title-inn_box">
                        <span class="font-mm"> </span> <span class="font-semibold font-mm">Selected</span>

                      </div>
                      <div class="row net-pay-data-without-bt">
                        <div class="col-md-12">
                          <div class="text-uppercase font-ms payrun-label"> <strong>10</strong></div>


                        </div>

                      </div>

                    </div>

                  </div>

                </div>

                <div class="col-md-2 ">
                  <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

                    <div class="net-pay-section12">
                      <div class="title-inn_box">
                        <span class="font-mm"> </span> <span class="font-semibold font-mm">Accepted</span>

                      </div>
                      <div class="row net-pay-data-without-bt">
                        <div class="col-md-12">
                          <div class="text-uppercase font-ms payrun-label"> <strong>8</strong></div>


                        </div>

                      </div>

                    </div>

                  </div>

                </div>

                <div class="col-md-2 ">
                  <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

                    <div class="net-pay-section12">
                      <div class="title-inn_box">
                        <span class="font-mm"> </span> <span class="font-semibold font-mm">Rejected</span>

                      </div>
                      <div class="row net-pay-data-without-bt">
                        <div class="col-md-12">
                          <div class="text-uppercase font-ms payrun-label"> <strong>5</strong></div>


                        </div>

                      </div>

                    </div>

                  </div>

                </div>

                <div class="col-md-2 ">
                  <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

                    <div class="net-pay-section12">
                      <div class="title-inn_box">
                        <span class="font-mm"> </span> <span class="font-semibold font-mm">Joined</span>

                      </div>
                      <div class="row net-pay-data-without-bt">
                        <div class="col-md-12">
                          <div class="text-uppercase font-ms payrun-label"> <strong>6</strong></div>


                        </div>

                      </div>

                    </div>

                  </div>

                </div>




                <div class="col-md-3 ">
                  <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

                    <div class="net-pay-section12">
                      <div class="title-inn_box">
                        <span class="font-mm"> </span> <span class="font-semibold font-mm">Time-to-Hire (Avg)</span>

                      </div>
                      <div class="row net-pay-data-without-bt">
                        <div class="col-md-12">
                          <div class="text-uppercase font-ms payrun-label"> <strong>25 Days</strong></div>


                        </div>

                      </div>

                    </div>

                  </div>

                </div>

                <div class="col-md-3 ">
                  <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

                    <div class="net-pay-section12">
                      <div class="title-inn_box">
                        <span class="font-mm"> </span> <span class="font-semibold font-mm">Offer Acceptance Rate</span>

                      </div>
                      <div class="row net-pay-data-without-bt">
                        <div class="col-md-12">
                          <div class="text-uppercase font-ms payrun-label"> <strong>80%</strong></div>


                        </div>

                      </div>

                    </div>

                  </div>

                </div>



                <div class="col-md-3 ">
                  <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

                    <div class="net-pay-section12">
                      <div class="title-inn_box">
                        <span class="font-mm"> </span> <span class="font-semibold font-mm">Cost per Hire</span>

                      </div>
                      <div class="row net-pay-data-without-bt">
                        <div class="col-md-12">
                          <div class="text-uppercase font-ms payrun-label"> <strong>₹15,000</strong></div>


                        </div>

                      </div>

                    </div>

                  </div>

                </div>


                <div class="col-md-3 ">
                  <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

                    <div class="net-pay-section12">
                      <div class="title-inn_box">
                        <span class="font-mm"> </span> <span class="font-semibold font-mm">Diversity Ratio</span>

                      </div>
                      <div class="row net-pay-data-without-bt">
                        <div class="col-md-12">
                          <div class="text-uppercase font-ms payrun-label"> <strong>60% M / 40% F</strong></div>


                        </div>

                      </div>

                    </div>

                  </div>

                </div>






              </div>

            </div>
          </div>

        </div>


        <div class="row mrg-bot-20">


          <div class="col-md-12 col-sm-12">

            <h3 class="dashboard-employee-title-box">Employees</h3>

          </div>


          <div class="col-md-3 col-sm-3 cur-ptr" (click)="routeToEmployee('active')" title="Click to view Employee">
            <div class="widget standard-widget widget-Employee-box">
              <div class="row">
                <div class="widget-caption info">
                  <div class="col-xs-4 no-pad">
                    <div class="up-arrow-outer-box">
                      <!-- <img src="../../../../assets/img/up-arrow.png" class="img-responsive " alt="user">-->
                      <i class="fa fa-users" aria-hidden="true" style="font-size: 50px;color: #0087cc !important;"></i>
                      <!-- <span>+0%</span>  -->
                    </div>

                  </div>
                  <div class="col-xs-8 no-pad">
                    <div class="widget-detail">
                      <span>Total Employees<p style="font-size: 10px;">&nbsp;</p></span>
                      <h3>{{get_employee_list_data.total_employees}}</h3>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 cur-ptr" (click)="routeToEmployee('relieved')" title="Click to view Employee">
            <div class="widget standard-widget widget-Employee-box">
              <div class="row">
                <div class="widget-caption danger">
                  <div class="col-xs-4 no-pad">
                    <div class=" down-arrow-outer-box">
                      <!-- <img src="../../../../assets/img/down-arrow.png" class="img-responsive " alt="user">
                      <span>+0%</span> -->
                      <i class="fa fa-user-times" aria-hidden="true"
                        style="font-size: 50px; color:#e30b0be8 !important;"></i>

                    </div>
                  </div>
                  <div class="col-xs-8 no-pad">
                    <div class="widget-detail">
                      <!-- <span>Number Of leave</span>
                      <h3>{{get_employee_list_data.tot_on_leave}}</h3> -->
                      <span>Relieved <p style="font-size: 10px;">&nbsp;</p></span>
                      <h3>{{get_employee_list_data.left_count}}</h3>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 cur-ptr" (click)="routeToEmployee('new-joining')"
            title="Click to view Employee">
            <div class="widget standard-widget widget-Employee-box">
              <div class="row">
                <div class="widget-caption success">
                  <div class="col-xs-4 no-pad">
                    <div class="up-arrow-outer-box">
                      <!-- <img src="../../../../assets/img/up-arrow.png" class="img-responsive " alt="user">
                      <span>+0%</span> -->
                      <i class="fa fa-user-plus" aria-hidden="true"
                        style="font-size: 50px; color:#74ba28 !important;"></i>
                    </div>
                  </div>
                  <div class="col-xs-8 no-pad">
                    <div class="widget-detail">
                      <span>New Employees <p style="font-size: 10px;">( {{get_employee_list_data.cur_monthyr}}) </p>
                      </span>
                      <h3>{{get_employee_list_data.new_employees}}</h3>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 cur-ptr" (click)="routeToEmployee('joining-pending')"
            title="Click to view Employee">
            <div class="widget standard-widget widget-Employee-box">
              <div class="row">
                <div class="widget-caption success">
                  <div class="col-xs-4 no-pad">
                    <div class="up-arrow-outer-box">
                      <!-- <img src="../../../../assets/img/up-arrow.png" class="img-responsive " alt="user">
                      <span>+0%</span> -->
                      <i class="fa fa-id-card" aria-hidden="true"
                        style="font-size: 50px; color:#cca1a1e8 !important;"></i>
                    </div>
                  </div>
                  <div class="col-xs-8 no-pad">
                    <div class="widget-detail">
                      <span>Joining Pending<p style="font-size: 10px;">&nbsp;</p></span>
                      <h3>{{get_employee_list_data.joining_pending}}</h3>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6" style="display: none;">
            <div class="widget standard-widget widget-Employee-box">
              <div class="row">
                <div class="widget-caption warning">
                  <div class="col-xs-4 no-pad">
                    <div class=" up-arrow-outer-box">
                      <img src="../../../../assets/img/up-arrow.png" class="img-responsive " alt="user">
                      <span>+0%</span>
                    </div>
                  </div>
                  <div class="col-xs-8 no-pad">
                    <div class="widget-detail">
                      <span>Today's Attendance</span>
                      <h3>{{get_employee_list_data.today_s_attendance}}</h3>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="row mrg-bot-20">

          <div class="col-md-12 col-sm-12 mrg-top-20">

            <h3 class="dashboard-employee-title-box Attendance-title-top-box ">Attendance</h3>

          </div>

          <div class="col-md-12">
            <div class="card Attendance-listing-outer-box">
              <div class="row">

                <div class="col-md-3 col-sm-6" (click)="routeToAttReport('')" style="cursor: pointer;">
                  <div class="widget standard-widget widget-Employee-box widget-Attendance-box success-Attendance-box">
                    <div class="row">
                      <div class="widget-caption info ">
                        <div class="col-xs-9 no-pad">
                          <i class="icon fa fa-users" aria-hidden="true"></i>

                        </div>
                        <div class="col-xs-3 no-pad">
                          <div class="widget-detail">
                            <h3>{{get_employee_attendance_data.total_employees}}</h3>
                            <span>Employees</span>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6" (click)="routeToAttReport('Present')" style="cursor: pointer;">
                  <div class="widget standard-widget widget-Employee-box widget-Attendance-box warning-Attendance-box">
                    <div class="row">
                      <div class="widget-caption danger">
                        <div class="col-xs-9 no-pad">
                          <i class="icon fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-3 no-pad">
                          <div class="widget-detail">

                            <h3>{{get_employee_attendance_data.cnt_present}}</h3>
                            <span>Present</span>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6" (click)="routeToAttReport('Abesnt')" style="cursor: pointer;">
                  <div class="widget standard-widget widget-Employee-box widget-Attendance-box info-Attendance-box">
                    <div class="row">
                      <div class="widget-caption success">
                        <div class="col-xs-9 no-pad">
                          <i class="icon fa fa-thumbs-down" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-3 no-pad">
                          <div class="widget-detail">

                            <h3>{{get_employee_attendance_data.cnt_absent}}</h3>
                            <span>Absent</span>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6" (click)="routeToAttReport('LateComers')" style="cursor: pointer;">
                  <div class="widget standard-widget widget-Employee-box widget-Attendance-box danger-Attendance-box">
                    <div class="row">
                      <div class="widget-caption warning">
                        <div class="col-xs-9 no-pad">
                          <i class="icon fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-3 no-pad">
                          <div class="widget-detail">

                            <h3>{{get_employee_attendance_data.lete_corner}}</h3>
                            <span>Late Comers</span>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>



        <div class="row">

          <div class="col-md-12 col-sm-12 ">

            <h3 class="dashboard-employee-title-box">Birthdays / Holidays</h3>

          </div>




          <div class="col-md-4">
            <div class="card">

              <div class="card-header">
                <h4>Today's Birthdays</h4>
              </div>
              <div class="card-body leave-scroll-outer-box">
                <div class="todo-list todo-list-hover todo-list-divided">
                  <div *ngIf="!get_employee_birthday_data || get_employee_birthday_data.length === 0" class="no-data">
                    No data to show
                  </div>

                  <ng-container *ngFor="let gebd of get_employee_birthday_data; let i=index;">
                    <div class="todo todo-default">
                      <div class="sm-avater list-avater">
                        <!-- src=". -1.jpg" -->
                        <!-- <img src="{{gebd.employee_photo}}" class="img-responsive img-circle" alt=""> -->
                        <img src="{{gebd.employee_photo}}" class="img-responsive img-circle" alt="user-images"
                          *ngIf="(gebd.employee_photo!= '' && gebd.employee_photo != null)">
                        <div class="img-responsive txt circular-name"
                          *ngIf="(gebd.employee_photo == '' || gebd.employee_photo == null)" alt="user">
                          {{gebd?.emp_name.charAt(0)}}{{gel?.emp_name.charAt(gebd?.emp_name.indexOf('
                          ') + 1)}}</div>
                      </div>
                      <h5 class="ct-title">{{gebd?.emp_name}}<span class="ct-designation">{{gebd.post_offered}}</span>
                      </h5>
                      <div class="badge badge-action" style="display: none;">
                        <a class="btn btn-user btn-primary btn-round btn-outline">{{gebd.btn_txt}}</a>
                      </div>
                    </div>
                  </ng-container>

                </div>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div class="card">

              <div class="card-header">
                <h4>Employees on Leave</h4>
              </div>


              <div class="card-body leave-scroll-outer-box">
                <div class="todo-list todo-list-hover todo-list-divided">
                  <div *ngIf="!get_employee_leave_data || get_employee_leave_data.length === 0" class="no-data">
                    No data to show
                  </div>
                  <ng-container *ngFor="let gel of get_employee_leave_data; let i=index;">
                    <div class="todo todo-default">
                      <div class="job-img">
                        <!-- src=". -3.jpg" -->
                        <!-- <img src="{{gel.employee_photo}}" class="img-responsive img-circle" alt=""> -->

                        <img src="{{gel.employee_photo}}" class="attachment-thumbnail" alt="user-images"
                          *ngIf="(gel.employee_photo!= '' && gel.employee_photo != null)">
                        <div class="img-responsive txt circular-name"
                          *ngIf="(gel.employee_photo == '' || gel.employee_photo == null)" alt="user">
                          {{gel?.emp_name.charAt(0)}}{{gel?.emp_name.charAt(gel?.emp_name.indexOf('
                          ') + 1)}}</div>


                      </div>
                      <h5 class="ct-title">{{gel?.emp_name}}<span class="ct-designation">{{gel.post_offered}}</span>
                      </h5>
                      <div class="badge badge-action">
                        <a class="btn btn-user btn-warning btn-round btn-outline">{{gel.fromdate}} to {{gel.todate}}</a>
                      </div>
                    </div>
                  </ng-container>

                  <!-- <div class="todo todo-default">
                    <div class="sm-avater list-avater">
                      <img class="img-responsive img-circle" alt="">

                    </div>
                    <h5 class="ct-title">Michel Chark<span class="ct-designation">App Designer</span></h5>
                    <div class="badge badge-action">
                      <a
                        class="btn btn-user btn-warning btn-round btn-outline">Half day</a>
                    </div>
                  </div>
                  <div class="todo todo-default">
                    <div class="sm-avater list-avater">
                      <img class="img-responsive img-circle" alt="">

                    </div>
                    <h5 class="ct-title">Michel Chark<span class="ct-designation">Web Developer</span></h5>
                    <div class="badge badge-action">
                      <a
                        class="btn btn-user btn-warning btn-round btn-outline">Early leave</a>
                    </div>
                  </div>
                  <div class="todo todo-default">
                    <div class="sm-avater list-avater">
                      <img class="img-responsive img-circle" alt="">

                    </div>
                    <h5 class="ct-title">Michel Chark<span class="ct-designation">UI/UX Designer</span></h5>
                    <div class="badge badge-action">
                      <a
                        class="btn btn-user btn-warning btn-round btn-outline">Apr 23 to Apr 28</a>
                    </div>
                  </div>
                  <div class="todo todo-default">
                    <div class="sm-avater list-avater">
                      <img class="img-responsive img-circle" alt="">
                      <span class="user-status bage-status"></span>
                    </div>
                    <h5 class="ct-title">Michel Chark<span class="ct-designation">SEO Expert</span></h5>
                    <div class="badge badge-action">
                      <a
                        class="btn btn-user btn-warning btn-round btn-outline">Apr 25 to Apr 26</a>
                    </div>
                  </div> -->
                </div>
              </div>

            </div>
          </div>



          <div class="col-md-4">
            <div class="card">

              <div class="card-header">
                <div class="pull-right holidays-list-box">
                  <!-- <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="ti-more"></i>
                    </button>
                    <ul class="dropdown-menu pull-right animated flipInX">
                      <li><a href="https://demo.1akal.in/tpay/tpay_v1/dashboard.html#">All</a></li>
                      <li><a href="https://demo.1akal.in/tpay/tpay_v1/dashboard.html#">January</a></li>
                      <li><a href="https://demo.1akal.in/tpay/tpay_v1/dashboard.html#">February</a></li>
                      <li><a href="https://demo.1akal.in/tpay/tpay_v1/dashboard.html#">March</a></li>
                      <li><a href="https://demo.1akal.in/tpay/tpay_v1/dashboard.html#">April</a></li>
                      <li><a href="https://demo.1akal.in/tpay/tpay_v1/dashboard.html#">May</a></li>
                      <li><a href="https://demo.1akal.in/tpay/tpay_v1/dashboard.html#">June</a></li>
                      <li><a href="https://demo.1akal.in/tpay/tpay_v1/dashboard.html#">July</a></li>
                      <li><a href="https://demo.1akal.in/tpay/tpay_v1/dashboard.html#">August</a></li>
                      <li><a href="https://demo.1akal.in/tpay/tpay_v1/dashboard.html#">September</a></li>
                      <li><a href="https://demo.1akal.in/tpay/tpay_v1/dashboard.html#">October</a></li>
                      <li><a href="https://demo.1akal.in/tpay/tpay_v1/dashboard.html#">November</a></li>
                      <li><a href="https://demo.1akal.in/tpay/tpay_v1/dashboard.html#">Decembe</a></li>
                    </ul>
                  </div> -->
                </div>
                <h4>Current Month Holidays <span> <select style="font-size: 10px;width: 35%;margin-left: 2%;"
                      [(ngModel)]="sel_state" (change)="changeState($event)">
                      <option *ngFor="let smd of state_master_data" [value]="smd.state.toUpperCase()">{{smd.state}}
                      </option>
                    </select> </span></h4>
              </div>


              <div class="card-body leave-scroll-outer-box">
                <div class="todo-list todo-list-hover todo-list-divided">
                  <div *ngIf="!get_employee_holidays_data || get_employee_holidays_data.length === 0" class="no-data">
                    No data to show
                  </div>
                  <ng-container *ngFor="let gehd of get_employee_holidays_data; let i=index;">
                    <div class="todo todo-default">
                      <div class="sm-avater list-avater date-month-outer-box">

                        <strong>{{get_holiday_date(gehd.holiday_date)}}</strong>
                        <b>{{get_holiday_month(gehd.holiday_date)}}</b>

                      </div>
                      <h5 class="ct-title">{{gehd.holiday_name}}</h5>
                      <div class="badge badge-action">
                        <a class="btn btn-user btn-info btn-round btn-outline">{{gehd.holiday_type}}</a>
                      </div>
                    </div>
                  </ng-container>

                  <!-- <div class="todo todo-default">
                    <div class="sm-avater list-avater date-month-outer-box">

                      <strong>15</strong>
                      <b>Aug</b>


                    </div>
                    <h5 class="ct-title">Independence Day</h5>
                    <div class="badge badge-action">
                      <a
                        class="btn btn-user btn-info btn-round btn-outline">Public</a>
                    </div>
                  </div>
                  <div class="todo todo-default">
                    <div class="sm-avater list-avater date-month-outer-box">

                      <strong>2</strong>
                      <b>Oct</b>


                    </div>
                    <h5 class="ct-title">Gandhi Jayanti </h5>
                    <div class="badge badge-action">
                      <a
                        class="btn btn-user btn-info btn-round btn-outline">Public</a>
                    </div>
                  </div>
                  <div class="todo todo-default">
                    <div class="sm-avater list-avater date-month-outer-box">

                      <strong>1</strong>
                      <b>Jan</b>


                    </div>
                    <h5 class="ct-title">New Year's Day</h5>
                    <div class="badge badge-action">
                      <a
                        class="btn btn-user btn-info btn-round btn-outline">Public</a>
                    </div>
                  </div>
                  <div class="todo todo-default">
                    <div class="sm-avater list-avater date-month-outer-box">

                      <strong>8</strong>
                      <b>Mar</b>


                    </div>
                    <h5 class="ct-title">Holi</h5>
                    <div class="badge badge-action">
                      <a
                        class="btn btn-user btn-info btn-round btn-outline">Public</a>
                    </div>
                  </div>





                  <div class="todo todo-default">
                    <div class="sm-avater list-avater date-month-outer-box">

                      <strong>30</strong>
                      <b>Aug</b>


                    </div>
                    <h5 class="ct-title">Raksha Bandhan</h5>
                    <div class="badge badge-action">
                      <a
                        class="btn btn-user btn-info btn-round btn-outline">Optional</a>
                    </div>
                  </div>
                  <div class="todo todo-default">
                    <div class="sm-avater list-avater date-month-outer-box">

                      <strong>24</strong>
                      <b>Oct</b>


                    </div>
                    <h5 class="ct-title">Dusshera</h5>
                    <div class="badge badge-action">
                      <a
                        class="btn btn-user btn-info btn-round btn-outline">Public</a>
                    </div>
                  </div>

                  <div class="todo todo-default">
                    <div class="sm-avater list-avater date-month-outer-box">

                      <strong>12</strong>
                      <b>Nov</b>


                    </div>
                    <h5 class="ct-title">Diwali (Deepawali)</h5>
                    <div class="badge badge-action">
                      <a
                        class="btn btn-user btn-info btn-round btn-outline">Public</a>
                    </div>
                  </div>
                  <div class="todo todo-default">
                    <div class="sm-avater list-avater date-month-outer-box">

                      <strong>13</strong>
                      <b>Nov</b>


                    </div>
                    <h5 class="ct-title">Govardhan Puja</h5>
                    <div class="badge badge-action">
                      <a
                        class="btn btn-user btn-info btn-round btn-outline">Optional</a>
                    </div>
                  </div>


                  <div class="todo todo-default">
                    <div class="sm-avater list-avater date-month-outer-box">

                      <strong>14</strong>
                      <b>Nov</b>


                    </div>
                    <h5 class="ct-title">Bhai Dooj </h5>
                    <div class="badge badge-action">
                      <a
                        class="btn btn-user btn-info btn-round btn-outline">Public</a>
                    </div>
                  </div>
                  <div class="todo todo-default">
                    <div class="sm-avater list-avater date-month-outer-box">

                      <strong>27</strong>
                      <b>Nov</b>


                    </div>
                    <h5 class="ct-title">Guru Nanak Jayanti</h5>
                    <div class="badge badge-action">
                      <a
                        class="btn btn-user btn-info btn-round btn-outline">Public</a>
                    </div>
                  </div>
                  <div class="todo todo-default">
                    <div class="sm-avater list-avater date-month-outer-box">

                      <strong>25</strong>
                      <b>Dec</b>


                    </div>
                    <h5 class="ct-title">Christmas</h5>
                    <div class="badge badge-action">
                      <a
                        class="btn btn-user btn-info btn-round btn-outline">Optional</a>
                    </div>
                  </div> -->

                </div>
              </div>

            </div>
          </div>






        </div>




        <!-- <div class="row">

          <div class="col-md-12 col-sm-12 ">
            <h3 class="dashboard-employee-title-box">Payout</h3>
          </div>

          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white mrg-bot-5">
                  <div class="card-header">
                    <h4>Total Employee</h4>
                  </div>
                  <div class="card-body">
                    <img src="../../../../assets/img/payout-bg.svg" class="card-img-absolute" alt="circle">

                    <h2 class="mb-5">15,76000</h2>
                    <h4 class="font-weight-normal mb-3">Employe </h4>
                  </div>
                </div>
              </div>
              <div class="col-md-12 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white mrg-bot-5">
                  <div class="card-header">
                    <h4>Salary Per Month</h4>
                  </div>
                  <div class="card-body">
                    <img src="../../../../assets/img/payout-bg.svg" class="card-img-absolute" alt="circle">
                    <h2 class="mb-5">51,52,640</h2>
                    <h4 class="font-weight-normal mb-3">BDT </h4>
                  </div>
                </div>
              </div>
              <div class="col-md-12 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white mrg-bot-5">
                  <div class="card-header">
                    <h4>Provident Fund</h4>
                  </div>
                  <div class="card-body">
                    <img src="../../../../assets/img/payout-bg.svg" class="card-img-absolute" alt="circle">
                    <h2 class="mb-5">21,12,640</h2>
                    <h4 class="font-weight-normal mb-3">BDT </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 stretch-card grid-margin">
            <div class="card bg-gradient-success1 card-img-holder text-white mrg-bot-5">
              <div class="card-header">
                <h4>Grade Wise Salary</h4>
              </div>
              <div class="card-body">

                <div id="columnchart_material" style="width: 100%; height: 400px;">
                  <div style="position: relative; width: 797px; height: 400px;">
                    <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;"><svg width="797"
                        height="400">
                        <defs>
                          <clippath id="rablfilter0">
                            <rect x="31.5" y="47.5" width="645" height="300"></rect>
                          </clippath>
                        </defs>
                        <g>
                          <rect x="0" y="0" width="797" height="400" fill="#ffffff" fill-opacity="1" stroke="#ffffff"
                            stroke-opacity="0" stroke-width="0"></rect><text x="0" y="0"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 16px;"
                            fill="#757575" dx="0px"></text><text x="0" y="8"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 14px;"
                            fill="#BDBDBD" dx="0px"></text>
                          <rect x="717.25" y="47.5" width="12" height="12" rx="2" ry="2" fill="#4285f4"></rect><text
                            x="737.25" y="60.5"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto;"
                            fill="#757575" dx="0px">Sales</text>
                          <rect x="717.25" y="80.5" width="12" height="12" rx="2" ry="2" fill="#db4437"></rect><text
                            x="737.25" y="93.5"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto;"
                            fill="#757575" dx="0px">Expenses</text>
                          <rect x="717.25" y="113.5" width="12" height="12" rx="2" ry="2" fill="#f4b400"></rect><text
                            x="737.25" y="126.5"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto;"
                            fill="#757575" dx="0px">Profit</text>
                          <rect x="31.5" y="47.5" width="645" height="300" fill="#ffffff" fill-opacity="1"
                            stroke="#ffffff" stroke-opacity="0" stroke-width="1"></rect>
                        </g>
                        <g>
                          <line x1="31.5" x2="676.5" y1="347.5" y2="347.5" stroke="#9E9E9E" stroke-width="1"></line>
                          <line x1="31.5" x2="676.5" y1="297.5" y2="297.5" stroke="#E0E0E0" stroke-width="1"></line>
                          <line x1="31.5" x2="676.5" y1="247.5" y2="247.5" stroke="#E0E0E0" stroke-width="1"></line>
                          <line x1="31.5" x2="676.5" y1="197.5" y2="197.5" stroke="#E0E0E0" stroke-width="1"></line>
                          <line x1="31.5" x2="676.5" y1="147.5" y2="147.5" stroke="#E0E0E0" stroke-width="1"></line>
                          <line x1="31.5" x2="676.5" y1="97.5" y2="97.5" stroke="#E0E0E0" stroke-width="1"></line>
                          <line x1="31.5" x2="676.5" y1="47.5" y2="47.5" stroke="#E0E0E0" stroke-width="1"></line>
                        </g>
                        <g>
                          <path
                            d="M 77.86301369863013 98 A 2 2 0 0 1 79.86301369863013 100 L 79.86301369863013 347 A 0 0 0 0 1 79.86301369863013 347 L 44 347 A 0 0 0 0 1 44 347 L 44 100 A 2 2 0 0 1 46 98 Z"
                            fill="#4285f4" clip-path="url(#rablfilter0)"></path>
                          <path
                            d="M 114.72602739726027 248 A 2 2 0 0 1 116.72602739726027 250 L 116.72602739726027 347 A 0 0 0 0 1 116.72602739726027 347 L 80.86301369863013 347 A 0 0 0 0 1 80.86301369863013 347 L 80.86301369863013 250 A 2 2 0 0 1 82.86301369863013 248 Z"
                            fill="#db4437" clip-path="url(#rablfilter0)"></path>
                          <path
                            d="M 151.5890410958904 298 A 2 2 0 0 1 153.5890410958904 300 L 153.5890410958904 347 A 0 0 0 0 1 153.5890410958904 347 L 117.72602739726027 347 A 0 0 0 0 1 117.72602739726027 347 L 117.72602739726027 300 A 2 2 0 0 1 119.72602739726027 298 Z"
                            fill="#f4b400" clip-path="url(#rablfilter0)"></path>
                          <path
                            d="M 247.99999999999994 55.5 A 2 2 0 0 1 249.99999999999994 57.5 L 249.99999999999994 347 A 0 0 0 0 1 249.99999999999994 347 L 214.13698630136986 347 A 0 0 0 0 1 214.13698630136986 347 L 214.13698630136986 57.5 A 2 2 0 0 1 216.13698630136986 55.5 Z"
                            fill="#4285f4" clip-path="url(#rablfilter0)"></path>
                          <path
                            d="M 284.8630136986301 233 A 2 2 0 0 1 286.8630136986301 235 L 286.8630136986301 347 A 0 0 0 0 1 286.8630136986301 347 L 250.99999999999994 347 A 0 0 0 0 1 250.99999999999994 347 L 250.99999999999994 235 A 2 2 0 0 1 252.99999999999994 233 Z"
                            fill="#db4437" clip-path="url(#rablfilter0)"></path>
                          <path
                            d="M 321.72602739726017 285.5 A 2 2 0 0 1 323.72602739726017 287.5 L 323.72602739726017 347 A 0 0 0 0 1 323.72602739726017 347 L 287.8630136986301 347 A 0 0 0 0 1 287.8630136986301 347 L 287.8630136986301 287.5 A 2 2 0 0 1 289.8630136986301 285.5 Z"
                            fill="#f4b400" clip-path="url(#rablfilter0)"></path>
                          <path
                            d="M 418.13698630136986 183 A 2 2 0 0 1 420.13698630136986 185 L 420.13698630136986 347 A 0 0 0 0 1 420.13698630136986 347 L 384.27397260273966 347 A 0 0 0 0 1 384.27397260273966 347 L 384.27397260273966 185 A 2 2 0 0 1 386.27397260273966 183 Z"
                            fill="#4285f4" clip-path="url(#rablfilter0)"></path>
                          <path
                            d="M 455 68 A 2 2 0 0 1 457 70 L 457 347 A 0 0 0 0 1 457 347 L 421.13698630136986 347 A 0 0 0 0 1 421.13698630136986 347 L 421.13698630136986 70 A 2 2 0 0 1 423.13698630136986 68 Z"
                            fill="#db4437" clip-path="url(#rablfilter0)"></path>
                          <path
                            d="M 491.86301369863014 273 A 2 2 0 0 1 493.86301369863014 275 L 493.86301369863014 347 A 0 0 0 0 1 493.86301369863014 347 L 458 347 A 0 0 0 0 1 458 347 L 458 275 A 2 2 0 0 1 460 273 Z"
                            fill="#f4b400" clip-path="url(#rablfilter0)"></path>
                          <path
                            d="M 588.2739726027396 90.5 A 2 2 0 0 1 590.2739726027396 92.5 L 590.2739726027396 347 A 0 0 0 0 1 590.2739726027396 347 L 554.4109589041095 347 A 0 0 0 0 1 554.4109589041095 347 L 554.4109589041095 92.5 A 2 2 0 0 1 556.4109589041095 90.5 Z"
                            fill="#4285f4" clip-path="url(#rablfilter0)"></path>
                          <path
                            d="M 625.1369863013698 213 A 2 2 0 0 1 627.1369863013698 215 L 627.1369863013698 347 A 0 0 0 0 1 627.1369863013698 347 L 591.2739726027396 347 A 0 0 0 0 1 591.2739726027396 347 L 591.2739726027396 215 A 2 2 0 0 1 593.2739726027396 213 Z"
                            fill="#db4437" clip-path="url(#rablfilter0)"></path>
                          <path
                            d="M 662 260.5 A 2 2 0 0 1 664 262.5 L 664 347 A 0 0 0 0 1 664 347 L 628.1369863013698 347 A 0 0 0 0 1 628.1369863013698 347 L 628.1369863013698 262.5 A 2 2 0 0 1 630.1369863013698 260.5 Z"
                            fill="#f4b400" clip-path="url(#rablfilter0)"></path>
                        </g>
                        <g></g>
                        <g><text x="98.79452054794521" y="364.5"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                            fill="#757575" dx="-13.4765625px">2020</text><text x="268.93150684931504" y="364.5"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                            fill="#757575" dx="-13.4765625px">2021</text><text x="439.0684931506849" y="364.5"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                            fill="#757575" dx="-13.4765625px">2022</text><text x="609.2054794520548" y="364.5"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                            fill="#757575" dx="-13.4765625px">2023</text><text x="354" y="396.5"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                            fill="#424242" dx="-11.890625px">Year</text><text x="25.5" y="351.5"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                            fill="#757575" dx="-6.75px">0</text><text x="25.5" y="301.5"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                            fill="#757575" dx="-20.21875px">200</text><text x="25.5" y="251.5"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                            fill="#757575" dx="-20.21875px">400</text><text x="25.5" y="201.5"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                            fill="#757575" dx="-20.21875px">600</text><text x="25.5" y="151.5"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                            fill="#757575" dx="-20.21875px">800</text><text x="25.5" y="101.5"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                            fill="#757575" dx="-14.265625px">1K</text><text x="25.5" y="51.5"
                            style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                            fill="#757575" dx="-24.171875px">1.2K</text></g>
                        <g></g>
                        <g></g>
                        <g></g>
                      </svg></div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div> -->




        <!-- /row -->
      </div>
    </div>
  </div>

</section>