.page-titles h3.text-themecolor {
    margin-top: 0;
}

h3.text-themecolor {
    margin-bottom: 0;
    font-weight: 500;
    color: #1a6bb7;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 8px;
}

.form-control {
    height: 50px;
    border: 1px solid #dde6ef;
    margin-bottom: 10px;
    box-shadow: none;
    border-radius: 0;
    background: #fbfdff;
    font-size: 15px;
    color: #6b7c8a;
    font-weight: 400;
}
.form-control {
    color: #607d8b;
    font-size: 15px;
    height: 40px;
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid #e8eef1;
}

html body .padd-top-15 {
    padding-top: 15px;
}
label {
    font-weight: 500;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem 1.25rem 3rem 1.25rem;
}
.card-header {
    background: #ffffff;
    border-bottom: 0px;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid #e8eef1;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    color: #5d616d;
    line-height: 32px;
    padding-left: 15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #eef5f9;
    border: 1px solid #d9e4ea;
    border-radius: 2px;
    margin-top: 8px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid 1px #e8eef1;
    outline: 0;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #e3e5ea 1px;
    outline: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #eef1f5;
    border: 1px solid #e3e7ec;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 6px;
    line-height: 1.2;
    padding: 5px 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

/* Add any necessary styling for the video and canvas elements */
.video-wrap {
    margin-bottom: 20px;
  }
  .canvas-box {
    margin-top: 20px;
  }
  
  .take-picture-box {
    height: 200px;
}

.take-picture-box img.img-responsive {
    height: 100%;
    margin: 0 auto;
    border: 10px solid #dfdfdf;
    border-radius: 20px;
}