<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<section>
	<div id="wrapper" [ngClass]="{'active': showSidebar==false}">
		<div class="fakeLoader"></div>

		<div id="page-wrapper">
			<div class="row page-titles">
				<div class="col-md-5 align-self-center">
					<h3 class="text-themecolor">Update Visitor</h3>
				</div>
				<div class="col-md-7 align-self-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a [routerLink]="['/visitor/all_visitor']">All Visitor</a></li>

						<li class="breadcrumb-item active">Update Visitor</li>
					</ol>
				</div>
			</div>

                <div class="container-fluid">
					<!-- /row -->
					<div class="row">
					
					
					<div class="col-md-8 col-md-offset-2 mrg-top-25 mrg-bot-25">
						<form [formGroup]="basic_detail_form" autocomplete="off">
					
						<!-- General Information -->
						<div class="card" style="z-index: 2;">
						
							<div class="card-header">
									<h4>Basic Details</h4>
									
								</div>
							
							<div class="card-body">
								<div class="row">
								
								<div class="col-md-12 padd-top-15">
								
									<div class="col-sm-6 mrg-bot-15">
										<label>First Name <span  class="text-danger">*</span></label>
										<input  type="text" placeholder="Enter First Name" formControlName="p_visitor_name" maxlength="100" class="form-control">
										<div *ngIf="basic_detail_form.get('p_visitor_name').invalid && basic_detail_form.get('p_visitor_name').touched" class="text-danger">
											First Name is required and should contain only alphabetic characters.
										</div>
									</div>
									
								<div class="col-sm-6 mrg-bot-15">
										<label>Last Name <span  class="text-danger">*</span></label>
										<input  type="text" placeholder="Enter Last Name" formControlName="p_visitor_last_name" maxlength="100" class="form-control">
										<div *ngIf="basic_detail_form.get('p_visitor_last_name').invalid && basic_detail_form.get('p_visitor_last_name').touched" class="text-danger">
											Last Name is required and should contain only alphabetic characters.
										</div>
									</div>	
									
									<div class="col-sm-6 mrg-bot-15">
										<label>Mobile Number <span  class="text-danger">*</span></label>
										<input  type="text" placeholder="Enter Mobile Number" formControlName="p_visitor_mobile" maxlength="10" class="form-control"  pattern="^[6-9]{1}[0-9]{9}$" required>
										<div *ngIf="basic_detail_form.get('p_visitor_mobile').invalid && basic_detail_form.get('p_visitor_mobile').touched" class="text-danger" (keypress)="keyPress($event)">
											Mobile number is required and should be a 10-digit number starting with a digit between 6 and 9.
										</div>
									</div>
									
									
									<div class="col-sm-6 mrg-bot-15">
										<label>Email (Optional)</label>
										<input  type="text" placeholder="Enter Email Id  " maxlength="100" formControlName="p_visitor_email" class="form-control">
									</div>
									
									<div class="col-sm-6 mrg-bot-15">
										<label>Date & Time of Visit <span class="text-danger">*</span></label>
										<input id="date" #rd style="cursor: pointer;" placeholder="Select Date & Time" formControlName="p_visit_date_time" class="form-control">
									  </div>									  
								
									<div class="col-sm-6 mrg-bot-15">
										<label>Person to Meet <span class="text-danger">*</span></label>
										<select class="form-control" formControlName="p_person_to_meet">
										  <option *ngFor="let employeeName of employeeNames" [value]="employeeName">{{ employeeName }}</option>
										</select>
									  </div>
									  
									
									<div class="col-sm-12 mrg-bot-15">
                                       <label>Purpose of Visit <span class="text-danger">*</span></label>
                                       <textarea class="form-control" rows="5" formControlName="p_purpose_of_visit" id="comment"></textarea>
                                    </div>
									
									
									<div class="col-sm-12">
										<label>Assign Visiting Card</label>
										<ng-multiselect-dropdown
										  [placeholder]="'Select Visiting Cards'"
										  [data]="dropdownList"
										  [settings]="dropdownSettings"
										  [(ngModel)]="selectedItems"
										  (onSelect)="onItemSelect($event)"
										  (onDeSelect)="onItemDeSelect($event)"
										  formControlName="p_assign_visiting_card"
										></ng-multiselect-dropdown>
										<!-- <input  type="text" placeholder="Enter Visting Card " maxlength="100" formControlName="p_assign_visiting_card" class="form-control"> -->
									  </div>
									
									
									
								</div>

									
									
								</div>		
							</div>
						</div>

                        
						<div class="card" style="z-index: 1;">
						
							<div class="card-header">
									<h4>Address</h4>
									
								</div>
							
							<div class="card-body">
								<div class="row">
								
								<div class="col-md-12 padd-bot-15 padd-top-15">
								
								<div class="col-sm-6">
                                       <label>Address Line 1 <span class="text-danger">*</span></label>
                                       <input type="text" class="form-control" formControlName="p_address1" placeholder="Address Line 1">
                                    </div>
									
								<div class="col-sm-6">
                                       <label>Address Line 2</label>
                                       <input type="text" class="form-control" formControlName="p_address2" placeholder="Address Line 2">
                                    </div>
									
									<div class="col-sm-6">
                                       <label>City <span class="text-danger">*</span></label>
                                       <input type="text" class="form-control" formControlName="p_city" placeholder="City">
                                    </div>
									
									<div class="col-sm-6">
                                       <label>State <span class="text-danger">*</span></label>
                                       <input type="text" class="form-control" formControlName="p_state" placeholder="State">
                                    </div>
									
									<div class="col-sm-6">
                                       <label>Pincode <span class="text-danger">*</span></label>
                                       <input type="text" class="form-control" formControlName="p_pincode" placeholder="Pincode">
                                    </div>
									
									<div class="col-sm-6">
										<label>Country  <span  class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="p_country" placeholder="Country">
										<!-- <select class="form-control" formControlName="p_country">
												<option value="1">India</option>
												
											</select> -->
									</div>
								
								</div>
								
						
									
									
								</div>		
							</div>
						</div>
						
						<div class="card" style="margin-bottom:0;z-index: 3;">
						
							<div class="card-header">
									<h4>Identity Details  </h4>
									
								</div>
							
							<div class="card-body">
								<div class="row">
								
									<div class="col-md-12 padd-bot-15 padd-top-15">
										<div class="text-center">
										  <!-- Stream video via webcam -->
										  <div class="video-wrap" [hidden]="!imageDataUrl?.includes('data:,')">
											<video id="video" playsinline autoplay></video>
										  </div>
									  
										  <!-- Button to open front web camera and take a picture p_identity_details-->
										  <!-- <button id="snap" class="btn btn-info" style="margin-bottom:20px;"  (click)="takePicture()">Take Picture</button> -->
									
										  <!-- Canvas to display the captured image -->
										  <canvas class="canvas-box" style="display:none;" id="canvas" width="150" height="104">
										</canvas>
										<div class="take-picture-box">
										  <img  [src]="selectedRowsParams.identity_details" class="img-responsive">
										</div>
										  <!-- <img *ngIf="imageDataUrl" [src]="imageDataUrl" > -->
										</div>
									  </div>									  
									
								</div>		
							</div>
						</div>

                        <!-- <div class="row">
								
                            <div class="col-md-12 padd-bot-15 padd-top-15">
                            
                                
                                <div class="col-md-12 col-12 text-center">
                                        <a  class="btn btn-primary" (click)="update_visitor()">Update Visitor</a>
                                    </div>
                            
                            </div>
                            
                    
                                
                                
                            </div> -->
                        </form>
						
            </div>
        </div>
                </div>
        </div>
    </div>
</section>