

[type="radio"] {
  display: inline !important
}

body {
    background-color: #eef5f9;
  }
  body {
    background: #eee;
  }

  .bgWhite {
    background: white;
    box-shadow: 0px 3px 6px 0px #cacaca;
  }

  .title {
    font-weight: 600;
    margin-top: 20px;
    font-size: 24px;
  }

  .customBtn {
    border-radius: 0px;
    padding: 10px;
  }

  form.otp-box input {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
  }

  #wrapper {
    padding-left: 0;
  }

  .active-button {
    background-color: #007bff; /* Change to your desired active button style */
    color: grey;
  }
  .login-with-email-phone-box button.btn.btn-info.active {
    background: #3eaef2 !important;
    color: #fff !important;
  }
  .login-with-email-phone-box button.btn.btn-info {
    background: #b3b3b3;
    border-color: #ffffff;
  }
  .logo-panel-heading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .login-panel .panel-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .btn:active:focus,
  .btn:focus {
    outline: none;
  }

  .login-panel.panel.panel-default {
    margin-top: 20px;
    padding: 0;
  }






  @media (min-width: 768px) {
    #wrapper {
      padding-left: 0;
    }
  }

  .cur-ptr {
    cursor: pointer;
  }

  .read-only {
    pointer-events: none;
  }

  /**********************************************************/
  .input-icons i {
    position: absolute;
  }

  .input-icons {
    width: 100%;
    margin-bottom: 10px;
  }

  .icon {
    cursor: pointer;
    font-size: 1.7rem;
    /* top: 3.4rem;
    right: 2rem;
    padding: 10px; */
    min-width: 40px;
  }

  .login-panel form {
    padding: 0!important;
  }
  .text-success {
    color: #3c763d;
}
  p.Signup-now-text-box {
    padding: 15px 0 0 0;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
    color: #000;
  }

  p.Signup-now-text-box a {
    color: #0091ff;
    font-weight: 600;
  }

  .logo-panel-heading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.login-panel.panel.panel-default {
    margin-top: 20px;
    padding: 0;
}
.Appointment-outer-box.Salary-Details-outer-box.ng-tns-c879923212-0 .cls-pay-now {
  padding: 0 30px 30px 30px!important;
}
.Appointment-outer-box.Salary-Details-outer-box.ng-tns-c879923212-0 .cls-pay-now h4 {
  padding: 10px 0px 0 0;
}

.login-with-email-phone-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 28px !important;
}
.login-with-email-phone-box button.btn.btn-info {
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
.login-with-email-phone-box button.btn.btn-info:hover {
    background: #3eaef2 !important;
    color: #fff !important;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.modal-footer.text-center {
  cursor: default;
    text-align: center;
    font-size: 12px;
    color: #959393;
}
.login-panel .form-control {
    border-radius: 4px !important;
}

p.Resend-OTP-btn {
    text-align: right;
    color: #0c97ff;
}

img {
    vertical-align: middle;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.text-success {
  color: #3c763d;
}

.text-center {
  text-align: center;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.login-with-email-phone-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 28px !important;
}
.login-with-email-phone-box button.btn.btn-info {
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
.login-with-email-phone-box button.btn.btn-info:hover {
    background: #3eaef2 !important;
    color: #fff !important;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.modal-footer.text-center {
    text-align: center;
    font-size: 12px;
    color: #959393;
}
.login-panel .form-control {
    border-radius: 4px !important;
}
.form-group.signup-form-box.Congratulations-btn-box .form-group {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.balance-message-box {
    color: #4ac70d;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
    background: #fff4f4;
    padding: 5px;
    border: 1px dashed #ffbcbc;
    text-align: center;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.payment-box.payment-box-listing h3 {
    font-size: 15px !important;
    padding: 15px 0 0 0 !important;
    /* color: #1a6bb7; */
}

.Reciept-No-box h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.tacbox-I-agree-box label {
    font-weight: 400;
}

p.Signup-now-text-box {
    padding: 15px 0 0 0;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
    color: #000;
}

p.Signup-now-text-box a {
    color: #0091ff;
    font-weight: 600;
}

 .signup-accordion-outer-box .employees-details-outer-box .accordion .panel-heading h4 {
    color: #1a6bb7!important;
    font-weight: 500!important;
} 

.employees-details-outer-box .card-header h4 {
  color: #ffffff !important;
}

.inline-span-container {
  display: inline-block !important;
}


.card-header h4 {
  margin: 0;
  color: #1a6bb7 !important;
  font-weight: 500 !important;
}

.plus-box {
  display: none;
  top: 11px;
}

.collapsed i.fa.fa-plus.plus-box {
  display: block!important;
  top: 11px;
}

.signup-accordion-outer-box .employees-details-outer-box .fa-plus, .signup-accordion-outer-box .employees-details-outer-box .fa-minus {
  right: 30px;
  top: 11px;
}

.collapsed i.fa.fa-plus.plus-box {
    display: block!important;
    top: 11px;
}
.signup-accordion-outer-box .employees-details-outer-box .fa-plus, .signup-accordion-outer-box .employees-details-outer-box .fa-minus {
    right: 30px;
    top: 11px;
}
.signup-accordion-outer-box .employees-details-outer-box .fa-plus, .signup-accordion-outer-box .employees-details-outer-box .fa-minus {
    float: right;
    font-size: 20px;
    position: absolute;
    right: 20px;
}

.signup-accordion-outer-box .employees-details-outer-box .accordion .panel-heading {
  position: relative ;
    background: #ffffff ;  
  padding: 8px 13px!important;
}

.login-panel .form-control {
  border-radius: 4px !important;
}
#accordion .panel-heading {
  padding: 0 ;
}
.employees-details-outer-box .card-header h4 {
  color: #ffffff;
}
.payment-box.payment-box-listing h3 {
  font-size: 15px !important;
  padding: 15px 0 0 0 !important;
  color: #1a6bb7 !important;
}

.Reciept-No-box h3 {
  font-size: 18px !important;
  font-weight: 600 !important;
  margin: 0 !important;
}
.employees-details-outer-box .card-header h4 {
  color: #ffffff !important;
}

.payment-box.payment-box-listing h4 {
  margin: 0;
  padding: 10px 0px;
}

.Reciept-No-box h4 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.employees-details-outer-box label {
  font-weight: 400;
}

.Salary-Details-outer-box .form-control {
  height: 40px !important;
    border: 1px solid #ebebeb !important;
    margin-bottom: 10px !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    /* background: #efefef !important; */
    font-size: 15px !important;
    color: #000000 !important;
    font-weight: 400 !important;
}

.card-header {
  background: #ffffff;
  border-bottom: 0px;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid #e8eef1;
}

.employees-details-outer-box .accordion .panel-heading {
  background: #1167b7;
  padding: 13px!important;
  width: 100%;
  display: block;
  color: #fff;
  cursor: pointer;
}

h3.com-you-onbor-outer-box {
  margin: 20px 0 !important;
  text-align: center;
}

 h3{
    font-weight: 400 !important;
    line-height: 1.382 !important;
    margin: 0 0 10px !important;
    margin: 0 0 1rem !important;
    color: #455a64 !important;
    font-size: 24px;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.collapsed i.fa.fa-minus.minus-box {
  display: none!important;
  top: 11px;
}

.login-panel .form-control {
  height: 52px;
  color: #607d8b;
  font-size: 16px;
  border-radius: 1px;
  background: #f3f7f9;
  border: #e8edef;
}

.form-group.state-city-box-inner {
  margin-right: 5px;
}

.form-group {
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
}

.state-city-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group.state-city-box-inner {
  margin-right: 5px !important;
}

.tacbox-I-agree-box input#checkbox {
  position: relative;
  opacity: 1;
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid #000;
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
  vertical-align: middle;
}

.employees-details-outer-box .card-header h4 {
  color: #ffffff !important;
}

.submit-btn {
  text-align: center;
  margin-bottom: 10px;
}

.inline-pos1 {
  position: absolute !important;
  bottom: 21px !important;
  right: 2rem !important;
}

.tacbox-I-agree-box > label {
  display: inline;
}

.Reciept-No-box {
  display: flex;
  color: #2020f7;
  justify-content: center;
  margin-top: 2rem;
}

.agg-cust {
  overflow: auto;
  height: 35rem;
  padding: 1.5rem;
}

h2.modal-title {
  color: #ffffff;
  float: left;
  font-weight: 400;
}
