<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<div id="wrapper" [ngClass]="{'active': showSidebar}">
  <div class="fakeLoader"></div>

  <div id="page-wrapper" style="margin-left: 0px;">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor" style="margin-left: 15px;">Imprest Reimbursement Approval</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" title="Home"><a [routerLink]="['/dashboard']">Home</a>
          </li>
          <li class="breadcrumb-item active">Imprest Reimbursement Approval</li>
        </ol>
      </div>
    </div>


    <div class="row" style="margin-left: 18px; margin-right: 7px;">
      <div class="col-md-12 col-sm-12">

        <div class="card-header caded-innder-head-box" style="padding-top: 6px;">
          <div class="col-md-3">
            <input type="hidden" id="recdate" (click)="filterFromToDateRequests('FromDate', 'ToDate')">

            <label style="color:#000; font-weight: 500;">From Date</label>
            <input id="FromDate" class="form-control" type="text" style="cursor: pointer;" placeholder="dd-mm-yyyy"
              autocomplete="off" readonly>
          </div>
          <div class="col-md-3">
            <label style="color:#000; font-weight: 500;">To Date</label>
            <input id="ToDate" class="form-control" type="text" style="cursor: pointer;" placeholder="dd-mm-yyyy"
              autocomplete="off" readonly>
          </div>

          <div class="col-sm-2">
            <label style="color:#000; font-weight: 500;">Status</label>
            <select class="wide form-control" (change)="changeStatusFilter()" [(ngModel)]="statusFilter"
              [ngModelOptions]="{standalone: true}">
              <option value="All">All</option>
              <option value="Pending">Pending</option>
              <option value="Approved">Approved</option>
              <option value="Rejected">Rejected</option>
            </select>
          </div>

          <div class="col-sm-2"></div>

          <!-- <div class="col-sm-2 text-right">
                    <a data-placement="top" class="btn btn-user btn-round btn-primary btn-primary-Add-Roles-btn"
                       style="margin-top: 28px;">Create Request</a>
                  </div> -->

        </div>
      </div>

      <div class="col-md-4 ">
        <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

          <div class="net-pay-section">
            <div class="title-inn_box">
              <span class="font-mm"><i class="fa fa-calendar-check-o" aria-hidden="true" style="color: green;"></i>
              </span> <span class="font-semibold font-mm">&nbsp; Approved </span>
            </div>
            <div class="row net-pay-data-without-bt">
              <div class="col-md-12">
                <div class="text-uppercase font-ms payrun-label">Total : <strong>{{tot_approved}}</strong></div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-4 ">
        <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

          <div class="net-pay-section">
            <div class="title-inn_box">
              <span class="font-mm"><i class="fa fa-calendar-o" aria-hidden="true"></i> </span>
              <span class="font-semibold font-mm">&nbsp; Pending </span>
            </div>
            <div class="row net-pay-data-without-bt">
              <div class="col-md-12">
                <div class="text-uppercase font-ms payrun-label">Total : <strong>{{tot_pending}}</strong></div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-4 ">
        <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

          <div class="net-pay-section">
            <div class="title-inn_box">
              <span class="font-mm"><i class="fa fa-times fa-lg" aria-hidden="true" style="color:red"></i> </span>
              <span class="font-semibold font-mm">&nbsp; Rejected </span>
            </div>
            <div class="row net-pay-data-without-bt">
              <div class="col-md-6">
                <div class="text-uppercase font-ms payrun-label">Total : <strong>{{tot_rejected}}</strong></div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="col-md-12 mrg-top-0 mrg-bot-25">
        <div class="card">
          <div class="card-body padd-bot-0 padd-top-0">

            <div class="row">
              <div class="col-md-12 padd-top-0">

                <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">
                  <table class="table user-list">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Employee</th>
                        <th *ngIf="decoded_token.isEmployer=='0'">Approval Level</th>
                        <th>Category Name</th>
                        <th>Date of Expense</th>
                        <th>Created On</th>
                        <th>Payment Mode</th>
                        <th>Amount Spent</th>
                        <th>Status</th>
                        <th>Attachment(s)</th>
                        <th>Action &nbsp;&nbsp;&nbsp;</th>
                      </tr>
                    </thead>

                    <tbody>
                      <ng-container *ngFor="let emp_wfh of wfhRequests; let i=index;">
                        <tr>
                          <td>{{i+1}}</td>
                          <td>
                            <h5 class="job-name">
                              <!-- href="https://demo.1akal.in/tpay/tpay_v1/list_view_details.html" -->
                              <a class="job_name_tag collapsed cur-ptr">
                                <div class="job-img">
                                  <!-- <img [src]="emp_wfh.employee_photo" class="attachment-thumbnail" alt=" "> -->
                                  <img src="{{emp_wfh.employee_photo}}" class="attachment-thumbnail" alt="user-images"
                                    *ngIf="(emp_wfh.employee_photo!= '' && emp_wfh.employee_photo != null)">
                                  <div class="img-responsive img-circle txt"
                                    *ngIf="(emp_wfh.employee_photo == '' || emp_wfh.employee_photo == null)" alt="user">
                                    {{emp_wfh.emp_name.charAt(0)}}{{emp_wfh.emp_name.charAt(emp_wfh.emp_name.indexOf('')
                                    + 1)}}</div>
                                </div>
                                {{emp_wfh.emp_name}}
                                <span *ngIf="emp_wfh.orgempcode; else elseBlock">
                                  [{{emp_wfh.orgempcode}}]
                                </span>
                                <ng-template #elseBlock>
                                  [{{emp_wfh.cjcode}}]
                                </ng-template>
                              </a>
                            </h5>
                          </td>
                          <td *ngIf="decoded_token.isEmployer=='0'">
                            {{emp_wfh.user_approval_level}} [{{emp_wfh.template_mode}}]
                          </td>
                          <td>{{emp_wfh.expense_category_name}} </td>
                          <td>{{(emp_wfh.date_of_expense)}}</td>
                          <td>{{emp_wfh.createdon}}</td>
                          <td>{{emp_wfh.payment_mode}}</td>
                          <td>{{emp_wfh.amount_spent}}</td>
                          <td>
                            <span
                              [ngClass]="{'pend-btn-ved1': emp_wfh.approval_status=='Pending', 'appro-btn-ved': emp_wfh.approval_status=='Approved', 'appro-btn-ved1': emp_wfh.approval_status=='Rejected'}"
                              class="appro-btn-ved">{{emp_wfh.approval_status}}
                              <ng-container
                                *ngIf="emp_wfh.approval_status=='Pending' && emp_wfh.is_workflow_applied=='Y'"><br>
                                at level - {{emp_wfh.wf_approval_cur_level}}
                              </ng-container>
                            </span>
                          </td>
                          <td>
                            <ng-container *ngIf="emp_wfh.billattachemnt_url && emp_wfh.billattachemnt_url.length > 0">
                              <a *ngFor="let ew of emp_wfh.billattachemnt_url" (click)="openDocumentPopup(ew.dbpath)"
                                title="Click to view document"><i class="fa fa-file-pdf fa-lg" style="color:red; margin-left: 5px;"></i>
                              </a>
                            </ng-container>
                          </td>
                          <td>
                            <ng-container *ngIf="decoded_token.isEmployer=='1'">
                              <a *ngIf="emp_wfh.approval_status=='Pending'"
                                (click)="openApproveRejectPopup('Approve', emp_wfh)" title="Approve Application">
                                <i class="fa fa-lg fa-check-square-o"></i>
                              </a> &nbsp;
                              <a *ngIf="emp_wfh.approval_status=='Pending'"
                                (click)="openApproveRejectPopup('Reject', emp_wfh)" title="Reject Application">
                                <i class="fa fa-lg fa-times" style="color: red;"></i>
                              </a>
                            </ng-container>

                            <ng-container *ngIf="decoded_token.isEmployer=='0'">
                              <a *ngIf="emp_wfh.approval_status=='Pending' && check_level_cdn(emp_wfh)"
                                title="Approve Application" (click)="openApproveRejectPopup('Approve', emp_wfh)">
                                <i class="fa fa-lg fa-check-square-o"></i>
                              </a> &nbsp;
                              <a *ngIf="emp_wfh.approval_status=='Pending' && check_level_cdn(emp_wfh)"
                                title="Reject Application" (click)="openApproveRejectPopup('Reject', emp_wfh)">
                                <i class="fa fa-lg fa-times" style="color: red;"></i>
                              </a>
                            </ng-container>

                            <!-- <ng-container *ngIf="emp_wfh.appl_detail && emp_wfh?.is_spacial != 'Y'">
                                &nbsp;
                                <i class="fa fa-eye  fa-lg" (click)="openPanel(i, emp_wfh)" title="Click to View details"
                                  style="cursor: pointer;"></i>
                              </ng-container> -->
                            &nbsp;
                            <a title="Click to View Comment" (click)="openCommentsPopup(emp_wfh?.action_comment_txt)">
                              <i class="fa fa fa-comment fa-lg" title="View Comment"></i>
                            </a> &nbsp;
                          </td>
                        </tr>

                        <!-- <tr id="collapseOne{{i}}" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="designing">
                            <td colspan="9">
                              <div>
                                <div class="panel-body Leave-Application-table-inner-box">
                                  <div class="box-body">
                                    <table class="table table-lg table-hover">
                                      <thead>
                                        <tr>
                                          <th>Applied Date</th>
                                          <th>Half Type</th>
                                          <th>Day Type</th>
                                          <th>Start Time</th>
                                          <th>End Time</th>
                                          <th>Work Hrs</th>
                                          <th></th>
                                        </tr>
                                      </thead>

                                      <tbody>
                                        <ng-container *ngFor="let ipd of innerPanelData.appl_detail; let j=index;">
                                          <tr>
                                            <td>
                                              <div class="punchin-Button-job-company-box">
                                                <strong>{{ipd.leave_applied_date}} </strong>
                                              </div>
                                            </td>
                                            <td>
                                              <div class="punchin-Button-job-company-box">
                                                <strong>{{ipd.leave_day_half_type}} </strong>
                                              </div>
                                            </td>
                                            <td>{{ipd.leave_day_type}} </td>
                                            <td>{{ipd.leave_starttime}}</td>
                                            <td>{{ipd.leave_endtime}}</td>
                                            <td>{{ipd.leave_work_hrs}}</td>
                                            <td>
                                              <i *ngIf="ipd.leave_day_type=='Short Leave'" class="fa fa-eye"
                                                title="Gate Pass Data"
                                                (click)="openGatePassModal(ipd.leave_applied_date)"></i>
                                            </td>
                                          </tr>
                                        </ng-container>
                                      </tbody>

                                      <tfoot style="display:none;">
                                        <tr></tr>
                                      </tfoot>
                                    </table>

                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr> -->

                      </ng-container>

                      <tr *ngIf="wfhRequests.length==0">
                        <td class="no-data" colspan="100%">No Data Found</td>
                      </tr>
                    </tbody>

                  </table>

                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <!-- /#page-wrapper -->
  <app-footer></app-footer>


  <!------WFH Document------>
  <div [@grooveState]="showDocumentPopup?'active':'inactive'" id="showDoc" class="modal" style="z-index:1100;">
    <div [@dongleState]="showDocumentPopup?'active':'inactive'" class="modal-dialog"
      style="margin:auto auto auto auto;">
      <div class="modal-content" style="height:100%;margin-top:50px;width:75rem;margin-left:-5rem;">

        <div class="modal-header theme-bg">
          <h4 class="modal-title">WFH Document</h4>
          <button type="button" class="close" aria-hidden="true" (click)="closeDocumentPopup()">&times;</button>
        </div>
        <div class="modal-body" style="overflow: auto;height: 32rem;">

          <iframe class="iframe-container" *ngIf="document_url" [src]="document_url"></iframe>


        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" (click)="closeDocumentPopup()" value="Close">
        </div>
      </div>
    </div>
  </div>
  <!------WFH Document------>

  <!------Comments Popup------>
  <div [@grooveState]="showCommentsPopup?'active':'inactive'" id="showCommentId" class="modal" style="z-index:1000;">
    <div [@dongleState]="showCommentsPopup?'active':'inactive'" class="modal-dialog"
      style="margin:auto auto auto auto;">
      <div class="modal-content" style="height:100%;margin-top:50px;width:75rem;margin-left:-5rem; overflow:auto;">

        <div class="modal-header theme-bg">
          <h4 class="modal-title">Comments</h4>
          <button type="button" class="close" aria-hidden="true" (click)="closeCommentsPopup()">&times;</button>
        </div>
        <div class="modal-body" style="overflow: auto;height: 32rem;">
          <div class="commet-outer-div">
            <ul>
              <ng-container *ngFor="let line of commentsData">
                <li [innerHtml]="line"></li>
                <br>
              </ng-container>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" (click)="closeCommentsPopup()" value="Close">
        </div>
      </div>
    </div>
  </div>
  <!------Comments Popup------>

  <!----Approve/Reject Popup---->
  <div [@grooveState]="showApproveRejectPopup?'active':'inactive'" id="openBalance" class="modal" style="z-index:1000;">
    <div [@dongleState]="showApproveRejectPopup?'active':'inactive'" class="modal-dialog"
      style="margin:auto auto auto auto;">
      <div class="modal-content" style="height:100%;margin-top:50px;width:75rem;margin-left:-5rem;">
        <form *ngIf="showApproveRejectPopup" [formGroup]="approveRejectForm">
          <div class="modal-header theme-bg">
            <h4 class="modal-title">{{approve_reject_title}} Imprest</h4>
            <button type="button" class="close" aria-hidden="true" (click)="closeApproveRejectPopup()">&times;</button>
          </div>
          <div class="modal-body" style="overflow: auto;height: 32rem;">

            <div class="row" style="font-size: 13px;  padding-inline: 1rem;">
              <div class="col-md-4">
                <strong>Type</strong>
              </div>
              <div class="col-md-8" style="height: 25px;">
                Imprest Request <br>
              </div>

              <div class="col-md-4">
                <strong>Reason</strong>
              </div>
              <div class="col-md-8" style="padding: 1rem;">
                {{emp_wfhData.imprest_reim_description}} <br>
              </div>

              <div class="col-md-4">
                <strong>Date of expense</strong>
              </div>
              <div class="col-md-8" style="height: 25px;">
                {{emp_wfhData.date_of_expense}}<br>
              </div>

              <div class="col-md-4">
                <strong>Request Amount</strong>
              </div>
              <div class="col-md-8" style="height: 25px;">
                {{emp_wfhData.amount_spent}}<br>
              </div>

              <div class="col-md-4">
                <strong>Application Status</strong>
              </div>
              <div class="col-md-8" style="height: 25px;">
                {{emp_wfhData.approval_status}}
              </div>

              <div class="col-md-4">
                <strong>User Approval Level</strong>
              </div>
              <div class="col-md-8">
                {{emp_wfhData.user_approval_level}}
              </div>

              <div class="col-md-4" *ngIf="emp_wfhData?.billattachemnt_url && emp_wfhData.billattachemnt_url.length >0">
                <strong> Attachment (if any) </strong>
              </div>
              <div *ngIf="emp_wfhData.billattachemnt_url && emp_wfhData.billattachemnt_url.length>0" class="col-md-8">
                <!-- <a *ngFor="let ew of emp_wfhData.billattachemnt_url" target="_blank" [href]="ew?.dbpath"
                  title="Click to view document"><i class="fa fa-file-pdf fa-lg" style="color:red; margin-left:5px"></i>
                </a> -->
                 <a *ngFor="let ew of emp_wfhData.billattachemnt_url" (click)="openDocumentPopup(ew.dbpath)"
                  title="Click to view document"><i class="fa fa-file-pdf fa-lg" style="color:red; margin-left: 5px;"></i>
                </a>
              </div>

              <div class="col-md-4 " *ngIf="emp_wfhData.action_comment_txt">
                <strong>Comments</strong>
              </div>

              <div class="col-md-8 " *ngIf="emp_wfhData.action_comment_txt">
                <div class="commet-outer-div">
                  <span [innerHTML]="emp_wfhData.action_comment_txt"></span>
                </div>
              </div>
            </div>
            <br>
            <!-- <div class="col-md-12"> <br>
              <strong>Approved Amount :</strong> <br>
              <input type="text" class="form-control" formControlName="approvedAmount" placeholder="Enter Amount"  />
              <ng-container *ngIf="approveRejectForm.get('approvedAmount').errors && approveRejectForm.get('approvedAmount').touched">
                <p class="text-danger">Approved Amount is required</p>
              </ng-container>
            </div> -->

            <div class="col-md-12 " *ngIf="mark_approval_status == 'Approved'">
              <strong>Expense Amount</strong><span class="text-danger">*</span>
              <input type="number" class="form-control" placeholder="Enter Amount" [(ngModel)]="expense_amount"
                [ngModelOptions]="{standalone:true}" (ngModelChange)="validateExpenseAmount()">
              <small class="text-danger" *ngIf="expenseAmountError">
                Entered amount should not exceed {{ emp_wfhData?.amount_spent }}
              </small>
            </div>

            <div class="col-md-12"> <br>
              <strong>Remark</strong><span class="text-danger">*</span>
              <textarea formControlName="remark" class="form-control" rows="3" placeholder="Enter Remark..."></textarea>
              <ng-container *ngIf="approveRejectForm.get('remark').errors && approveRejectForm.get('remark').touched"
                class="text-danger">
                <p class="text-danger">Remark is required</p>
              </ng-container>
            </div>

          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" (click)="closeApproveRejectPopup()" value="Cancel">
            <input *ngIf="mark_approval_status" type="submit" (click)="approveRejectWFHByApplyId()"
              class="btn btn-success" [value]="approve_reject_title">
          </div>
        </form>
      </div>
    </div>
  </div>
