svg.icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
  }
  .dropleft .dropdown-menu {
    left: auto;
    right: 29px;
    padding: 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 100px;
  }
  .dropleft .dropdown-menu li {
    padding: 4px 10px;
    cursor: pointer;
    color: #000;
    font-size: 12px;
  
  }
  .dropleft .dropdown-menu li:hover {
    background: #f7f7f7;
    color: #1d17ff;
  }