<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<div id="wrapper" [ngClass]="{'active': showSidebar==false}">
  <div class="fakeLoader"></div>

  <div id="page-wrapper">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Payout Setting</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
          <li class="breadcrumb-item active">Payout Setting</li>
        </ol>
      </div>
    </div>
    <div class="container-fluid">
      <!-- /row -->
      <div class="row">


        <div class="col-md-10 col-md-offset-1 mrg-top-0 mrg-bot-0">


          <div class="card">

            <div class="card-header">
              <h4>Payout Setting</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <!-- <alert></alert> -->
                <form [formGroup]="payout_date_form">
								 <div class="col-md-12 padd-bot-15 padd-top-15">
								
									<div class="col-sm-12">
                                       <h3 class="bus-pay-title-box mrg-bot-0"> Calculate monthly salary based on<span class="mandatory-field">*</span></h3>
                                    </div>

                                    <div class="col-sm-12">
                                      <div class="custom-radio">
                                        <input id="noCheckCalendar" class="ember-view form-check-input" type="radio" name="salaryCalculationBasis" formControlName="salaryCalculationBasis" value="ActualMonthDays" (change)="onSalaryCalculationBasisChange()">
                                        <label for="noCheckCalendar">Actual days in a month</label>
                                      </div>
                                    </div>
                                    
                                    <div class="col-sm-12">
                                      <div class="custom-radio dis-flax-box">
                                        <input id="noCheckWorkingDays" class="ember-view form-check-input" type="radio" name="salaryCalculationBasis" formControlName="salaryCalculationBasis" value="OrgWorkingDays" (change)="onSalaryCalculationBasisChange()">
                                        <label for="noCheckWorkingDays">Organisation working days - </label> 
                                        <div class="input-group">
                                          <select class="form-control" formControlName="orgWorkingDays">
                                            <option *ngFor="let item of master_data" [value]="item.days" >{{ item.days }}</option> 
                                          </select>
                                        </div>
                                        <label for="noCheckWorkingDays"> days per month</label>
                                      </div>
                                    </div>
                                    
                                    
                           
								</div> 
								
								   <!-- [selected]="cur_payout_day==item.days" -->
								
								<div class="col-md-12 padd-bot-15 padd-top-15">
									<div class="col-sm-12">
                                       <h3 class="bus-pay-title-box mrg-bot-0"> Pay on<span class="mandatory-field">*</span></h3>
                                    </div>
                  <div class="col-sm-12">
                    <div class="custom-radio dis-flax-box">
                      <input id="noCheckLastDay" class="ember-view form-check-input" type="radio" formControlName="payoutPeriod" value="Advance"
                        [checked]="payout_date_form.get('payoutPeriod').value === 'Advance'">
                      <label for="noCheckLastDay">The last working day of every month</label>
                      <div class="input-group">
                        <input type="hidden" formControlName="Payout_Date" value="31">
                      </div>
                    </div>
                  </div>
                                          <!-- <div class="input-group">
                                          <select class="form-control" formControlName="Payout_Date">
                                            <option *ngFor="let item of master_data" [value]="item.days" [selected]="cur_payout_day==item.days">{{ item.days }}</option> 
                                          </select>
                                        </div> -->
                                         
								    
                                    <div class="col-sm-12">
                                      <div class="custom-radio dis-flax-box">
                                        <input id="noCheckDay" class="ember-view form-check-input" type="radio" formControlName="payoutPeriod" value="Current"
                                          [checked]="payout_date_form.get('payoutPeriod').value === 'Current'">
                                        <label for="noCheckDay">Day</label>
                                        <div class="input-group">
                                          <select class="form-control" formControlName="payout_date">
                                            <option *ngFor="let d of payout_days_arr" [selected]="cur_payout_day==d" [value]="d">{{d}}</option>
                                          </select>
                                        </div>
                                        <label for="noCheckDay"> of every month</label>
                                      </div>
                                    </div>
									
									<div class="col-md-12 padd-top-15 note">
									  <b class="label-note">Note:</b>
									  When payday falls on a&nbsp;non-working day or a holiday, employees will get paid on the previous working day.
									</div>
								
								 
								
								</div>
								
								
							 <div class="col-md-12 padd-bot-15 padd-top-15">
								
								<div class="row">
                  <!-- *ngIf="this.first_payroll_status != 'Y'" -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label col-sm-12">
                        Start your first payroll from <span class="mandatory-field">*</span>
                      </label>
                      <div class="col-sm-12">
                        <select class="form-control" formControlName="firstPayrollDate" 
                                (change)="onMonthChange($event)" 
                                [disabled]="this.first_payroll_status == 'Y'">
                          <option *ngFor="let month of months" [value]="month.value" 
                                  [selected]="firstPayrollMonthIndex == month.value">
                            {{ month.label }}
                          </option>
                        </select>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label class="control-label col-sm-12">
                        Select a pay date for your first payroll<span class="mandatory-field">*</span>
                      </label>
                      <label class="control-label col-sm-12">
                        Pay Period: <b>{{ payPeriodLabel }}</b>
                      </label>
                      <div class="col-sm-12">
                        <input id="ToDate" #rd class="form-control" type="text" 
                               style="cursor: pointer;" formControlName="firstPayrollExecuteDate" 
                               placeholder="dd-mm-yyyy" autocomplete="off" 
                               [readonly]="this.first_payroll_status == 'Y'">
                      </div>
                    </div>
                  </div>
                  
									
									<!-- <div class="col-md-6">
									 
									<div class="span12 bu-calender-outer-box">
    		<table class="table-condensed table-bordered table-striped" >
                <thead>
                    <tr class="calender-top-head-box">
                      <th colspan="7">
                        <span class="btn-group">
                            <a class="btn"><i class="fa fa-chevron-left"></i></a>
                        	<a class="btn active">August-2024</a>
                        	<a class="btn"><i class="fa fa-chevron-right"></i></a>
                        </span>
                      </th>
                    </tr>
                    <tr>
                        <th>Su</th>
                        <th>Mo</th>
                        <th>Tu</th>
                        <th>We</th>
                        <th>Th</th>
                        <th>Fr</th>
                        <th>Sa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="muted">29</td>
                        <td class="muted">30</td>
                        <td class="muted">31</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td class="btn-primary"><strong>20</strong></td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td class="muted">1</td>
                        <td class="muted">2</td>
                        <td class="muted">3</td>
                    </tr>
                </tbody>
            </table>
        </div>
									</div> -->
								
								</div>
								</div> 

                <div *ngIf="showAssistantBtn == false" class="col-sm-12 m-clear centered-button">
                  <div class="custom-radio">
                    <button class="btn btn-primary" type="button"  (click)="handleUpdate()">Update</button>
                  </div>
                </div>
                </form>
					</div>
              <!-- <div class="row">
                <div class="col-md-12 padd-bot-15 padd-top-15">
                  <alert></alert>
                  <form [formGroup]="payout_date_form">

                    <div class="col-sm-12">
               
                     <h4>Your payroll will be executed on the chosen payout date</h4> 
                    </div>

                    <div class="col-sm-12">
                    

                      <div class="form-group state-city-box-inner NonEditableField_container-box">


                        <div class="flex flex-col">
                          <span class="bottom-text-box">Choose when you would like to pay your employees. 
                            Select a date after the 15th to pay your employees for the same month. 
                            For example,  if you pick 30, your employees will get paid for January on 30th January. 
                            Select a date on or before 15 to pay your employees for the previous month. For example, if you pick 7, your employees will get paid for January on 7th February</span>
                        </div>

                      </div>
                    </div>
                    <div class="col-sm-3">
                      <label>Set Payout Date</label>
                      <select class="form-control" formControlName="payout_date">
                        <option *ngFor="let d of payout_days_arr" [selected]="cur_payout_day==d" [value]="d">{{d }}
                        </option>
                      </select>
                    </div>
                    <div class="col-sm-6">

                      <br>
                      <p style="    font-weight: bold;
                      margin-left: -26px;
                      margin-top: 9px!important;">of every month</p>
                    </div>

                    <div class="col-sm-12 m-clear">
                      <div class="custom-radio">

                      </div>
                    </div>
                    <div *ngIf="showAssistantBtn == false" class="col-sm-12 m-clear">
                      <div class="custom-radio">
                        <button class="btn btn-primary" type="button" (click)="SetPayoutForm()">Save Payout
                          Date</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div> -->
            </div>
          </div>
          <div *ngIf="showAssistantBtn" class=" padd-top-15 flex justify-between align-center">
            <a  routerLink="/dashboard/welcome" class="btn btn-outline-primary">Back</a>
            <!-- <a class="btn btn-primary" (click)="SetPayoutForm()">Save &amp; Next</a> -->
             <a class="btn btn-primary" (click)="handleUpdate()">Save &amp; Next</a>
          </div>

        </div>


      </div>
      <!-- /row -->
    </div>
  </div>
  <!-- /#page-wrapper -->

</div>
