<app-sidebar (toggleEmitter)="toggle()"></app-sidebar>

<div id="wrapper" [ngClass]="{'active': showSidebar}">
  <div class="fakeLoader"></div>
  <!-- Navigation -->
  <div id="page-wrapper">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor" style="margin-left: 20px;">Leave Applications</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" title="Home"><a [routerLink]="['/dashboard']">Home</a>
          </li>
          <li class="breadcrumb-item active">Leave Applications</li>
        </ol>
      </div>
    </div>
    <div class="container-fluid element" id="element">
      <!-- /row -->
      <div class="row">
        <div class="col-md-12 col-sm-12">

          <div class="card filter-outer-main-box" style="z-index: 999;">
            <div class="card-body ">
              <div class="row">
                <a (click)="openSidebar()" class="btn excel-btn-box results filter-onlick-btn"
                  style="padding-top: 9px;float:right;margin-right: 2rem;">Filter<i class="fa fa-filter"></i></a>
              </div>
            </div>
          </div>
        </div>


        <!-- <div class="col-md-12">
          <div class="card-header caded-innder-head-box"> -->
        <!-- <div class="col-sm-3 text-left">
              <h3 class="list-name-text">Leave Applications</h3>
            </div> -->
        <!-- <div class="col-md-3">
              <input type="date" class="form-control filterField" id="fromDate" [(ngModel)]="fromDate"
                (change)="filterByDate()" />
            </div>
            <div class="col-md-3">
              <input type="date" class="form-control filterField" id="toDate" [(ngModel)]="toDate"
                (change)="filterByDate()" />
            </div>
            <div class="col-md-1">
              <button class="reset-button form-control filterField" (click)="resetDateFilter()"
                title="Reset Date Filter">
                <i class="fa fa-undo" style="font-size:24px"></i>
              </button>
            </div>
            <div class="col-sm-2 text-right">
              <label style="font-size:14px;padding-top:14px; text-align:right;">Status</label>
            </div>
            <div class="col-sm-2">
              <select class="wide form-control" (change)="changeStatusFilter($event.target.value)">
                <option value="All">All</option>
                <option value="Pending">Pending</option>
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
              </select>
            </div>
            <div class="col-sm-2 text-right">
              <label style="font-size:14px;padding-top:14px; text-align:right;">Filter</label>
            </div>
            <div class="col-sm-3 ">

              <select class="wide form-control" (change)="changeDateFilter($event.target.value)">

                <option value="1">Today</option>
                <option value="2">Yesterday</option>
                <option value="3">This week (Sun - Today)</option>
                <option value="4">Last 7 days</option>
                <option value="5">Last 30 days</option>
                <option value="6">Last 90 days</option>
                <option value="7">Last 12 months</option>

              </select>
            </div>

          </div>
        </div> -->


        <!--<div class="col-md-3 ">
          <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

            <div class="net-pay-section">
               <div class="title-inn_box">
                <span class="font-mm"><i class="fa fa-calendar"></i> </span> <span class="font-semibold font-mm">Employees on leave</span>

               </div>
               <div class="row net-pay-data-without-bt">
                <div class="col-md-12">
                 <div class="text-uppercase font-ms payrun-label">Total Number : <strong>22</strong></div>


                </div>

               </div>

            </div>

          </div>

        </div>-->

        <div class="col-md-4 ">
          <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

            <div class="net-pay-section">
              <div class="title-inn_box">
                <span class="font-mm"><i class="fa fa-calendar-check-o" aria-hidden="true" style="color: green;"></i>
                </span> <span class="font-semibold font-mm">&nbsp; Approved </span>

              </div>
              <div class="row net-pay-data-without-bt">
                <div class="col-md-12">
                  <div class="text-uppercase font-ms payrun-label">Total : <strong>{{tot_approved}}</strong></div>


                </div>

                <!-- <div class="col-md-6">

                 <div class="text-uppercase font-ms payrun-label">Booked : <strong>1</strong></div>
                </div>-->
              </div>

            </div>

          </div>

        </div>



        <div class="col-md-4 ">
          <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

            <div class="net-pay-section">
              <div class="title-inn_box">
                <span class="font-mm"><i class="fa fa-calendar-o" aria-hidden="true"></i> </span> <span
                  class="font-semibold font-mm">&nbsp; Pending </span>

              </div>
              <div class="row net-pay-data-without-bt">
                <div class="col-md-12">
                  <div class="text-uppercase font-ms payrun-label">Total : <strong>{{tot_pending}}</strong></div>


                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="col-md-4 ">
          <div class="manage-list-row manage-pay-select clearfix list_view_de-box">

            <div class="net-pay-section">
              <div class="title-inn_box">
                <span class="font-mm"><i class="fa fa-times fa-lg" aria-hidden="true" style="color:red"></i> </span>
                <span class="font-semibold font-mm">&nbsp; Rejected </span>

              </div>
              <div class="row net-pay-data-without-bt">
                <div class="col-md-6">
                  <div class="text-uppercase font-ms payrun-label">Total : <strong>{{tot_rejected}}</strong></div>


                </div>

              </div>

            </div>

          </div>

        </div>






        <div class="col-md-12 mrg-top-0 mrg-bot-25">


          <div class="card">

            <div class="card-body padd-bot-0 padd-top-0">



              <div class="row">

                <div class="col-md-12 padd-top-0">


                  <div class="table-responsive bulk-attendance-outer-box Reimbursements-outer-box">


                    <table class="table user-list">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Employee &nbsp;&nbsp;</th>
                          <th>Email</th>
                          <th>Org Unit Name</th>

                          <th *ngIf="decoded_token.isEmployer=='0'">Approval Level</th>
                          <th>Reason</th>
                          <th>Leave Type</th>
                          <!-- <th>Type</th> -->
                          <th>Leave Period</th>
                          <!-- <th>Days/Hours Taken</th> -->
                          <th>Date of Request</th>
                          <th>Status</th>
                          <!-- <th>Pending At</th>
                          <th>Approved By</th> -->
                          <th>Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <ng-container *ngFor="let la of leave_appl_list_data; let i=index;">
                          <tr>
                            <td>{{i+1}}</td>
                            <td>
                              <h5 class="job-name">
                                <!-- href="https://demo.1akal.in/tpay/tpay_v1/list_view_details.html" -->
                                <a (click)="routeToDetails(la.emp_id)"
                                  title="Click to view details and take approval or rejection action"
                                  class="job_name_tag collapsed cur-ptr">
                                  <div class="job-img">
                                    <!-- <img [src]="la.employee_photo" class="attachment-thumbnail" alt=" "> -->
                                    <img src="{{la.employee_photo}}" class="attachment-thumbnail" alt="user-images"
                                      *ngIf="(la.employee_photo!= '' && la.employee_photo != null)">
                                    <div class="img-responsive img-circle txt"
                                      *ngIf="(la.employee_photo == '' || la.employee_photo == null)" alt="user">
                                      {{la.emp_name.charAt(0)}}{{la.emp_name.charAt(la.emp_name.indexOf('
                                      ') + 1)}}</div>
                                  </div>
                                  {{la.emp_name}}
                                  <span *ngIf="la.orgempcode; else elseBlock">
                                    [{{la.orgempcode}}]
                                  </span>
                                  <ng-template #elseBlock>
                                    [{{la.cjcode}}]
                                  </ng-template>
                                </a>
                              </h5>

                            </td>
                             <td>
                             {{la?.email}}
                            </td>
                            <td>{{la?.assignedous}}</td>

                            <td *ngIf="decoded_token.isEmployer=='0'">{{la.user_approval_level}} [{{la.template_mode}}]
                            </td>

                            <td>{{la?.leave_description}}</td>

                            <td>{{la.leavetypecode}} <br> ({{la.paid_unpaid}})</td>


                            <td>{{(la.fromdate)}} - {{(la.todate)}} </td>
                            <!-- <td> -->
                            <!-- {{la.leave_days}}  -->
                            <!-- <i *ngIf="la.appl_detail" class="btn btn-primary  fa fa-eye" (click)="openPanel(i, la)" title="Click to View details" style="cursor: pointer;"></i>
                              &nbsp;
                              <a *ngIf="la.attachemnt_url" (click)="openDocumentPopup(la.attachemnt_url)" title="Click to view document"><i class="btn btn-success fa fa-file cur-ptr"></i></a>
                            </td> -->
                            <td>
                              {{(la.createdon)}}
                            </td>
                            <td>
                              <span
                                [ngClass]="{'pend-btn-ved1': la.approval_status=='Pending', 'appro-btn-ved': la.approval_status=='Approved', 'appro-btn-ved1': la.approval_status=='Rejected'}"
                                class="appro-btn-ved">{{la.approval_status}} <ng-container
                                  *ngIf="la.approval_status=='Pending' && la.is_workflow_applied=='Y'"> <br> at
                                  <!-- level -
                                  {{la.wf_approval_cur_level}} -->
                                </ng-container></span>
                              <br>
                              <span *ngIf="la.approval_status=='Pending'"
                                style="color:blue">{{la.approval_name_pending}}</span>
                              <span *ngIf="(la.approval_status=='Approved'||la.approval_status=='Rejected')"
                                style="color:blue">{{la.approval_name}}</span>
                              <span *ngIf="(la.approval_status=='Approved' && la.approval_name==null)">Admin</span>

                            </td>
                            <!-- <td>  <span *ngIf="la.approval_status=='Pending'">{{la.approval_name_pending}}</span></td>
                            <td>

                              <span *ngIf="(la.approval_status=='Approved'||la.approval_status=='Rejected')">{{la.approval_name}}</span>
                              <span *ngIf="(la.approval_status=='Approved' && la.approval_name==null)">Admin</span>
                            </td> -->
                            <td>
                              <ng-container *ngIf="decoded_token.isEmployer=='1'">
                                <a *ngIf="la.approval_status=='Pending'" (click)="openApproveRejectPopup('Approve', la)"
                                  title="Approve Application">
                                  <i class="fa fa-lg fa-check-square-o"></i>
                                </a>
                                &nbsp;

                                <a *ngIf="la.approval_status=='Pending'" (click)="openApproveRejectPopup('Reject', la)"
                                  title="Reject Application">
                                  <i class="fa fa-lg fa-times" style="color: red;"></i>
                                </a>

                                <!-- <a *ngIf="la.approval_status!='Pending'" type="button" style="color:#ffffff;"
                                  class="btn theme-bg btn-sm Generate-Bill-btn-inner"
                                  (click)="openApproveRejectPopup('View', la)">View</a> -->
                              </ng-container>

                              <ng-container *ngIf="decoded_token.isEmployer=='0'">
                                <a *ngIf="la.approval_status=='Pending' && check_level_cdn(la)"
                                  title="Approve Application" (click)="openApproveRejectPopup('Approve', la)">
                                  <i class="fa fa-lg fa-check-square-o"></i>
                                </a>
                                &nbsp;

                                <a *ngIf="la.approval_status=='Pending' && check_level_cdn(la)"
                                  title="Reject Application" (click)="openApproveRejectPopup('Reject', la)">
                                  <i class="fa fa-lg fa-times" style="color: red;"></i>
                                </a>

                                <!-- <a *ngIf="la.approval_status!='Pending' || check_level_cdn(la)==false" type="button" style="color:#ffffff;"
                                  class="btn theme-bg btn-sm Generate-Bill-btn-inner"
                                  (click)="openApproveRejectPopup('View', la)">View</a> -->
                              </ng-container>

                              <ng-container *ngIf="la.appl_detail && la?.is_spacial != 'Y'">
                                &nbsp;
                                <i class="fa fa-eye  fa-lg" (click)="openPanel(i, la)" title="Click to View details"
                                  style="cursor: pointer;"></i>
                              </ng-container>
                              &nbsp;
                              <a title="Click to View Comment" (click)="openCommentsPopup(la?.action_comment_txt)">
                                <!-- {{la.template_mode}} -->
                                <i class="fa fa fa-comment fa-lg" title="View Comment"></i>
                              </a>
                              &nbsp;
                              <a *ngIf="la.attachemnt_url" (click)="openDocumentPopup(la.attachemnt_url)"
                                title="Click to view document"><i class="fa fa-file-pdf fa-lg"
                                  style="color:red"></i></a>

                            </td>
                            <!-- <td>
                              <i *ngIf="la.appl_detail" class="fa fa-eye" (click)="openPanel(i, la)"></i>
                            </td> -->
                          </tr>

                          <tr id="collapseOne{{i}}" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="designing">
                            <td colspan="9">

                              <div>

                                <div class="panel-body Leave-Application-table-inner-box">
                                  <div class="box-body">


                                    <table class="table table-lg table-hover">
                                      <thead>
                                        <tr>
                                          <th>Applied Date</th>
                                          <th>Half Type</th>
                                          <th>Day Type</th>
                                          <th>Start Time</th>
                                          <th>End Time</th>
                                          <th>Work Hrs</th>
                                          <th></th>

                                        </tr>
                                      </thead>

                                      <tbody>


                                        <ng-container *ngFor="let ipd of innerPanelData.appl_detail; let j=index;">
                                          <tr>
                                            <td>
                                              <div class="punchin-Button-job-company-box">
                                                <strong>{{ipd.leave_applied_date}} </strong>
                                              </div>
                                            </td>

                                            <td>
                                              <div class="punchin-Button-job-company-box">
                                                <strong>{{ipd.leave_day_half_type}} </strong>
                                              </div>
                                            </td>

                                            <td>{{ipd.leave_day_type}} </td>
                                            <td>{{ipd.leave_starttime}}</td>
                                            <td>{{ipd.leave_endtime}}</td>
                                            <td>{{ipd.leave_work_hrs}}</td>

                                            <td>
                                              <i *ngIf="ipd.leave_day_type=='Short Leave'" class="fa fa-eye"
                                                title="Gate Pass Data"
                                                (click)="openGatePassModal(ipd.leave_applied_date)"></i>
                                            </td>

                                          </tr>
                                        </ng-container>



                                      </tbody>
                                      <tfoot style="display:none;">
                                        <tr>

                                        </tr>
                                      </tfoot>


                                    </table>

                                  </div>
                                </div>


                              </div>


                            </td>
                          </tr>

                        </ng-container>

                        <tr *ngIf="leave_appl_list_data.length==0">
                          <td class="no-data" colspan="9">No Data Found</td>
                        </tr>


                      </tbody>

                    </table>

                  </div>


                </div>

              </div>
            </div>
          </div>


        </div>






      </div>



    </div>
  </div>
  <!-- /#page-wrapper -->
  <app-footer></app-footer>


  <!------Leave Document------>
  <div [@grooveState]="showDocumentPopup?'active':'inactive'" id="showDoc" class="modal" style="z-index:1000;">
    <div [@dongleState]="showDocumentPopup?'active':'inactive'" class="modal-dialog"
      style="margin:auto auto auto auto;">
      <div class="modal-content" style="height:100%;margin-top:50px;width:75rem;margin-left:-5rem;">

        <div class="modal-header theme-bg">
          <h4 class="modal-title">Leave Document</h4>
          <button type="button" class="close" aria-hidden="true" (click)="closeDocumentPopup()">&times;</button>
        </div>
        <div class="modal-body" style="overflow: auto;height: 32rem;">

          <iframe class="iframe-container" *ngIf="document_url" [src]="document_url"></iframe>


        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" (click)="closeDocumentPopup()" value="Close">
        </div>
      </div>
    </div>
  </div>
  <!------Leave Document------>


  <!---Gate Pass--->
  <div [@grooveState]="showGatePassModal?'active':'inactive'" id="final-bill" class="modal" style="z-index:1000;">
    <div [@dongleState]="showGatePassModal?'active':'inactive'" class="modal-dialog modal-lg"
      style="margin:auto auto auto auto;">
      <div class="modal-content">
        <form>
          <div class="modal-header theme-bg">
            <h4 class="modal-title">Print Gate Pass</h4>


            <span class="close-print-box">

              <a (click)="onPrint('gatePassModal')"><i class="fa fa-print"></i></a>
              <button (click)="closeGatePassModal()" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">×</button>
            </span>


          </div>
          <div id="gatePassModal" class="modal-body final-bill-inner-box" style="overflow-y: scroll; height: 45rem;">

            <div class="card-body">
              <div class="card-sales-split">

                <table class="table mb-0" style=" width: 100%;">

                  <thead>
                    <tr>
                      <th style=" text-align: left;">
                        <div class="header-left-logo">
                          <a class="logo logo-normal">
                            <img [src]="gatePassModalData.employer_logo_path" alt="Logo" style="width: 100px;">
                          </a>

                        </div>

                      </th>

                      <th style=" text-align: right;">
                        <h3 style="margin: 0;font-size: 20px;">{{gatePassModalData.company_name}}.</h3>
                        <h3 style="margin: 0;font-size: 15px;font-weight: 600;">Gate Pass (Short Leave)</h3>
                      </th>
                    </tr>




                  </thead>
                </table>

              </div>

              <div class="table-responsive top-table-date-box">
                <hr style="  margin: 20px 0;">
                <table class="table mb-0" style=" width: 100%;">

                  <tbody>

                    <tr>

                      <th style="text-align: left; ">User id </th>
                      <td style="text-align: left; ">{{gatePassModalData.leave_applid}}</td>


                      <td rowspan="5" style=" text-align: right;">

                        <div class="take-picture-box e-pass-img">
                          <img [src]="gatePassModalData.employee_photo" class="img-responsive" alt="Logo"
                            style=" width: 100px;height: 95px;">
                        </div>

                      </td>
                    </tr>

                    <tr>

                      <th style="   text-align: left; ">Staff Name </th>
                      <td style="   text-align: left; ">{{gatePassModalData.emp_name}}</td>

                    </tr>

                    <tr>
                      <th style="   text-align: left; ">Mobile No. </th>
                      <td style="   text-align: left; ">{{gatePassModalData.mobile}}</td>


                    </tr>

                    <tr>

                      <th style="text-align: left; ">Date</th>
                      <td style="text-align: left; ">{{gatePassModalData.leave_applied_date}}</td>

                    </tr>

                    <tr>
                      <th style="  text-align: left; ">Permission Given By </th>
                      <td style=" text-align: left;">{{gatePassModalData.permission_given_by}}</td>

                    </tr>

                  </tbody>
                </table>
              </div>

              <div class="table-responsive top-table-date-box">
                <hr>
                &nbsp;
                <table class="table mb-0">
                  <tbody>
                    <tr>

                      <th style="text-align: left; ">Start Time </th>
                      <td style="text-align: left; ">{{gatePassModalData.leave_starttime}}</td>
                      <th style="text-align: left; ">Actual out time </th>
                      <td style="text-align: left; "><input type="text" placeholder=" "
                          [value]="gatePassModalData.actual_out_time" autocomplete="chrome-off" class="form-control"
                          disabled=""></td>
                    </tr>
                    <tr>

                      <th style="text-align: left; ">End Time </th>
                      <td style="text-align: left; ">{{gatePassModalData.leave_endtime}}</td>
                      <th style="text-align: left; ">Actual in time </th>
                      <td style="text-align: left; "> <input type="text" placeholder=" "
                          [value]="gatePassModalData.actual_in_time" autocomplete="chrome-off" class="form-control"
                          disabled=""></td>
                    </tr>


                    <tr>

                      <th style="   text-align: left; width: 148px; vertical-align: top;">Purpose of Leave </th>
                      <td colspan="3">{{gatePassModalData.leave_description}} </td>



                    </tr>

                    <tr>
                      <th colspan="4" style=" text-align: right;">Authorized Signature </th>
                    </tr>

                  </tbody>
                </table>
                <hr>

              </div>


              <div class="table-responsive top-table-date-box">

                <table class="table mb-0" style=" width: 100%;">

                  <tbody>
                    <tr>
                      <th colspan="4" style=" text-align: right;">&nbsp;</th>
                    </tr>
                    <tr>
                      <th colspan="4" style=" text-align: right;">{{gatePassModalData.authorized_signature}} </th>
                    </tr>


                  </tbody>
                </table>
              </div>

            </div>






          </div>
          <div class="modal-footer">
            <input (click)="closeGatePassModal()" type="button" class="btn btn-default" data-dismiss="modal"
              value="Cancel">
            <input (click)="onPrint('gatePassModal')" type="submit" class="btn btn-success" value="Print">
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--END-->



  <!------Comments Popup------>
  <div [@grooveState]="showCommentsPopup?'active':'inactive'" id="showCommentId" class="modal" style="z-index:1000;">
    <div [@dongleState]="showCommentsPopup?'active':'inactive'" class="modal-dialog"
      style="margin:auto auto auto auto;">
      <div class="modal-content" style="height:100%;margin-top:50px;width:75rem;margin-left:-5rem; overflow:auto;">

        <div class="modal-header theme-bg">
          <h4 class="modal-title">Comments</h4>
          <button type="button" class="close" aria-hidden="true" (click)="closeCommentsPopup()">&times;</button>
        </div>
        <div class="modal-body" style="overflow: auto;height: 32rem;">
          <div class="commet-outer-div">
            <ul>
              <ng-container *ngFor="let line of commentsData">
                <li [innerHtml]="line"></li>
                <br>
              </ng-container>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" (click)="closeCommentsPopup()" value="Close">
        </div>
      </div>
    </div>
  </div>
  <!------Comments Popup------>




  <!----Approve/Reject Popup---->
  <div [@grooveState]="showApproveRejectPopup?'active':'inactive'" id="openBalance" class="modal" style="z-index:1000;">
    <div [@dongleState]="showApproveRejectPopup?'active':'inactive'" class="modal-dialog"
      style="margin:auto auto auto auto;">
      <div class="modal-content" style="height:100%;margin-top:50px;width:75rem;margin-left:-5rem;">
        <form *ngIf="showApproveRejectPopup" [formGroup]="approveRejectForm">
          <div class="modal-header theme-bg">
            <h4 class="modal-title">{{approve_reject_title}} Leave</h4>
            <button type="button" class="close" aria-hidden="true" (click)="closeApproveRejectPopup()">&times;</button>
          </div>
          <div class="modal-body" style="overflow: auto;height: 32rem;">

            <div class="row" style="font-size: 13px;  padding-inline: 1rem;">
              <div class="col-md-4">
                <strong> Leave Type </strong>
              </div>
              <div class="col-md-8" style="height: 25px;">
                {{ar.leavetypename.value}} [ {{ar.leavetypecode.value}}]
                <br>
              </div>
              <div class="col-md-4">
                <strong> Subject </strong>
              </div>
              <div class="col-md-8" style="height: 25px;">
                {{ar.leave_subject.value}}

                <br>
              </div>

              <div class="col-md-4">

                <strong> Description </strong>
              </div>
              <div class="col-md-8" style="padding: 1rem;">
                {{ar.leave_description.value}}
                <br>
              </div>
              <div class="col-md-4">
                <strong> Period [From date -Todate] </strong>
              </div>
              <div class="col-md-8" style="height: 25px;">

                {{(ar.fromdate.value)}} to {{(ar.todate.value)}} | {{ar.leave_days .value}}
                <br>
              </div>

              <div class="col-md-4">
                <strong> Application Status </strong>
              </div>
              <div class="col-md-8" style="height: 25px;">
                {{ar.approval_status.value}}
              </div>
              <div class="col-md-4">
                <strong>User Approval Level</strong>
              </div>
              <div class="col-md-8">
                {{ar.user_approval_level.value}}
              </div>

              <div class="col-md-4" *ngIf="ar.attachemnt_url.value">
                <strong> Attachment (if any) </strong>
              </div>

              <div *ngIf="ar.attachemnt_url.value" class="col-md-8">

                <span><a target="_blank" [href]="ar.attachemnt_url.value"><i style="color:blue;" class="fa fa-pdf"></i>
                  </a></span>
              </div>

              <div class="col-md-4 " *ngIf="ar.action_comment_txt?.value">
                <strong>Comments</strong>
              </div>

              <div class="col-md-8 " *ngIf="ar.action_comment_txt?.value">
                <div class="commet-outer-div">
                  <span [innerHTML]="ar.action_comment_txt.value"></span>
                </div>
              </div>

            </div>


            <div class="col-md-12">
              <br>
              <strong>Remark :</strong> <br>
              <textarea formControlName="remark" class="form-control" rows="3" placeholder="Enter Remark..."></textarea>
            </div>


          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" (click)="closeApproveRejectPopup()" value="Cancel">
            <input *ngIf="mark_approval_status" type="submit" (click)="approved_leave_appl_by_applid()"
              class="btn btn-success" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!---SideBar--->
  <div id="sidebar" class="sidebar bg-dark text-white sidebar-menu_filter-box">
    <h3 class="filter-menu-header-text-box">Filter</h3>
    <!-- <button type="button" class="btn btn-user1 btn-round" (click)="resetFilter()">Clear</button>-->
    <a class="clear-box-btn" title="Clear Filter" (click)="resetFilter()">Clear</a>
    <button class="close-btn btn btn-danger1" (click)="closeSidebar()"><i class="fa fa-close"></i></button>
    <div class="sidebar-content-box">

      <!-- <div class="col-md-12 col-sm-12">
      <input type="text" [(ngModel)]="invKey_copy" [ngModelOptions]="{standalone: true}" placeholder="Search" maxlength="50"
        class="form-control wide-width" style="width: 100%;" maxlength="200">
    </div> -->

      <div class="col-md-12 ">

        <div id="filterComponent">
          <div class="panel-group">

            <div class="panel panel-default">
              <div class="panel-heading panel_heading_gray  card-header" role="tab" id="headingOne2"
                data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="false"
                aria-controls="collapseOne">
                <h4>Daily Leave Report Filter <i class="fa fa-angle-down"></i></h4>
              </div>
              <div id="collapseOne2" class="panel-collapse collapse card-body in" role="tabpane2">
                <div class="row">
                  <div class="col-sm-12">

                    <div class="col-md-6">
                      <input type="hidden" id="recdate" (click)="filterFromToDateLeads()">

                      <span style="color:#000;">From Date</span>
                      <input id="FromDate" class="form-control" type="text" style="cursor: pointer;"
                        placeholder="dd-mm-yyyy" autocomplete="off" readonly>
                    </div>
                    <div class="col-md-6">
                      <span style="color:#000;">To Date</span>
                      <input id="ToDate" class="form-control" type="text" style="cursor: pointer;"
                        placeholder="dd-mm-yyyy" autocomplete="off" readonly>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-sm-12">Day Wise Filter</label>
                      <div class="col-sm-12 padd-0">
                        <select class="wide form-control" [(ngModel)]="daywisefilter"
                          (change)="changeDateFilter($event.target.value)">

                          <option value="1">Today</option>
                          <option value="2">Yesterday</option>
                          <option value="3">This week (Sun - Today)</option>
                          <option value="4">Last 7 days</option>
                          <option value="5">Last 30 days</option>
                          <option value="6">Last 90 days</option>
                          <option value="7">Last 12 months</option>

                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-12">Status</label>
                      <div class="col-sm-12 padd-0">
                        <select class="wide form-control" [(ngModel)]="statusFilter_copy"
                          [ngModelOptions]="{standalone: true}">
                          <option value="All">All</option>
                          <option value="Pending">Pending</option>
                          <option value="Approved">Approved</option>
                          <option value="Rejected">Rejected</option>
                        </select>
                      </div>
                    </div>
                    <!-- *ngIf="decoded_token.isEmployer=='1'" -->
                    <div class="form-group">
                      <label class="control-label col-sm-12">Organization Unit</label>
                      <div class="col-sm-12 padd-0 userOrgUnit">

                        <ng-multiselect-dropdown [placeholder]="'Select Organization Units'"
                          [settings]="dropdownSettings" [data]="orgList" [(ngModel)]="orgName_copy"
                          [ngModelOptions]="{standalone: true}">
                        </ng-multiselect-dropdown>
                        <!-- (onFilterChange)="getOrgUnitData()" -->

                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-sm-12">Department</label>
                      <div class="col-sm-12 padd-0 userOrgUnit">

                        <ng-multiselect-dropdown [placeholder]="'Select Department'" [settings]="deptDropdownSettings"
                          [data]="deptList" [(ngModel)]="deptName_copy" [ngModelOptions]="{standalone: true}">
                        </ng-multiselect-dropdown>

                      </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-sm-12">Designation</label>
                      <div class="col-sm-12 padd-0 userOrgUnit">

                        <ng-multiselect-dropdown [placeholder]="'Select Designation'" [settings]="desgDropdownSettings"
                          [data]="desgList" [(ngModel)]="desgName_copy" [ngModelOptions]="{standalone: true}">
                        </ng-multiselect-dropdown>
                      </div>
                    </div>




                  </div>


                </div>
              </div>
            </div>



          </div>
        </div>

        <div class="text-center mrg-bot-25">
          <button type="button" class="btn btn-user1 btn-round btn-primary" (click)="change_sidebar_filter()"
            id="btnSetFilter">
            &nbsp;Apply</button>

        </div>
      </div>
    </div>
  </div>
  <!---SideBar--->
