.user-logo{
    border-radius: 50%;
    background: #512DA8;
    font-size: 27px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 54px;
}

.edit-data {
    position: absolute;
    right: 8px;
    cursor: pointer;
    z-index: 9;
    /* margin-top: -30px; */
}

.no-click input, .no-click select{
    background-color: gainsboro;
    pointer-events: none;
}
.no-click label{
    /* background-color: gainsboro; */
    pointer-events: none;
}

a>i{
    cursor: pointer;
}

.upload-btn{
    background-color: #1f86ef;
    color: #fff;
    border: none;
    font-size: 26px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/* .upload-btn >i{
    padding: 5px;
} */

.radio-btn{
    position: initial;
    display: inline-block;
}

input[type="radio"]:disabled +label{
    cursor: not-allowed;
}
[type="radio"]:disabled+label:before{
    color: gainsboro;
    opacity: 0.8;
}
.basicSal{
    cursor: not-allowed;
    opacity: 0.8;
    pointer-events: none;
}

.equal-width-table {
    table-layout: fixed;
    width: 100%; /* Set the overall table width */
}

  .equal-width-table th,
.equal-width-table td {
  width: 25%; /* Set equal width for each column (adjust as needed) */
  /* Other styles for th and td elements */
}

table .form-control{
    margin-bottom:0;
}

.employees-details-outer-box .accordion .panel-heading {
    background: #8eccf5;
}
.employees-details-outer-box .card-header h4 {
    color: #464646;
}

.component-input{
    width: 100px !important;
} 

.custom-salary-table td {
    width: 25%;
}

.payout-preference{
    display: flex;
    margin-top: 14px;
}
.payout-preference label{
    width: 100%;
}

.center {
    position: absolute;
    top: 32%;
    left: 88%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"] {
    position: relative;
    width: 44px;
    height: 17px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.2);
    transition: 0.7s;
}

input:checked[type="checkbox"] {
  background: #03a9f4;
}

input[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #ffffff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .5s;
}

input:checked[type="checkbox"]:before {
  left: 28px;
}

.custom-salary-table .no-click{
    pointer-events: none;
    background-color: gainsboro;
}

.kyc-done-logo{
    text-align: center;
}

.kyc-done{
    background: #5bd55b;
    border-radius: 50%;
    color: #fff;
    padding: 2px 7px;
}

small.omnipresent {
    background: #f9f9f9;
    border-radius: 0 0 4px 4px;
    border-top-width: 0;
    color: #8f93a4;
    display: block;
    padding: 6px 12.5px;
    position: relative;
    top: -10px;
    font-size: 11px;
    line-height: 1.3;
}

.different{
    background-color:  #ffdddd;;
}

.input-margin{
    margin-top: 10px;
}

.save-btn{
    font-size: 25px;
}

.save-btn i{
    color: rgb(101, 238, 101);;
}

.form-control-file {
  padding: 6px 10px;
}

.outer-exemption-box{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

@media (max-width: 767px) {
  .btn-block {
    width: 100%;
    margin-top: 10px;
  }
}
