<section>
    <div id="wrapper ">
      <div class="fakeLoader"></div>
  
      <div id="page-wrapper">
  
  
        <!-- <div class="row page-titles">
          <div class="col-md-8 align-self-center">
            <h3 class="text-themecolor" style="margin-left: 20px;">Send Payment Link</h3>
          </div>
          <div class="col-md-4 align-self-right">
            <h4 class="text-themecolor cur-ptr" title="Receipt"
              (click)="back_to_receipt()">
              <a><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Back</a>
            </h4>
          </div>
        </div> -->
  
  
        <div class="container-fluid">
          <!-- /row -->
          <div class="">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 mrg-top-251 mrg-bot-25 ">
                <div class="card" *ngIf="invoicedetail">
  
                  <div class="card-header">
  
  
                    <div class="col-md-12">
                      <div class="row">
  
                        <div class="modal-body" *ngIf="invoicedetail">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="invoice_details" id="invoice_details">
  
                                <div class="col-md-12">
                                  <div class="row">
  
                                      <div class="header-outer-box table-responsive">
                                          <table  border="0px" class="table1" style="width: 100%; border-collapse: collapse;">
                                              <tbody>
                                                  <tr>
                                                      <td  class="col-md-6" style="font-size: 18px; font-weight: initial !important; padding: 9px 20px !important;">
                                                          <img src="https://demo.1akal.in/tpay/tpay_v1/assets/img/logo.png" class="img-responsive" alt="Logo" style="  width: 200px;">
                                                      </td>
                                                      <td  class="col-md-3" style="font-size: 18px; font-weight: initial !important; padding: 9px 20px !important; text-align: right;">
                                                          <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;">
                                                              <span *ngIf="invoicedetail.entrytype != 'Receipt' && (invoicedetail.status != 'Pending') "><b>Invoice No.:</b> {{ invoicedetail.invoiceno }}</span>
                                                              <span *ngIf="invoicedetail.entrytype == 'Receipt' && (invoicedetail.status != 'Pending') "><b>Receipt No.:</b> {{ invoicedetail.invoiceno }}</span>
  
  
                                                          </p>
                                                          <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px; text-align: right;"><b>Date:</b> {{ (invoicedetail.dateofreceiving == '')?invoicedetail.dateofinitiation:invoicedetail.dateofreceiving }}</p>
                                                      </td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
  
                                      <div class="content-top-box table-responsive" style=" margin-top: 50px;">
                                          <table  border="1px" class="table1" style="width: 100%; border-collapse: collapse; border-color: #000;">
                                             <tbody>
                                                <tr style=" border: 0;  border-color: #fff;">
                                                   <td colspan="2"   style="font-weight: initial !important;padding: 0px 10px !important;text-align: center;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 20px;">
                                                          <b>
                                                              <span *ngIf="invoicedetail.entrytype != 'Receipt'">Invoice</span>
                                                              <span *ngIf="invoicedetail.entrytype == 'Receipt'">Receipt</span>
                                                          </b>
                                                      </p>
                                                   </td>
                                                </tr>
                                                <tr style=" border: 0;  border-color: #fff;border-bottom-color: #000;">
                                                   <td colspan="2"   style="font-weight: initial !important;padding: 0px 10px !important;text-align: left;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 12px;">&nbsp;</p>
                                                   </td>
                                                </tr>
  
                                                <tr>
                                                   <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: left;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 12px;">From:</p>
                                                   </td>
                                                   <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: left;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 12px;">To: </p>
                                                   </td>
                                                </tr>
  
                                                <tr >
                                                   <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: left; vertical-align: top;width:50%;">
                                                      <p style="color: #000; font-weight: 700; font-size: 16px;font-family: Arial,sans-serif;margin-top: 15px;"><b>Akal Information Systems Limited</b></p>
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;">13 Community Centre, Yusuf Sarai, New Delhi, Delhi 110049 </p>
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;"><b>GSTIN/UIN :</b> 07AAFCS1920B1ZW </p>
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;"><b>State Name :</b> Delhi <b>Code :</b> 7 </p>
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;"><b>CIN :</b> U74899DL2000PLC103438 </p>
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;"><b>PAN :</b> AAFCS1920B</p>
                                                   </td>
  
                                                   <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: left; vertical-align: top;width:50%;">
                                                      <p style="color: #000; font-weight: 700; font-size: 16px;font-family: Arial,sans-serif;margin-top: 15px;"><b>{{ invoicedetail.customeraccountname }}</b></p>
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;">{{ invoicedetail.billingaddress }}</p>
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;"><b>State Code :</b> {{ invoicedetail.statecode }} </p>
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;"><b>GSTIN/UIN :</b> {{ invoicedetail.ac_gstin_no }} </p>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                        </div>
  
  
                                        <div class="content-inner-box table-responsive" style=" margin-top: 50px;">
                                          <table  border="1px" class="table1 table-bordered" style="width: 100%; border-collapse: collapse; border-color: #000;">
                                             <thead>
                                                <tr >
                                                   <th  style="color: #000000;font-size: 14px;font-weight: 600;background: #f2f8fb none repeat scroll 0 0;padding: 8px 20px !important;font-family: Arial, sans-serif;"> Description</th>
                                                   <th  style="color: #000000;font-size: 14px;font-weight: 600;background: #f2f8fb none repeat scroll 0 0;padding: 8px 20px !important;font-family: Arial, sans-serif;"> QTY</th>
                                                   <th  style="color: #000000;font-size: 14px;font-weight: 600;background: #f2f8fb none repeat scroll 0 0;padding: 8px 20px !important;font-family: Arial, sans-serif;"> HSN/SAC</th>
                                                   <th  style="color: #000000;font-size: 14px;font-weight: 600;background: #f2f8fb none repeat scroll 0 0;padding: 8px 20px !important;font-family: Arial, sans-serif; text-align: right;"> Amount</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <tr *ngIf="!(invoicedetail.entrytype == 'Invoice' && invoicedetail.product_type == '2' && invoicedetail.netamount == '0')">
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: left; vertical-align: top;">
                                                      <p style="margin: 8px 0 2px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" >
                                                          <span *ngIf="invoicedetail.product_type == '1'; else payrolling_service_name">
                                                              {{ invoicedetail.service_name }}
                                                          </span>
                                                          <ng-template #payrolling_service_name>
                                                              <span *ngIf="invoicedetail.packagename == 'Starting Payment'; else payrolling_message">
                                                                  Starting Payment
                                                              </span>
                                                              <ng-template #payrolling_message>
                                                                  Employee Payout Amount
                                                              </ng-template>
  
                                                          </ng-template>
                                                      </p>
                                                      <!--p *ngIf="invoicedetail.packagename != 'Starting Payment';" style="margin: 0px 0 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 11px;" >for April 2024</p-->
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: center; vertical-align: top;"    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" > 1</p>
                                                  </td>
                                                  <td  style="font-weight: initial !important;padding: 0px 10px !important;text-align: center; vertical-align: top;"    >
                                                          <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" > {{ invoicedetail.hsn_sac_number }}</p>
                                                  </td>
                                                  <td  style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;"    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;">
                                                          <span *ngIf="invoicedetail.entrytype == 'Receipt'; else other_base_amount">
                                                              {{ invoicedetail.receipt_amount+invoicedetail.netamount_invoice | number : '1.2-2' }}
                                                          </span>
                                                          <ng-template #other_base_amount>
                                                              {{invoicedetail.netamount | number : '1.2-2' }}
                                                          </ng-template>
                                                      </p>
                                                  </td>
                                                </tr>
  
  
  
                                              <tr *ngIf="invoicedetail.entrytype != 'Receipt'">
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: left; vertical-align: top;">
                                                    <p style="margin: 8px 0 2px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" > 
                                                        <span *ngIf="invoicedetail.source != 'Tpayops'">Payroll Processing Charges</span>
                                                        <span *ngIf="invoicedetail.source == 'Tpayops'">{{ invoicedetail.service_name }}</span>
                                                    </p>
                                                    <p style="margin: 0px 0 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 11px;" >
                                                        <span *ngIf="invoicedetail.margin_type == 'percent' && invoicedetail.source != 'Tpayops'">@ {{invoicedetail.servicechargepercent | number : '1.2-2'}}%</span>
                                                        <span *ngIf="invoicedetail.margin_type == 'flat' && invoicedetail.source != 'Tpayops'">@ {{invoicedetail.servicechargepercent | number : '1.2-2'}} /Person</span>
                                                        <span *ngIf="invoicedetail.source == 'Tpayops'">{{ invoicedetail.packagename }}</span>
                                                    </p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: center; vertical-align: top;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;">
                                                      <span *ngIf="invoicedetail.margin_type == 'flat' && invoicedetail.servicechargepercent != 0">
                                                          {{ invoicedetail.numberofemployees }}
                                                      </span>
                                                  </p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: center; vertical-align: top;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" >{{ invoicedetail.hsn_sac_number }}</p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" >{{ invoicedetail.servicechargeamount | number:'1.2-2' }}</p>
                                                  </td>
                                              </tr>
  
                                              <tr *ngIf="invoicedetail.gstmode == 'Local' && invoicedetail.entrytype != 'Receipt'">
                                                  <td colspan="3" style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" > CGST @{{ invoicedetail.cgstpercent }}% on Processing Charges</p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;"    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" > {{ invoicedetail.cgstamount | number:'1.2-2' }}</p>
                                                  </td>
                                              </tr>
                                              <tr *ngIf="invoicedetail.gstmode == 'Local' && invoicedetail.entrytype != 'Receipt'">
                                                  <td colspan="3" style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" > SGST @{{ invoicedetail.sgstpercent }}% on Processing Charges</p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;"    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" > {{ invoicedetail.sgstamount | number:'1.2-2' }}</p>
                                                  </td>
                                              </tr>
                                              <tr *ngIf="invoicedetail.gstmode == 'Interstate' && invoicedetail.entrytype != 'Receipt'">
                                                  <td colspan="3" style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" > IGST @{{ invoicedetail.igstpercent }}% on Processing Charges</p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;"    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" >{{ invoicedetail.igstamount | number:'1.2-2' }}</p>
                                                  </td>
                                              </tr>
  
                                              <!-- start If Entry Type Receipt -->
                                              <tr *ngIf="invoicedetail.entrytype == 'Receipt'  && invoicedetail.servicechargeamount_invoice !=  ''">
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: left; vertical-align: top;">
                                                      <p style="margin: 8px 0 2px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" >
                                                          Payroll Processing Charges
                                                      </p>
                                                      <p style="margin: 0px 0 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 11px;" >
                                                          <span *ngIf="invoicedetail.margin_type == 'percent'">@ {{invoicedetail.servicechargepercent_invoice | number : '1.2-2'}}%</span>
                                                          <span *ngIf="invoicedetail.margin_type == 'flat'">@ {{invoicedetail.servicechargepercent_invoice | number : '1.2-2'}} /Person</span>
                                                      </p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: center; vertical-align: top;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;">
                                                      <span *ngIf="invoicedetail.margin_type == 'flat' && invoicedetail.servicechargepercent != 0">
                                                          {{ invoicedetail.numberofemployees }}
                                                      </span>
                                                  </p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: center; vertical-align: top;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" >{{ invoicedetail.hsn_sac_number }}</p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" >{{ invoicedetail.servicechargeamount_invoice | number:'1.2-2' }}</p>
                                                  </td>
                                              </tr>
  
                                              <tr *ngIf="invoicedetail.gstmode == 'Local' && invoicedetail.entrytype == 'Receipt' && invoicedetail.cgstamount_invoice !=  ''">
                                                  <td colspan="3" style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" > CGST @{{ invoicedetail.cgstpercent_invoice }}% on Processing Charges</p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;"    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" > {{ invoicedetail.cgstamount_invoice | number:'1.2-2' }}</p>
                                                  </td>
                                              </tr>
                                              <tr *ngIf="invoicedetail.gstmode == 'Local' && invoicedetail.entrytype == 'Receipt'  && invoicedetail.sgstamount_invoice !=  ''">
                                                  <td colspan="3" style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" > SGST @{{ invoicedetail.sgstpercent_invoice }}% on Processing Charges</p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;"    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" > {{ invoicedetail.sgstamount_invoice | number:'1.2-2' }}</p>
                                                  </td>
                                              </tr>
                                              <tr *ngIf="invoicedetail.gstmode == 'Interstate' && invoicedetail.entrytype == 'Receipt'  && invoicedetail.igstamount_invoice !=  ''">
                                                  <td colspan="3" style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" > IGST @{{ invoicedetail.igstpercent_invoice }}% on Processing Charges</p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;"    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" >{{ invoicedetail.igstamount_invoice | number:'1.2-2' }}</p>
                                                  </td>
                                              </tr>
                                              <!-- end If Entry Type Receipt -->
  
                                              <tr>
                                                  <td colspan="3" style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;"    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;">
                                                          <b>Amount to be paid</b>
                                                      </p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;"    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;">
                                                        <b>
                                                          <span *ngIf="invoicedetail.entrytype == 'Receipt'; else other_total_pay">
                                                          {{ invoicedetail.receipt_amount+invoicedetail.netamountreceived_invoice | number:'1.2-2' }}
                                                          </span>
                                                          <ng-template #other_total_pay>
                                                          {{invoicedetail.netamountreceived | number:'1.2-2' }}
                                                          </ng-template>
                                                        </b>
                                                      </p>
                                                  </td>
                                              </tr>
  
                                                <tr *ngIf="invoicedetail.adjustment_amount != 0 || invoicedetail.adjustment_amount_invoice != 0">
                                                  <td colspan="3"   style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;"    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" >
                                                          Amount Adjusted with ledger balance
                                                      </p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;"    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;">
                                                          <span *ngIf="invoicedetail.entrytype == 'Receipt'; else other_adjustment">
                                                              &#8377; {{ invoicedetail.adjustment_amount+invoicedetail.adjustment_amount_invoice | number : '1.2-2' }}
                                                          </span>
  
                                                          <ng-template #other_adjustment>
                                                               &#8377; {{ invoicedetail.adjustment_amount | number : '1.2-2' }}
                                                          </ng-template>
                                                      </p>
                                                  </td>
                                                </tr>
  
                                                <!--  start round off -->
                                                <!-- <tr *ngIf="roundDiff != 0">
                                                  <td colspan="3"   style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;"    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" >
                                                          Round Off
                                                      </p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;"    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;">
                                                          {{ roundDiff }}
                                                      </p>
                                                  </td>
                                                </tr> -->
                                               <!-- end round off -->
  
                                                <!-- <tr>
                                                  <td colspan="3"  style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;">
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" > <b>Amount to be paid</b></p>
                                                  </td>
                                                  <td style="font-weight: initial !important;padding: 0px 10px !important;text-align: right; vertical-align: top;"    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px;" >
                                                          <b>
                                                              <span *ngIf="invoicedetail.entrytype == 'Receipt'; else other_amout_pay">
                                                                  {{ (returnSum_3(invoicedetail.netamountreceived,invoicedetail.netamountreceived_invoice,roundDiff)-invoicedetail.adjustment_amount_invoice )| number : '1.2-2' }}
                                                              </span>
                                                              <ng-template #other_amout_pay>
                                                                  {{ (returnSum_2(invoicedetail.netamountreceived,roundDiff)-invoicedetail.adjustment_amount )| number : '1.2-2' }}
                                                              </ng-template>
                                                          </b>
                                                      </p>
                                                  </td>
                                                </tr> -->
  
                                                <!-- <tr  style=" border: 0;  border-color: #fff;">
                                                    <td colspan="4"   style="font-weight: initial !important;padding: 0px 2px !important;text-align: right; vertical-align: top; "    >
                                                      <p style="margin: 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 16px;" >
                                                          <b>Total Amount (In Words): {{ rupees_words }}.</b>
                                                      </p>
                                                     </td>
                                                </tr> -->
                                             </tbody>
                                          </table>
                                        </div>
  
                                        <footer class="footer" style=" padding: 100px 0 20px 0;position: relative;left: 0;bottom: 0;width: 100%;background-color: white;color: white;text-align: center;">
                                          <p style="margin: 8px 0 2px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px; text-align: center;">SUBJECT TO DELHI JURISDICTION</p>
                                          <p style="margin: 0px 0 8px 0;color: #000000;font-family: Arial,sans-serif;font-size: 14px; text-align: center;">This is a system generated invoice and does not require signature.</p>
                                      </footer>
                                  </div>
                              </div>
  
  
  
  
                              </div>
                            </div>
                          </div>
  
                          <!-- Modal footer -->
  
  
                        </div>
  
  
  
  
                        <!-- <div class="col-md-6 col-md-offset-3  mrg-bot-25" *ngIf="invoicedetail">
                          <div class="form-row form-checkbox individual-business-box">
  
                            <div class="row">
  
  
                              <div class="col-md-12 col-12">
                                <div class="form-group">
  
                                  <div class="payment-box" (click)="juspayRedirectbtn()" style="cursor: pointer;" title="Click to Pay">
  
                                    <div class="padd-10">
                                      <div class="payment-left-box">
                                        <img src="assets/img/upi.png" class="fl-left width-30" alt="" style=" max-width: 100%;">
                                        <img src="assets/img/fast-forward.png" class="arrow-btn" alt="" style="cursor: pointer;">
                                      </div>
                                      <div class="payment-right-box">
                                      </div>
                                    </div>
  
                                    <div class="pay-box-footer bt-1">
                                      <a (click)="juspayRedirectbtn()" data-toggle="tooltip" data-original-title="Pay Now"
                                        class="theme-cl font-13 fl-right" style="cursor: pointer;">Pay Now</a>
                                    </div>
  
                                  </div>
  
                                </div>
                              </div>
  
                            </div>
  
                          </div>
                        </div> -->
                      </div>
                    </div>
  
                    <div class="col-md-12" *ngIf="invoicedetail">
                      <div class="form-group text-center">
                        <!-- <button class="btn btn-info" (click)="backtoOnBoarding()">Back</button> &nbsp;&nbsp; -->
                        <button  class="btn btn-primary" (click)="juspayRedirectbtn()">Proceed to Pay Now</button>
                      </div>
                    </div>
  
                  </div>
                </div>
                <div class="card payment-link-box" style="margin-top: 15rem;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-12 payment-link-box">
                                {{paymnet_status_msg}}
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
  
          </div>
  

        </div>
      </div>
    </div>
  
  </section>